<div class="page-width">
  <div class="container">
  <div class="empty-page-content text-center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p class="eror-text">{{ 'general.404.subtext' | t }}</p>
    <p class="disc">
      <a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}</a>
    </p>
  </div>
  </div>
</div>
