<section id="pageContent">
   <div class="page-width">
     {% if settings.page_baner_image %}
          {% if settings.page_baner_image %}
             <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                                margin-bottom: {{settings.page_banner_margin_bottom}};
                                                height: {{settings.banner_height}};
                                                background-position: {{settings.background_position}}; 
                                                background-size: {{settings.background_size}}">
                  <div class="defaut-header text-center  have-background">
                    <h1 class="entry-title">{{ blog.title }}</h1>
                    <div class="breadcrumbs">
                       {% include 'bluesky_breadcrumb' %}
                    </div>
                  </div>
              </div>
          {% endif %}
      	{% else %}
          <header class="defaut-header text-center">
            <h1 class="entry-title">{{ page_title }}</h1>
            <div class="breadcrumbs">
               {% include 'bluesky_breadcrumb' %}
            </div>
          </header>
       {% endif %}
   
  </div>
    <div class="container clearfix">
        <div class="row {% if settings.blog-enabel-slidebar %}has-sidebar{% endif %}">
            <div class="col-xs-12 col-blog-contents">
                <article id="post-{{ article.id }}" class="articleItem" itemscope itemtype="http://schema.org/Article">
                  	{% if article.image %}
                        {% assign imageSize = 'master' %}
                        <div class="articleImage post-image">
                            <img class="img-responsive" src="{{ article.image | img_url: imageSize }}" alt="{{ article.title }}" />
                        </div>
                    {% endif %}
                    <header class="entry-header articleHeader">
                      	<h1 class="BlogTitle">{{ article.title }}</h1>
                        <ul class="post-entry-data">
                            {% if settings.blog-blog_show_author %}
                          <li class="post-by vcard author">{{ 'blogs.article.by_author' | t }} <span>{{ article.author }}</span></li>
                            {% endif %}
                            {% if settings.blog-blog_show_date %}
                            <li class="post-date">{{ article.published_at | time_tag: format: 'month_day_year' }}</li>	
                            {% endif %}
                        </ul>
                    </header>
                    <div class="rte" itemprop="articleBody">
                        {{ article.content }}
                    </div>
                  	<div class="blog-tag">
                      <label>{{ 'sections.blog.tags' | t }}</label>
                      {% for tag in article.tags limit:8 %}
                      {% if current_tags contains tag %}
                      {{ tag }}{% unless forloop.last %}, {% endunless %}
                      {% else %}
                      {{ tag | link_to_tag: tag }}{% unless forloop.last %}, {% endunless %}
                      {% endif %}
                      {% endfor %}
                  	</div>
                    <div class="blog-footer">
                      {% if settings.blog-blog_show_author %}
              			  {% if article.user.image %}
                            <img src="{{ article.user.image | img_url: '36x36' }}" />
                          {% endif %}
                          <span class="blog-post-author">{{ article.author }}</span>
                      {% endif %}
                      {% include 'bluesky-social-sharing' %}
                    </div>
                    {% include 'bluesky-comment' %}
                </article>
            </div>
          	{% if settings.blog-enabel-slidebar %}
              <aside class="Sidebar col-xs-12 {% if settings.blog-layout == 'left' %}left-sidebar {% endif %} {% if settings.blog-layout == 'right' %}right-sidebar{% endif %}">
                  {% include 'bluesky-blogslidebar' %}
              </aside>
          	{% endif %}
        </div>
    </div>
</section>