{% capture bg_style %}
  {% if settings.bg_white %}
  background-color: white
  {% else %}
  background-image: url({{ collection.image | img_url: 'master' }})
  {% endif %}
{% endcapture %}

<div class="page-width">
  {% if settings.enabel_page_banner %}
  {% if settings.page_baner_image %}
  {% if settings.show_collection_image %}
  <div  class="pages-banner" style="{{bg_style}};
                                    margin-bottom: {{settings.page_banner_margin_bottom}};
                                    height: {{settings.banner_height}};
                                    background-position: {{settings.background_position}}; 
                                    background-size: {{settings.background_size}}">
    <div class="defaut-header text-center have-background">
      <h1 class="entry-title">{{ collection.title }}</h1>
    </div>
  </div>
  {% endif %}
  <div class="breadcrumbs outsite-banner">
    {% include 'bluesky_breadcrumb' %}
  </div>
  {% endif %}
  {% else %}
  <header class="defaut-header">
    <div class="breadcrumbs">
      {% include 'bluesky_breadcrumb' %}
    </div>
  </header>
  {% endif %}

</div>
<section id="pageContent">
    <div class="container">
        <div class="row {% if settings.show_slidebar %}has-sidebar{% endif %}">
          	{% if settings.layout_slidebar == 'left' %}
          	<aside id="Sidebar" class="Sidebar left-sidebar col-xs-12 {% if settings.show_slidebar %}active{% else %}hidden{% endif %}">
      		    {% section 'BlueskyTechco-Slidebar' %}
          	</aside>
          	<div id="proListCollection" class="CenterColumn col-xs-12">
              	{% section 'BlueskyTechco-CollectionsPage' %}
          	</div>
          	{% else %}
          	<div id="proListCollection" class="CenterColumn col-xs-12">
              	{% section 'BlueskyTechco-CollectionsPage' %}
          	</div>
          	<aside id="Sidebar" class="Sidebar right-sidebar col-xs-12 col-sm-12">
      		    {% section 'BlueskyTechco-Slidebar' %}
          	</aside>
          	{% endif %}
        </div>
    </div>
</section>