<div class="page-width">
  {% if settings.enabel_page_banner %}
  {% if settings.page_baner_image %}
  <div  class="pages-banner" style="background-image: url({{ collection.image | img_url: "master" }}); 
                                    margin-bottom: {{settings.page_banner_margin_bottom}};
                                    height: {{settings.banner_height}};
                                    background-position: {{settings.background_position}}; 
                                    background-size: {{settings.background_size}}">
    <div class="defaut-header text-center have-background">
      <h1 class="entry-title">{{ collection.title }}</h1>
    </div>
  </div>
  <div class="breadcrumbs outsite-banner">
    {% include 'bluesky_breadcrumb' %}
  </div>
  {% endif %}
  {% else %}
  <header class="defaut-header">
    <div class="breadcrumbs">
      {% include 'bluesky_breadcrumb' %}
    </div>
  </header>
  {% endif %}

</div>
<section id="pageContent">
    <div class="container">
        <div class="row">
          	<div id="proListCollection" class="CenterColumn col-xs-12 {% if settings.show_slidebar %}col-sm-12 col-md-9{% else %}col-sm-12{% endif %}">
              	{% section 'BlueskyTechco-CollectionsPage' %}
          	</div>
          	<aside id="Sidebar" class="Sidebar col-xs-12 col-sm-12 col-md-3 {% if settings.show_slidebar %}active{% else %}hidden{% endif %}">
      		    {% section 'BlueskyTechco-Slidebar' %}
          	</aside>
        </div>
    </div>
</section>