<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <header class="defaut-header">
        <div class="breadcrumbs">
          {% include 'bluesky_breadcrumb' %}
        </div>
      </header>
    </div>
  </div>
  <div class="grid">
    {% section 'page-about-section' %}
  </div>
</div>
