<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        {% if settings.enabel_page_banner %}
        {% if settings.page_baner_image %}
        <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                          margin-bottom: {{settings.page_banner_margin_bottom}};
                                          height: {{settings.banner_height}};
                                          background-position: {{settings.background_position}}; 
                                          background-size: {{settings.background_size}}">
          <div class="defaut-header text-center have-background">
            <h1 class="entry-title">{{ page.title }}</h1>
          </div>
        </div>
        <div class="breadcrumbs outsite-banner">
          {% include 'bluesky_breadcrumb' %}
        </div>
        {% endif %}
        {% else %}
        <header class="defaut-header">
          <div class="breadcrumbs">
            {% include 'bluesky_breadcrumb' %}
          </div>
        </header>
        {% endif %}
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
    </div>
</div>
