{% paginate search.results by 10 %}

<div class="page-width">
  <div class="container-search">
      {% if search.performed == false %}
        <div class="text-center">
          <h1 class="search-title h2">{{ 'general.search.title' | t }}</h1>
      		{% else %}
              {% if settings.enabel_page_banner %}
                {% if settings.page_baner_image %}
                <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                                  margin-bottom: {{settings.page_banner_margin_bottom}};
                                                  height: {{settings.banner_height}};
                                                  background-position: {{settings.background_position}}; 
                                                  background-size: {{settings.background_size}}">
                  <div class="defaut-header text-center have-background">
                    <h1 class="entry-title"> <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</span>
                      {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h1>
                  </div>
                </div>
                <div class="breadcrumbs outsite-banner">
                  {% include 'bluesky_breadcrumb' %}
                </div>
                {% endif %}
                {% else %}
                <header class="defaut-header">
                  <div class="breadcrumbs">
                    {% include 'bluesky_breadcrumb' %}
                  </div>
                </header>
                {% endif %}
      {% endif %}
          <div class="grid container">
            <div class="grid__item medium-up--two-fifths medium-up--push-three-tenths">
              <form action="/search" method="get" role="search" class="search">
                <div aria-live="polite" class="form-message form-message--error search-result-error-message hide" data-search-error-message>
                  <ul id="error-search-form">
                    <li>{{ 'general.search.empty_search_message' | t }}</li>
                  </ul>
                </div>

                <div class="input-group">
                  <input type="search"
                         id="SearchInput"
                         class="input-group__field search__input"
                         name="q"
                         value="{{ search.terms | escape }}"
                         placeholder="{{ 'general.search.placeholder' | t }}"
                         aria-label="{{ 'general.search.placeholder' | t }}"
                         >
                  <span class="input-group__btn">
                    <button id="SearchResultSubmit" class="btn search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
                  </span>
                </div>
              </form>
            </div>
          </div>          
          {% if search.performed and search.results_count == 0 %}
            <div class="rte text-center">
              <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
            </div>
          {% endif %}
            
		</div>


{% if search.performed %}
  {% if search.results_count > 0 %}
  {% endif %}
<div class="container">
    <div class="row">
      <ul class="page-width list-view-items" style="width: 100%;">
        {% for item in search.results %}
          <li class="list-view-item">
            <div class="col-sm-3">
              {% if item.object_type == 'product' %}
                {% include 'bluesky-product-grid', product: item %}
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  	{% if paginate.pages > 1 %}
    	{% include 'pagination' %}
  	{% endif %}
   </div>
{% endif %}

{% endpaginate %}
    </div>
</div>