<div class="product-popup bluesky-addcart-popup">
  <div class="content box-shadow v2">
    <div class="mini-product-item">
      <div class="product-added-img"><img src=""/></div>
      <div class="popup_avaiable">You added <a href="#" class="product-name"></a> to your shopping cart.<br>
        <div class="action_button">
          <ul>
            <li>
              <button class="cart-btn e-checkout " onclick="window.location='/cart'">{{ 'popup.addcart.viewcart' | t }}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>    
</div>

<script>
  $(document).on('click','.close-window', function() {   
    $(".bluesky-addcart-popup").removeClass("active");
  });
</script>
