<header class="header-type load-js layout-3 {% if settings.absolute_header %}absolute_header{% endif %}">
  <div class="slider-header" style="{% if settings.background_header %}background-image: url({{ settings.background_header | img_url: "master" }}); {% endif %}{% if settings.header_background != blank %}background-color: {{ settings.header_background }}{% endif %}">
      <!-- Top of pages -->
      {% if settings.topbar_enable != blank or settings.shipping_info != blank %}
          <div class="top-bar hidden-xs" {% if settings.topbar_background != blank %}style="background-color: {{ settings.topbar_background }}{% endif %}">
            <div class="container">
              <div class="topbar">
                {% if settings.email_address %}
                  <ul class="topbar-left">
                    {% if settings.email_address %}<li><img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/email.png?v=1607513812" width="20px" /><!--<i class="fa fa-envelope"></i>--> {{ settings.email_address }}</li> {% endif %}
                    {% if settings.shipping_info %}<li>{{ settings.shipping_info }}</li>{% endif %}
                  </ul>
                {% endif %}
                <div class="topbar-right">
                  {% if settings.social_enable_style %}
                    {%- include "social" -%}
                  {% endif %}
                  {% form 'localization' %}
                  <select class="language-switcher" name="language_code" onchange="this.form.submit()">
                    {% for language in localization.available_languages %}
                      <option value="{{ language.iso_code }}"
                        {%- if language == localization.language %} selected="selected"{% endif %}
                      >
                        {{ language.endonym_name }}
                      </option>
                    {% endfor %}
                  </select>
                  <!-- <input type="submit" value="Update"> -->
                  {% endform %}

                  {%- include "bluesky-login" -%}            
                </div>
              </div>
          </div>
    </div>
      {% endif %}
    <div class="container">
      <div class="header-container">
        <div class="header-top">
          <div class="col-logo">		
            <!-- Logo -->
            {%- include "ss-logo" -%}
          </div>
          <div class="col-menu">		
            <!-- Menu -->
            {% section 'BlueskyTechco-Megamenu' %}
          </div>   
          <div class="col-action orderable">
			      <div class="wishlist hidden-xs hidden-sm">
              {% if customer %}
              <a href="/pages/wishlist" class="my-wishlist"><span class="count"></span><img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/wishlist.png?v=1607513812" width="23px" /><!--<i class="icon-heart-bold biolife-icon"></i>--></a>
              {% else %}
              <a href="/account" class="my-wishlist"><img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/wishlist.png?v=1607513812" width="23px" /><!--<i class="icon-heart-bold biolife-icon"></i>--></a>
              {% endif %}
            </div>            
            <div class="cart-open">
              <a href="javascript:void(0)" class="site-header__icon site-header__cart">
                <span class="border-cart">
                  <img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/cart.png?v=1607513812" width="23px" /><!--<i class="icon-cart-mini biolife-icon"></i>-->
                  {% if cart.item_count >= 0 %}
                 <span id="CartCount" class="site-header__cart-count">
                    <span class="cart-count">{{ cart.item_count }}</span> <!--{{ 'general.search.items' | t }} <span class="cart-total">{{ cart.total_price | money }}</span>
                  </span>-->
                </span>
                {% endif %}
              </a>
              {%- include "bluesky-minicart" -%}
            </div>
 
          </div> 

        </div>
        <div class="for-full-width-menu">	

          {% if settings.vertical_menu_enable %} 
          {% section 'BlueskyTechco-Verticalmenu' %}
          {% include "bluesky-verticalmenu-mobi" %}
          {% endif %}
          <div class="block block-search">
            <div class="block block-content">
              <div class="dropdown">
                <div class="dropdown-toggles">
                  <div class="top-search">
                    <a href="javascript:void(0)" class="site-header__search"><i class="biolife-icon icon-search"></i></a>
                  </div>
                </div>
                {%- include "search-form" -%}
              </div>
            </div>
          </div>           
          <!-- Header Right -->
          {% if settings.header_phone != blank or settings.header_time_opening != blank %}
          <div class="header-right hidden-xs">
            {% if settings.header_phone != blank %}<div class="icon"><img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/phone.png?v=1607513812" width="21px" /><!--<i class="fa fa-phone"></i>--></div>{% endif %}
            <div class="phone_time_open">
              {% if settings.header_phone %}<h5>{{ settings.header_phone }}</h5> {% endif %}
             {% if settings.header_time_opening != blank %}<p>{{ settings.header_time_opening }}</p>{% endif %}
            </div>
          </div>
          {% endif %}          
        </div>
      </div>
    </div>
  </div>
</header>
{%- include "bluesky-vegamenu" -%}