<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
<script id="CartTemplate" type="text/template">
  {% raw %}
      <div class="bst-minicart-info">
        <table>
          <tbody>
        {{#items}} 
        <tr>
              <td class="bst-minicart-image">		        
                <a href="{{url}}">
                  <img src="{{img}}" alt="{{name}}" /></a>
  		</td>
              <td class="bst-minicart-name">
                <a href="{{url}}">{{name}}</a>
                <p class="bst-minicart-quantity">{{itemQty}} x </p>
                <p class="bst-minicart-total"><span class="bst-minicart-money">{{price}}</p>
 		 </td>
              <td class="bst-minicart-remove"><a href="/cart/change?line={{line}}&amp;quantity=0" data-id="{{variation}}">×</a></td>
  		</tr>
        {{/items}}
        </tbody>
        </table>
      </div>
      <div class="bst-minicart-total">
        <table>
          <tbody>
            <tr>
              <td>{% endraw %}{{ 'general.minicart_info.subtotal' | t }}{% raw %}</td>
              <td class="bst-minicart-right"><span class="bst-minicart-money">{{{totalPrice}}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bst-minicart-checkout">
        <a href="/cart" class="bst-minicart-button btn-default">{% endraw %}{{ 'general.minicart_info.view_cart' | t }}{% raw %}</a>
        <a href="/checkout" class="bst-minicart-button">{% endraw %}{{ 'general.minicart_info.view_checkout' | t }}{% raw %}</a>
      </div>     
  {% endraw %}
</script>
<script id="TemplateWishlist" type="text/template">
  {% raw %}
  	  <div class="row">
  	  {{#items_wishlist}} 
      <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="shop-products products">
        <div class="product">
          <div class="bst-ProductGird ProductGird product-wrapper" data-price="">
          <div class="bst-laberProduct-image list-col4">
            <div class=" product-image">
              <a class="bst-thumbnail bst-product-thumbnail" href="{{ url }}">  
                  <img class="primary_image" src="{{featured_image}}" />
                  {{#if images}}
                  <img class="secondary_image" src="{{images}}">
                  {{/if}}               
              </a>
              {{#if available}}
                  <div class="product-label">
                    {{#if sale}}
                        <span class="labelSale onsale">{% endraw %}{{ 'products.product.on_sale' | t }}{% raw %}</span>
                    {{/if}}
                  </div>
              {{else}}
                  <p class="proAttr outstock  ">{% endraw %}{{'products.product.outstock' | t }}{% raw %}</p>
              {{/if}}
              <div class="laberQuickview laberItem actions">	
                <div class="add-to-links quick-view-button">
                  <a class="btnProduct btnProductQuickview  quick-view quickview" href="javascript:void(0);" data-id="{{ handle }}">
                      <i class="fa fa-search"></i>
                  </a>  
                </div>
              </div>
              </div>
          </div>
          <div class="bst-product-description list-col8 ">
            <div class="gridview">
              <div class="grid-info">
                  <h2 class="h2 bst-productName product-name">
                      <a href="{{url}}">{{title}}</a>
                  </h2>
                  <div class="bst-productPrice price-box">
                          <span class="priceProduct {{#if sale}}priceSale{{/if}}">{{ price }}</span>
                          {{#if sale}}
                              <span class="priceProduct priceCompare">{{ compare_at_price }}</span>
                          {{/if}}
                  </div>
                  <div class="wishlist">
                  </div>
                </div>
                <div class="action-bottom">
                 <div class="short-description">
                    <div class="bst-proShortDescription">
                      {{description}} 
                    </div>
                </div>
                <div class="bst-productGroup actions">     
                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart add-cart">
                        <input type="hidden" name="id" value="{{ id }}" />
                        {{#if outstock_pro}}
                            <button class="btnAddToCart disabled add_to_cart_inline" type="submit" value="Submit" disabled>
                                <span>{% endraw %}{{ 'products.product.outstock' | t }}{% raw %}</span>
                            </button>
                        {{else}}
                            {{#if variants_count}}
                            	<button class=" btnAddToCart add_to_cart_inline" type="submit" value="Submit">
                                    <span>{% endraw %}{{ 'products.product.add_to_cart' | t }}{% raw %}</span>
                                </button>
                            {{else}}
                                <a class=" btnAddToCart add_to_cart_inline" href="{{ url }}" title="{% endraw %}{{ 'products.product.select_options' | t }}{% raw %}">
                                    <span class="select_options">{% endraw %}{{ 'products.product.select_options' | t }}{% raw %}</span>
                                </a>
                            {{/if}}
                        {{/if}}
                    </form>
                  </div>
				</div>
             </div>	 
          </div>
      </div>
      </div>
      </div>
      </div>
      {{/items_wishlist}}
      </div>
  {% endraw %}
</script>