<div id="quick-view" class="hidden-label br-product-popup hidden">
  <div class="quickview-wrapper">
    <div class="quick-modal show">
      <div class="content" id="quickview-content">
        <a href="javascript:void(0)" class="close-btn quickview-close"><i class="biolife-icon icon-close-menu"></i></a>
        <div class="single-product-detail">
          <div class="row">
            <div class="col-md-5 col-sm-5">
              <div class="product-media thumbnai-left">
                <div class="featured-image product-single-photos br-product__media br-product-slide-vertical-image pb-0" style="margin-bottom: 5px;"></div>
                <div class="more-views owl-carousel-play thumbnails-wrapper">
                  <div class="owl-carousel"  data-items="4" data-dots="false" data-lazyLoad="true" data-nav="true" data-autoHeight="false"></div>
                </div>
              </div>
      		</div>
            <div class="col-md-7 col-sm-7">
                <div class="single-flex">
                	<div class="single-product-info product-info product-grid-v2 s-50 js-price-wrapper">
                    <h3 class="product-title"><a>&nbsp;</a></h3>
                <div class="details clearfix">
                  <form action="/cart/add" method="post" class="variants CartContainer">
                    <div class="product-price">
                      <span class="price f-24"></span>
                      <span class="price old compare-price mr-10"></span>
                    </div>
                    <p class="product-desc"></p>
                    <select name='id' style="display:none;" class="engoj-except-select2 product-single__variants">
                    </select>
                    <div class="single-product-button-group">
                        <div class="e-btn cart-qtt">
                          <div class="quantity field quantity-updown">
                              <a class="qty-down-fixed-onclick qty-down" href="#"><i class="fa fa-minus"></i></a>
                              <div class="control">
                                 <input type="text" class="product_quantity_number js-number input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="">
                              </div>
                              <a class="qty-up-fixed-onclick qty-up" href="#"><i class="fa fa-plus"></i></a>
                          </div>
						<button type="button" class="btn-addToCart  btn-add-cart">{{ 'products.product.add_to_cart' | t }}</button>
                        </div>
                        <div class="total-price product-price">
    <!--                       <label class="engoc_subtt_qw">{{ 'products.general.subtotal_price' | t }}:</label>
                          <span class="br-product__price fz-16"></span> -->
                        </div>
                    </div>
                  </form>
                </div>
                <div class="product-availability"></div>
                <div class="product-tag"><label>{{ 'products.product.tag' | t }} </label><label class="tag"></label></div>
                <div class="product-vender"><label>{{ 'products.product.vender' | t }} </label><label class="vender"></label></div>
                {% include 'bluesky-social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            </div>
                </div>
            </div>
          </div>
      	</div>  
    	</div>
    </div>
  </div>
</div>

<style>
  .single-product-detail .single-product-info .action .quantity {
    float: initial;
  }
</style>

<script type="text/javascript">
  Shopify.doNotTriggerClickOnThumb = false;
</script>
