{% if section.settings.product_related_enable %}
	{% assign proCol = 4 %}
	{% assign proLimit = section.settings.product_related_limit | plus: 0 %}
	{% assign currentProduct = product %}
	{% if collection == null or collection.handle == 'all' %}
		{% assign foundCollection = false %}
		{% for item in product.collections %}
		  	{% if foundCollection == false and item.handle != 'all' and item.all_products_count > 1 %}
		    	{% assign foundCollection = true %}
		    	{% assign collection = item %}
		  	{% endif %}
		{% endfor %}
	{% endif %}
	{% if collection and collection.products_count > 1 %}
		<section class="proRelated">
			<div id="relatedProducts" class="Products relatedProducts related_products_widget related">
				{% if section.settings.product_related_title != blank %}
              		<div class="bst-title text-center"> 
                      <img src="{{ section.settings.product_related_image | img_url: "master" }}" style="max-width: 100px;">
                      {% if section.settings.product_related_description != blank %}
                     	 <div class="bst-short-desc"><p>{{ section.settings.product_related_description }}</p></div>
                      {% endif %}                      
                      <h2 class="widget-title">{{ section.settings.product_related_title }}</h2>                    
              		</div>
                  {% endif %}
				<div class="Content">
					<div class="owl owl-carousel owl-loaded owl-drag"  data-item-slide="5" 
                         							   data-desksmall="3" 
                         							   data-tablet="2" 
                         							   data-tabletsmall="1" 
                         							   data-mobile="1" 
                                                       data-nav="true" 
                         							   data-dots="false" 
                         							   data-autoplay="false" 
                         							   data-autospeed="6000" 
                         							   data-speed="1000"
                         								data-margin="10">
                      {% for product in collection.products limit:proLimit %}
                      	{% unless product.handle == currentProduct.handle %}
                     	 <div class="item">
                      	 	 {% include 'bluesky-product-grid' %}
                     	 </div>
                      	{% endunless %}
                      {% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endif %}