<!-- >Font<! -->
{% if settings.fonts-style-body == 'font_google' and settings.fontfamily-body != blank %}
     <link href="https://fonts.googleapis.com/css?family={{ settings.fontfamily-body }}:300,400,500,600,700" rel="stylesheet" type="text/css">  
{% endif %}
{% if settings.fonts-style-heading == 'font_google' and settings.fontfamily-heading != blank %}
     <link href="https://fonts.googleapis.com/css?family={{ settings.fontfamily-heading }}:300,400,500,600,700" rel="stylesheet" type="text/css">  
{% endif %}
{% if settings.fonts-style-club-heading == 'font_google' and settings.fontfamily-club-heading != blank %}
     <link href="https://fonts.googleapis.com/css?family={{ settings.fontfamily-club-heading }}:300,400,500,600,700,900" rel="stylesheet" type="text/css">  
{% elsif settings.fonts-style-club-heading == 'font_custom' %}
  {% assign fontfamily = settings.fontfamily-club-heading | downcase %}
  <style>
  @font-face {
    font-family: "{{ settings.fontfamily-club-heading }}";
    font-style: normal;
    font-weight: {{ settings.font-weight-club-heading }};
    src: url({{ fontfamily | append: '.woff2' | asset_url }}) format('woff2'),
    url({{ fontfamily | append: '.ttf' | asset_url }}) format('truetype');
  }
  </style>
{% endif %}
{% if settings.fonts-style-menu == 'font_google' and settings.fontfamily-menu != blank %}
     <link href="https://fonts.googleapis.com/css?family={{ settings.fontfamily-menu }}:300,400,500,600,700" rel="stylesheet" type="text/css">  
{% endif %}
{% if settings.fonts-style-other == 'font_google' and settings.fontfamily-other != blank %}
     <link href="https://fonts.googleapis.com/css?family={{ settings.fontfamily-other }}:300,400,400i,500,600,700,700i" rel="stylesheet" type="text/css">  
{% endif %}
<!-- >Include CSS JS<! -->

{%- include "bluesky-styles" -%}
{%- include "bluesky-javascript" -%}
