<div class="container">
  <div class="row">
    <div class="col-md-3">
      {% section 'BlueskyTechco-Verticalmenu' %}
    </div>
     <div class="col-md-9 full-smallscreen">
       {% section 'BlueskyTechco-Slideshow' %}
    </div>
  </div>
</div>
{% section 'BlueskyTechco-ThreeBanner' %}
{% section 'BlueskyTechco-CollectionFour' %}
{% section 'BlueskyTechco-Services' %}
{% section 'BlueskyTechco-ProductTab' %}
{% section 'BlueskyTechco-Banner' %}
<div class="container group-section">
  <div class="row-group">
    <div class="col-left">
    	{% section 'BlueskyTechco-VerticalBanner' %}
    </div>
    <div class="col-right">
      {% section 'BlueskyTechco-Product' %}
    </div>
  </div>
</div>
{% section 'BluskyTechco-Brand' %}
{% section 'BlueskyTechco-GroupProduct' %}
{% section 'BlueskyTechco-BlogPost' %}