<div class="loading" style="display: none;">
	<div class="loading-center-fixed">
		<div class="loading-center-absolute-fixed">
			<img class="loading-image" alt="" src="{{ 'loading.gif' | asset_url }}" />
		</div>
	</div>
</div>