<div class="shop-products products listproduct{{i}} hot-category-product">
  <div class="product">
	<div class="bst-ProductGird ProductGird product-wrapper" data-price="">
      <div class="bst-laberProduct-image list-col4">
        <div class=" product-image">
          <a class="bst-thumbnail bst-product-thumbnail" href="">  
              <img class="primary_image" alt="" src="" />
          </a>
        </div>
      </div>
      <div class="bst-product-description list-col8 ">
        <div class="gridview">
          <div class="grid-info">
              <h2 class="h2 bst-productName product-name">
                  <a href=""></a>
              </h2>
              <div class="bst-productPrice price-box">
                  <span class="priceProduct"></span>
                  <span class="priceCompare"></span>
              </div>
            </div>
         </div>	 
      </div>
	</div>
  </div>
</div>