{% assign sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign sale = true %}
	{% assign compare_at_price = product.compare_at_price %}
	{% assign price = product.price %}
	{% assign compare_price = compare_at_price | minus: price %}
	{% assign sale_percent = compare_price | times: 100 | divided_by: compare_at_price | round %}
{% endif %}
{% assign outstock = true %}
{% if product.available %}
    {% assign outstock = false %}
{% endif %}
{% unless productImageSize %}
	{% assign productImageSize = 'master' %}
{% endunless %}
<div class="shop-products products">
  <div class="product">
	<div class="bst-ProductGird ProductGird product-wrapper" data-price="">
      <div class="bst-laberProduct-image list-col4">
        <div class=" product-image">
          <a class="bst-thumbnail bst-product-thumbnail" href="{{ product.url }}">  
              <img class="primary_image" alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | product_img_url:productImageSize }}" />
              {% if settings.show_secondary_product_image %}
                {% for image in product.images %}
                    {% assign intItem = forloop.index %}
                    {% comment %}
                    {% if forloop.first != true %}
                        <img class="secondary_image" alt="{{ image.alt }}" src="{{ image.src | product_img_url:productImageSize }}">
                        {% break %}
                    {% endif %}
                    {% endcomment %}
                {% endfor %}
              {% endif %}
          </a>
          {% if product.available %}
              <div class="product-label">
                {% if settings.show_label_sale %}
                  {% if sale %}
                      <span class="labelSale onsale">{{ sale_percent }}%</span>
                  {% endif %}
                {% endif %}
                {% if settings.show_label_new %}
                  {% assign product_created_at = product.created_at | date: '%s' %}
                  {% assign time_ago = 'now' | date: '%s' | minus: product_created_at | divided_by: 86400 %}
                  {% if time_ago < 15 %}
                     <span class="labelNew newlabel">{{ 'products.product.new' | t }}</span>
                  {% endif %}
                {% endif %}
              </div>
          {% else %}
              <p class="proAttr outstock  ">{{'products.product.outstock' | t }}</p>
          {% endif %}
          {%if settings.show_swatchs_image %}
             {% if product.variants.size > 1 %}
                {% for option in product.options %}
                    {% if option == 'Color' %}
                    <div class="variant-image-group">
                      <div class="owl owl-carousel" data-item-slide="3"
                                                    data-desksmall="3"
                                                    data-tablet="3"
                                                    data-tabletsmall="3"
                                                    data-mobile="3"
                                                    data-margin="0"
                                                    data-nav="true" 
                                                    data-dots ="false" 
                                                    data-autoplay="false" >
                      {% assign index = forloop.index0 %}
                      {% assign colorlist = '' %}
                      {% assign color = '' %}
                      {% for variant in product.variants %}
                      {% capture color %}{{ variant.options[index] }}{% endcapture %}
                      {% unless colorlist contains color %}

                      {% assign text = color | handleize %}
                      <span class="swacth-image">
                        <a class="swacth-image-thumb" href="javascript:void(0)" {% if variant.image != null %}data-swacth-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} >
                          <img class="image-thumb" src="{{ variant.image.src | product_img_url: '100x100' }}" >
                        </a>
                      </span>

                      {% capture tempList %}
                      {{ colorlist | append: color | append: ' ' }}
                      {% endcapture %}

                      {% assign colorlist = tempList %}
                      {% endunless %}

                      {% endfor %}

                  </div>
                </div>
               {% endif %}
              {% endfor %}
              {%endif%}
          {%else%}
              {% if product.variants.size > 1 %}
                <div class="variant-color-group">
                  {% for option in product.options %}
                  {% if option == 'Color' %}
                  {% assign index = forloop.index0 %}
                  {% assign colorlist = '' %}
                  {% assign color = '' %}
                  {% for variant in product.variants %}
                  {% capture color %}{{ variant.options[index] }}{% endcapture %}
                  {% unless colorlist contains color %}

                  {% assign text = color | handleize %}

                  <a class="swacth-color" href="javascript:void(0)" {% if variant.image != null %}data-swacth-color="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} >
                    <span class="swacth-color-thumb" style="background-color: {{ color | split: ' ' | last | handle }};"></span>
                  </a>

                  {% capture tempList %}
                  {{ colorlist | append: color | append: ' ' }}
                  {% endcapture %}

                  {% assign colorlist = tempList %}
                  {% endunless %}

                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                </div>
                {%endif%}
          {%endif%}
          </div>
      </div>
      <div class="bst-product-description list-col8 ">
      <div class="gridview">
        <div class="grid-info">
          	
            {% for collectionpr in product.collections %}
              	{% if template == 'collection' %}
              	  {% if collection.title == collectionpr.title %}
          			<a href="{{ collectionpr.url }}" class="category">
                    	{{ collectionpr.title }}
                    </a>
                    {% break %}
              	  {%endif%}
              	  {% if collection.title == 'Products' %}
              		<a href="{{ collectionpr.url }}" class="category">
                    	{{ collectionpr.title }}
                    </a>
                  	{% break %}
              	  {%endif%}
              	{% else %}
                  <a href="{{ collectionpr.url }}" class="category">
                    	{{ collectionpr.title }}
                  </a>
                  {% break %}
                {%endif%}
            {% endfor %}
          	
            <h2 class="h2 bst-productName product-name">
                <a href="{{ product.url }}">{{ product.title }}</a>
            </h2>      
			<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>   
            <div class="bst-productPrice price-box">
                    <span class="priceProduct {% if sale %}priceSale{% endif %}">{{ product.price | money }}</span>
                    {% if sale %}
                        <span class="priceProduct priceCompare">{{ product.compare_at_price | money }}</span>
                    {% endif %}
            </div>
          	<div class="proReviews">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
          </div>
       	  <div class="action-bottom">
            <div class="short-description">
               {% if product.description != blank %}
                <div class="bst-proShortDescription">
                  {{ product.description | strip_html | truncatewords: 10}}
                </div>
              {% endif %}
            </div>
            <div class="bst-productGroup actions">   
                <div class="laberQuickview laberItem">	
                  <div class="add-to-links quick-view-button">
                    <a class="btnProduct btnProductQuickview  quick-view quickview" href="javascript:void(0);" data-id="{{ product.handle }}">
                        <i class="fa fa-search"></i>
                    </a>  
                  </div>
                </div>
                {% assign variantCount = product.variants | size %}
                <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart add-cart">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    {% if outstock %}
                        <button class="btnAddToCart disabled add_to_cart_inline" type="submit" value="Submit" disabled>
                            <span>{{ 'products.product.outstock' | t }}</span>
                        </button>
                    {% else %}
                        {% if variantCount > 1 %}
                            <a class=" btnAddToCart add_to_cart_inline" href="{{ product.url }}" title="{{ 'products.product.select_options' | t }}">
                                <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                            </a>
                        {% else %}
                            <button class=" btnAddToCart add_to_cart_inline" type="submit" value="Submit">
                                <span>{{ 'products.product.add_to_cart' | t }}</span>
                            </button>
                        {% endif %}
                    {% endif %}
                </form>
                <div class="wishlist">
                  <a href="{% if customer %}javascript:void(0){% else %}/account{% endif %}" class="{% if customer %}action--wishlist tile-actions--btn flex wishlist-btn{% endif %} btnProduct" title="Add to Wish List" data-product-id="{{ product.handle }}">
                      <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>
        	</div>
       </div>	 
    </div>
	</div>
  </div>
</div>