{% assign sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign sale = true %}
	{% assign sale = true %}
	{% assign compare_at_price = product.compare_at_price %}
	{% assign price = product.price %}
	{% assign compare_price = compare_at_price | minus: price %}
	{% assign sale_percent = compare_price | times: 100 | divided_by: compare_at_price | round %}
{% endif %} 
{% assign outstock = true %}
{% if product.available %}
    {% assign outstock = false %}
{% endif %}
{% unless productImageSize %}
	{% assign productImageSize = 'master' %}
{% endunless %}
<div class="shop-products products list-view">
    <div class="product">
      <div class="bst-ProductGird ProductGird ProductList row" data-price="">
        <div class="product-wrapper">
          <div class="bst-laberProduct-image list-col4  col-xs-12 col-sm-4">
            <div class="product-image">
              <a class="bst-thumbnail bst-product-thumbnail" href="{{ product.url }}">         
                  {% for image in product.images %}
                      {% assign intItem = forloop.index %}
                      {% if forloop.first != true %}
                          <img class="primary_image" alt="{{ image.alt }}" src="{{ image.src | product_img_url:productImageSize }}">
                          {% break %}
                      {% endif %}
                  {% endfor %}
                  {% if settings.show_secondary_product_image %}
                  	<img class="{%if intItem == 2 %}secondary_image{% endif %}" alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | product_img_url:productImageSize }}" />           
              	  {% endif %}
              </a>
              {% if product.available %}
                  <div class="label product-label">
                    {% if sale %}
                        <span class="labelSale onsale">{{ sale_percent }}%</span>
                    {% endif %}
                    {% assign product_created_at = product.created_at | date: '%s' %}
                    {% assign time_ago = 'now' | date: '%s' | minus: product_created_at | divided_by: 86400 %}
                    {% if time_ago < 15 %}
                       <span class="labelNew newlabel">{{ 'products.product.new' | t }}</span>
                    {% endif %}
                  </div>
              {% else %}
                  <p class="proAttr outstock  ">{{'products.product.outstock' | t }}</p>
              {% endif %}
             </div>
          </div>
          <div class="bst-product-description list-col8  col-xs-12 col-sm-8">
            <div class="listview">
               {% for collectionpr in product.collections %}
                  {% if template == 'collection' %}
                    {% if collection.title == collectionpr.title %}
                      <a href="{{ collectionpr.url }}" class="category">
                          {{ collectionpr.title }}
                      </a>
                      {% break %}
                    {%endif%}
                    {% if collection.title == 'Products' %}
                      <a href="{{ collectionpr.url }}" class="category">
                          {{ collectionpr.title }}
                      </a>
                      {% break %}
                    {%endif%}
                  {% else %}
                    <a href="{{ collectionpr.url }}" class="category">
                          {{ collectionpr.title }}
                    </a>
                    {% break %}
                  {%endif%}
              {% endfor %}
              <h2 class="h2 bst-productName product-name">
                  <a href="{{ product.url }}">{{ product.title }}</a>
              </h2>
              {% if product.description != blank %}
                <div class="bst-proShortDescription">
                  {{ product.description | strip_html | truncatewords: 20}}
                </div>
              {% endif %}
              <div class="bst-productPrice price-box">
                 <div class="priceProduct {% if sale %}priceSale{% endif %}">{{ product.price | money }}</div>
                   {% if sale %}
                       <div class="priceProduct priceCompare">{{ product.compare_at_price | money }}</div>
                   {% endif %}
              </div>
              </div>
			
			<div class="bst-productGroup actions">  
              <ul class="product-available">
             {% if product.available %}
                <li>
                    <p class="proAttr productAvailability instock"><label>{{ 'products.product.availability' | t }}:</label> {{'products.product.instock' | t }}</p>
                {% else %}
                  <p class="proAttr productAvailability outstock"><label>{{ 'products.product.availability' | t }}: </label>{{'products.product.outstock' | t }}</p>
                </li>
               {% endif %}
              {% if product.vendor %}
                <li>
              	<p>
             	 <span>{{ 'products.product.vendor' | t }}: </span>{{ product.vendor }}
              </p>
                </li>
              {% endif %}
              </ul>
               <div class="proReviews">
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
               </div>
              <a href="{% if customer %}javascript:void(0){% else %}/account{% endif %}" class="action towishlist {% if customer %}action--wishlist tile-actions--btn flex wishlist-btn{% endif %}" title="Add to Wish List" data-product-id="{{ product.handle }}">
                  <span>{{ 'products.product.add_to_wishlist' | t }}</span>
              </a>
                <ul class="add-to-links">
                  <li>
                    {% assign variantCount = product.variants | size %}
                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart add_to_cart_inline">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        {% if outstock %}
                            <button class="btnAddToCart disabled" type="submit" value="Submit" disabled>
                                <i class="icon-shopping-bag"></i>
                                <span>{{ 'products.product.outstock' | t }}</span>
                            </button>
                        {% else %}
                            {% if variantCount > 1 %}
                                <a class=" btnAddToCart" href="{{ product.url }}" title="{{ 'products.product.select_options' | t }}">
                                    <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                                </a>
                            {% else %}
                                <button class=" btnAddToCart" type="submit" value="Submit">
                                    <span>{{ 'products.product.add_to_cart' | t }}</span>
                                </button>
                            {% endif %}
                        {% endif %}
                    </form>
                  </li>                  
                </ul>
              </div>
            </div>
          </div>
         </div>
      </div>
   </div>