<div id="bst-minicart" style="display: none;">
  <div  id="bst-minicart-content">
    <div class="bst-minicart">
      {%- if cart.items == empty -%}
      <div class="bst-empty">{{ 'general.minicart_info.cartempty' | t }}</div>
      {%- else -%}
      <div class="bst-minicart-info">
        <table>
          <tbody>
            {%- for item in cart.items -%}
            <tr>
              <td class="bst-minicart-image">		        
                <a href="{{item.url }}">
                  <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}" /></a>
              </td>
              <td class="bst-minicart-name">
                <a href="{{item.url }}">{{ item.product.title }}</a>
                <p class="bst-minicart-quantity">{{ item.quantity }} × </p>
                <p class="bst-minicart-total"><span class="bst-minicart-money">{{ item.price | money }}</p>
              </td>
              <td class="bst-minicart-remove"><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-id="{{item.variant_id}}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
      </div>
      <div class="bst-minicart-total">
        <table>
          <tbody>
            <tr>
              <td>{{ 'general.minicart_info.subtotal' | t }}</td>
              <td class="bst-minicart-right"><span class="bst-minicart-money">{{ cart.total_price | money }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bst-minicart-checkout">
        <a href="/cart" class="bst-minicart-button btn-default">{{ 'general.minicart_info.view_cart' | t }}</a>
        <a href="/checkout" class="bst-minicart-button checkout">{{ 'general.minicart_info.view_checkout' | t }}</a>
      </div>
      {%- endif -%}
    </div>
    <div class="loading-overlay"><i class="button-loader"></i></div>
  </div>
</div>