<footer id="bst-footer" class="layout-2">
  	<a href="#" id="back-top" class="hidden-xs"><i class="biolife-icon icon-left-arrow"></i></a>
  <div class="bst-footerCenter" style="{% if settings.color_bg_style != blank %}background-color:{{settings.color_bg_style}}; {% endif %}
                                       {% if settings.padding_center_style != blank %}padding:{{settings.padding_center_style}}; {% endif %}
                                       {% if settings.img_bg_style != blank %}background-image: url({{settings.img_bg_style| img_url: "master" }}); {% endif %}">
       <div class="container">
           <div class="row">
             <div class="col-sm-12 col-md-5 col-lg-3">
                {% if settings.aboutus_enable_style %}
                	<div class="bst-logo">
           			 <a href="{{shop.url}}" title="{{ shop.name | escape }}">
                      {%- assign _logo = "logo.png" | asset_img_url: 'master'  -%}
                      {%- if settings.logo != blank -%}
                      {%- assign _logo = settings.logo | img_url: 'master' -%}
                      {%- endif -%}
                      <img src="{{ _logo }}" title="{{ shop.name | escape }}" alt="{{ shop.name | escape }}" />
                   	 </a>
                  	</div>
                    <div class="widget widget_about_us">
                      {% if settings.aboutus_enable_style != blank %}
                        {% if settings.aboutus_title_style != blank %} <h3 class="widget-title"><span>{{settings.aboutus_title_style }}</span></h3>{% endif %}     
                        <div class="textwidget">{{settings.aboutus_description_style }}</div>
                      {% endif %}     
                       {% if settings.social_enable_style %}
                            {%- include "social" -%}
                       {% endif %}                      
                    </div>
               {% endif %}
             </div>
             <div class="col-sm-6 col-md-4 col-lg-2">
               <h3 class="widget-title"><span>{{settings.widget_menu1_title_style1 }}</span></h3>
               <div class="menu-customer-service-container">
                 {%- assign menuHandle1 = settings.widget_menu1_style1  -%}
                 <ul id="menu-customer-service" class="menu">
                   {% for menuLink1 in linklists[menuHandle1].links %}
                   <li class="menu-item">
                     <a href="{{ menuLink1.url }}" title="">{{ menuLink1.title }}</a>
                   </li>
                   {% endfor %}
                 </ul>
               </div>
             </div>
             <div class="col-sm-6 col-md-3 col-lg-2">
               <h3 class="widget-title"><span>{{settings.widget_menu2_title_style1 }}</span></h3>
               <div class="menu-customer-service-container">
                 {%- assign menuHandle2 = settings.widget_menu2_style1  -%}
                 <ul id="menu-customer-service" class="menu">
                   {% for menuLink2 in linklists[menuHandle2].links %}
                   <li class="menu-item">
                     <a href="{{ menuLink2.url }}" title="">{{ menuLink2.title }}</a>
                   </li>
                   {% endfor %}
                 </ul>
               </div>
             </div>
             <div class="col-sm-6 col-md-6 col-lg-2">
               <h3 class="widget-title"><span>{{settings.widget_menu3_title_style1 }}</span></h3>
               <div class="menu-customer-service-container">
                 {%- assign menuHandle3 = settings.widget_menu3_style1  -%}
                 <ul id="menu-customer-service" class="menu">
                   {% for menuLink3 in linklists[menuHandle3].links %}
                   <li class="menu-item">
                     <a href="{{ menuLink3.url }}" title="">{{ menuLink3.title }}</a>
                   </li>
                   {% endfor %}
                 </ul>
               </div>
             </div>
             <div class="col-sm-6 col-md-6 col-lg-3">
               {% section 'BlueskyTechco-Instagram' %}
             </div>
           </div>
    </div>
    <div class="footer-bottom container">
      <div class="menu-bottom-container hozital-menu">
        {%- assign menuHandle4 = settings.widget_menu4_style1  -%}
        <ul id="menu-customer-service" class="menu">
          {% for menuLink4 in linklists[menuHandle4].links %}
          <li class="menu-item">
            <a href="{{ menuLink4.url }}" title="">{{ menuLink4.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div> 
      {%if settings.static_text != blank %}<p>{{ settings.static_text }}</p>{% endif %}
    </div>
</div>
  {% if settings.copyright_enable_style %}
      <div class="bst-footerCopyRight" style="background-color: {{settings.color_bg_copyright_style }};">
         <div class="container">
             <div class="row">
                 <div class="col-sm-12 col-md-6 copyright-col">
                     <div class="bst-copyRight">
                           <div class="clearfix">{%if settings.texts_copyright_style != blank %}{{ settings.texts_copyright_style }}{% else %}{{ 'layout.footer.copyright_html' | t }}{% endif %}</div>
                     </div>
                 </div>
                 <div class="col-sm-12 col-md-6">
                    {% if settings.img_payment_style != blank %}
                      <div class="widget widget_payment">
                          <img src="{{settings.img_payment_style | img_url: 'master'}}" class="image-payment" alt="">
                      </div>
                    {% endif %}                   
                 </div> 
             </div>
        </div>
      </div>
   {% endif %}
</footer>