<div id="bst-Vegamenu" class="bst-Megamenu hidden-lg hidden-md">
  	<div class="mobile-menu-overlay"></div>
	<nav class="mobile-nav-wrapper" role="navigation">
      <div id="close-menu-moblie"><a href="#"><i class="biolife-icon icon-close-menu"></i></a></div>
      <ul id="menu-main-menu"  class="mobile-menu">
        {% for link in linklists[settings.bst-menu_linklist].links %}
        {%- assign outerLoopIndex = forloop.index -%}
        <li class="menu-item menu-item-type-custom dropdown">
          {% if link.links != blank %}
          {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
          <a href="{{ link.url }}"class="mobile-menu-link" >{{ link.title | escape }}</a>
          <ul class="sub-menu level2" data-parent="{{ child_list_handle }}" data-level="2" style="display: none;">
            {% for childlink in link.links %}
            <li class="menu-item menu-item-type-custom dropdown">
              {% if childlink.links != blank %}
              {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
              <a href="{{ childlink.url }}"class="mobile-menu-link" >{{ childlink.title | escape }}</a>
              <ul class="sub-menu level3" data-parent="{{ grandchild_list_handle }}" data-level="3" style="display: none;">
                {% for grandchildlink in childlink.links %}
                <li class="menu-item menu-item-type-custom">
                  <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link" {% if grandchildlink.current %} aria-current="page"{% endif %}>{{ grandchildlink.title | escape }}</a>
                </li>
                {% endfor %}
              </ul>
              <span class="toggle-submenu"><i class="fa fa-plus"></i></span>
              {% else %}
                <a href="{{ childlink.url }}"class="mobile-menu-link" >{{ childlink.title | escape }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          <span class="toggle-submenu"><i class="fa fa-plus"></i></span>
          {% else %}
          <a href="{{ link.url }}"class="mobile-menu-link" >{{ link.title | escape }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <div class="my-account-link">
        {% if customer %}
         <!--<i class="biolife-icon icon-login"></i>--> <img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/user.png?v=1607513812" width="18px"> <a href="/account">{{ customer.first_name }}</a>
         {{ 'layout.customer.log_out' | t | customer_logout_link }}
         {% else %}
      	 <img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/user.png?v=1607513812" width="18px">  <a href="/account" title="Login / Register">Login / Register<!--<i class="biolife-icon icon-login"></i>--></a>
         {% endif %}
      </div>
      <div class="wishlist-link">
        <a href="{% if customer %}/pages/wishlist{% else %}/account{% endif %}">
          <img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/wishlist.png?v=1607513812" width="18px"> Wishlist  <!--<i class="biolife-icon icon-heart-1"></i>-->
        </a>
      </div>
  </nav>
</div>