<div class="bluesky-login-page hidden-xs"> 
  {% if shop.customer_accounts_enabled %}
    <div class="bluesky-site-header-login-links">
         {% if customer %}
      
         <img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/user_2dea86de-cbc6-4b89-becd-87c2024ed363.png?v=1610970409" width="25px" /><!--<i class="biolife-icon icon-login"></i>--><a href="/account">{{ customer.first_name }}</a> / {{ 'layout.customer.log_out' | t | customer_logout_link }}
         {% else %}
         <img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/user_2dea86de-cbc6-4b89-becd-87c2024ed363.png?v=1610970409" width="25px" /><!--<i class="biolife-icon icon-login"></i>--> {{ 'layout.customer.log_in' | t | customer_login_link }}
         {% endif %}
    </div>
   {% endif %}
</div>