
<div class="container group-section">
  <div class="row-group">
    <div class="col-left">
    	{% section 'BlueskyTechco-CountDownProduct' %}
    </div>
    <div class="col-right">
      {% section 'BlueskyTechco-GroupProduct' %}
      {% section 'BlueskyTechco-Banner' %}
    </div>
  </div>
</div>
{% section 'BluskyTechco-Brand' %}
{% section 'BlueskyTechco-BlogPost' %}