<footer id="bst-footer" class="layout-4">
  	<a href="#" id="back-top" class="hidden-xs"><i class="biolife-icon icon-left-arrow"></i></a>
  <div class="bst-footerCenter" style="{% if settings.color_bg_style != blank %}background-color:{{settings.color_bg_style}}; {% endif %}
                                       {% if settings.padding_center_style != blank %}padding:{{settings.padding_center_style}}; {% endif %}
                                       {% if settings.img_bg_style != blank %}background-image: url({{settings.img_bg_style| img_url: "master" }}); {% endif %}">
       <div class="container">
         <div class="footer-top-v2">
           <div class="row">
             <div class="col-sm-12 col-md-12 col-lg-4 inforstore">
               {% if settings.store_title %}<h3 class="widget-title"><span>{{settings.store_title }}</span></h3>{% endif %}       
               <ul id="transport_offices" class="transport_offices">
                 {% if settings.store_address %}<li class="menu-item">{{settings.store_address }}</li>{% endif %}      
                 {% if settings.store_phone %}<li class="menu-item">{{settings.store_phone }}</li>{% endif %}      
                 {% if settings.store_email %}<li class="menu-item">{{settings.store_email }}</li>{% endif %}      
                 {% if settings.store_time %}<li class="menu-item">{{settings.store_time }}</li>{% endif %}         
               </ul>  
             </div>
             <div class="col-sm-12 col-md-12 col-lg-8">
               <div class="row">
                  	<div class="col-sm-3 col-md-3">
                      	<h3 class="widget-title"><span>{{settings.widget_menu1_title_style1 }}</span></h3>
                      	<div class="menu-customer-service-container">
                          {%- assign menuHandle1 = settings.widget_menu1_style1  -%}
                          <ul id="menu-customer-service" class="menu">
                            {% for menuLink1 in linklists[menuHandle1].links %}
                            	<li class="menu-item">
                                  <a href="{{ menuLink1.url }}" title="">{{ menuLink1.title }}</a>
                            	</li>
                            {% endfor %}
                          </ul>
                      	</div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                      	<h3 class="widget-title"><span>{{settings.widget_menu2_title_style1 }}</span></h3>
                      	<div class="menu-customer-service-container">
                          {%- assign menuHandle2 = settings.widget_menu2_style1  -%}
                          <ul id="menu-customer-service" class="menu">
                            {% for menuLink2 in linklists[menuHandle2].links %}
                            	<li class="menu-item">
                                  <a href="{{ menuLink2.url }}" title="">{{ menuLink2.title }}</a>
                            	</li>
                            {% endfor %}
                          </ul>
                      	</div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                          {% if settings.newsletter_enable_style != blank %}
                          <div class="footer-newsletter style2">
                              {%- include "bluesky-newsletter_style2" -%}
                          </div>
                        {% endif %}  
                         {% if settings.social_enable_style %}
                              {%- include "social" -%}
                         {% endif %}
                         {% if settings.img_payment_style != blank %}
                      		{% if settings.img_payment_style != blank %}<h5 class="payment-title">{{settings.payment_title }}</h5>{% endif %}
                          <div class="widget widget_payment">
                              <img src="{{settings.img_payment_style | img_url: 'master'}}" class="image-payment" alt="">
                          </div>
                        {% endif %}       
                    </div>
               </div>
             </div>
           </div> 
         </div>
       </div>
   </div>
  {% if settings.copyright_enable_style %}
      <div class="bst-footerCopyRight" style="background-color: {{settings.color_bg_copyright_style }};">
         <div class="container">
             <div class="row">
                 <div class="col-sm-12 copyright-col text-center">
                     <div class="bst-copyRight">
                           <div class="clearfix">{%if settings.texts_copyright_style != blank %}{{ settings.texts_copyright_style }}{% else %}{{ 'layout.footer.copyright_html' | t }}{% endif %}</div>
                     </div>
                 </div>
             </div>
        </div>
      </div>
   {% endif %}
</footer>