{% if settings.menu_enable %} 
  <div class="nav-mobile hidden-md hidden-lg">
    <div id="btnMenuMobile" class="toggle-menu">
      <span class="fa fa-bars"></span>
    </div>
  </div>
  <div id="bst-Megamenu" class="bst-Megamenu hidden-xs hidden-sm">
    <nav class="menuContainer">
      <ul class="nav hidden-xs hidden-sm">
        {%- for bst-Link in linklists[settings.bst-menu_linklist].links -%}
          {%- assign isMega = false -%}
          {%- for block in section.blocks -%}
            {%- assign menuItem = bst-Link.title -%}
            {%- if block.settings.bst-menu_item contains menuItem -%}
              <li class="hasMenuDropdown hasMegaMenu{% if bst-Link.active %} active{% endif %}">
                  <a href="{{ bst-Link.url }}" title="">{{ bst-Link.title }}{% if block.settings.label_enable %}<span  class="{{ bst-Link.title }} cat-label" style="background: {{ block.settings.label_background }};color: {{ block.settings.label_colors }};">{{ block.settings.label_text }}</span>{% endif %}</a>
                  	<style type="text/css">
                      .{{ bst-Link.title }}.cat-label:after{
                          border-top-color: {{ block.settings.label_background }} !important;
                      }
                    </style>
                	<div class="menuDropdown megaMenu" style="{% if block.settings.img_bg !=blank %}background-image: url({{ block.settings.img_bg | img_url: "master" }});{% endif %}{% if block.settings.bst-menu_item_width !=blank %}width:{{ block.settings.bst-menu_item_width }};{% endif %}">
                      <div class="menuGroup row">
                          {% if block.settings.bst-menu_collection_enable %}
                              <div class="{{ block.settings.bst-menu_collection_col }}">
                                  <ul class="bst-MenuListCollection">
                                      {% for i in (1..10) %}
                                        {% assign listcollection = 'bst-menu_list_collection' | append:i %}
                                        {% assign collectionTitle = block.settings[listcollection] %}
                                    	{% if collectionTitle != blank %}
                                        <li class="collTitle {{ block.settings.bst-menu_collection_menucol }}">
                                          <a href="{{ collections[collectionTitle].url }}" title="{{ collections[collectionTitle].title }}"><img class="img-responsive" alt="{{ collections[collectionTitle].title }}" src="{{ collections[collectionTitle].image | img_url: 'master' }}"></a>
                                          <a class="collections-name" href="{{ collections[collectionTitle].url }}" title="{{ collections[collectionTitle].title }}"> {{ collections[collectionTitle].title }}</a>
                                        </li>
                                        {% endif %}
                                      {% endfor %}
                                  </ul>
                              </div>
                          {% endif %}
                          {% if block.settings.bst-menu_menu_enable %}
                              <div class="{{ block.settings.bst-menu_menu_col }}">
                                  <div class="row">
                                      {%- for bst-Link1 in bst-Link.links -%}
                                          {% assign linkHandle = bst-Link1.title | handleize %}
                                          <div class="col-xs-12 {{ block.settings.bst-menu_menu_menucol }} col-menu-item">
                                              <ul class="bst-MenuLinks">
                                                  <li class="menuTitle{% if bst-Link1.active %} active{% endif %}">
                                                      <a href="{{ bst-Link1.url }}" title="">{{ bst-Link1.title }}</a>
                                                  </li>
                                                  {%- for bst-Link2 in bst-Link1.links -%}
                                                      <li class="{% if bst-Link2.active %}active{% endif %}">
                                                          <a href="{{ bst-Link2.url }}" title="">{{ bst-Link2.title }}</a>
                                                      </li>
                                                  {% endfor %}
                                              </ul>
                                          </div>
                                      {% endfor %}
                                  </div>
                              </div>
                          {% endif %}
                          {% if block.settings.bst-menu_product_enable %}
                              <div class="{{ block.settings.bst-menu_product_col }}">
                                  <div class="bst-MenuProducts">
                                      {% if block.settings.bst-menu_product_title != blank %}
                                          <div class="menuTitle"><span>{{ block.settings.bst-menu_product_title }}</span></div>
                                      {% endif %}
                                      <div class="listProduct">
                                          {% assign collectionTitle = block.settings.bst-menu_product_collection %}
                                          {% assign productLimit = block.settings.bst-menu_products_limit %}
                                          {% if block.settings.bst-menu_products_image_size != blank -%}
                                              {% assign productImageSize = block.settings.bst-menu_products_image_size %}
                                          {% else -%}
                                              {%- assign productImageSize = 'small' -%}
                                          {% endif %}
                                          {% for product in collections[collectionTitle].products  limit:productLimit %}
                                              {% assign onSale = false %}
                                              {% if product.compare_at_price > product.price %}
                                                  {% assign onSale = true %}
                                              {% endif %}
                                              <div class="blockProMenu media">
                                                  <div class="proImage proImageMenu pull-left">
                                                      <a class="proImageLink" href="{{ product.url }}" title="">
                                                          <img class="img-responsive" src="{{ product.featured_image | product_img_url:productImageSize }}" alt="{{ product.featured_image.alt }}">
                                                      </a>
                                                  </div>
                                                  <div class="proMeta proMetaMenu media-body">
                                                      <h5 class="proName">
                                                          <a href="{{ product.url }}" title="">{{ product.title }}</a>
                                                      </h5>
                                                      <div class="boxProPrice">
                                                          {% if onSale %}
                                                              <span class="oldPrice proPrice">{{ product.compare_at_price | money }}</span>
                                                          {% endif %}
                                                          <span class="curPrice proPrice">{{ product.price | money }}</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                          {% endif %}
                          {% if block.settings.bst-menu_html_enable %}
                              <div class="{{ block.settings.bst-menu_html_col }}">
                                  <div class="bst-MenuHtml">
                                      {% if block.settings.bst-menu_html_title != blank %}
                                          <div class="menuTitle"><span>{{ block.settings.bst-menu_html_title }}</span></div>
                                      {% endif %}
                                      <div class="htmlContent">
                                          {{ block.settings.bst-menu_html_content }}
                                      </div>
                                  </div>
                              </div>
                          {% endif %}
                          {% if block.settings.bst-menu_banner_enable %}
                              <div class="{{ block.settings.bst-menu_banner_col }} col-banner">
                                  <div class="bst-MenuBanner">
                                      <div class="bst-MenuBanner-image">
                                        	{% if block.settings.bst-menu_banner_link != blank %}<a href="{{ block.settings.bst-menu_banner_link }}">{% endif %}
                                                {% if block.settings.bst-menu_banner != blank %}
                                                    <img class="img-responsive" alt="{{ block.settings.bst-menu_banner.alt | default: shop.name }}" src="{{ block.settings.bst-menu_banner | img_url: block.settings.image_size }}" />
                                                {% else %}
                                                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ block.settings.image_size }}" />
                                                {% endif %}
                                            {% if block.settings.bst-menu_banner_link != blank %}</a>{% endif %}
                                      </div>
                                      <div class="bst-MenuBanner-Content">
                                          {% if block.settings.bst-menu_banner_title != blank %}
                                              <div class="bst-banner_title">
                                                <h4>{{ block.settings.bst-menu_banner_title}}</h4>
                                              </div>
                                        	  <p class="bst-banner_caption">{{ block.settings.bst-menu_banner_content}}</p>
                                          {% endif %}
                                          {% if section.settings.bst-menu_banner_buttom != blank %}
                                            <a href="{{ section.settings.bst-menu_banner_link_buttom }}" class="bts-btn">
                                              {{ section.settings.bst-menu_banner_buttom | escape }}
                                            </a>
                                          {% endif %}
                                      </div>
                                  </div>
                              </div>
                          {% endif %}
                      </div>
                  </div>
              </li>
              {% assign isMega = true %}
              {% break %}
            {%- endif -%}
          {%- endfor -%}
          {%- if isMega == false -%}
            {%- if bst-Link.links != blank -%}
            {% comment %}====== MENU DROPDOWN LEVEL I ======{% endcomment %}
            <li class="hasMenuDropdown{% if bst-Link.active %} active{% endif %}">
              <a href="{{ bst-Link.url }}" title="{{ bst-Link.title }}"><span>{{ bst-Link.title }}</span></a>
              <ul class="menuDropdown">
                {%- for bst-Link1 in bst-Link.links -%}
                  {%- if bst-Link1.links != blank -%}
                  <li class="hasMenuDropdown{% if bst-Link1.active %} active{% endif %}">
                    <a href="{{ bst-Link1.url }}" title=""><span>{{ bst-Link1.title }}</span></a>
                    <ul class="menuDropdown">
                      {%- for bst-Link2 in bst-Link1.links -%}
                      {%- if bst-Link2.links != blank -%}
                      <li class="hasMenuDropdown{% if bst-Link2.active %} active{% endif %}">
                        <a href="{{ bst-Link2.url }}" title=""><span>{{ bst-Link2.title }}</span></a>
                        <ul class="menuDropdown">
                          {%- for bst-Link3 in bst-Link2.links -%}
                          <li class="{% if bst-Link3.active %}active{% endif %}">
                            <a href="{{ bst-Link3.url }}" title=""><span>{{ bst-Link3.title }}</span></a>
                          </li>
                          {%- endfor -%}
                        </ul>
                      </li>
                      {%- else -%}
                      <li class="{% if bst-Link2.active %}active{% endif %}">
                        <a href="{{ bst-Link2.url }}" title=""><span>{{ bst-Link2.title }}</span></a>
                      </li>
                      {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  </li>
                  {%- else -%}
                  <li class="{% if bst-Link1.active %}active{% endif %}">
                    <a href="{{ bst-Link1.url }}" title=""><span>{{ bst-Link1.title }}</span></a>
                  </li>
                  {%- endif -%}
                  {%- endfor -%}
                </ul>
              </li>
              {%- else -%}
              <li class="{% if bst-Link.active %}active{% endif %}">
                <a href="{{ bst-Link.url }}" title=""><span>{{ bst-Link.title }}</span></a>
              </li>
              {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
  </div>
  
{% endif %}