<div class="bst-grid-payment">
   <div class="bst-payment  text-center">
     <ul class="bst-payment-img">
       	{% if settings.payment_img1 != blank %}
              <li>
                <a class="bst-payment-link" href="{{ settings.payment_link1 | escape }}" aria-describedby="bst-payment-link">
                	 <img class="bts-img" alt="" src="{{ settings.payment_img1 | img_url: 'master' }}" />
                </a>
              </li>
        {% endif %}
       	{% if settings.payment_img2 != blank %}
              <li>
                <a class="bst-payment-link" href="{{ settings.payment_link2 | escape }}" aria-describedby="bst-payment-link">
                	 <img class="bts-img" alt="" src="{{ settings.payment_img2 | img_url: 'master' }}" />
                </a>
              </li>
        {% endif %}
       	{% if settings.payment_img3 != blank %}
              <li>
                <a class="bst-payment-link" href="{{ settings.payment_link3 | escape }}" aria-describedby="bst-payment-link">
                	 <img class="bts-img" alt="" src="{{ settings.payment_img3 | img_url: 'master' }}" />
                </a>
              </li>
        {% endif %}
       	{% if settings.payment_img4 != blank %}
              <li>
                <a class="bst-payment-link" href="{{ settings.payment_link4 | escape }}" aria-describedby="bst-payment-link">
                	 <img class="bts-img" alt="" src="{{ settings.payment_img4 | img_url: 'master' }}" />
                </a>
              </li>
        {% endif %}
       	{% if settings.payment_img5 != blank %}
              <li>
                <a class="bst-payment-link" href="{{ settings.payment_link5 | escape }}" aria-describedby="bst-payment-link">
                	 <img class="bts-img" alt="" src="{{ settings.payment_img5 | img_url: 'master' }}" />
                </a>
              </li>
        {% endif %}
      	{% if settings.payment_img6 != blank %}
              <li>
                <a class="bst-payment-link" href="{{ settings.payment_link6 | escape }}" aria-describedby="bst-payment-link">
                	 <img class="bts-img" alt="" src="{{ settings.payment_img6 | img_url: 'master' }}" />
                </a>
              </li>
        {% endif %}
     </ul>
  </div>
</div>
            