<header class="header-type load-js layout-1">
  <div class="slider-header">
    <!-- Top of pages -->
    <div id="top" class="full-width">
      <div class="background">
        <div class="pattern header">  
           <div class="header-container">
              <!-- Header Left -->
             <div class="for-full-width-menu">	
              <div class="col-menu">		
                <!-- Menu -->
               	{%- include "bluesky-megamenu" -%}
                
              </div>
              <div class="col-logo">		
                <!-- Logo -->
                {%- include "ss-logo" -%}
              </div>
              <!-- Header Right -->
              <div class="col-action orderable">
              {% form 'localization' %}
                <select class="language-switcher" name="language_code" onchange="this.form.submit()">
                  {% for language in localization.available_languages %}
                    <option value="{{ language.iso_code }}"
                      {%- if language == localization.language %} selected="selected"{% endif %}
                    >
                      {{ language.endonym_name }}
                    </option>
                  {% endfor %}
                </select>
              
                <!-- <input type="submit" value="Update"> -->
              {% endform %}

                {%- include "bluesky-login" -%}
                <div class="block block-search">
                  <div class="block block-content">
                  	<div class="dropdown">
                      <div class="dropdown-toggles">
                          <div class="top-search">
                            <a href="javascript:void(0)" class="site-header__search"><i class="icon-search"></i></a>
                            </div>
                        </div>
                      {%- include "search-form" -%}
                      </div>
                    </div>
                </div>
                <div class="wishlist hidden-xs hidden-sm">
                	<a href="/pages/withlist" class="my-wishlist"><i class="icon-heart"></i></a>
                </div>
                <div class="cart-open">
                  <a href="javascript:void(0)" class="site-header__icon site-header__cart">
                    <i class="icon-shopping-bag"></i>
                    {% if cart.item_count >= 0 %}
                      <div id="CartCount" class="site-header__cart-count">
                        <span class="cart-count">{{ cart.item_count }}</span>
                      </div>
                    {% endif %}
                  </a>
                   {%- include "bluesky-minicart" -%}
                </div>
              </div>
            </div>
        </div>
           </div>
      </div>
    </div>
  </div>
</header>
{%- include "bluesky-vegamenu" -%}