{% if settings.newsletter_enable %}
    {% if template contains 'index' %}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog popup-content-wrapper">
          <div class="modal-content popup-container" style=" background-image: url({% if settings.newsletter-img != blank %}{{ settings.newsletter-img | img_url: 'master' }}{% else %}//placehold.it/770x397.jpg{% endif %});background-repeat: no-repeat;background-position: {{ settings.background_position_newsletter }};">
            	<div class="row">
                  <div class="col-sm-12 col-xs-12 col-content">
                     <button type="button" class="close close-popup" data-dismiss="modal"><i class="biolife-icon icon-close-menu"></i></button>
                    <div class="pup-up-center">
                      <div class="popup-content-text">
                        {% if settings.pupupnewsletter_subtitile != blank %}
                        <h6 class="sub-title">{{ settings.pupupnewsletter_subtitile }}</h6>
                        {% endif %}
                          <h3 class="titile">{{ settings.pupupnewsletter_titile }}</h3>
                          {{ settings.pupupnewsletter_description }}
                      </div>
                      <div class="newletter-form">
                      {% form 'customer' %}
                             <div class="form-group">
                             <input class="form-control" id="newsletter-input" type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" required>
                             <button class="btn btnNewsletter" type="submit">
                                   <span>{{ 'general.newsletter_form.submit' | t }}</span>
                             </button>
                             <input type="hidden" name="action" value="0">
                             </div>
                      {% endform %}								
                      </div>
                      <label class="not-again"><input type="checkbox" value="1" name="not-again"><span>{{ settings.newsletter_checkbox_text }}</span></label>
                  	</div>
                   </div>
                  </div>
          </div>
        </div>
    </div>
	<script type="text/javascript">
      var time = {{settings.newsletter_time}}*1000;
      setInterval(function(){
          $('#myModal').hide(400);
          $('#myModal').removeClass('show');
          $('.modal-backdrop').remove();
      },time);
	</script>
	{% endif %}
{% endif %}