{% assign sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign sale = true %}
	{% assign compare_at_price = product.compare_at_price %}
	{% assign price = product.price %}
	{% assign compare_price = compare_at_price | minus: price %}
	{% assign sale_percent = compare_price | times: 100 | divided_by: compare_at_price | round %}
{% endif %}
{% assign outstock = true %}
{% if product.available %}
    {% assign outstock = false %}
{% endif %}
{% unless productImageSize %}
	{% assign productImageSize = 'master' %}
{% endunless %}
<div class="product-inner">
    <div class="product-thumb">
       <a class="bst-thumbnail bst-product-thumbnail" href="{{ product.url }}">         
         {% for image in product.images %}
        	 {% assign intItem = forloop.index %}
          	 {% if forloop.first != true %}
           		<img class="primary_image" alt="{{ image.alt }}" src="{{ image.src | product_img_url:productImageSize }}">
          	    {% break %}
           	 {% endif %}
         {% endfor %}
         {% if settings.show_secondary_product_image %}
         	<img class="{%if intItem == 2 %}secondary_image{% endif %}" alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | product_img_url:productImageSize }}" />           
         {% endif %}
      </a>
	</div>
    <div class="product-info">
                  {% for collectionpr in product.collections %}
              	{% if template == 'collection' %}
              	  {% if collection.title == collectionpr.title %}
          			<a href="{{ collectionpr.url }}" class="category">
                    	{{ collectionpr.title }}
                    </a>
                    {% break %}
              	  {%endif%}
              	  {% if collection.title == 'Products' %}
              		<a href="{{ collectionpr.url }}" class="category">
                    	{{ collectionpr.title }}
                    </a>
                  	{% break %}
              	  {%endif%}
              	{% else %}
                  <a href="{{ collectionpr.url }}" class="category">
                    	{{ collectionpr.title }}
                  </a>
                  {% break %}
                {%endif%}
            {% endfor %}
       <div class="title-product">
           <h2 class="h2 bst-productName product-name">
               <a href="{{ product.url }}">{{ product.title }}</a>
           </h2>
       </div>
	   <div class="bst-productPrice price-box">
           <div class="priceProduct {% if sale %}priceSale{% endif %}">{{ product.price | money }}</div>
           {% if sale %}
           		<div class="priceProduct priceCompare">{{ product.compare_at_price | money }}</div>
           {% endif %}
       </div>
	   <div class="proReviews">
           <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
       </div>  
    </div>
</div>