<div class="purchase-order animated hidden-xs" style="display:none">
  <a class="purchase-close" href="javascript:void(0);"><i class="icon-x"></i></a>
  <div class="product-purchase" id="purchase" >
    <div class="purchase-image">
      <a class="purchase-img" href="">
        <img alt="" class="img_purchase" src="">
      </a>
    </div>
    <div class="purchase-info">
      <span class="dib">{{settings.show_text_message}}</span>
      <h3 class="title"><a href=""></a></h3>
      <div class="minutes-ago"><span class="minute-number"></span> <span>minutes ago</span></div>
      <a class="btnProductQuickview" href="javascript:void(0);" data-id="">
        	{{ 'general.fake_order.view' | t }}
      </a>
    </div>
  </div>
</div>