<div class="vertical-menu hidden-lg hidden-md">
      <div class="block-title">
        <span class="menu-icon">
          <span class="line-1"></span>
          <span class="line-2"></span>
          <span class="line-3"></span>
        </span>
        <span class="menu-title">{{ settings.bst-vertical_title_linklist }}</span>
      </div>
  <div id="bst-vertical-mobi" class="bst-vertical-mobi block-content hidden-lg hidden-md">
      <div class="mobile-menu-overlay"></div>
      <nav class="verticalmenu-content" role="navigation">
        <ul id="menu-main-menu"  class="verticalmenu">
          {% for link in linklists[settings.bst-vertical_linklist].links %}
          {%- assign outerLoopIndex = forloop.index -%}
          <li class="menu-item menu-item-type-custom dropdown">
            {% if link.links != blank %}
            {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
            <a href="{{ link.url }}"class="mobile-menu-link" >{{ link.title | escape }}</a>
            <ul class="sub-menu level2" data-parent="{{ child_list_handle }}" data-level="2" style="display: none;">
              {% for childlink in link.links %}
              <li class="menu-item menu-item-type-custom dropdown">
                {% if childlink.links != blank %}
                {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
                <a href="{{ childlink.url }}"class="mobile-menu-link" >{{ childlink.title | escape }}</a>
                <ul class="sub-menu level3" data-parent="{{ grandchild_list_handle }}" data-level="3" style="display: none;">
                  {% for grandchildlink in childlink.links %}
                  <li class="menu-item menu-item-type-custom">
                    <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link" {% if grandchildlink.current %} aria-current="page"{% endif %}>{{ grandchildlink.title | escape }}</a>
                  </li>
                  {% endfor %}
                </ul>
                <a href="#" class="toggle-submenu"><i class="fa fa-plus"></i></a>
                {% else %}
                  <a href="{{ childlink.url }}"class="mobile-menu-link" >{{ childlink.title | escape }}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            <a href="#" class="toggle-submenu"><i class="fa fa-plus"></i></a>
            {% else %}
            <a href="{{ link.url }}"class="mobile-menu-link" >{{ link.title | escape }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
    </nav>
  </div>
 </div>