<div data-items="{{ settings.vertical_show_item}}" class="vertical-menu vertical-category-block block-nav-category hidden-xs hidden-sm {% if template contains 'index' %}has-open{% endif %}">
  <div class="block-title {% if template contains 'index' %}active{% endif %}">
    <span class="menu-icon">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </span>
    <span class="menu-title">{{ settings.bst-vertical_title_linklist }}</span>
  </div>
  <div class="block-content">
    <div class="verticalmenu-content">
      <ul class="verticalmenu">
        {% assign i_col_1 = 1 %}
        {% assign vertical_show_item = settings.vertical_show_item | plus:0 %}
        {%- for bst-Link in linklists[settings.bst-vertical_linklist].links -%}
        {%- assign isMega = false -%}
        {%- for block in section.blocks -%}
            {%- assign menuItem = bst-Link.title -%}
            {%- if block.settings.bst-verticalmenu_item contains menuItem -%}
              {%- if bst-Link.links != blank -%}
                <li class="menu-item menu-item-has-children has-verticalmenu" style="{% if i_col_1 > vertical_show_item %}display:none{% endif %}">
                  <a href="{{ bst-Link.url }}" class="menu-title">{% if block.settings.img_icon !=blank %}<img src="{{block.settings.img_icon | img_url: 'master'}}" />{%- endif -%}{{ bst-Link.title }}</a>
                  {% if block.settings.bst-type_submenu == 'full'%}
                  <div class="wrap-verticalmenu menuDropdown" style="{% if block.settings.img_bg !=blank %}background-image: url({{ block.settings.img_bg | img_url: "master" }});background-position:{{ block.settings.img_bg_posi }};{% endif %}">
                    <div class="mega-content row">
                        <div class="{{ block.settings.bst-menu_menu_col }}">
                          <div class="row">
                            {%- for bst-Link1 in bst-Link.links -%}
                            {% assign linkHandle = bst-Link1.title | handleize %}
                            <div class="{{ block.settings.bst-menu_menu_menucol }} col-menu-item">
                              <ul class="bst-MenuLinks">
                                <li class="menuTitle{% if bst-Link1.active %} active{% endif %}">
                                  <a href="{{ bst-Link1.url }}" title="">{{ bst-Link1.title }}</a>
                                </li>
                                {%- for bst-Link2 in bst-Link1.links -%}
                                <li class="{% if bst-Link2.active %}active{% endif %}">
                                  <a href="{{ bst-Link2.url }}" title="">{{ bst-Link2.title }}</a>
                                </li>
                                {% endfor %}
                              </ul>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                        {% if block.settings.bst-menu_product_enable %}
                            <div class="{{ block.settings.bst-menu_product_col }}">
                              <div class="bst-MenuProducts">
                                {% if block.settings.bst-menu_product_title != blank %}
                                <div class="menuTitle"><span>{{ block.settings.bst-menu_product_title }}</span></div>
                                {% endif %}
                                <div class="listProduct">
                                  {% assign collectionTitle = block.settings.bst-menu_product_collection %}
                                  {% assign productLimit = block.settings.bst-menu_products_limit %}
                                  {% if block.settings.bst-menu_products_image_size != blank -%}
                                      {% assign productImageSize = block.settings.bst-menu_products_image_size %}
                                  {% else %}
                                      {%- assign productImageSize = 'small' -%}
                                  {% endif %}
                                  {% if block.settings.bst-menu_product_enable_owl %}
                                  <div  class="owl owl-carousel"	data-item-slide="1"
                                              data-desksmall="1"
                                              data-tablet="1"
                                              data-tabletsmall="1"
                                              data-mobile="1"
                                              data-nav="1" 
                                              data-dots ="false" 
                                              data-autoplay="false"  >
                                   {% endif %}
                                    {% for product in collections[collectionTitle].products  limit:productLimit %}
                                      {% assign onSale = false %}
                                      {% if product.compare_at_price > product.price %}
                                        {% assign onSale = true %}
                                      {% endif %}
                                      <div class="blockProMenu media">
                                        <div class="proImage proImageMenu pull-left">
                                          <a class="proImageLink" href="{{ product.url }}" title="">
                                            <img class="img-responsive" src="{{ product.featured_image | product_img_url:productImageSize }}" alt="{{ product.featured_image.alt }}">
                                          </a>
                                        </div>
                                        <div class="proMeta proMetaMenu media-body">
                                          <h5 class="proName">
                                            <a href="{{ product.url }}" title="">{{ product.title }}</a>
                                          </h5>
                                          <div class="boxProPrice">
                                            {% if onSale %}
                                                <span class="oldPrice proPrice">{{ product.compare_at_price | money }}</span>
                                            {% endif %}
                                                <span class="curPrice proPrice">{{ product.price | money }}</span>
                                          </div>
                                        </div>
                                      </div>
                                    {% endfor %}
                                  {% if block.settings.bst-menu_product_enable_owl %}
                                  </div>
                                  {% endif %}
                                </div>
                              </div> 
                            </div>
                          {% endif %}
                          {% if block.settings.bst-menu_brand_enable %}
                              <div class="brand {% if block.settings.bst-type_brand == 'bottom'%} {{ block.settings.bst-type_brand }} col-xs-12{% else %}{{ block.settings.bst-menu_brand_col }}{% endif %}">
                                <div class="biolife-brand vertical">
                                  <h4 class="menuTitle">{{ block.settings.bst-menu_brand_title }}</h4>
                                  <ul class="brands">
                                      {% if block.settings.bst-image_brand1 != blank %}
                                          <li><a href="{{ block.settings.bst-menu_brand_link1}}"><img src="{{ block.settings.bst-image_brand1 | img_url: 'master' }}"></a></li>
                                      {% endif %}
                                      {% if block.settings.bst-image_brand2 != blank %}
                                          <li><a href="{{ block.settings.bst-menu_brand_link2}}"><img src="{{ block.settings.bst-image_brand2 | img_url: 'master' }}"></a></li>
                                      {% endif %}
                                      {% if block.settings.bst-image_brand3 != blank %}
                                          <li><a href="{{ block.settings.bst-menu_brand_link3}}"><img src="{{ block.settings.bst-image_brand3 | img_url: 'master' }}"></a></li>
                                      {% endif %}
                                      {% if block.settings.bst-image_brand4 != blank %}
                                          <li><a href="{{ block.settings.bst-menu_brand_link4}}"><img src="{{ block.settings.bst-image_brand4 | img_url: 'master' }}"></a></li>
                                      {% endif %}
                                  </ul>
                                </div>
                              </div>
                          {% endif %}
                      </div>
                  </div>
                  {% else %}
                    <ul class="sub-menu">
                      {%- for bst-Link1 in bst-Link.links -%}
                      {%- if bst-Link1.links != blank -%}
                      <li class="menu-item menu-item-has-children has-child">
                        <a href="{{ bst-Link1.url }}" title=""><span>{{ bst-Link1.title }}</span></a>
                        <ul class="sub-menu">
                          {%- for bst-Link2 in bst-Link1.links -%}
                          {%- if bst-Link2.links != blank -%}
                          <li class="menu-item menu-item-has-children has-child">
                            <a href="{{ bst-Link2.url }}" title=""><span>{{ bst-Link2.title }}</span></a>
                            <ul class="sub-menu">
                              {%- for bst-Link3 in bst-Link2.links -%}
                              <li class="{% if bst-Link3.active %}active{% endif %}">
                                <a href="{{ bst-Link3.url }}" title=""><span>{{ bst-Link3.title }}</span></a>
                              </li>
                              {%- endfor -%}
                            </ul>
                          </li>
                          {%- else -%}
                          <li class="{% if bst-Link2.active %}active{% endif %}">
                            <a href="{{ bst-Link2.url }}" title=""><span>{{ bst-Link2.title }}</span></a>
                          </li>
                          {%- endif -%}
                          {%- endfor -%}
                        </ul>
                      </li>
                      {%- else -%}
                      <li class="{% if bst-Link1.active %}active{% endif %}">
                        <a href="{{ bst-Link1.url }}" title=""><span>{{ bst-Link1.title }}</span></a>
                      </li>
                      {%- endif -%}
                      {%- endfor -%}
                    </ul>
                    {% endif %} 
                </li>
              {%- else -%}
                  <li class="menu-item has-verticalmenu" style="{% if i_col_1 > vertical_show_item %}display:none;{% endif %}">
                      <a href="{{ bst-Link.url }}" class="menu-title">{% if block.settings.img_icon !=blank %}<img src="{{block.settings.img_icon | img_url: 'master' }}" />{%- endif -%}{{ bst-Link.title }}</a>
                  </li>
              {%- endif -%}
              {% assign isMega = true %}
              {% break %}
           {%- endif -%}
        {%- endfor -%}
        {%- if isMega == false -%}
          {%- if bst-Link.links != blank -%}
          <li class="hasMenuDropdown{% if bst-Link.active %} active{% endif %}">
            <a href="{{ bst-Link.url }}" title="{{ bst-Link.title }}"><span>{{ bst-Link.title }}</span></a>
            <ul class="menuDropdown">
              {%- for bst-Link1 in bst-Link.links -%}
              {%- if bst-Link1.links != blank -%}
              <li class="hasMenuDropdown{% if bst-Link1.active %} active{% endif %}">
                <a href="{{ bst-Link1.url }}" title=""><span>{{ bst-Link1.title }}</span></a>
                <ul class="menuDropdown">
                  {%- for bst-Link2 in bst-Link1.links -%}
                  {%- if bst-Link2.links != blank -%}
                  <li class="hasMenuDropdown{% if bst-Link2.active %} active{% endif %}">
                    <a href="{{ bst-Link2.url }}" title=""><span>{{ bst-Link2.title }}</span></a>
                    <ul class="menuDropdown">
                      {%- for bst-Link3 in bst-Link2.links -%}
                      <li class="{% if bst-Link3.active %}active{% endif %}">
                        <a href="{{ bst-Link3.url }}" title=""><span>{{ bst-Link3.title }}</span></a>
                      </li>
                      {%- endfor -%}
                    </ul>
                  </li>
                  {%- else -%}
                  <li class="{% if bst-Link2.active %}active{% endif %}">
                    <a href="{{ bst-Link2.url }}" title=""><span>{{ bst-Link2.title }}</span></a>
                  </li>
                  {%- endif -%}
                  {%- endfor -%}
                </ul>
              </li>
              {%- else -%}
              <li class="{% if bst-Link1.active %}active{% endif %}">
                <a href="{{ bst-Link1.url }}" title=""><span>{{ bst-Link1.title }}</span></a>
              </li>
              {%- endif -%}
              {%- endfor -%}
            </ul>
          </li>
          {%- else -%}
            <li class="{% if bst-Link.active %}active{% endif %}">
              <a href="{{ bst-Link.url }}" title=""><span>{{ bst-Link.title }}</span></a>
            </li>
          {%- endif -%}
        {%- endif -%}
        {% assign i_col_1 = i_col_1 | plus: 1 %}
        {%- endfor -%}
      </ul>
    </div>
    <div class="view-all-category">
      <a href="#" data-closetext="{{ 'vertical.menu.closetext' | t }}" data-alltext="{{ 'vertical.menu.alltext' | t }}" class="btn-view-all open-cate">{{ 'vertical.menu.alltext' | t }}</a>
    </div>
  </div>
</div>
