<div class="grid__item medium-up--one-half">
  <div class="site-footer__newsletter">
    {% form 'customer' %}
    {%- if form.errors -%}
    <div class="form-message form-message--error">
      {{ form.errors | default_errors }}
    </div>
    {%- endif -%}
    {% if form.posted_successfully? %}
    <p class="form-message form-message--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
    {% if settings.newsletter_title_style != blank or settings.newsletter_subheading_style != blank %}
      <div class="flex-layout-left">
        <span class="biolife-icon icon-newsletter"></span>	
        <div class="heading-newsletter">
          {% if settings.newsletter_title_style != blank %}
            <h4 for="Email" class="h4">{{ settings.newsletter_title_style }}</h4>
          {% endif %}
          {% if settings.newsletter_subheading_style != blank %}
            <div class="rte">{{ settings.newsletter_subheading_style }}</div>
          {% endif %}
         </div>
      </div>
    {% endif %}
    <div class="input-group">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
             name="contact[email]"
             id="Email"
             class="input-group__field newsletter__input"
             value="{% if customer %}{{ customer.email }}{% endif %}"
             placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
             {%- if form.errors -%}
             aria-invalid="true"
             {%- endif -%}
             autocorrect="off"
             autocapitalize="off"
             required    >
      <span class="input-group__btn">
        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit_v1' | t }}</span>
        </button>
      </span>
    </div>
    {% endif %}
    {% endform %}
  </div>
</div>