<div class="bst-footer-menu">
	{% if menuTitle != blank %}
	<h3 class="bst-footer-menu-title">{{ menuTitle }}</h3>
	{% endif %}
	<div class="bst-footer-menu-content">
		<ul class="bst-footer-menu-links list-unstyled">
			{% for menuLink in linklists[menuHandle].links %}
				<li class="menu-item">
					<a href="{{ menuLink.url }}" title="">{{ menuLink.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>