<div class="blogSidebar">
  <div class="widget widget_recent_post">
  	<h4 class="widget-title">Recent Posts</h4>
    <ul class="listSidebarBlog list-unstyled">
      {% for article in blogs[blog.handle].articles limit:8 %}
      {% assign imageSize = '150x150' %}
      <li>
        <a href="{{ article.url }}" class="post-thumbnail pull-left">
           <img id="{{ img_id }}" src="{{ article.image | img_url: imageSize }}" alt="{{ article.title }}" />
        </a>
        <div class="post-info media-body">
          <a class="post-title" href="{{ article.url }}">
            {{ article.title }}</a>
          <span class="post-date"><time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></span>
        </div>
      </li>
      {% endfor %}
    </ul>
</div>
{% if blog.all_tags.size > 0 %}
  <div class="widget widget_tag">
    <h4 class="widget-title">Articles Tag</h4>
      <ul class="blogTagsList list-inline">
        {% for tag in blog.all_tags limit:8 %}
        {% if current_tags contains tag %}
        <li>{{ tag }}</li>
        {% else %}
        <li>{{ tag | link_to_tag: tag }}</li>
        {% endif %}
        {% endfor %}
      </ul>
  </div>
{% endif %}
{% if settings.blog-sidebar_baner_enable %}
	<div id="sidebar-baner" class="sidebar-baner widget">
        <div class="Content">
          <a href="{{ settings.blog-sidebar_baner_link }}" class="sidebar-baner-link">
          	<img class="baner_image" src="{{ settings.blog-sidebar_baner_image | img_url:"master" }}">
          </a>
        </div>
	</div>
{% endif %}