{% for variant in product.variants %}
  {% if variant.inventory_quantity > 0 %}
    {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
  {% endif %}
{% endfor %}
<div class="countdow-product">
  <div class="product_progress_countdow">
    <p><span>Hurry Up!</span> Only <span class="count">{{ product_qty }}</span> products left in stock.</p>
    <div class="progressbar"><div style="width: 100%;"></div></div>
  </div>
  <div class="countdow_page">
    <div class="block">
      <span class="flip-top">0</span>
      <br>
      <span class="label">days</span>
    </div>
    <div class="block">
      <span class="flip-top hr"></span>
          <br>
      <span class="label">Hours</span>
    </div>
    <div class="block">
      <span class="flip-top min"></span>
      <br>
      <span class="label">mins</span>
    </div>
    <div class="block">
      <span class="flip-top sc"></span>
      <br>
      <span class="label">secs</span></div>
  </div>
</div>