{% for block in section.blocks %} 
  {% if block.type == 'text_block' %}
  <div class="about__text-block{% if block.settings.image_position == 'right' %} reverse{% endif %} container">
    <div class="grid__item grid__item--image col-sm-2 col-md-4">
      <div class="rte{% if block.settings.image_position == 'right' %} img-reverse{% endif %}">
        <img src="{{ block.settings.letter_image | img_url: '220x' }}" />
      </div>
    </div>
    <div class="grid__item grid__item--text col-sm-4 col-md-8">
      <div class="rte">
        <p>
          {% if block.settings.hide_first_letter %}
          <span class="first-letter">{{ page.content | slice: 0 }}</span>{{ page.content | slice: 1, page.content.size }}
          {% else %}
          {{ page.content }}
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  {% elsif block.type == 'video_block' %}
  <div class="container">
    <div class="about__video-block">
      {% assign videoId = block.settings.video_link | split: '?v=' | last %}
      <iframe class="video" src="https://www.youtube.com/embed/{{ videoId }}" width="100%" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  {% endif %}
<!-- output a header with text -->
{% endfor %}
