<div class="club__content">
{% for block in section.blocks %} 
  {% if block.type == 'text_block' %}
  <div class="club__main {% if block.settings.image_position == 'right' %} reverse{% endif %} container">
    <div class="club__main--image">
      <div class="club__main--img rte{% if block.settings.image_position == 'right' %} img-reverse{% endif %}">
        <img src="{{ block.settings.letter_image | img_url: '220x' }}" />
      </div>
    </div>
    <div class="club__main--text">
      <div class="rte">
        <h1>{{ page.title }}</h1>
        <p>
          {% if block.settings.hide_first_letter %}
          <span class="first-letter">{{ page.content | slice: 0 }}</span>{{ page.content | slice: 1, page.content.size }}
          {% else %}
          {{ page.content }}
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  {% elsif block.type == 'service_block' %}
  <div class="club__service-block container">
    <div class="club__service-row">
      <div class="club__service--empty-block"></div>
      <div class="club__service-box">
        <div class="club__service-image">
          <img src="{{ block.settings.service_image | img_url: 'master' }}"/>
        </div>
        <div class="club__service-text">
          <div class="club__service-title">
            <h3>
              {{- block.settings.service_title -}}
            </h3>
          </div>
          <div class="club__service-paragraph">{{- block.settings.service_paragraph -}}</div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>