<div id="proPagination">
<nav class="clearfix">
    <ul class="pagination">
        {% if paginate.previous %}
            <li class="pagiPrevious">
                <a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}"><i class="fa fa-angle-left"></i></a>
            </li>
        {% else %}
            <li class="disabled">
                <span><i class="fa fa-angle-left"></i></span>
            </li>
        {% endif %}
        {% for part in paginate.parts %}
            {% if part.is_link %}
                <li>
                    <a href="{{ part.url }}" title="">{{ part.title }}</a>
                </li>
            {% else %}
                {% if part.title == paginate.current_page %}
                    <li class="active"><span>{{ part.title }}</span></li>
                {% else %}
                    <li><span>{{ part.title }}</span></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if paginate.next %}
            <li class="pagiNext"><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}"><i class="fa fa-angle-right"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fa fa-angle-right"></i></span></li>
        {% endif %}
    </ul>
</nav>
</div>