<form action="/search" method="get" class="bst-search-header search minisearch" role="search" style="display: none;">
  <input class="bst-search-header__input search__input"
    type="search"
    name="q"
    placeholder="{{ 'general.search.placeholder' | t }}"
    aria-label="{{ 'general.search.placeholder' | t }}">
  <button class="bst-search-header__submit search__submit btn--link site-header__icon" type="submit">
    <span class="biolife-icon icon-search"></span>
  </button>
</form>