<div class="bst-grid-social">
  <div class="bst-social  text-center">
    <ul class="bst-social-icons">
      {% if settings.social_dribbble_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_dribbble_link | escape }}" aria-describedby="bst-social-icons">
          <span class="fa fa-dribbble"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_facebook_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_facebook_link | escape }}" aria-describedby="bst-social-icons">
          <span class="fa fa-facebook"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_twitter_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_twitter_link | escape }}" aria-describedby="bst-social-icons">
          <span class="fa fa-twitter"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_pinterest_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_pinterest_link | escape }}" aria-describedby="bst-social-icons">

          <span class="fa fa-pinterest"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_instagram_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_instagram_link | escape }}" aria-describedby="bst-social-icons">

          <span class="fa fa-instagram"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_behance_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_behance_link | escape }}" aria-describedby="bst-social-icons">

          <span class="fa fa-behance"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_tumblr_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_tumblr_link | escape }}" aria-describedby="bst-social-icons">

          <span class="fa fa-tumblr"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_snapchat_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_snapchat_link | escape }}" aria-describedby="bst-social-icons">

          <span class="fa fa-napchat-ghost"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_youtube_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_youtube_link | escape }}" aria-describedby="bst-social-icons">

          <span class="fa fa-youtube"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_vimeo_link != blank %}
      <li>
        <a class="bst-social-icons-link" href="{{ settings.social_vimeo_link | escape }}" aria-describedby="bst-social-icons">

          <span class="fa fa-vimeo-v"></span>
        </a>
      </li>
      {% endif %}
      {% if template.name == 'blog' or template.name == 'article' %}
      <li>
        <a class="bst-social-icons-link" href="{{ shop.url }}{{ blog.url }}.atom">

          <span class="fa fa-rss"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>