<div class="bst-logo">
  <a href="{{shop.url}}" title="{{ shop.name | escape }}">
    {%- assign _logo = "logo.png" | asset_img_url: 'master'  -%}
    {%- if settings.main_logo != blank -%}
    {%- assign _logo = settings.main_logo | img_url: 'master' -%}
    {%- endif -%}
    <img src="{{ _logo }}" title="{{ shop.name | escape }}" alt="{{ shop.name | escape }}" />
  </a>
</div>