.about {
  &-blocks{
    // background-color: shopify('primary-color');
  }
  &__text-block {
    margin: auto;
    padding: calculateRem(55px) 0;
    display: flex;
    &.reverse {
      flex-flow: row-reverse;
    }
    @include phone {
      padding: 0;
      flex-flow: column;
      &.reverse {
        flex-flow: column;
      }
    }
    .grid__item {
      &--image {
        flex: 1 1 33.33%;
        @include phone {
          margin-bottom: calculateRem(55px);
        }
        .rte {
          display: flex;
          align-items: flex-start;
          justify-content: left;
          &.img-reverse {
            justify-content: right;
          }
          @include phone {
            justify-content: center;
            &.img-reverse {
              justify-content: center;
            }
          }
        }
      }
      &--text {
        flex: 1 1 66.66%;
        .first-letter {
          position: fixed;
          top: -99999px;
        }
      }
    }
  }
  &__video-block {
    position: relative;
    width: 66.66%;
    margin-left: auto;
    height: 0;
    padding-bottom: 38%;
    @include phone {
      width: 100%;
      margin: 0;
      padding-bottom: 56.25%;
    }
    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}