@include tablet {
  .additional-checkout-buttons{
    margin-top: calculateRem(20px);
    .dynamic-checkout__content {
      .shopify-cleanslate {
        ul {
          display: block !important;
          width: 100%;
  
        }
      }
    }  
  }
}
