.club {
  &__content {
    margin: auto calculateRem(30px);
  }
  &__main {
    margin: auto;
    padding: calculateRem(55px) 0;
    display: flex;
    @include phone {
      flex-direction: column;
    }
    @include md-screen {
      &--image {
        flex: 1 1 24.31%;
      }
      &--text {
        flex: 1 1 75.68%;
      }
    }
    h1 {
      text-transform: none;
      padding-bottom: calculateRem(49px);
    }
    &.reverse {
      flex-direction: row-reverse;
    }
    &--img {
      display: flex;
      align-items: flex-start;
      justify-content: left;
      img {
        max-width: calculateRem(194px);
        @include tablet {
          padding-right: calculateRem(30px);
        }
      }
      &.img-reverse {
        justify-content: right;
        img {
          max-width: calculateRem(194px);
        }
      }
      @include phone {
        justify-content: center;
        &.img-reverse {
          justify-content: center;
        }
      }
    }
    @include phone {
      .grid__item--text {
        padding-top: calculateRem(55px);
      }
    }
  }
  &__service {
    &--empty-block {
      flex: 1 1 24.31%;
      @include phone {
        display: none;
      }
    }
    &-block {
      margin: auto;
      display: flex;
      margin-bottom: calculateRem(55px);
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include phone {
      &--empty-block,&-block {
        flex: 1 1 100%;
      }
    }
    &-row {
      display: flex;
      flex: 1 1 100%;
      margin-left: auto;
      @include phone {
        width: 100%;
        margin-left: 0;
      }
    }
    &-box {
      display: flex;
      flex: 1 1 75.68%;
      @include phone {
        flex-direction: column;
      }
    }
    &-image {
      padding-right: calculateRem(30px);
      max-width: 383px;
      @include phone {
        padding-right: 0;
        padding-bottom: calculateRem(30px);
      }
    }
    &-image, &-text {
      flex: 1 1 50%;
      img {
        width: 100%;
      }
    }
    &-title {
      max-width: calculateRem(300px);
      h3 {
        font-family: shopify('fontfamily-club-heading');
        font-weight: shopify('font-weight-club-heading');
        @include font-size(60px);
        text-transform: none;
        line-height: 0.8;
        color: #66968a;
        letter-spacing: -1px;
      }
    }
    &-paragraph {
      @include font-size(36px);
      line-height: 0.9;
      p {
        overflow-wrap: anywhere;
      }
    }
  }
}