.collection {
  &__description {
    padding: calculateRem(55px) 0 calculateRem(20px);
    text-align: center;
  }
}

.proViewgrid.layout4 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.bst-productGroup.actions {
  display: flex;
  .laberQuickview.laberItem {
    flex: 1 1 auto;
    min-width: 0;
  }
  .wishlist {
    flex: 1 1 auto;
    min-width: 0;
  }
}

.shop-products.products .product .product-wrapper .actions .add-cart {
  flex: 1 1 auto;
  min-width: 0;
  .add_to_cart_inline {
    white-space: normal;
  }
}