.common-home .bst-product-grid.flexRow{
  display: flex;
  flex-wrap: wrap;
  @include phone {
    display: flex;
    flex-wrap: wrap;
    .col-products.col-md-3.col-sm-6 {
      width: 50%;
    } 
  }
}

.shop-products.products .product .product-wrapper h2.product-name a {
  min-height: auto !important;
}

.col-products, .products{
  p.proAttr.outstock {
    display: block;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
    z-index: 20;
    font-size: 12px;
    padding: 0 10px;
    height: 27px;
    line-height: 28px;
    background-color: #fafafa;
    color: #892113;
    border-radius: 2px;
    letter-spacing: .5px;
    font-weight: 400;
    min-height: auto;
    border: 0;
    margin-bottom: 3px;
  
    @media screen and (max-width: 1024px) {
      right: 15px;
      left: auto;
      font-size: 13px;
    }
  }
}