.single-product-action {
  .action-add-cart {
    .quantity-updown {
      float: none;
      margin: 0;
      background: #fff;
      border: 0;
      width: 100%;
      border-radius: calculateRem(30px);
    }

    .product-form__item {
      .product-form__cart-submit {
        border-radius: calculateRem(30px);
      }

      .shopify-payment-button .shopify-payment-button__button {
        padding: 0;
        border: 0;
        [data-testid="PayPalInContext-button"] {
          border-radius: calculateRem(30px) !important;
        }
      }

      .shopify-payment-button__more-options {
        display: none;
        white-space: normal;
        border-radius: calculateRem(30px);
      }
    }

    .wishlist {
      display: flex;
      align-items: center;
    }
  }

  .widget_socialsharing_widget {
    ul {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }

    i.fa::before {
      display: inline-block;
      transform: scale(1.3,1.3);
    }
  } 
}

ul.flex-control-nav.flex-control-thumbs {
  display: flex;
}

button#AddToCart-BlueskyTechco-ProductView {
  white-space: normal;
}