<div class="page-width">
        {% if settings.enabel_page_banner %}
        {% if settings.page_baner_image %}
        <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                          margin-bottom: {{settings.page_banner_margin_bottom}};
                                          height: {{settings.banner_height}};
                                          background-position: {{settings.background_position}}; 
                                          background-size: {{settings.background_size}}">
          <div class="defaut-header text-center have-background">
            <h1 class="entry-title">{{ 'customer.login.title' | t }}</h1>
          </div>
        </div>
        <div class="breadcrumbs outsite-banner">
          {% include 'bluesky_breadcrumb' %}
        </div>
        {% endif %}
        {% else %}
        <header class="defaut-header">
          <div class="breadcrumbs">
            {% include 'bluesky_breadcrumb' %}
          </div>
        </header>
        {% endif %}  
  <div class="container">
  <div class="grid">

    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="form-message form-message--success hide" id="ResetSuccess">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">
        {% form 'customer_login' %}
          {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}
		<p class="field">
            <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
            <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
       	 </p>
          {% if form.password_needed %}
        <p class="field">
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
        </p>
          {% endif %}

          <div class="text-center  action-bottom">
            <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
            {% if form.password_needed %}
              <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %}
            <p>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </p>
          </div>

        {% endform %}
      </div>

      <div id="RecoverPasswordForm" class="hide">

        <div class="text-center defaut-header">
          <h1 class="text-center entry-title">{{ 'customer.recover_password.title' | t }}</h1>
          <div class="breadcrumbs">
              {% include 'bluesky_breadcrumb' %}
          </div>
        </div>
        <div class="form-vertical reset-password">
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
          {% form 'recover_customer_password' %}

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}
			 <p class="field">
            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input type="email" value="" name="email" id="RecoverEmail" class="input-full"autocorrect="off" autocapitalize="off">
          </p>
            <div class="text-center  action-bottom">
              <p>
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </p>

              <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
            </div>
          {% endform %}
        </div>

      </div>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
        <div class="text-center">
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
      {% endif %}
    </div>
	</div>
  </div>
</div>
