<div class="page-width">
   {% if settings.enabel_page_banner %}
        {% if settings.page_baner_image %}
        <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                          margin-bottom: {{settings.page_banner_margin_bottom}};
                                          height: {{settings.banner_height}};
                                          background-position: {{settings.background_position}}; 
                                          background-size: {{settings.background_size}}">
          <div class="defaut-header text-center have-background">
            <h1 class="entry-title">{{ 'customer.register.title' | t }}</h1>
          </div>
        </div>
        <div class="breadcrumbs outsite-banner">
          {% include 'bluesky_breadcrumb' %}
        </div>
        {% endif %}
        {% else %}
        <header class="defaut-header">
          <div class="breadcrumbs">
            {% include 'bluesky_breadcrumb' %}
          </div>
        </header>
        {% endif %}  
  <div class="container">
    <div class="grid">
      <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
        <div class="form-vertical">
          {% form 'create_customer' %}
            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}
          <p class="field">
            <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus required>
          </p>
          <p class="field">
            <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} required>
          </p>
          <p class="field">
            <label for="Email">{{ 'customer.register.email' | t }}</label>
            <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required>
          </p>
          <p class="field">
            <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
            <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" required>
          </p>
          <div class="sezione-privacy">
            <input type="checkbox" id="RegisterFormPrivacyPromo" name="customer[note][privacyPromo]" value="Accetto" required/>
            <label for="RegisterFormPrivacyPromo">Dichiaro di aver letto attentamente l’informativa e di aver preso visione del Regolamento UE n. 2016/679 - <a target="_blank" href="https://tipico-tips.myshopify.com/pages/privacy-policy">Privacy Policy</a></label><br/>
          </div>
          <div class="sezione-privacy">
            <input type="checkbox" id="RegisterFormPrivacyDati" name="customer[note][privacyDati]" value="Accetto" />
            <label for="RegisterFormPrivacyDati">Acconsento al trattamento dei dati per finalità di marketing - <a target="_blank" href="https://tipico-tips.myshopify.com/pages/privacy-policy">Privacy Policy</a></label><br/>
          </div>
          <div class="text-center  action-bottom">
            <p class="text-center">
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
            </p>
          </div>
          {% endform %}
        </div>
      </div>
    </div>
   </div>
</div>
