<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {% if settings.enabel_page_banner %}
        {% if settings.page_baner_image %}
        <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                          margin-bottom: {{settings.page_banner_margin_bottom}};
                                          height: {{settings.banner_height}};
                                          background-position: {{settings.background_position}}; 
                                          background-size: {{settings.background_size}}">
          <div class="defaut-header text-center have-background">
            <h1 class="entry-title">{{ 'customer.reset_password.title' | t }}</h1>
          </div>
        </div>
        <div class="breadcrumbs outsite-banner">
          {% include 'bluesky_breadcrumb' %}
        </div>
        {% endif %}
        {% else %}
        <header class="defaut-header">
          <div class="breadcrumbs">
            {% include 'bluesky_breadcrumb' %}
          </div>
        </header>
        {% endif %}  

          {% form 'reset_customer_password' %}
            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
