<div class="page-width">
  {% if settings.enabel_page_banner %}
        {% if settings.page_baner_image %}
        <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                          margin-bottom: {{settings.page_banner_margin_bottom}};
                                          height: {{settings.banner_height}};
                                          background-position: {{settings.background_position}}; 
                                          background-size: {{settings.background_size}}">
          <div class="defaut-header text-center have-background">
            <h1 class="entry-title">{{ 'cart.general.title' | t }}</h1>
          </div>
        </div>
        <div class="breadcrumbs outsite-banner">
          {% include 'bluesky_breadcrumb' %}
        </div>
        {% endif %}
        {% else %}
        <header class="defaut-header">
          <div class="breadcrumbs">
            {% include 'bluesky_breadcrumb' %}
          </div>
        </header>
        {% endif %}
</div>
<div class="container" data-section-id="{{ section.id }}" data-section-type="cart-template">

  {% if cart.item_count > 0 %}
	 {% if section.settings.img_cart_banner %}
  		<img class="banner-cart" src="{{section.settings.img_cart_banner | img_url: "master"}}"/>
  	{% endif %}
    <form action="/cart" method="post" novalidate class="cart row">
      <div class="table-cart col-sm-9">
     	 <table>
        <thead class="cart__row">
          <th scope="col">{{ 'cart.label.product' | t }}</th>
          <th class="cart__row-price" scope="col">{{ 'cart.label.price' | t }}</th>
          <th class="text-center small--hide" scope="col">{{ 'cart.label.quantity' | t }}</th>
          <th class="text-center small--hide total" scope="col">{{ 'cart.label.total' | t }}</th>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr class="cart__row border-bottom line{{ forloop.index }}{% if forloop.first %} border-top{% endif %}">
              <td class="cart__image-wrapper cart-info">
                <div class="info-item">
                <div class="cart-image-item">
                  <img class="cart__image" src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}" data-item-url="{{ item.url }}">	                  
                </div>
                <div class="info-view-item">
                <div class="list-view-item__title">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                    {% if item.quantity > 1 %}
                      <span class="medium-up--hide"><span class="visually-hidden">{{ 'cart.label.quantity' | t }}</span>(x{{ item.quantity }})</span>
                    {% endif %}
                  </a>
                </div>
                  <div class="remove-cart small--hide">
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove" aria-label="{{ 'cart.general.remove' | t }} {{ item.product.title }}"><i class="fa fa-trash-o"></i></a>
                  </div>                  
                {% unless item.variant.title contains 'Default' %}
                  <div class="cart__meta-text">
                    {% for option in item.product.options %}
                      {{ option }}: {{ item.variant.options[forloop.index0] }}<br/>
                    {% endfor %}
                  </div>
                {% endunless %}
                {%- assign property_size = item.properties | size -%}
                {% if property_size > 0 %}
                  <div class="cart__meta-text">
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                        {{ p.first }}:

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                      {% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}
                </div>
                </div>
              </td>
              <td class="cart__price-wrapper">
                {{ item.price | money }}

                {% for discount in item.discounts %}
                  <div class="cart-item__discount medium-up--hide">{{ discount.title }}</div>
                {% endfor %}
              </td>
              <td class="text-center small--hide">
                <div class="quantity field quantity-updown">              	
                    <input type="text" class="input-text qty text" step="1" min="1" max="" name="updates[]" id="updates_large_{{ item.key }}" value="{{ item.quantity }}"  min="0" pattern="[0-9]*" data-quantity-item="{{ forloop.index }}">
                    <div class="control">
                      <a class="qty-up-fixed-onclick qty-up" href="#"><i class="fa fa-caret-up"></i></a>
                      <a class="qty-down-fixed-onclick qty-down" href="#"><i class="fa fa-caret-down"></i></a>                  
                    </div>
                </div>
              </td>
              <td class="text-center small--hide total">
                {% if item.original_line_price != item.line_price %}
                  <div class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></div>
                {% endif %}

                <div>
                  {{ item.line_price | money }}
                </div>

                {% for discount in item.discounts %}
                  <div class="cart-item__discount">{{ discount.title }}</div>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
        <div class="action-cart">
          <div class="cart-action-left">
            <a href="collections/all" class="btn btn--secondary cart__continue small--hide cart__submit-control" >
              {{ 'cart.general.continue_shopping' | t }}
            </a>
            <input type="submit" name="update"
                   class="btn btn--secondary small--hide cart__submit-control update"
                   value="{{ 'cart.general.update' | t }}">
          </div>        
        </div>
      </div>
      <div class="cart__footer col-sm-3">
        <div class="grid">
          <h2>Riepilogo Carrello</h2>
          {% if section.settings.cart_notes_enable %}
            <div class="grid__item medium-up--one-half cart-note">
              <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}:</label>
              <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
            </div>
          {% endif %}
          <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">
            <div class="cart-total">
            <div class="subtotal">
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}:</span>
              <span class="cart__subtotal">{{ cart.total_price | money }}</span>
            </div>
            {% if cart.total_discounts > 0 %}
              <div class="cart__savings">
                {{ 'cart.general.savings' | t }}
                <span class="cart__savings-amount">{{ cart.total_discounts | money }}</span>
              </div>
            {% endif %}

            {%- capture taxes_shipping_checkout -%}
              {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif shop.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            {%- endcapture -%}
            <div class="cart__shipping rte">{{ taxes_shipping_checkout }}</div>
          </div>
            <div class="cart__submit-controls">
              <div class="cart-action-left">
                <input type="submit" name="checkout"
                  class="btn btn--small-wide cart__submit cart__submit-control"
                  value="{{ 'cart.general.checkout' | t }}">
                </div>
            </div>

            {% if additional_checkout_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <div class="empty-page-content text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
      <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
      <div class="cookie-message">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
      <a href="/" class="btn btn--has-icon-after cart__continue-btn">{{ 'general.404.link' | t }}</a>
    </div>
  {% endif %}
</div>



{% schema %}
{
  "name": {
    "en": "Cart page"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "en": "Enable cart notes"
      },
      "default": true
    },
	{
    "type": "image_picker",
    "id": "img_cart_banner",
    "label": "Banner image"
    }
  ]
}
{% endschema %}
