<div class="bst-services shipping_support" style="{% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}{% if section.settings.bg_color !=blank %}background-color:{{section.settings.bg_color}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
    <div class="row">
      <div class="bst-services-box col-md-4 col-sm-4 col-xs-12 col-content">
        <div class="box-inner">
          <div class="bst-services-img">
            <span class="number">1</span>
            {% if section.settings.img-services1 != blank %}
             <p class="bts-icon">{{ section.settings.img-services1 }}</p>
            {% else %}
               <p class="bts-icon"><span class="biolife-icon icon-beer"></span></p>
            {% endif %}
          </div>
          <div class="bst-content-static">
            {% if section.settings.title-services1 != blank %}
              <h6 class="bts-h6 bts-title" style="{% if section.settings.title_color !=blank %}color:{{section.settings.title_color}}; {% endif %}">{{ section.settings.title-services1 | escape }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="bst-services-box col-md-4 col-sm-4 col-xs-12 col-content">
        <div class="box-inner">
          <div class="bst-services-img">
            <span class="number">2</span>
            {% if section.settings.img-services2 != blank %}
             <p class="bts-icon">{{ section.settings.img-services2 }}</p>
            {% else %}
               <p class="bts-icon"><span class="biolife-icon icon-schedule"></span></p>
            {% endif %}
          </div>
          <div class="bst-content-static">
            {% if section.settings.title-services2 != blank %}
              <h6 class="bts-h6 bts-title" style="{% if section.settings.title_color !=blank %}color:{{section.settings.title_color}}; {% endif %}">{{ section.settings.title-services2 | escape }}</h2>
            {% endif %}
          </div>
        </div>
      </div> 
      <div class="bst-services-box col-md-4 col-sm-4 col-xs-12 col-content">
        <div class="box-inner">
          <span class="number">3</span>
          <div class="bst-services-img">
             {% if section.settings.img-services3 != blank %}
             <p class="bts-icon">{{ section.settings.img-services3 }}</p>
            {% else %}
               <p class="bts-icon"><span class="biolife-icon icon-car"></span></p>
            {% endif %}
          </div>
          <div class="bst-content-static">
            {% if section.settings.title-services3 != blank %}
              <h6 class="bts-h6 bts-title" style="{% if section.settings.title_color !=blank %}color:{{section.settings.title_color}}; {% endif %}">{{ section.settings.title-services3 | escape }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "BST Services",
    "class": "BlueskyTechco-section",
    "settings": [
		{
          "type": "header",
          "content": "Settings Section"
        },
        {
          "type": "checkbox",
          "id": "full_with",
          "label": "Enabel Full Width?"
        },
 		{
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#fff"
        },
		{
        "type": "text",
        "id": "padding_block",
        "label": "Padding",
        "placeholder": "0px 0px"
      	},
        {
        "type": "header",
        "content": "Services 1"
        },	
        {
          "type": "text",
          "id": "img-services1",
          "label": "Icon first",
		  "default": "<span class='biolife-icon icon-beer'></span>"
        },
        {
          "type": "text",
          "id": "title-services1",
          "label": "Title",
          "default": "full stamped product"
        },
		{
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#222222"
        },
        {
        "type": "header",
        "content": "Icon 2"
        },	
        {
          "type": "text",
          "id": "img-services2",
          "label": "Icon 2",
		  "default": "<span class='biolife-icon icon-schedule'></span>"
        },
        {
          "type": "text",
          "id": "title-services2",
          "label": "Title",
          "default": "place and delivery on time"
        },
        {
        "type": "header",
        "content": "Icon 3"
        },	
        {
          "type": "text",
          "id": "img-services3",
          "label": "Icon 3",
		  "default": "<span class='biolife-icon icon-schedule'></span>"
        },
        {
          "type": "text",
          "id": "title-services3",
          "label": "Title",
          "default": "Free shipping in the city"
        }
    ],
    "presets": [
      {
        "name": "BST Services",
        "category":"BlueskyTechco Image"
      }
    ]
  }
{% endschema %}
