<a herf="#" class="close-filter-mobile hidden-lg hidden-md"><span class="biolife-icon icon-close-menu"></span>{{ 'collections.filters.mobile_filter_close' | t }}</a>
{% if section.settings.sidebar_categories_enable %}
	
	{% assign Categories = section.settings.sidebar_categories_menu %}
	<div id="Categories" class="CategoriesSidebar widget ">
  		<h3 class="titleSidebar widget-title">{{ section.settings.sidebar_categories_title }}</h3>
      	{% if linklists[Categories] != empty %}
            <div class="Content product-categories">
              	{% for linkItem in linklists[Categories].links %}
              		<div class="itemCategory">
                        <p class="cateTitle">
                          	{% if linklists[linkItem.handle] != empty %}
                          		<a class="cateItem hasSubCategory{% if linkItem.active %} active{% endif %} collapsed" data-toggle="collapse" href="#subCategory{{ forloop.index }}" >{{ linkItem.title }}</a>
                          	{% else %}
                          		<a class="cateItem {% if linkItem.active %}active{% endif %}" href="{{ linkItem.url }}">{{ linkItem.title }}</a>
                            {% endif %}
                        </p>
                      	{% if linklists[linkItem.handle] != empty %}
                            <div id="subCategory{{ forloop.index }}" class="collapse">
                                <div class="panel-body">
                                  	<ul class="listSidebar list-unstyled">
                                  		{% for linkChildItem in linklists[linkItem.handle].links %}
                                      		<li><a href="{{ linkChildItem.url }}" title="{{ linkChildItem.title }}">{{ linkChildItem.title }}</a></li>
                                  		{% endfor %}
                                    </ul>
                                </div>
                            </div>
                      	{% endif %}
                	</div>
                {% endfor %}
            </div>
      	{% endif %}
	</div>
{% endif %}
<div class="block-actions filter-actions" style="display:none;">
  <a href="javascript:void(0)" class="action clear filter-clear"><span>Clear Filter</span></a>
</div>
{% if section.settings.sidebar_filter_brand_enable %}
	<div id="color-filter" class="brand-sidebar brand widget">
  		<h3 class="titleSidebar widget-title">{{section.settings.title_filter_brand}}</h3>
        <ul>
          {% for product_vendor in shop.vendors %}
          <li class="check-box"> 
            {{ product_vendor | link_to_vendor }}
          </li>
          {% endfor %}
        </ul>
	</div>
{% endif %}
{% if section.settings.sidebar_filter_color_enable %}
	<div id="color-filter" class="color-sidebar color widget">
  		<h3 class="titleSidebar widget-title">{{section.settings.title_filter_color}}</h3>
        <ul class="Content">
          {% assign tags = section.settings.filter_color_list_tags | split: ',' %}
          {% for t in tags %}
          {% assign tag = t | strip %}
          {% assign tag_value = tag | handleize %}
          <li class="filter-item{% if current_tags contains tag %} current-filter{% endif %}">
            <input class="hidden" type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
            <a href="javascript:void(0)" title="{{tag}}">
            	<span class="filter_color_bg" style="background:{{ tag_value | split: '|' | first }};">
                </span>
              	{{ tag_value | split: '|' | first }}
            </a>
          </li>
          {% endfor %}
        </ul>
	</div>
{% endif %}
{% if section.settings.sidebar_filter_size_enable %}
	<div id="color-filter" class="size-sidebar size widget">
  		<h3 class="titleSidebar widget-title">{{section.settings.title_filter_size}}</h3>
        <ul class="Content">
          {% assign tags = section.settings.filter_size_list_tags | split: ',' %}
          {% for t in tags %}
          {% assign tag = t | strip %}
          {% assign tag_value = tag | handleize %}
          <li class="filter-item{% if current_tags contains tag %} current-filter{% endif %} check-box">
            <input class="hidden" type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
            <a href="javascript:void(0)" title="{{tag}}">{{tag}}</a>
          </li>
          {% endfor %}
        </ul>
	</div>
{% endif %}
{% if section.settings.sidebar_filter_price_enable %}
	<div id="price-filter" class="price-sidebar widget">
  		<h3 class="titleSidebar widget-title">{{section.settings.title_filter_price}}</h3>
        <ul class="Content">
          {% assign tags = section.settings.filter_price_list_tags | split: ',' %}
          {% for t in tags %}
          {% assign tag = t | strip %}
          {% assign tag_value = tag | handleize %}
          <li class="filter-item{% if current_tags contains tag %} current-filter{% endif %} check-box">
            <input class="hidden" type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
            <a href="javascript:void(0)" title="{{tag}}">{{tag}}</a>
          </li>
          {% endfor %}
        </ul>
	</div>
{% endif %}
{% if section.settings.sidebar_filter_tags_enable %}
	<div id="color-filter" class="tag-sidebar widget widget_tag">
  		<h3 class="titleSidebar widget-title">{{section.settings.title_filter_tags}}</h3>
        <ul class="Content">
          {% assign tags = section.settings.filter_tags_list_tags | split: ',' %}
          {% for t in tags %}
          {% assign tag = t | strip %}
          {% assign tag_value = tag | handleize %}
          <li class="filter-item{% if current_tags contains tag %} current-filter{% endif %}">
            <input class="hidden" type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
            <a href="javascript:void(0)" title="{{tag}}">{{tag}}</a>
          </li>
          {% endfor %}
        </ul>
	</div>
{% endif %}
{% if section.settings.sidebar_baner_enable %}
	<div id="sidebar-baner" class="sidebar-baner widget">
        <div class="Content">
          <a href="{{ section.settings.sidebar_baner_link }}" class="sidebar-baner-link">
          	<img class="baner_image" src="{{ section.settings.sidebar_baner_image | img_url:"master" }}">
          </a>
        </div>
	</div>
{% endif %}
{% schema %}
    {
        "name": "Sidebar Categories",
        "settings": [
            {
                "type": "header",
                "content": "Sidebar Categories"
            },
            {
                "type": "checkbox",
                "id": "sidebar_categories_enable",
                "label": "Enable Sidebar Categories?"
            },
            {
                "type": "text",
                "id": "sidebar_categories_title",
                "placeholder": "Title for Block",
                "label": "Block Title"
            },
            {
                "type": "link_list",
                "id": "sidebar_categories_menu",
                "label": "Menu",
                "info": "Choose menu for block. Add new menu: Admin->Navigation->Menu"
            },
			{
                "type": "header",
                "content": "Sidebar Brand filter"
            },
			{
                "type": "checkbox",
                "id": "sidebar_filter_brand_enable",
                "label": "Enable Sidebar Filter Brand?",
				"default": true
            },
            {
              "type": "text",
              "id": "title_filter_brand",
              "label": "Title Widget",
              "default": "Brand"
            },
            {
                "type": "header",
                "content": "Sidebar Filter COLOR"
            },
			{
                "type": "checkbox",
                "id": "sidebar_filter_color_enable",
                "label": "Enable Sidebar Filter Color?",
				"default": true
            },
            {
              "type": "text",
              "id": "title_filter_color",
              "label": "Title Widget",
              "default": "Filter COLOR"
            },
            {
              "type": "textarea",
              "id": "filter_color_list_tags",
              "info": "Shop by Color list tags is tags in product",
              "label": "Shop by Color list tags"
            },
			{
                "type": "header",
                "content": "Sidebar Filter Size"
            },
			{
                "type": "checkbox",
                "id": "sidebar_filter_size_enable",
                "label": "Enable Sidebar Filter Size?",
				"default": true
            },
            {
              "type": "text",
              "id": "title_filter_size",
              "label": "Title Widget",
              "default": "Filter Size"
            },
            {
              "type": "textarea",
              "id": "filter_size_list_tags",
              "info": "Shop by Size list tags is tags in product",
              "label": "Shop by Size list tags"
            },
            {
                "type": "header",
                "content": "Sidebar Filter Price"
            },
			{
                "type": "checkbox",
                "id": "sidebar_filter_price_enable",
                "label": "Enable Sidebar Filter Price?",
				"default": true
            },
            {
              "type": "text",
              "id": "title_filter_price",
              "label": "Title",
              "default": "Filter Price"
            },
			{
              "type": "textarea",
              "id": "filter_price_list_tags",
              "info": "Shop by Price list tags is tags in product",
              "label": "Shop by Price list tags"
            },
			{
                "type": "header",
                "content": "Sidebar Filter Tags"
            },
			{
                "type": "checkbox",
                "id": "sidebar_filter_tags_enable",
                "label": "Enable Sidebar Filter Tags?",
				"default": true
            },
            {
              "type": "text",
              "id": "title_filter_tags",
              "label": "Title Widget",
              "default": "Filter Tags"
            },
            {
              "type": "textarea",
              "id": "filter_tags_list_tags",
              "info": "Shop by list tags is tags in product",
              "label": "Shop by list tags"
            },
			{
                "type": "header",
                "content": "Sidebar Baner"
            },
			{
                "type": "checkbox",
                "id": "sidebar_baner_enable",
                "label": "Enable Sidebar Baner?",
				"default": true
            },
			{
              "type": "text",
              "id": "sidebar_baner_link",
              "label": "Sidebar Baner Link"
            },
			{
             "type": "image_picker",
             "id": "sidebar_baner_image",
             "label": "Sidebar Baner Image"
            }
        ]
    }
{% endschema %}

