{%- assign productRow = section.settings.row | plus:0 -%}
{%- assign date_published = product.published_at | date:'%s' -%}
{%- assign date_now = 'now' | date:'%s' -%}
{%- assign date_difference = date_now | minus: date_published -%}
{%- assign limitProduct = section.settings.limitproduct | plus:0 -%}



<div class="bst-Collection-Tab bst-filter-grid-type-wrapper {{section.settings.style_type}}" style="background-color: {{section.settings.color_bg }};{% if section.settings.img_bg !=blank %}background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %}
                                     {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
   <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
        {% if section.settings.titles != blank %}
        <div class="bst-title text-center"> 
           <div class="bst-short-desc">{{section.settings.description }}</div>
          <h2>{{section.settings.titles }}</h2>
        </div>
     	{% endif %}
        <nav class="nav-collection-tab">
          	<div class="nav bst-nav bst-grid-item {% if section.settings.img_background != blank %}background-title{% endif %} {{section.settings.style_type}}" >
            {% for block in section.blocks %}		 
               {%- assign Collection = block.settings.collection_handle -%}
               <a href="#proTab{{ forloop.index }}{{ section.id }}" data-tabid="proTab{{ forloop.index }}{{ section.id }}" data-toggle="tab" data-url="{{ collections[Collection].url }}" {% if forloop.first %}class="active show"{% endif %}> 
                {% if block.settings.img_icon != blank %}
                 <img class="img-icon-tab" alt="{{ block.settings.img_icon }}" src="{{ block.settings.img_icon | img_url:imageSize }}" />
                {% endif %}   
                {% if block.settings.tab_title == blank %}
                  <span class="title-cate" {% if section.settings.img_background != blank %}style="background-image: url({{ section.settings.img_background | img_url: "master" }});"{% endif %}>{{ collections[Collection].title}}</span>
                  {% else %}
                  <span class="title-cate" {% if section.settings.img_background != blank %}style="background-image: url({{ section.settings.img_background | img_url: "master" }});"{% endif %}>
                  {{ block.settings.tab_title }}
                  </span>
                {% endif %}
                 <span class="count">{{ collections[Collection].products_count}}</span>
               </a>
            {% endfor %}
            </div>
        </nav>
        <div  class="bst-tab-collections clearfix">
            <div class="bst-tab-main-content  bst-tab-content">
                {% for block in section.blocks %}  
                {%- assign Collection = block.settings.collection_handle -%}
                    <div class="tab-pane tab-pane{{ forloop.index }} {% if forloop.first %} active{% endif %}" id="proTab{{ forloop.index }}{{ section.id }}"{% if forloop.first %} style="display:block;"{% endif %}>
                     	{% paginate collections[Collection].products by limitProduct %} 
                          <div class="bst-productList clearfix">
                                  <div class="owl owl-carousel bst-product-grid" data-item-slide="{{ section.settings.columnDefault }}"
                                                                   data-desksmall="{{ section.settings.columnDesksmall }}"
                                                                   data-tablet="{{ section.settings.columnTablet }}"
                                                                   data-tabletsmall="{{ section.settings.columnTabletsmall }}"
                                                                   data-mobile="{{ section.settings.columnMobile }}"
                                                                   data-margin="{{ section.settings.margin }}"
                                                                   data-nav="{{ section.settings.navigation }}" 
                                                                   data-dots ="{{ section.settings.dots }}" 
                                                                   data-autoplay="{{ section.settings.autoplays }}" 
                                                                   data-autospeed="{{ section.settings.autoplay_timeout }}" 
                                                                   data-speed="{{ section.settings.autoplay_speeds }}">
                                          {% assign i_col_1 = 0 %}
                         				  {% assign row_col_1 = productRow %}
                                    	  {% for product in collections[Collection].products limit:limitProduct %}
                                            {% assign row_i_1 = i_col_1 | modulo:row_col_1 %}
                                            {% assign i_col_1 = i_col_1 | plus: 1 %}
                                            {% assign remainder_col_1 = i_col_1 | modulo:row_col_1 %}
                                    		{% if row_i_1 == 0 %}
                                    		<div class=" productTab"  >
                                            {% endif %}
                                                    <div class="item">
                                                        {% include 'bluesky-product-grid' %}
                                                    </div>
                                            {% if remainder_col_1 == 0 or i_col_1 == collections[Collection].products_count or i_col_1 == limitProduct %}
                                               </div>
                                            {% endif %}
                                          {% endfor %}
                                  </div>
                          </div>
                       {% endpaginate %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "BST Collecttions Tabs",
	"class": "BlueskyTechco-section",
	"max_blocks": 8,
	"settings":[
		{
          "type": "header",
          "content": "Settings Section"
        },
        {
            "type": "checkbox",
            "id": "full_with",
            "label": "Enabel Full Width"
        },
		{
            "type": "select",
            "id": "style_type",
            "label": "Style",
            "default": "style_1",
            "options":[
				{
            		"value": "style_1",
                    "label": "Style 1"
            	},
            	{
            		"value": "style_2",
                    "label": "Style 2"
            	}
            ]
		},
		{
             "type": "image_picker",
             "id": "img_bg",
             "label": "Background Image "
		},
        {
            "type": "color",
            "id": "color_bg",
            "label": "Background Color",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "text",
            "id": "padding_block",
            "label": "Padding",
            "placeholder": "0px 0px"
        },
		{
          "type": "header",
          "content": "Heading"
        },
        {
            "type": "text",
            "id": "titles",
            "label": "Title",
			"default": "Bestseller Products"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default":"<span class='icon-at-top biolife-icon icon-organic'></span> All the best item for You"  
        },
              {
              "type": "image_picker",
              "id": "img_background",
              "label": "Background tab title"
              },              
        {
            "type": "header",
            "content": "General Settings"
        },
		{
            "id": "limitproduct",
            "label": "Limit Product",
            "default": "30",
            "type": "text"
		},
		{
            "type": "select",
            "id": "columnDefault",
            "label": "Default Column",
            "default": "3",
			"info": "Default Column: 3",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnDesksmall",
            "label": "Desksmall Column",
            "default": "3",
			"info": "From this breakpoint 960 to 1199 default 3",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnTablet",
            "label": "Tablet Column",
            "default": "2",
			"info": "From this breakpoint 678 to 959 default 2",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnTabletsmall",
            "label": "Tabletsmall Column",
            "default": "1",
			"info": "From this breakpoint 480 to 677 default 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnMobile",
            "label": "Mobile Column",
            "default": "1",
			"info": "In this configuration 1 is enabled from 0px up to 479px screen size",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
        "type": "range",
        "id": "margin",
        "label": {
          "en": "Margin",
          "de": "Margin",
          "fr": "Margin"
          },
          "min": 0,
          "max": 45,
          "step": 5,
          "default": 30
        },
        {
             "type": "checkbox",
             "id": "navigation",
             "label": "Active Navigation",
             "default": true
        },
		{
             "type": "checkbox",
             "id": "dots",
             "label": "Active Dots",
             "default": false
         },
         {
             "type": "checkbox",
             "id": "autoplays",
             "label": "Auto Play",
             "default": true
         },
         {
			 "type": "text",
             "id": "autoplay_timeout",
             "label": "Auto Play Timeout",
             "info": "Default: 6000(ms)",
             "default": "6000"
         },
		 {
             "type": "text",
             "id": "autoplay_speeds",
             "label": "Auto Play Speed",
             "info": "Animation Speed",
             "default": "1000"
         },
		{
            "type": "select",
            "id": "row",
            "label": "Row",
            "default": "1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	}
            ]
		}
	],
	"blocks": [
		{
			"type": "tabitem",
            "name": "Tab Item",
            "settings": [
                {
                     "type": "image_picker",
                     "id": "img_icon",
                     "label": "Icon title"
                },
				{
                    "type": "text",
                    "id": "tab_title",
                    "label": "Tab Title"
                },
                {
                    "type": "collection",
                    "id": "collection_handle",
                    "label": "Collection"
                }
			]
		}
    ],
	"presets": [
        {
            "name": "BST Product Collecttions Tabs",
            "category": "BlueskyTechco Product",
			"blocks": [
				{
                    "type":"tabitem",
					"settings":{
						"tab_title": "Title 1",
						"collection_handle": "frontpage"
					}
                },
				{
                    "type":"tabitem",
					"settings":{
						"tab_title": "Title 2",
						"collection_handle": "frontpage"
					}
                },
				{
                    "type":"tabitem",
					"settings":{
						"tab_title": "Title 3",
						"collection_handle": "frontpage"
					}
                }
			]
        }
    ]
}
{% endschema %}
