{%- assign productColumn = section.settings.column | plus:0 -%}
{%- assign productRow = section.settings.row | plus:0 -%}
{%- assign productLimit =  productColumn | times: productRow  -%}
{%- assign productFilter = section.settings.product-filter -%}

<div id="bst-Collection-grid" class="bst-filter-grid-type-wrapper collection-grid" style="background-color: {{section.settings.color_bg }};{% if section.settings.img_bg !=blank %}background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %}
                                     {% if section.settings.margin_block !=blank %}padding:{{section.settings.margin_block}}; {% endif %}">
   <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
        {% if section.settings.titles != blank %}
        <div class="bst-title text-center"> 
          <h2>{{section.settings.titles }}</h2>
          {% if section.settings.description != blank %}
          	<div class="bst-short-desc">{{section.settings.description }}</div>
          {% endif %}
        </div>
  		{% endif %}
        <div class="bst-collections-productgird clearfix">
            <div class="bst-product-grid flexRow row" >
               {% for product in collections[productFilter].products limit:productLimit %}
                  <div class="col-products col-md-{% if productColumn == 2 %}6{% endif %}{% if productColumn == 3 %}4{% endif %}{% if productColumn == 4 %}3{% endif %} col-sm-6 " >
                       <div class="item">
                           {% include 'bluesky-product-grid' %}
                       </div>
                  </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
	"name": "BST Product Gird",
	"class": "BlueskyTechco-section",
	"settings":[
		{
          "type": "header",
          "content": "Settings Section"
        },
        {
            "type": "checkbox",
            "id": "full_with",
            "label": "Enabel Full Width",
			"default": true
        },
		{
             "type": "image_picker",
             "id": "img_bg",
             "label": "Background Image "
		},
        {
            "type": "color",
            "id": "color_bg",
            "label": "Background Color",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "text",
            "id": "margin_block",
            "label": "Margin",
            "placeholder": "0px 0px"
        },
		{
          "type": "header",
          "content": "Heading"
        },
        {
              "type": "text",
              "id": "titles",
              "label": "Title"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description" 
        },
        {
            "type": "header",
            "content": "General Settings"
        },
		{
            "type": "select",
            "id": "product-filter",
            "label": "Filter",
            "default": "all",
            "options":[
				{
            		"value": "all",
                    "label": "All"
            	},
            	{
            		"value": "new-arrivals",
                    "label": "New Arrivals"
            	},
            	{
            		"value": "best-sellers",
                    "label": "Best Sellers"
            	}
            ]
		},
		{
            "type": "select",
            "id": "column",
            "label": "Column",
            "default": "3",
            "options":[
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "row",
            "label": "Row",
            "default": "2",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	}
            ]
		}
	],
	"presets": [
        {
            "name": "BST Product Gird",
            "category": "BlueskyTechco Product"
        }
    ]
}
{% endschema %}
