<div id="bst-GrupProduct" class="bst-filter-grid-type-wrapper group-section-product" style="{% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
   <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
     	<div class="row-group-product {% if section.settings.collection_tab_1 != blank and section.settings.collection_tab_2 != blank and section.settings.collection_tab_3 != blank%}three {% elsif section.settings.collection_tab_1 != blank and section.settings.collection_tab_2 != blank %}two {% elsif section.settings.collection_tab_1 != blank and section.settings.collection_tab_3 != blank %}two {% elsif section.settings.collection_tab_3 != blank and section.settings.collection_tab_2 != blank %} two {% else %}one {% endif %}">
         
          	{% if section.settings.collection_tab_1 != blank %}
          	<div class="col-group {{section.settings.style_type}}">
          		<div class="tab-collection">
                  	<h3 class="title">{{section.settings.title_tab_1}}</h3>
                  	<div class="collection-slide">
                        <div  class="owl owl-carousel" data-item-slide="{{ section.settings.columnDefault }}"
        											   data-desksmall="{{ section.settings.columnDesksmall }}"
                                                        data-tablet="{{ section.settings.columnTablet }}"
                                                        data-tabletsmall="{{ section.settings.columnTabletsmall }}"
                                                        data-mobile="{{ section.settings.columnMobile }}"
                             							data-margin="{{ section.settings.margin }}"
                                                        data-nav="1" 
                                                        data-dots ="false" 
                                                        data-autoplay="false"  >
                          {% assign i_col_1 = 0 %}
                          {% assign row_col_1 = section.settings.show_item_1 %}
                          {% for product in collections[section.settings.collection_tab_1].products limit:limit1 %}
                          	  {% assign row_i_1 = i_col_1 | modulo:row_col_1 %}
                              {% assign i_col_1 = i_col_1 | plus: 1 %}
                              {% assign remainder_col_1 = i_col_1 | modulo:row_col_1 %}
                              {% if row_i_1 == 0 %}
                          	 	 <div class="product_row">
                              {% endif %}
                              <div class="item">
                                    {% include 'bluesky-productgrup' %}
                              </div>
                              {% if remainder_col_1 == 0 or i_col_1 == collections[section.settings.collection_tab_1].products_count or i_col_1 == limit1 %}
                                 </div>
                              {% endif %}
                          {% endfor %}
                        </div>
                     </div>
                 </div>
     		</div>
          	{% endif %}
          	{% if section.settings.collection_tab_2 != blank %}
          	<div class="col-group {{section.settings.style_type}}">
          		<div class="tab-collection">
                  	<h3 class="title">{{section.settings.title_tab_2}}</h3>
                  	<div class="collection-slide">
                        <div  class="owl owl-carousel"	data-item-slide="{{ section.settings.columnDefault }}"
        											   data-desksmall="{{ section.settings.columnDesksmall }}"
                                                        data-tablet="{{ section.settings.columnTablet }}"
                                                        data-tabletsmall="{{ section.settings.columnTabletsmall }}"
                                                        data-mobile="{{ section.settings.columnMobile }}"
                             							data-margin="{{ section.settings.margin }}"
                                                        data-nav="1" 
                                                        data-dots ="false" 
                                                        data-autoplay="false"   >
                          {% assign i_col_2 = 0 %}
                          {% assign row_col_2 = section.settings.show_item_2 %}
                          {% for product in collections[section.settings.collection_tab_2].products limit:limit2 %}
                          	  {% assign row_i_2 = i_col_2 | modulo:row_col_2 %}
                              {% assign i_col_2 = i_col_2 | plus: 1 %}
                              {% assign remainder_col_2 = i_col_2 | modulo:row_col_2 %}
                              {% if row_i_2 == 0 %}
                          	 	 <div class="product_row">
                              {% endif %}
                              <div class="item">
                                    {% include 'bluesky-productgrup' %}
                              </div>
                              {% if remainder_col_2 == 0 or i_col_2 == collections[section.settings.collection_tab_2].products_count or i_col_2 == limit2 %}
                                 </div>
                              {% endif %}
                          {% endfor %}
                        </div>
                     </div>
                 </div>
     		</div>
          	{% endif %}
 			{% if section.settings.collection_tab_3 != blank %}
          	<div class="col-group {{section.settings.style_type}}">
          		<div class="tab-collection">
                  	<h3 class="title">{{section.settings.title_tab_3}}</h3>
                  	<div class="collection-slide">
                        <div  class="owl owl-carousel"	data-item-slide="{{ section.settings.columnDefault }}"
        											   data-desksmall="{{ section.settings.columnDesksmall }}"
                                                        data-tablet="{{ section.settings.columnTablet }}"
                                                        data-tabletsmall="{{ section.settings.columnTabletsmall }}"
                                                        data-mobile="{{ section.settings.columnMobile }}"
                             							data-margin="{{ section.settings.margin }}"
                                                        data-nav="1" 
                                                        data-dots ="false" 
                                                        data-autoplay="false"   >
                          {% assign i_col_3 = 0 %}
                          {% assign row_col_3 = section.settings.show_item_3 %}
                          {% for product in collections[section.settings.collection_tab_3].products limit:limit3 %}
                          	  {% assign row_i_3 = i_col_3 | modulo:row_col_3 %}
                              {% assign i_col_3 = i_col_3 | plus: 1 %}
                              {% assign remainder_col_3 = i_col_3 | modulo:row_col_3 %}
                              {% if row_i_3 == 0 %}
                          	 	 <div class="product_row">
                              {% endif %}
                              <div class="item">
                                    {% include 'bluesky-productgrup' %}
                              </div>
                              {% if remainder_col_3 == 0 or i_col_3 == collections[section.settings.collection_tab_3].products_count or i_col_3 == limit3 %}
                                 </div>
                              {% endif %}
                          {% endfor %}
                        </div>
                     </div>
                 </div>
     		</div>
          	{% endif %}         
     	</div>
   </div>
</div>
{% schema %}
  {
    "name": "Group Products",
    "settings": [
		{
          "type": "header",
          "content": "Settings Section"
        },
		{
          "type": "checkbox",
          "id": "full_with",
          "label": "Enabel Full Width?",
          "default": false
        },
		{
            "type": "select",
            "id": "style_type",
            "label": "Style",
            "default": "style_1",
            "options":[
				{
            		"value": "style_1",
                    "label": "Style 1"
            	},
            	{
            		"value": "style_2",
                    "label": "Style 2"
            	}
            ]
		},
        {
          "type": "text",
          "id": "padding_block",
          "label": "Padding",
          "placeholder": "0px 0px"
        },
		{
            "type": "select",
            "id": "columnDefault",
            "label": "Default Column",
            "default": "1",
			"info": "Default Column: 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnDesksmall",
            "label": "Desksmall Column",
            "default": "1",
			"info": "From this breakpoint 960 to 1199 default 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnTablet",
            "label": "Tablet Column",
            "default": "1",
			"info": "From this breakpoint 678 to 959 default 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnTabletsmall",
            "label": "Tabletsmall Column",
            "default": "1",
			"info": "From this breakpoint 480 to 677 default 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnMobile",
            "label": "Mobile Column",
            "default": "1",
			"info": "In this configuration 1 is enabled from 0px up to 479px screen size",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
        "type": "range",
        "id": "margin",
        "label": {
          "en": "Margin",
          "de": "Margin",
          "fr": "Margin"
          },
          "min": 0,
          "max": 45,
          "step": 5,
          "default": 0
        },
        {
          "type": "header",
          "content": "Group Tab Collection 1"
        },
		{
          "type": "text",
          "id": "title_tab_1",
          "label": "Title"
        },
		{
            "type": "select",
            "id": "show_item_1",
            "label": "Row",
            "default": "3",
            "options":[
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
          "type": "text",
          "id": "show_max_item_1",
          "label": "Max Item"
        },
        {
          "type": "collection",
          "id": "collection_tab_1",
          "label": "Collection"
        },
        {
          "type": "header",
          "content": "Group Tab Collection 2"
        },
		{
          "type": "text",
          "id": "title_tab_2",
          "label": "Title"
        },
		{
            "type": "select",
            "id": "show_item_2",
            "label": "Row",
            "default": "3",
            "options":[
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
          "type": "text",
          "id": "show_max_item_2",
          "label": "Max Item"
        },
        {
          "type": "collection",
          "id": "collection_tab_2",
          "label": "Collection"
        },
		{
          "type": "header",
          "content": "Group Tab Collection 3"
        },
		{
          "type": "text",
          "id": "title_tab_3",
          "label": "Title"
        },
		{
            "type": "select",
            "id": "show_item_3",
            "label": "Row",
            "default": "3",
            "options":[
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
          "type": "text",
          "id": "show_max_item_3",
          "label": "Max Item"
        },
        {
          "type": "collection",
          "id": "collection_tab_3",
          "label": "Collection"
        }		
      ],
	"presets": [
        {
            "name": "BST Group Products",
            "category": "BlueskyTechco Product"
		}
    ]
  }
{% endschema %}


