  <div class="page-width">
     {% if settings.enabel_page_banner %}
          {% if settings.page_baner_image %}
            <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                                margin-bottom: {{settings.page_banner_margin_bottom}};
                                                height: {{settings.banner_height}};
                                                background-position: {{settings.background_position}}; 
                                                background-size: {{settings.background_size}}">
                  <div class="defaut-header text-center have-background">
                    <h1 class="entry-title">{{ page_title }}</h1>
                  </div>
              </div>
              <div class="breadcrumbs outsite-banner">
                {% include 'bluesky_breadcrumb' %}
              </div>
            {% endif %}
      	{% else %}
          <header class="defaut-header">
            <div class="breadcrumbs">
               {% include 'bluesky_breadcrumb' %}
            </div>
          </header>
       {% endif %}
   
  </div>
<div class="container page-width single-product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
  <div id="product-{{product.id}}" class="row grid product-single product-view" data-handle="{{product.handle}}" data-id="{{product.id}}">
    {% form 'product', product, class:form_classes, novalidate: 'novalidate' %}
    <div class="grid__item product-single__photos vertical-{{settings.layout_slide_pro}}-slider col-sm-5{{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      <div class="single-product-image" data-columns="{{settings.show_slide_pro}}">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '.' -%}
		
        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper">
          <div
          id="{{ zoom_img_id }}"
          class="product-single__photo {% if product.images.size > 1 %} zoomImage product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hidden{% endunless %}"
          data-image-id="{{ image.id }}"
          data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}">
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} {% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: settings.single_product_image }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 tabindex="-1"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %} 
      </div>
      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div class="jcarousel-container jcarousel thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          <ul class="flex-control-nav flex-control-thumbs" >
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}">
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: settings.width_hieght_slide_pro }}" alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    <div class="grid__item col-sm-4 col-info {{ product_description_width }}">
      <div class="product-single__meta single-product-info">
        <h1 class="product-single__title product_title">{{ product.title }}</h1>
		<div class="proReviews">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
        <div class="product_meta">
          {% if section.settings.product_vendor_enable %}
          <p class="proAttr productVendor"><label class="labels">{{ 'products.product.vendor' | t }}: </label> {{ product.vendor }}</p>
          {% endif %}
          {{ product.variant.sku }}
          {% if section.settings.product_type_enable %}
          <p class="proAttr productType"><label class="labels">{{ 'products.product.type' | t }}:</label> {{ product.type }}</p>
          {% endif %}
        </div>
        {% if section.settings.product_available_enable %}
          {% if product.available %}
          	<p class="proAttr productAvailability instock"><!--<label>{{ 'products.product.availability' | t }}:</label>--> {{'products.product.instock' | t }}</p>
          {% else %}
         	 <p class="proAttr productAvailability outstock"><!--<label>{{ 'products.product.availability' | t }}: </label>-->{{'products.product.outstock' | t }}</p>
          {% endif %}
        {% endif %}
        {% if product.description != blank %}
          <div class="proShortDescription rte" itemprop="description">
            {{ product.description | strip_html | truncatewords: 20 }}
          </div>
        {% endif %}
        <div class="product__price price">
           {% include 'blusky-product-price', variant: current_variant %}
        </div>
        {% if settings.show_swatch %}
      	  {% assign variantCount = product.variants | size %}
          <div class="proVariants clearfix">
            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js hidden">
              {% for variant in product.variants %}
                {% if variant.available %}
                	<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
            {% if variantCount > 1 %}
              {% for option in product.options %}
              	{% include 'bluesky-swatch' with option %}
              {% endfor %}
            {% endif %}
          </div>
        {% else %}
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="selector-wrapper js product-form__item">
              <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                {% for value in option.values %}
                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        {% endunless %}
          <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js hidden" >
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
              {% else %}
             	 <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% endif %}
        {% if settings.show_countdown_product %}
        	{% include 'blusky-countdown-product' %}
        {% endif %}
          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}
          {% endcapture %}
    	</div>
     </div>
     <div class="grid__item col-sm-3 col-action">
      	<div class="product-single__meta single-product-action">
          <div class="action-add-cart">
            <div class="chose-quanlity">
              <label class="labels">{{ 'products.product.quanlity' | t }}: </label>
              <div class="quantity field quantity-updown">              	
                <input type="text" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="">
                <div class="control">
                  <a class="qty-up-fixed-onclick qty-up" href="#"><i class="fa fa-caret-up"></i></a>
                  <a class="qty-down-fixed-onclick qty-down" href="#"><i class="fa fa-caret-down"></i></a>                  
                </div>
              </div>
            </div>
            <div class="product-form__item product-form__item--submit{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit">
                <span id="AddToCartText-{{ section.id }}">
                  {% unless current_variant.available %}
                  {{ 'products.product.sold_out' | t }}
                  {% else %}
                  {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
              </button>
              {{ form | payment_button }}
              <div class="wishlist">
                <a href="{% if customer %}javascript:void(0){% else %}/account{% endif %}" class="action towishlist {% if customer %}action--wishlist tile-actions--btn flex wishlist-btn{% endif %}" title="Add to Wish List" data-product-id="{{ product.handle }}">
                  <i class="fa fa-plus"></i>
                  {% comment %}
                  <img src="https://cdn.shopify.com/s/files/1/0507/1342/8140/files/wishlist.png?v=1607513812" width="15px">
                  {% endcomment %}
                   {{ 'products.product.add_to_wishlist' | t }}
                </a>
              </div>
            </div>
          </div>
          {% if section.settings.show_share_buttons %}
         	 {% include 'bluesky-social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
           {% if section.settings.enable_payment_method %}
				<ul class="single-payment">
				    <li class="item">
                        <a target="_blank" href="{{section.settings.payment_link1}}" class="">
							<img src="{{ section.settings.payment1 | img_url: "master" }}"></a>
                    </li>
				    <li class="item">
                        <a href="{{section.settings.payment_link2}}" class="">
							<img src="{{ section.settings.payment2 | img_url: "master" }}"></a>
                    </li>
				    <li class="item">
                        <a href="{{section.settings.payment_link3}}" class="">
							<img src="{{ section.settings.payment3 | img_url: "master" }}"></a>
                    </li>
				    <li class="item">
                        <a href="{{section.settings.payment_link4}}" class="">
							<img src="{{ section.settings.payment4 | img_url: "master" }}"></a>
                    </li>
				 </ul>
          	{% endif %}
    	</div>
     </div>
     {% endform %}
  </div>

  <section class="proDetailInfo">
    <div class="container">
        <div class="row">
        <ul class="nav nav-tabs">
           {% if section.settings.product_tab1_enable %}
               <li><a href="#proTabs1" class="active" data-toggle="tab">{{ section.settings.product_tab1_title }}</a></li>
           {% endif %}
           {% if section.settings.product_tab2_enable %}
               <li><a href="#proTabs2" data-toggle="tab">{{ section.settings.product_tab2_title }}</a></li>
           {% endif %}
        </ul>
      <div class="tab-content">
        {% if section.settings.product_tab1_enable %}
               <div class="tab-pane active show" id="proTabs1">{{ product.description }}</div>
        {% endif %}
        {% if section.settings.product_tab2_enable %}
              <div class="tab-pane" id="proTabs2">
                  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
              </div>
        {% endif %}
      </div>
    </div>
   </div>
  </section>
  {% include 'bluesky-product-related' %}
</div>


{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fr": "Pages de produits"
  },
  "settings": [
	  {
        "type": "header",
        "content": "Product Info"
   	  },
      {
      "type": "checkbox",
      "id": "product_available_enable",
      "label": "Display Product Available?",
      "default": false
      },
      {
      "type": "checkbox",
      "id": "product_type_enable",
      "label": "Display Product Type?",
      "default": false
      },
      {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": "Display Product Vendor?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Affichez les boutons de partage sur les médias sociaux"
      },
      "default": true
    },
 	{
        "type": "header",
        "content": "Payment method"
   	  },
      {
      "type": "checkbox",
      "id": "enable_payment_method",
      "label": "Enable payment?",
      "default": true
      },
 	{
        "type": "header",
        "content": "Payment method 1"
   	},
    {
    "type": "image_picker",
    "id": "payment1",
    "label": "Upload payment icon"
    },
	{
    "type": "text",
    "id": "payment_link1",
    "label": "Link",
    "default": "#"
    },
	{
        "type": "header",
        "content": "Payment method 2"
   	},
    {
    "type": "image_picker",
    "id": "payment2",
    "label": "Upload payment icon"
    },
	{
    "type": "text",
    "id": "payment_link2",
    "label": "Link",
    "default": "#"
    },
	{
        "type": "header",
        "content": "Payment method 3"
   	},
    {
    "type": "image_picker",
    "id": "payment3",
    "label": "Upload payment icon"
    },
	{
    "type": "text",
    "id": "payment_link3",
    "label": "Link",
    "default": "#"
    },
	{
        "type": "header",
        "content": "Payment method 4"
   	},
    {
    "type": "image_picker",
    "id": "payment4",
    "label": "Upload payment icon"
    },
	{
    "type": "text",
    "id": "payment_link4",
    "label": "Link",
    "default": "#"
    },
	{
        "type": "header",
        "content": "Product Detail Info"
    },
	{
    "type": "checkbox",
        "id": "product_tab1_enable",
        "label": "Enable Product Tab 1?",
		"default": true
    },
	{
        "type": "text",
        "id": "product_tab1_title",
        "label": "Title",
        "default": "Description"
    },
	{
    "type": "checkbox",
        "id": "product_tab2_enable",
        "label": "Enable Product Tab 2?",
		"default": true
    },
	{
        "type": "text",
        "id": "product_tab2_title",
        "label": "Title",
        "default": "Review"
    },
	{
        "type": "header",
        "content": "Product Related"
    },
    {
    "type": "checkbox",
        "id": "product_related_enable",
        "label": "Enable Product Related?"
    },
	{
      "type": "image_picker",
      "id": "product_related_image",
      "label": "Upload related icon"
    },
    {
        "type": "text",
        "id": "product_related_title",
        "label": "Title",
        "default": "Related Products"
    },
    {
        "type": "textarea",
        "id": "product_related_description",
        "label": "Description",
		"default":"All the best item for You"  
    },
	{
        "type": "text",
        "id": "product_related_limit",
        "label": "Product Limit",
        "default": "8"
    }
  ]
}
{% endschema %}
