<div class="page-width">
  <div class="grid contact-us">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      {% if settings.enabel_page_banner %}
        {% if settings.page_baner_image %}
        <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                          margin-bottom: {{settings.page_banner_margin_bottom}};
                                          height: {{settings.banner_height}};
                                          background-position: {{settings.background_position}}; 
                                          background-size: {{settings.background_size}}">
          <div class="defaut-header text-center have-background">
            <h1 class="entry-title">{{ page.title }}</h1>
          </div>
        </div>
        <div class="breadcrumbs outsite-banner">
          {% include 'bluesky_breadcrumb' %}
        </div>
        {% endif %}
        {% else %}
        <header class="defaut-header">
          <div class="breadcrumbs">
            {% include 'bluesky_breadcrumb' %}
          </div>
        </header>
        {% endif %}
      {% if page.content.size > 0 %}
          {{ page.content }}
      {% endif %}

      <div class="contact-form form-vertical container">
        <div class="bst-title">
          <h3>{{section.settings.form_title}}</h3>
        </div>
        <div class="row">
          <div class="col-sm-6 contact-info">
            {% if section.settings.form_descriptions %}
              <div class="bst-short-des">
                {{section.settings.form_descriptions}}
              </div>
           {% endif %}
            <ul style="padding-left: 0;">
              {% if section.settings.form_address %}
              	<li>
                  	<span class="label">{{ 'general.contact.address' | t }}</span>
                   {{section.settings.form_address}}
              	</li>
              {% endif %}
               {% if section.settings.form_phone %}
              	<li>
              		<span class="label">{{ 'general.contact.phone' | t }}</span>
                   {{section.settings.form_phone}}
              </li>
              {% endif %}
               {% if section.settings.form_mail %}
              	<li>
              		<span class="label">{{ 'general.contact.email' | t }}</span>
                   {{section.settings.form_mail}}
              </li>
              {% endif %}
               {% if section.settings.form_time %}
              	<li>
              		<span class="label">{{ 'general.contact.store_open' | t }}</span>
                   {{section.settings.form_time}}
              </li>
              {% endif %}
            </ul>
             {%- include "social" -%}
          </div>
          <div class="col-sm-6">
            
            {% form 'contact' %}

              {%- assign formId = 'ContactForm' -%}

              {% include 'bluesky-form-status', formId %}
			<div class="bst-title"> <h3>Scrivici un messaggio</h3>  </div>
              <div class="grid grid--half-gutters input-group">
                <div class="grid__item medium-up--one-half field name">
                  <input type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'contact.form.name' | t }} *" required>
                </div>
                <div class="grid__item medium-up--one-half field email">
                  <input
                    type="email"
                    id="{{ formId }}-email"
                    name="contact[email]"
                    autocorrect="off"
                    autocapitalize="off"
                    placeholder="{{ 'contact.form.email' | t }} *"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    aria-required="true"
                    {%- if form.errors contains 'email' -%}
                      class="input--error"
                      aria-invalid="true"
                      aria-describedby="{{ formId }}-email-error"
                    {%- endif -%}
                    required >
                  <span id="{{ formId}}-email-error" class="input-error-message"> {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                </div>
                <div class="phone-number field">
                  <input type="tel" id="{{ formId }}-phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'contact.form.phone' | t }} *" required>
                 </div>
              </div>

            <div class="message field">
              <textarea rows="10" id="{{ formId }}-message" name="contact[body]" placeholder="{{ 'contact.form.message' | t }} *" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
             </div>
            <div class="sezione-privacy">
              <input type="checkbox" id="RegisterFormPrivacyPromo" name="customer[note][privacyPromo]" value="Accetto" required/>
              <label for="RegisterFormPrivacyPromo">Dichiaro di aver letto attentamente l’informativa e di aver preso visione del Regolamento UE n. 2016/679 - <a target="_blank" href="https://tipico-tips.myshopify.com/pages/privacy-policy">Privacy Policy</a></label><br/>
            </div>
            <div class="sezione-privacy">
              <input type="checkbox" id="RegisterFormPrivacyDati" name="customer[note][privacyDati]" value="Accetto" />
              <label for="RegisterFormPrivacyDati">Acconsento al trattamento dei dati per finalità di marketing - <a target="_blank" href="https://tipico-tips.myshopify.com/pages/privacy-policy">Privacy Policy</a></label><br/>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                 <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">
              </div>
            </div>
            {% endform %}
      	</div>
      </div>
    </div>
   </div>
   <div class="grid__item tipico__map">
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11497.370537654477!2d12.9139293!3d43.9108799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcfc9e7d35b7ac084!2sTipico.tips%20-%20Local%20gems%20from%20Pesaro%20e%20Urbino!5e0!3m2!1sit!2sit!4v1630570561608!5m2!1sit!2sit" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
   </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
		{
        "type": "header",
        "content": "Settings Section"
      },
	  {
        "type": "text",
        "id": "form_title",
        "label": "Form title",
        "default": "Our Contact"
      },
      {
        "type": "textarea",
        "id": "form_descriptions",
        "label": "Contact descriptions",
        "default":"<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>"
          
      },
	  {
        "type": "text",
        "id": "form_address",
        "label": "Address",
        "default": "7563 St. Vicent Place, Glasgow, Greater Newyork NH7689, UK"
      },
      {
        "type": "text",
        "id": "form_phone",
        "label": "Phone",
        "default": "(800) 123 456789"
      },
      {
        "type": "text",
        "id": "form_mail",
        "label": "Email",
        "default": "Organic@example.com"
      },
      {
        "type": "text",
        "id": "form_time",
        "label": "Store open",
        "default": "8am - 08pm, Mon - Sat"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
