<div class="bst-blog-posts blog-posts" style="background-color: {{section.settings.color_bg }};{% if section.settings.img_bg !=blank %}background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %}">
  <div class="container{% if section.settings.full_with %}-full{% endif %}">
    <div class="blog-content-generate" style="{% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}};{% endif %}">
  {% if section.settings.titles != blank %}
        <div class="bst-title text-center"> 
          {% if section.settings.description != blank %}
          	<div class="bst-short-desc">{{section.settings.description }}</div>
          {% endif %}
          <h2>{{section.settings.titles }}</h2>
        </div>
  {% endif %}

  {%- assign blog = blogs[section.settings.blog] -%}
  <div class="inner-content {{section.settings.style_type}}">
    
  {% unless blog.articles_count == 0 %}
    <ul class="owl owl-carousel grid-blog"  data-item-slide="{{ section.settings.columnDefault }}"
        									data-desksmall="{{ section.settings.columnDesksmall }}"
        									data-tablet="{{ section.settings.columnTablet }}"
                     						data-tabletsmall="{{ section.settings.columnTabletsmall }}"
        									data-mobile="{{ section.settings.columnMobile }}"
        									data-margin="{{ section.settings.margin }}"
                     						data-nav="{{ section.settings.navigation }}" 
                                            data-dots ="{{ section.settings.dots }}" 
                                            data-autoplay="{{ section.settings.autoplays }}" 
                                            data-autospeed="{{ section.settings.autoplay_timeout }}" 
                                            data-speed="{{ section.settings.autoplay_speeds }}" >
      {% for article in blog.articles limit: section.settings.post_limit %}
        <li class="grid-item medium-up-one-third post-wrapper">
          <div class="post-thumb">
            <a href="{{ article.url }}" class="article-link">
              {% if article.image %}
                {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                <div id="{{ img_wrapper_id }}" class="article-grid-image-wrapper">
                  <div class="article-grid-image-container">
                    <img id="{{ img_id }}"
                        class="article-grid-image lazyload"
                        src="{{ article.image | img_url: 'large' }}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ article.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="">
                  </div>
                </div>
              {% endif %}
            </a>
            {% if section.settings.blog_show_date %}
              <span class="article__date post-date">
                <span class="day">{{ article.published_at | time_tag: format: 'day' }}</span>
                {{ article.published_at | time_tag: format: 'month' }}
              </span>
            {% endif %}            
          </div>
          <div class="article-grid-meta post-info">	
            <h3 class="article__title post-title">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h3>
            {% if section.settings.blog_show_author %}
            	<span class="article__author post-by"><i class="biolife-icon icon-login"></i><span class="author">{{ article.author }}</span></span>
            {% endif %}	            
            <div class="rte article__grid-excerpt post-excerpt">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                {{ article.content | strip_html | truncate: 120 }}
              {% endif %}
            </div>
			{% if section.settings.blog_show_tag %}
            {% if article.tags.size > 0 %}
              <div class="article-tags rte">
                <ul class="list-inline" aria-label="{{ 'blogs.article.tags' | t }}">
                  {% for tag in article.tags %}
                    <li>
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% endif %}
			{% if section.settings.blog_show_read_more %}
            <ul class="article-meta-buttons">
              <li>
                <a href="{{ article.url }}" class="btn btn-secondary btn-small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>
            </ul>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endunless %}
   </div>
     </div>
  </div>
  </div>
{% schema %}
  {
    "name": {
      "en": "BST Blog Posts",
      "de": "BST Blogposts",
      "fr": "BST De Blog"
    },
    "class": "BlueskyTechco-section",
    "settings": [
		{
             "type": "header",
             "content": "Settings Section"
        },
        {
             "type": "checkbox",
             "id": "full_with",
             "label": "Enabel Full Width?",
			 "default": false
        },
		{
            "type": "select",
            "id": "style_type",
            "label": "Style",
            "default": "style_1",
            "options":[
				{
            		"value": "style_1",
                    "label": "Style 1"
            	},
            	{
            		"value": "style_2",
                    "label": "Style 2"
            	}
            ]
		},
        {
             "type": "image_picker",
             "id": "img_bg",
             "label": "background image for block"
        },
        {
             "type": "color",
             "id": "color_bg",
             "label": "Background Color",
             "default": "rgba(0,0,0,0)"
        },
        {
             "type": "text",
             "id": "padding_block",
             "label": "Padding",
             "default": "95px 0 0"
        },
		{
              "type": "header",
              "content": "Heading"
        },
	    {
             "type": "textarea",
             "id": "description",
             "label": "Sub title",
             "default": "The freshest and most exciting news"
        },
		{
	  	 	 "type": "text",
             "id": "titles",
             "label": "Title",
             "default": "From Our Blog"
        },
      	{
             "type": "header",
             "content": "General Settings"
        },
		{
            "type": "select",
            "id": "columnDefault",
            "label": "Default Column",
            "default": "3",
			"info": "Default Column: 3",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnDesksmall",
            "label": "Desksmall Column",
            "default": "3",
			"info": "From this breakpoint 960 to 1199 default 3",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnTablet",
            "label": "Tablet Column",
            "default": "2",
			"info": "From this breakpoint 678 to 959 default 2",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnTabletsmall",
            "label": "Tabletsmall Column",
            "default": "1",
			"info": "From this breakpoint 480 to 677 default 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnMobile",
            "label": "Mobile Column",
            "default": "1",
			"info": "In this configuration 1 is enabled from 0px up to 479px screen size",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
        "type": "range",
        "id": "margin",
        "label": {
          "en": "Margin",
          "de": "Margin",
          "fr": "Margin"
          },
          "min": 0,
          "max": 45,
          "step": 5,
          "default": 30
        },
        {
             "type": "checkbox",
             "id": "navigation",
             "label": "Active Navigation",
             "default": true
        },
		{
             "type": "checkbox",
             "id": "dots",
             "label": "Active Dots",
             "default": false
         },
         {
             "type": "checkbox",
             "id": "autoplays",
             "label": "Auto Play",
             "default": true
         },
         {
			 "type": "text",
             "id": "autoplay_timeout",
             "label": "Auto Play Timeout",
             "info": "Default: 6000(ms)",
             "default": "6000"
         },
		 {
             "type": "text",
             "id": "autoplay_speeds",
             "label": "Auto Play Speed",
             "info": "Animation Speed",
             "default": "1000"
         },
      {
        "id": "blog",
        "type": "blog",
        "label": {
          "en": "Blog",
          "de": "Blog",
          "fr": "Blog"
        }
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": {
          "en": "Posts",
          "de": "Posts",
          "fr": "Articles"
        },
        "min": 3,
        "max": 12,
        "step": 1,
        "default": 6
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": {
          "en": "Show Author",
          "de": "Autor anzeigen",
          "fr": "Afficher l'auteur"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": {
          "en": "Show Date",
          "de": "Datum anzeigen",
          "fr": "Afficher la date"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_tag",
        "label": "Show Tag" ,
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_read_more",
        "label": "Show Read More" ,
        "default": true
      }
    ],
    "presets": [
      {
        "name": {
          "en": "BST Blog Posts",
          "de": "BST Blogposts",
          "fr": "BST Articles de blog"
        },
        "category": {
          "en": "BlueskyTechco Blog",
          "de": "BlueskyTechco Blog",
          "fr": "BlueskyTechco Blog"
        },
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
