<div class="bst-instagram" style="{% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}">
<div data-section-id="{{ section.id }}" data-section-type="instagram-section">
  {% if section.blocks.size > 0 %}
    <div class="bst-instagram-wrapper">
      <div class="bst-title text-center container">
       {% if section.settings.sub_title_intagram != blank %}<div class="bst-short-desc"><span>{{section.settings.sub_title_intagram }}</span></div>{% endif %}
      {% if section.settings.title_intagram != blank %}<h3 class="widget-title text-center"><span>{{section.settings.title_intagram }}</span></h3>{% endif %}
      </div>
      <div class="instagram-section">
        <div  class="instagram-grid" >
          {%- assign imageSize = section.settings.image_size -%}
          {% for block in section.blocks %}
            <div class="bst-slideshow bst-slideshow-{{ block.id }}"  {{ block.shopify_attributes }}>
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="bst-slideshow-link outsite">
              {% endif %}

              <div class="bst-Image" data-image="{{ block.settings.imageslide | img_url:1024 }}">
                   {% if block.settings.imageslide != blank %}
                     <img class="img-responsive" alt="{{ block.settings.imageslide.alt | default: shop.name }}" src="{{ block.settings.imageslide | img_url:imageSize }}" />
                   {% else %}
                     <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                   {% endif %}
              </div>
              {% if block.settings.link != blank %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% if section.settings.enable_store %}
          <div class="insta-ifo">
             {% if section.settings.title_intagram != blank %}<h6><span>{{section.settings.title_intagram }}</span></h6>{% endif %}
              {% if section.settings.store_name != blank %}<span>{{section.settings.store_name }}</span>{% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>
</div>

{% schema %}
  {
    "name": {
      "en": "BST Instagram",
      "de": "BST Instagram",
      "fr": "BST Instagram"
    },
    "class": "BlueskyTechco-section",
    "max_blocks": 6,
    "settings": [
 		{
            "type": "text",
            "id": "margin_block",
            "label": "Margin",
            "placeholder": "0px 0px"
        },
		{
             "type": "text",
             "id": "sub_title_intagram",
             "label": "Sub Title",
             "default": "Use Top food for a chance to be featured"
        },
		{
             "type": "text",
             "id": "title_intagram",
             "label": "Title",
             "default": "Follow us on instagram"
        },
 		{
            "type": "checkbox",
            "id": "enable_store",
            "label": "Enabel store name",
			"default": false
        },
		{
             "type": "text",
             "id": "store_name",
             "label": "Store name",
             "default": "@name_Account"
        },
		{
            "type": "text",
            "id": "image_size",
            "label": "Image Size Slideshow",
			"default": "320x320"
        }
    ],
    "blocks": [
      {
        "type": "image",
        "name": {
          "en": "Instagram image",
          "de": "Instagram image",
          "fr": "Instagram image"
        },
        "settings": [
          {
            "type": "image_picker",
            "id": "imageslide",
            "label": {
              "en": "Image",
              "de": "Foto",
              "fr": "Image"
            }
          },
          {
            "type": "url",
            "id": "link",
            "label": {
              "en": "Instagram link",
              "de": "Instagram link",
              "fr": "Instagram link"
            }
          }
        ]
      }
    ],
    "presets": [{
      "name": {
        "en": "BST Instagram",
        "de": "BST Instagram",
        "fr": "BST Instagram"
      },
      "category": "BlueskyTechco Instagram",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
