<div class="bts-collectionfive-sections categories-list-widget {{section.settings.add_class}}" style="{% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
  {% if section.settings.titles != blank %}
        <div class="bst-title text-center"> 
          <h2>{{section.settings.titles }}</h2>
          {% if section.settings.description != blank %}
          	<div class="bst-short-desc">{{section.settings.description }}</div>
          {% endif %}
        </div>
  {% endif %}
  <div class="bts-collectionfive-inner text-center category-list categorygird-list">
      <div class="bts-collectionfive category-item col-sm-4 col-xs-12">
          {%- assign Collection = section.settings.collection_handle1 -%}
          <a href="{{ collections[Collection].url}}" data-toggle="collection">
              {% if section.settings.collection_handle1 != blank %}
                 <img class="bts-img" alt="" src="{% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %}" />
                  <div class="cat-name">
                      <h3>{{ collections[Collection].title}}</h3>
                      <span>{{ collections[Collection].products_count}} Products</span>
                  </div>
              {% else %}
                 <img class="bts-img" alt="{{ shop.name }}" src="//placehold.it/1920x700.jpg" />
                 <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
              {% endif %}
          </a> 
      </div>
      <div class="bts-collectionthree category-item col-sm-4 col-xs-12">
          {%- assign Collection = section.settings.collection_handle2 -%}
          <a href="{{ collections[Collection].url}}" data-toggle="collection">
              {% if section.settings.collection_handle2 != blank %}
                 <img class="bts-img" alt="" src="{% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %}" />
                   <div class="cat-name">
                      <h3>{{ collections[Collection].title}}</h3>
                      <span>{{ collections[Collection].products_count}} Products</span>
                  </div>
              {% else %}
                 <img class="bts-img" alt="{{ shop.name }}" src="//placehold.it/1920x700.jpg" />
                  <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
              {% endif %}
          </a> 
      </div>
      <div class="bts-collectionthree category-item col-sm-4 col-xs-12">
          {%- assign Collection = section.settings.collection_handle3 -%}
          <a href="{{ collections[Collection].url}}" data-toggle="collection">
              {% if section.settings.collection_handle3 != blank %}
                 <img class="bts-img" alt="" src="{% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %}" />
                   <div class="cat-name">
                      <h3>{{ collections[Collection].title}}</h3>
                      <span>{{ collections[Collection].products_count}} Products</span>
                  </div>
              {% else %}
                 <img class="bts-img" alt="{{ shop.name }}" src="//placehold.it/1920x700.jpg" />
                  <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
              {% endif %}
          </a> 
      </div>
      <div class="bts-collectionthree col-md-8 col-sm-8 col-xs-12 category-item">
          {%- assign Collection = section.settings.collection_handle4 -%}
          <a href="{{ collections[Collection].url}}" data-toggle="collection">
              {% if section.settings.collection_handle4 != blank %}
                 <img class="bts-img" alt="" src="{% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %}" />
                   <div class="cat-name">
                      <h3>{{ collections[Collection].title}}</h3>
                      <span>{{ collections[Collection].products_count}} Products</span>
                  </div>
              {% else %}
                 <img class="bts-img" alt="{{ shop.name }}" src="//placehold.it/1920x700.jpg" />
                  <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
              {% endif %}
          </a> 
      </div>
      <div class="bts-collectionthree col-md-4 col-sm-4 col-xs-12 category-item">
          {%- assign Collection = section.settings.collection_handle5 -%}
          <a href="{{ collections[Collection].url}}" data-toggle="collection">
              {% if section.settings.collection_handle5 != blank %}
                 <img class="bts-img" alt="" src="{% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %}" />
                   <div class="cat-name">
                      <h3>{{ collections[Collection].title}}</h3>
                      <span>{{ collections[Collection].products_count}} Products</span>
                  </div>           
              {% else %}
                 <img class="bts-img" alt="{{ shop.name }}" src="//placehold.it/1920x700.jpg" />
                  <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
              {% endif %}
          </a> 
    </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "BST Collections Thumb(5)",
    "class": "BlueskyTechco-section",
    "settings": [
	  
	  {
        "type": "header",
        "content": "Settings Section"
      },
      {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?",
		"default": true
      },
	  {
        "type": "text",
        "id": "padding_block",
        "label": "Padding",
        "placeholder": "0px 0px"
      },
	  {
          "type": "header",
          "content": "Heading"
      },
	  {
            "type": "text",
            "id": "titles",
            "label": "Title",
			"default": "#Top Collections"
      },
      {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default":"<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.</p>"  
      },
	  {
            "type": "text",
            "id": "add_class",
            "label": "Add Class"
      },
	  {
        "type": "header",
        "content": "Collection 1"
      },
      {
      "type": "collection",
      "id": "collection_handle1",
      "label": "Collection"
      },
	  {
        "type": "header",
        "content": "Collection 2"
      },
      {
      "type": "collection",
      "id": "collection_handle2",
      "label": "Collection"
      },
	  {
        "type": "header",
        "content": "Collection 3"
      },
      {
      "type": "collection",
      "id": "collection_handle3",
      "label": "Collection"
      },
	  {
        "type": "header",
        "content": "Collection 4"
      },
      {
      "type": "collection",
      "id": "collection_handle4",
      "label": "Collection"
      },
	  {
        "type": "header",
        "content": "Collection 5"
      },
      {
      "type": "collection",
      "id": "collection_handle5",
      "label": "Collection"
      }
  
    ],
    "presets": [
      {
        "name": "BST Collection Five",
        "category":"BlueskyTechco Collecttions"
      }
    ]
  }
{% endschema %}
