<div class="bts-three-banner-sections {{ section.settings.else_class}}" style="{% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
    <div class="row">
      <div class="col-md-4">
      	<div class="bts-banner-inner">
          {% if section.settings.img-banner-bg !=blank %}
              <a href="{{ section.settings.button_link }}"><img src="{{section.settings.img-banner-bg | img_url: "master" }}"/></a>
          {% else %}
              {% if section.settings.banner-style == 'style1' %}
              	<img src="//placehold.it/370x250.jpg"/>
              {% else %}
          		<img src="//placehold.it/370x230.jpg"/>
          	  {% endif %}
          {% endif %}
          {% if section.settings.enable_text1 %}
            <div class="bts-banner-text text-center {{section.settings.text_position}}">
              {% if section.settings.sub-title != blank %}
                <h6 class="bts-h6 bts-subtitle">{{ section.settings.sub-title}}</h6>
              {% endif %}
              {% if section.settings.banner-title != blank %}
                <h3 class="bts-title">{{ section.settings.banner-title}}</h3>
              {% endif %}
              {% if section.settings.button_label != blank %}
                <a href="{{ section.settings.button_link }}" class="bts-btn">
                  {{ section.settings.button_label}}
                </a>
              {% endif %}
            </div>
           {% endif %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="bts-banner-inner">
          {% if section.settings.img-banner-bg_2 !=blank %}
          <a href="{{ section.settings.button_link_2 }}"><img src="{{section.settings.img-banner-bg_2 | img_url: "master" }}"/></a>
          {% else %}
              {% if section.settings.banner-style == 'style1' %}
              	<img src="//placehold.it/370x250.jpg"/>
              {% else %}
          		<img src="//placehold.it/370x230.jpg"/>
          	  {% endif %}
          {% endif %}
          {% if section.settings.enable_text2 %}
            <div class="bts-banner-text text-center {{section.settings.text_position_2}}">
              {% if section.settings.sub-title_2 != blank %}
                <h6 class="bts-h6 bts-subtitle">{{ section.settings.sub-title_2}}</h6>
              {% endif %}
              {% if section.settings.banner-title_2 != blank %}
                <h3 class="bts-title">{{ section.settings.banner-title_2}}</h3>
              {% endif %}
              {% if section.settings.button_label_2 != blank %}
                <a href="{{ section.settings.button_link_2 }}" class="bts-btn">
                  {{ section.settings.button_label_2}}
                </a>
              {% endif %}
            </div>
           {% endif %}
        </div>
      </div>
       <div class="col-md-4"> 
        <div class="bts-banner-inner">
          {% if section.settings.img-banner-bg_3 !=blank %}
          <a href="{{ section.settings.button_link_3 }}"><img src="{{section.settings.img-banner-bg_3 | img_url: "master" }}"/></a>
          {% else %}
              {% if section.settings.banner-style == 'style1' %}
              	<img src="//placehold.it/370x250.jpg"/>
              {% else %}
          		<img src="//placehold.it/370x230.jpg"/>
          	  {% endif %}
          {% endif %}
          {% if section.settings.enable_text3 %}
            <div class="bts-banner-text text-center {{section.settings.text_position_3}}">
              {% if section.settings.sub-title_3 != blank %}
                <h6 class="bts-subtitle">{{ section.settings.sub-title_3}}</h6>
              {% endif %}
              {% if section.settings.banner-title_3 != blank %}
                <h3 class="bts-title">{{ section.settings.banner-title_3}}</h3>
              {% endif %}
              {% if section.settings.button_label_3 != blank %}
                <a href="{{ section.settings.button_link_3 }}" class="bts-btn">
                  {{ section.settings.button_label_3}}
                </a>
              {% endif %}
            </div>
           {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "BST Three Banner",
    "class": "BlueskyTechco-section",
    "settings": [
	  
	  {
        "type": "header",
        "content": "Settings Section"
      },
      {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?"
      },
	  {
        "type": "text",
        "id": "margin_block",
        "label": "Margin",
        "placeholder": "0px 0px"
      },
	  {
        "type": "text",
        "id": "else_class",
		"label": "Add class"
      },
	  {
        "type": "header",
        "content": "Banner 1"
      },	  
	  {
        "type": "image_picker",
        "id": "img-banner-bg",
        "label": "Banner Image"
      },
	  {
        "type": "checkbox",
        "id": "enable_text1",
        "label": "Enabel Text",
		"default": false
      },
	  {
            "type": "select",
            "id": "text_position",
            "label": "Text position",
            "default": "top",
            "options":[
				{
            		"value": "top",
                    "label": "Top"
            	},
            	{
            		"value": "center",
                    "label": "Center"
            	},
            	{
            		"value": "bottom",
                    "label": "Bottom"
            	}
            ]
	  },
	  {
        "type": "text",
        "id": "sub-title",
        "label": "Sub title",
        "default": "Sumer Fruit"
      },
	  {
        "type": "text",
        "id": "banner-title",
        "label": "Title",
        "default": "100% Pure<br>Natural<br>Fruit Juice"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        },
"default": "Shop now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      },
	  {
        "type": "header",
        "content": "Banner 2"
      },
	  {
        "type": "image_picker",
        "id": "img-banner-bg_2",
        "label": "Banner Image"
      },
	  {
        "type": "checkbox",
        "id": "enable_text2",
        "label": "Enabel Text",
		"default": false
      },
	  {
            "type": "select",
            "id": "text_position_2",
            "label": "Text position",
            "default": "bottom",
            "options":[
				{
            		"value": "top",
                    "label": "Top"
            	},
            	{
            		"value": "center",
                    "label": "Center"
            	},
            	{
            		"value": "bottom",
                    "label": "Bottom"
            	}
            ]
	  },
	  {
        "type": "text",
        "id": "sub-title_2",
        "label": "Sub title",
        "default": "California"
      },
	  {
        "type": "text",
        "id": "banner-title_2",
        "label": "Title",
        "default": "Fresh Fruit"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        },
"default": "Shop now"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      },
	  {
        "type": "header",
        "content": "Banner 3"
      },
	  {
        "type": "image_picker",
        "id": "img-banner-bg_3",
        "label": "Banner Image"
      },
	  {
        "type": "checkbox",
        "id": "enable_text3",
        "label": "Enabel Text",
		"default": false
      },
	  {
            "type": "select",
            "id": "text_position_3",
            "label": "Text position",
            "default": "top",
            "options":[
				{
            		"value": "top",
                    "label": "Top"
            	},
            	{
            		"value": "center",
                    "label": "Center"
            	},
            	{
            		"value": "bottom",
                    "label": "Bottom"
            	}
            ]
	  },
	  {
        "type": "text",
        "id": "sub-title_3",
        "label": "Sub title",
        "default": "With 25% Off All Teas"
      },
	  {
        "type": "text",
        "id": "banner-title_3",
        "label": "Title",
        "default": "Naturally<br>fresh taste"
      },
      {
        "type": "text",
        "id": "button_label_3",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        },
"default": "Shop now"
      },
      {
        "type": "url",
        "id": "button_link_3",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      }
	
    ],
    "presets": [
      {
        "name": "BST Three Banner",
        "category":"BlueskyTechco Image"
      }
    ]
  }
{% endschema %}
