{%- assign productColumn = section.settings.column | plus:0 -%}
{%- assign productRow = section.settings.row | plus:0 -%}
{%- assign productLimit =  productColumn | times: productRow  -%}
{%- assign productFilter = section.settings.product-filter -%}


<div id="bst-Product-LoadMore" class="bst-filter-grid-type-wrapper" style="background-color: {{section.settings.color_bg }};{% if section.settings.img_bg !=blank %}background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %}
                                     {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
   <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
     	<div class="row">
        {% if section.settings.titles != blank %}
        <div class="bst-title text-center"> 
          <h2>{{section.settings.titles }}</h2>
          {% if section.settings.description != blank %}
          	<div class="bst-short-desc">{{section.settings.description }}</div>
          {% endif %}
        </div>
  		{% endif %}
        <div class="bst-productgird-load clearfix">
        {% paginate collections[productFilter].products by productLimit %}
          <div class="bst-collections-productgird clearfix">
              <div class="bst-product-grid flexRow" >
                 {% for product in collections[productFilter].products limit:productLimit %}
                    <div class="col-products col-md-{% if productColumn == 2 %}6{% endif %}{% if productColumn == 3 %}4{% endif %}{% if productColumn == 4 %}3{% endif %} col-sm-6 " >
                         <div class="item">
                             {% include 'bluesky-product-grid' %}
                         </div>
                    </div>
                 {% endfor %}
              </div>
            {% if section.settings.load_more %}
              {%- if paginate.next -%}
                 <div class="bst-btnLoadMore clearfix text-center">
                     <a class="btnLoadMore btn" href="{{ paginate.next.url }}" title="{{ section.settings.btn_loadmore | escape }}">
                          {{ 'sections.product.loadmore' | t }}
                     </a>
                 </div>
               {%- else -%}
                 <div class="bst-btnLoadMore clearfix text-center">
                      <a class="btnLoadMore btn disableLoadMore" href="javascript:void(0);" title="{{ section.settings.btn_loadmore | escape }}">
                           {{ 'sections.product.loadmore' | t}}
                      </a>
                 </div>
               {%- endif -%}
             {% endif %}
          </div>
          <div class="proLoadMoreBottom"></div>
        {% endpaginate %}
        </div>
    </div>
    </div>
</div>

{% schema %}
{
	"name": "BST Product",
	"class": "BlueskyTechco-section",
	"settings":[
		{
          "type": "header",
          "content": "Settings Section"
        },
        {
            "type": "checkbox",
            "id": "full_with",
            "label": "Enabel Full Width",
			"default": true
        },
		{
            "type": "checkbox",
            "id": "load_more",
            "label": "Enabel load more button",
			"default": true
        },
		{
             "type": "image_picker",
             "id": "img_bg",
             "label": "Background Image "
		},
        {
            "type": "color",
            "id": "color_bg",
            "label": "Background Color",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "text",
            "id": "padding_block",
            "label": "Padding",
            "placeholder": "0px 0px"
        },
		{
          "type": "header",
          "content": "Heading"
        },
        {
            "type": "text",
            "id": "titles",
            "label": "Title",
			"default": "#Best Selling 2018"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default":"<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.</p>"  
        },
        {
            "type": "header",
            "content": "General Settings"
        },
		{
            "type": "select",
            "id": "product-filter",
            "label": "Filter",
            "default": "all",
            "options":[
				{
            		"value": "all",
                    "label": "All"
            	},
            	{
            		"value": "new-arrivals",
                    "label": "New Arrivals"
            	},
            	{
            		"value": "best-selling",
                    "label": "Best Sellers"
            	}
            ]
		},
		{
            "type": "select",
            "id": "column",
            "label": "Column",
            "default": "4",
            "options":[
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "row",
            "label": "Row",
            "default": "2",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	}
            ]
		}
	],
	"presets": [
        {
            "name": "BST Product",
            "category": "BlueskyTechco Product"
        }
    ]
}
{% endschema %}
