{%- include "bluesky-megamenu" -%}
{% schema %}
	{
      "name": "Horizontal menu",
	  "max_blocks": 40,
      "blocks": [
         {
            "type": "text",
            "name": "Horizontal Menu Item",
            "settings": [
			  {
                  "type": "text",
                  "id": "bst-menu_item",
                  "label": "Menu Item Name",
                  "info": "Menu Item Name Level I"
              },
			  {
                  "type": "text",
                  "id": "bst-menu_item_width",
                  "label": "Sub Menu Width (in pixels)"
              },
   			  {
                  "type": "image_picker",
                  "id": "img_bg",
                  "label": "Background Image"
              },
			  {
                  "type": "checkbox",
                  "id": "label_enable",
                  "label": "Enable Label"
              },
			  {
                  "type": "text",
                  "id": "label_text",
                  "label": "Label Text"
              },
			  {
                  "type": "color",
                  "id": "label_colors",
                  "label": "Label Color",
                  "default": "#fff"
              },
			  {
                  "type": "color",
                  "id": "label_background",
                  "label": "Label Background",
                  "default": "#df0e0e"
              },
              {
                  "type": "header",
                  "content": "Menu Item Width Linklist",
                  "info": "Admin -> Navigation -> Menu"
              },
              {
                  "type": "checkbox",
                  "id": "bst-menu_menu_enable",
                  "label": "Enable SubMenu"
              },
			  {
                "type": "select",
                "id": "bst-menu_menu_col",
                "label": "Width Block",
                "options": [
                    {
                      "value": "col-sm-1",
                      "label": "Col 1"
                    },
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-5",
                      "label": "Col 5"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
					{
                      "value": "col-sm-7",
                      "label": "Col 7"
                    },
                    {
                      "value": "col-sm-8",
                      "label": "Col 8"
                    },
                    {
                      "value": "col-sm-9",
                      "label": "Col 9"
                    },
                    {
                      "value": "col-sm-10",
                      "label": "Col 10"
                    },
                    {
                      "value": "col-sm-11",
                      "label": "Col 11"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
                "default": "col-sm-9",
				"info": "Ex: 'Col 9'. The width of the block is 75%"
              },
			  {
                "type": "select",
                "id": "bst-menu_menu_menucol",
                "label": "Width Column Block",
                "options": [
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    }
                  ],
                "default": "col-sm-3",
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
              {
                  "type": "header",
                  "content": "Menu Item"
              },
              {
                  "type": "checkbox",
                  "id": "bst-menu_product_enable",
                  "label": "Enable products"
              },
			  {
                  "type": "text",
                  "id": "bst-menu_product_title",
                  "label": "Block Product Title"
              },
			  {
                "type": "select",
                "id": "bst-menu_product_col",
                "label": "Width Column Block",
                "options": [
                    {
                      "value": "col-sm-1",
                      "label": "Col 1"
                    },
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-5",
                      "label": "Col 5"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
					{
                      "value": "col-sm-7",
                      "label": "Col 7"
                    },
                    {
                      "value": "col-sm-8",
                      "label": "Col 8"
                    },
                    {
                      "value": "col-sm-9",
                      "label": "Col 9"
                    },
                    {
                      "value": "col-sm-10",
                      "label": "Col 10"
                    },
                    {
                      "value": "col-sm-11",
                      "label": "Col 11"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
                "default": "col-sm-4",
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
              {
                  "type": "collection",
                  "id": "bst-menu_product_collection",
                  "label": "Collection"
              },
			  {
                  "type": "select",
                  "id": "bst-menu_products_limit",
                  "label": "Product Limit",
                  "default": "2",
                  "options":[
                      {
                          "value": "1",
                          "label": "1"
                      },
                      {
                          "value": "2",
                          "label": "2"
                      },
                      {
                          "value": "3",
                          "label": "3"
                      },
					  {
                          "value": "4",
                          "label": "4"
                      }
                  ]
              },
			  {
                "type": "text",
                "id": "bst-menu_products_image_size",
                "label": "Image size",
                "info": "100×100"
              },
              {
                  "type": "header",
                  "content": "Menu Item Width Html"
              },
              {
                  "type": "checkbox",
                  "id": "bst-menu_html_enable",
                  "label": "Enable Custom Html"
              },
			  {
                "type": "select",
                "id": "bst-menu_html_col",
                "label": "Width Column Block",
                "default": "col-sm-3",
                "options": [
                    {
                      "value": "col-sm-1",
                      "label": "Col 1"
                    },
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-5",
                      "label": "Col 5"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
					{
                      "value": "col-sm-7",
                      "label": "Col 7"
                    },
                    {
                      "value": "col-sm-8",
                      "label": "Col 8"
                    },
                    {
                      "value": "col-sm-9",
                      "label": "Col 9"
                    },
                    {
                      "value": "col-sm-10",
                      "label": "Col 10"
                    },
                    {
                      "value": "col-sm-11",
                      "label": "Col 11"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
              {
                  "type": "text",
                  "id": "bst-menu_html_title",
                  "label": "Block Title"
              },
              {
                  "type": "textarea",
                  "id": "bst-menu_html_content",
                  "label": "HTML Content",
                  "info": "You can input HTML code, img tag, video code, ..."
              },
              {
                  "type": "header",
                  "content": "Menu Item Width Banner "
              },
              {
                  "type": "checkbox",
                  "id": "bst-menu_banner_enable",
                  "label": "Enable banner"
              },
			  {
                "type": "select",
                "id": "bst-menu_banner_col",
                "label": "Width Column Block",
                "default": "col-sm-3",
                "options": [
                    {
                      "value": "col-sm-1",
                      "label": "Col 1"
                    },
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-5",
                      "label": "Col 5"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
					{
                      "value": "col-sm-7",
                      "label": "Col 7"
                    },
                    {
                      "value": "col-sm-8",
                      "label": "Col 8"
                    },
                    {
                      "value": "col-sm-9",
                      "label": "Col 9"
                    },
                    {
                      "value": "col-sm-10",
                      "label": "Col 10"
                    },
                    {
                      "value": "col-sm-11",
                      "label": "Col 11"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
              {
                  "type": "text",
                  "id": "image_size",
                  "label": "Image Size",
                  "default": "255x300"
              },
              {
                  "type": "image_picker",
                  "id": "bst-menu_banner",
                  "label": "Banner image"
              },
              {
                  "type": "url",
                  "id": "bst-menu_banner_link",
                  "label": "Banner Link"
              },
			  {
                  "type": "text",
                  "id": "bst-menu_banner_title",
                  "label": "Heading"
              },
              {
                  "type": "textarea",
                  "id": "bst-menu_banner_content",
                  "label": "Caption"
              },
			  {
                  "type": "text",
                  "id": "bst-menu_banner_buttom",
                  "label": "Buttom"
              },
			  {
                  "type": "url",
                  "id": "bst-menu_banner_link_buttom",
                  "label": "Banner Buttom Link"
              },
              {
                  "type": "header",
                  "content": "Collection"
              },
              {
                  "type": "checkbox",
                  "id": "bst-menu_collection_enable",
                  "label": "Enable Block Collection"
              },
		      {
                "type": "select",
                "id": "bst-menu_collection_col",
                "label": "Width Column Block",
                "default": "col-sm-3",
                "options": [
                    {
                      "value": "col-sm-1",
                      "label": "Col 1"
                    },
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-5",
                      "label": "Col 5"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
					{
                      "value": "col-sm-7",
                      "label": "Col 7"
                    },
                    {
                      "value": "col-sm-8",
                      "label": "Col 8"
                    },
                    {
                      "value": "col-sm-9",
                      "label": "Col 9"
                    },
                    {
                      "value": "col-sm-10",
                      "label": "Col 10"
                    },
                    {
                      "value": "col-sm-11",
                      "label": "Col 11"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
			  {
                "type": "select",
                "id": "bst-menu_collection_menucol",
                "label": "Width Column Block",
                "options": [
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    }
                  ],
                "default": "col-sm-3",
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
              {
                 "type": "collection",
                 "id": "bst-menu_list_collection1",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection2",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection3",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection4",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection5",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection6",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection7",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection8",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection9",
                 "label": "Select Collection"
               },
               {
                 "type": "collection",
                 "id": "bst-menu_list_collection10",
                 "label": "Select Collection"
               }
            ]
         }
     ]
   }
{% endschema %}