<section id="pageContentBlog">
  <div class="page-width">
     {% if settings.enabel_page_banner %}
          {% if settings.page_baner_image %}
              <div  class="pages-banner" style="background-image: url({{ settings.page_baner_image | img_url: "master" }}); 
                                                margin-bottom: {{settings.page_banner_margin_bottom}};
                                                height: {{settings.banner_height}};
                                                background-position: {{settings.background_position}}; 
                                                background-size: {{settings.background_size}}">
                  <div class="defaut-header text-center have-background">
                    <h1 class="entry-title">{{ page_title }}</h1>
                    <div class="breadcrumbs">
                       {% include 'bluesky_breadcrumb' %}
                    </div>
                  </div>
              </div>
          {% endif %}
      	{% else %}
          <header class="defaut-header text-center">
            <h1 class="entry-title">{{ page_title }}</h1>
            <div class="breadcrumbs">
               {% include 'bluesky_breadcrumb' %}
            </div>
          </header>
       {% endif %}
   
  </div>
  <div class="container">
    <div class="row {% if settings.blog-enabel-slidebar %}has-sidebar{% endif %}">
{% if settings.blog-enabel-slidebar %}
    {% if settings.blog-layout == 'left' %}  
      <aside class="Sidebar col-xs-12 sidebar-blog left-sidebar">
          {% include 'bluesky-blogslidebar' %}
      </aside>
     {% endif %}
{% endif %}
{%- assign blogColumn = settings.blog-column | plus:0 -%}
{%- assign blogPost = settings.blog-postblog | plus:0 -%}
{% paginate blog.articles by blogPost %} 
<div class="col-xs-12 content-area" id="main-column">
<main id="main" class="blog-page blog-{{blogColumn}}-column-{{settings.blog-layout}} site-main">						 
<div class="row">      
    {% for article in blog.articles %}
  		{% assign imageSize = 'master' %}
      	<article id="post-{{ article.id }}" class="{% if blogColumn == 2 %}col-sm-6{% endif %}{% if blogColumn == 3 %}col-sm-4{% endif %}{% if blogColumn == 4 %}col-sm-3{% endif %} col-xs-12 post-{{ article.id }} item-post-full">
			<div class="post-wrapper">	
                  <div class="post-thumbnail post-image">
                    <a href="{{ article.url }}" >
                      <img id="{{ img_id }}" src="{{ article.image | img_url: imageSize }}" alt="{{ article.title }}" />
                    </a>
                  </div>
              	
				<div class="post-info">
                    <div class="entry-header">
                      <h3 class="entry-title">
                          <a href="{{ article.url }}" rel="bookmark">{{ article.title }}</a>
                      </h3>
                      <ul class="post-entry-data">
                          {% if settings.blog-blog_show_author %}
                        <li class="post-by vcard author">{{ 'blogs.article.by_author' | t }} <span>{{ article.author }}</span></li>
                          {% endif %}
                          {% if settings.blog-blog_show_date %}
                          <li class="post-date">{{ article.published_at | time_tag: format: 'month_day_year' }}</li>	
                          {% endif %}
                      </ul>
                  </div>
					<div class="entry-summary">
						<p>
                          	{% if article.excerpt.size > 0 %}
                              {{ article.excerpt }}
                            {% else %}
                              {{ article.content | strip_html | truncate: 150 }}
                            {% endif %}
                      	</p>
					</div>
                  	{% if settings.blog-blog_show_tags %}
                      {% if article.tags.size > 0 %}
                        <div class="article__tags article__tags--list rte">
                          {{ 'blogs.article.posted_in' | t }}
                          {% for tag in article.tags %}
                            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endif %}
					<a class="readmore-link" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
				</div>
              </div>
          </article>    
    {% endfor %}
</div>
{% if paginate.pages > 1 %}
  {% include 'pagination' %}
{% endif %}
</main>
</div>
{% endpaginate %}
{% if settings.blog-enabel-slidebar %}
    {% if settings.blog-layout == 'right' %}  
      <aside class="Sidebar col-xs-12 col-md-3 sidebar-blog right-sidebar">
          {% include 'bluesky-blogslidebar' %}
      </aside>
     {% endif %}
{% endif %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
