<div class="bts-banner-sections {% if section.settings.img-banner-bg !=blank %}has-background-images{% endif %} {% if section.settings.img-banner != blank %}banner-have-img{% endif %} {% if section.settings.full_with %}full-width-section{% endif %}" style="{% if section.settings.img-banner-bg !=blank %}background-image: url({{section.settings.img-banner-bg | img_url: "master" }});{% else %}background-image: none;{% endif %}{% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}{% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}full{% endif %}">
        {% if section.settings.img-banner != blank %}
          <img class="bts-img" alt="" src="{{ section.settings.img-banner | img_url: 'master' }}" />
        {% endif %}
  {% if section.settings.text_on_banner %}
    <div class="bts-banner-inner container">
      <div class="bts-banner-text text-center {% if section.settings.text__postions %}{{ section.settings.text__postions }}{% endif %} {% if section.settings.img-banner !=blank %}absolute-text{% endif %}">
       <div class="position">
        {% if section.settings.sub-title != blank %}
          <h6 class="bts-h2 bts-subtitle">{{ section.settings.sub-title }}</h6>
        {% endif %}      
        {% if section.settings.banner-title != blank %}
          <h2 class="bts-h6 bts-title">{{ section.settings.banner-title }}</h2>
        {% endif %}

        {% if section.settings.time_countdown != blank %}
          <div class="bts-countdown-banner" data-datetime="{{section.settings.time_countdown}} 23:59:59">
            <span class="days"><span class="number"></span><span class="text">Days</span></span>
            <span class="hour"><span class="number"></span><span class="text">Hrs</span></span>
            <span class="mins"><span class="number"></span><span class="text">Mins</span></span>
            <span class="secs"><span class="number"></span><span class="text">Secs</span></span>
          </div>
        {%endif%}
        {% if section.settings.button_label != blank %}
          <a href="{{ section.settings.button_link }}" class="bts-btn" style="{% if section.settings.button-colors != blank %}background-color: {{ section.settings.button-colors }}; border-color: {{ section.settings.button-colors }}{%endif%}">
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}
      </div>
        </div>
    </div>
  {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "BST Banner",
    "class": "BlueskyTechco-section",
    "settings": [
	  
	  {
        "type": "header",
        "content": "Settings Section"
      },
      {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?",
		"default": false
      },
	  {
        "type": "text",
        "id": "padding_block",
        "label": "Padding",
        "placeholder": "0px 0px",
		"default": "100px 0"
      },
	  {
        "type": "text",
        "id": "margin_block",
        "label": "Margin",
        "placeholder": "0px 0px"
      },
	  {
        "type": "image_picker",
        "id": "img-banner-bg",
        "label": "Banner Background Image"
      },
		{
        "type": "image_picker",
        "id": "img-banner",
        "label": "Banner Image"
      },
 	  {
        "type": "header",
        "content": "Text on banner"
      },
      {
        "type": "checkbox",
        "id": "text_on_banner",
        "label": "Enabel?",
		"default": true
      },
	  {
        "type": "select",
        "id": "text__postions",
        "label": "Text position",
        "default": "left",
        "info": "Left Center",
        "options": [
        {
        "value": "left", 
        "label": "Left Center"
        },
        {
        "value": "center",
        "label": "Center Center"
        },
        {
        "value": "right",
        "label": "Right Center"
        }
        ]
      },
	  {
        "type": "textarea",
        "id": "sub-title",
        "label": "Sub Title",
        "default": "Special Offer!"
      },
	  {
        "type": "textarea",
        "id": "banner-title",
        "label": "Title",
        "default": "Special discount <br> for all fruit products"
      },
	  {
        "type": "text",
        "id": "time_countdown",
        "label": "Time Countdown",
        "info": "Ex : 2020-07-15"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        },
		"default": "See Offer Now!"
      },
 	  {
      "type": "color",
      "id": "button-colors",
      "label": "Button Color",
      "default": "#87be00"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      }
    ],
    "presets": [
      {
        "name": "BST Banner",
        "category":"BlueskyTechco Image"
      }
    ]
  }
{% endschema %}
