<div class="bts-custom-heading" style="{% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
    {% if section.settings.titles != blank %}
        <div class="bst-title text-center"> 
          <h2>{{section.settings.titles }}</h2>
          {% if section.settings.description != blank %}
          	<div class="bst-short-desc">{{section.settings.description }}</div>
          {% endif %}
        </div>
  	{% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "BST Custom heading",
    "class": "BlueskyTechco-section",
    "settings": [
	  
	  {
        "type": "header",
        "content": "Settings Section"
      },
      {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?"
      },
	  {
        "type": "text",
        "id": "margin_block",
        "label": "Margin",
        "placeholder": "80px 0px",
		"default": "80px 0px"
      },
	  {
          "type": "header",
          "content": "Heading"
      },
	  {
            "type": "text",
            "id": "titles",
            "label": "Title",
			"default": "100%Nature"
      },
      {
          "type": "textarea",
          "id": "description",
          "label": "Description",
		  "default": "Fresh Fruits"
      }
    ],
    "presets": [
      {
        "name": "BST Custom heading",
        "category":"BlueskyTechco Custom heading"
      }
    ]
  }
{% endschema %}
