<div class="grid__item medium-up--one-half newsetter-section" style="{% if section.settings.img_bg !=blank %}background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %} {% if section.settings.color_bg_newsletter !=blank %}background-color: {{ section.settings.color_bg_newsletter}};{% endif %}{% if section.settings.margin_newsletter_style1 !=blank %}margin: {{ section.settings.margin_newsletter_style1}};{% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
  <div class="newsletter-form {% if section.settings.border %}hasborder{% endif %}" style="{% if section.settings.border %}border-color:{{ section.settings.border-color}};{% endif %}{% if section.settings.padding_newsletter_style1 %}padding:{{ section.settings.padding_newsletter_style1}}{% endif %}">
    {% form 'customer' %}
    {%- if form.errors -%}
    <div class="form-message form-message--error">
      {{ form.errors | default_errors }}
    </div>
    {%- endif -%}
    {% if form.posted_successfully? %}
    <p class="form-message form-message--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
    <div class="flex-layout">
      <div class="newsletter-infor" style="color: {{ section.settings.text-color}}">
        {% if section.settings.newsletter_title_style1 != blank %}
        <h4 for="Email" class="h4">{{ section.settings.newsletter_title_style1 }}</h4>
        {% endif %}
        {% if section.settings.newsletter_subheading_style1 != blank %}
        <div class="rte">{{ section.settings.newsletter_subheading_style1 }}</div>
        {% endif %}
      </div>
      <div class="input-group">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="email"
               name="contact[email]"
               id="Email"
               class="input-group__field newsletter__input"
               value="{% if customer %}{{ customer.email }}{% endif %}"
               placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
               {%- if form.errors -%}
               aria-invalid="true"
               {%- endif -%}
               autocorrect="off"
               autocapitalize="off"
               required    >
        <span class="input-group__btn">
          <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
            <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit_v1' | t }}</span>
          </button>
        </span>
      </div>
    </div>
    {% endif %}
    {% endform %}
  </div>
 </div>
</div>
{% schema %}
  {
    "name": "BST Newsletter",
    "settings": [
	  {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?"
      },
      {
        "type": "text",
        "id": "padding_newsletter_style1",
        "label": "Padding",
        "default": "100px 0"
      },
      {
        "type": "text",
        "id": "margin_newsletter_style1",
        "label": "Margin",
        "default": "0"
      },
      {
        "type": "color",
        "id": "color_bg_newsletter",
        "label": "Background Color",
        "default": "#eb2323"
      },
	  {
         "type": "image_picker",
         "id": "img_bg",
         "label": "Background Image"
      },
	  {
        "type": "checkbox",
        "id": "border",
        "label": "Have border?"
      },
	  {
        "type": "color",
        "id": "border-color",
        "label": "Border Color",
        "default": "#ff6060"
      },
      {
        "type": "text",
        "id": "newsletter_title_style1",
        "label": "Title",
        "default": "Sign Up For Our Newsletter"
      },
      {
        "type": "richtext",
        "id": "newsletter_subheading_style1",
        "label": "Subheading",
        "default": "<p>Subscribe our newsletter and get discount 20% Off<\/p>"
      },
	  {
        "type": "color",
        "id": "text-color",
        "label": "Text Color",
        "default": "#fff"
      }
	],
	"presets": [
      {
        "name": "BST Newsletter",
        "category":"BlueskyTechco Newsletter"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
