<div class="bst-homepageslider">
<div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
  {% if section.blocks.size > 0 %}
    <div class="bst-slideshow-wrapper {% if settings.absolute_header %}absolute_header{% endif %}">
      <div  class="owl owl-carousel"		data-item-slide="{{ section.settings.columnDefault }}"
                                            data-desksmall="{{ section.settings.columnDesksmall }}"
                                            data-tablet="{{ section.settings.columnTablet }}"
                                            data-tabletsmall="{{ section.settings.columnTabletsmall }}"
                                            data-mobile="{{ section.settings.columnMobile }}"
                     						data-nav="{{ section.settings.navigation }}" 
                                            data-dots ="{{ section.settings.dots }}" 
                                            data-autoplay="{{ section.settings.autoplays }}" 
                                            data-autospeed="{{ section.settings.autoplay_timeout }}" 
                                            data-speed="{{ section.settings.autoplay_speeds }}" >
        {%- assign imageSize = section.settings.image_size -%}
        {% for block in section.blocks %}
          {%- assign is_background_video = false -%}
          {% if block.type == 'video' %}
            {% if block.settings.video_type == 'background' or block.settings.video_type =='background-chrome' %}
              {%- assign is_background_video = true -%}
            {% endif %}
          {% endif %}

          <div class="bst-slideshow bst-slideshow-{{ block.id }}{% if is_background_video %} bst-slideshow-background-video{% endif %} {{ block.settings.text_slider_postion }}"  {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="bst-slideshow-link outsite">
            {% endif %}

            {% if block.type == 'video' %}
              {% if block.settings.video_url != blank %}
                <div class="video-loader"></div>
              {% endif %}
              {% unless block.settings.video_type == 'background' %}
                <button type="button" class="text-link slideshow__video-control slideshow__video-control--close" data-controls="SlideshowVideo-{{ block.id }}">
                  <span class="icon__fallback-text">{{ 'sections.slideshow.close_video' | t }}</span>
                </button>
              {% endunless %}
              {% if block.settings.video_url != blank %}
                <div id="SlideshowVideo-{{ block.id }}" class="slideshow__video {% if is_background_video %}slideshow__video--background{% endif %} slideshow__video--{{ block.settings.video_type }}"
                  data-id="{{ block.settings.video_url.id }}"
                  data-type="{{ block.settings.video_type }}"
                  data-slideshow="Slideshow-{{ section.id }}"></div>
              {% endif %}
            {% endif %}

            <div class="bst-Image" data-image="{{ block.settings.imageslide | img_url:1024 }}">
                 {% if block.settings.imageslide != blank %}
                   <img class="img-responsive" alt="{{ block.settings.imageslide.alt | default: shop.name }}" src="{{ block.settings.imageslide | img_url:imageSize }}" />
                 {% else %}
                   <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                 {% endif %}
            </div>
            <div class="slideshow__text-wrap{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__overlay{% endif %} container">
              <div class="slideshow__text-content">
                <div class="page-width">
                  {% unless block.settings.subheading == blank %}
                    <div class="mega-subtitle slideshow__subtitle hidden-xs" style="color:{{ block.settings.sub-heading-colors }}">
                      {{ block.settings.subheading }}
                    </div>
                  {% endunless %}
                  {% unless block.settings.title == blank %}
                    <h2 class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}"  style="color:{{ block.settings.heading-colors }}">
                      {{ block.settings.title }}
                    </h2>
                  {% endunless %}
                  {% unless block.settings.descriptions == blank %}
                    <div class="bts-description hidden-xs" style="color:{{ block.settings.description-colors }}">{{ block.settings.descriptions }}</div>
                  {% endunless %}
                  {% unless block.settings.button_label == blank %}
                    <a href="{{ block.settings.button_link }}" class="bts-btn btn first-child" style="color:{{ block.settings.button-colors1 }}; border-color: {{ block.settings.button-border1 }}; background-color: {{ block.settings.button-background1 }}">
                      {{ block.settings.button_label }}
                    </a>
                  {% endunless %}
                  {% unless block.settings.button_label2 == blank %}
                    <a href="{{ block.settings.button_link2 }}" class="bts-btn btn" style="color:{{ block.settings.button-colors2 }}; border-color: {{ block.settings.button-border2 }};  background-color: transparent">
                      {{ block.settings.button_label2 }}
                    </a>
                  {% endunless %}
                  {% if block.type == 'video' %}
                    {% unless block.settings.video_type == 'background' %}
                      <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                        <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                          <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                        </button>
                      </div>
                    {% endunless %}
                  {% endif %}
                </div>
              </div>
            </div>
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>
</div>

{% schema %}
  {
    "name": {
      "en": "BST Slideshow",
      "de": "BST Slideshow",
      "fr": "BST Diaporama"
    },
    "class": "BlueskyTechco-section",
    "max_blocks": 4,
    "settings": [
		{
            "type": "text",
            "id": "image_size",
            "label": "Image Size Slideshow",
			"default": "1920x960"
        },
		{
            "type": "select",
            "id": "columnDefault",
            "label": "Default Column",
            "default": "1",
			"info": "Default Column: 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnDesksmall",
            "label": "Desksmall Column",
            "default": "1",
			"info": "From this breakpoint 960 to 1199 default 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnTablet",
            "label": "Tablet Column",
            "default": "1",
			"info": "From this breakpoint 678 to 959 default 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnTabletsmall",
            "label": "Tabletsmall Column",
            "default": "1",
			"info": "From this breakpoint 480 to 677 default 1",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
		{
            "type": "select",
            "id": "columnMobile",
            "label": "Mobile Column",
            "default": "1",
			"info": "In this configuration 1 is enabled from 0px up to 479px screen size",
            "options":[
				{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	}
            ]
		},
      	{
             "type": "checkbox",
             "id": "navigation",
             "label": "Active Navigation",
             "default": true
        },
		{
             "type": "checkbox",
             "id": "dots",
             "label": "Active Dots",
             "default": false
         },
         {
             "type": "checkbox",
             "id": "autoplays",
             "label": "Auto Play",
             "default": true
         },
         {
			 "type": "text",
             "id": "autoplay_timeout",
             "label": "Auto Play Timeout",
             "info": "Default: 6000(ms)",
             "default": "6000"
         },
		 {
             "type": "text",
             "id": "autoplay_speeds",
             "label": "Auto Play Speed",
             "info": "Animation Speed",
             "default": "1000"
         }
    ],
    "blocks": [
      {
        "type": "image",
        "name": {
          "en": "Image slide",
          "de": "Foto-Slide",
          "fr": "Diapositive (image)"
        },
        "settings": [
          {
            "type": "image_picker",
            "id": "imageslide",
            "label": {
              "en": "Image",
              "de": "Foto",
              "fr": "Image"
            }
          },
			{
    		"type": "select",
            "id": "text_slider_postion",
            "label": "Text slider Position",
            "default": "right center",
            "info": "Right Center",
            "options": [
              {
                "value": "left center",
                "label": "Left Center"
              },
              {
                "value": "center center",
                "label": "Center Center"
              },
              {
                "value": "right center",
                "label": "Right Center"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Heading",
              "de": "Titel",
              "fr": "En-tête"
            },
            "default": {
			  "en": "<p>Freshhh Juice. <br>100% Organic</p>"
            }
          },
 		  {
            "type": "color",
            "id": "heading-colors",
            "label": "Heading Color",
            "default": "#222222"
          },
          {
            "type": "textarea",
            "id": "subheading",
            "label": {
              "en": "Subheading",
              "de": "Untertitel",
              "fr": "Sous-titre"
            },
            "default": {
              "en": "Pomegranate",
              "de": "Pomegranate",
              "fr": "Pomegranate"
            }
          },
		  {
            "type": "color",
            "id": "sub-heading-colors",
            "label": "Subheading Color",
            "default": "#666666"
          },
		  {
            "type": "textarea",
            "id": "descriptions",
            "label": "Description",
            "default": "A blend of freshly squeezed green apple & fruits"
          },
		  {
            "type": "color",
            "id": "description-colors",
            "label": "Description Color",
            "default": "#666666"
          },
          {
            "type": "url",
            "id": "link",
            "label": {
              "en": "Slide link",
              "de": "Slide-Link",
              "fr": "Lien de la diapositive"
            }
          },
		  {
              "type": "header",
              "content": "Button 1"
          },
		  {
              "type": "text",
              "id": "button_label",
              "label": {
                "en": "Text on button 1",
                "de": "Button-Etikett",
                "fr": "Texte du bouton"
              },
              "default": "Shop now"
            },
 			{
              "type": "color",
              "id": "button-colors1",
              "label": "Button Color",
              "default": "#fff"
          	},
            {
              "type": "url",
              "id": "button_link",
              "label": {
                "en": "Button link 1",
                "de": "Button-Etikett",
                "fr": "Lien du bouton"
              }
           },
           {
              "type": "color",
              "id": "button-border1",
              "label": "Button border color",
              "default": "#05a503"
           },
           {
              "type": "color",
              "id": "button-background1",
              "label": "Button Background",
              "default": "#05a503"
           },
 			{
              "type": "header",
              "content": "Button 2"
          },
			{
              "type": "text",
              "id": "button_label2",
              "label": {
                "en": "Text on button 2",
                "de": "Button-Etikett",
                "fr": "Texte du bouton"
              },
				"default": "View lookbook"
            },
			{
              "type": "color",
              "id": "button-colors2",
              "label": "Button Color",
              "default": "#333333"
          	},
            {
              "type": "url",
              "id": "button_link2",
              "label": {
                "en": "Button link 2",
                "de": "Button-Etikett",
                "fr": "Lien du bouton"
              }
           },
			{
            "type": "color",
            "id": "button-border2",
            "label": "Button border color",
            "default": "#fff"
           }
        ]
      },
      {
        "type": "video",
        "name": {
          "en": "Video slide",
          "de": "Video-Slide",
          "fr": "Diapositive (vidéo)"
        },
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": {
              "en": "Video link",
              "de": "Video-Link",
              "fr": "Lien de la vidéo"
            },
            "accept": ["youtube"],
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "select",
            "id": "video_type",
            "label": {
              "en": "Style",
              "de": "Stil",
              "fr": "Style"
            },
            "options": [
              {
                "value": "chrome",
                "label": {
                  "en": "Image with play button",
                  "de": "Foto mit Play Button",
                  "fr": "Image avec bouton de lecture"
                }
              },
              {
                "value": "background-chrome",
                "label": {
                  "en": "Background video with play button",
                  "de": "Hintergrund-Video mit Play Button",
                  "fr": "Vidéo d'arrière-plan avec bouton de lecture"
                }
              },
              {
                "value": "background",
                "label": {
                  "en": "Background video",
                  "de": "Hintergrund-Video",
                  "fr": "Vidéo d'arrière-plan"
                }
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "imageslide",
            "label": {
              "en": "Image",
              "de": "Foto",
              "fr": "Image"
            },
            "info": {
              "en": "Fallback when autoplaying video is not supported on mobile devices",
              "de": "Ersatz, falls Video nicht automatisch auf Mobilgeräten abspielt",
              "fr": "Image affichée lorsque la vidéo n'est pas supportée sur les appareils mobiles"
            }
          },
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Heading",
              "de": "Titel",
              "fr": "En-tête"
            },
            "default": {
              "en": "Video slide",
              "de": "Video-Slide",
              "fr": "Diapositive (vidéo)"
            }
          },
          {
            "type": "text",
            "id": "subheading",
            "label": {
              "en": "Subheading",
              "de": "Untertitel",
              "fr": "Sous-titre"
            },
            "default": {
              "en": "Tell your brand's story through video and images",
              "de": "Erzählen Sie Ihre Geschichte mit Videos und Fotos",
              "fr": "Racontez votre histoire avec des vidéos et des images"
            }
          }
        ]
      }
    ],
    "presets": [{
      "name": {
        "en": "BST Slideshow",
        "de": "BST Slideshow",
        "fr": "BST Diaporama"
      },
      "category": "BlueskyTechco Slideshow",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
