{%- include "bluesky-vertical-menu" -%}
{% schema %}
	{
      "name": "Vertical Menu",
	  "max_blocks": 15,
      "blocks": [
         {
            "type": "text",
            "name": "Vertical Menu Item",
            "settings": [
			  {
                  "type": "text",
                  "id": "bst-verticalmenu_item",
                  "label": "Menu Item Name",
                  "info": "Menu Item Name Level I (You have to enter exactly charater of menu items )"
              },
			  {
                  "type": "image_picker",
                  "id": "img_icon",
                  "label": "Icon Image",
				  "info": "Allow image type:png"
              },
   			  {
                  "type": "image_picker",
                  "id": "img_bg",
                  "label": "Background Image"
              },
			  {
                  "type": "text",
                  "id": "img_bg_posi",
                  "label": "Background Position",
				  "default": "center",
				  "info": "Location of the background image"
              },
			  {
                  "type": "checkbox",
                  "id": "label_enable",
                  "label": "Enable Label"
              },
			  {
                  "type": "text",
                  "id": "label_text",
                  "label": "Label Text"
              },
			  {
                  "type": "color",
                  "id": "label_colors",
                  "label": "Label Color",
                  "default": "#fff"
              },
			  {
                  "type": "color",
                  "id": "label_background",
                  "label": "Label Background",
                  "default": "#df0e0e"
              },
              {
                  "type": "header",
                  "content": "Menu Item Width Linklist",
                  "info": "Admin -> Navigation -> Menu"
              },
			  {
                "type": "select",
                "id": "bst-type_submenu",
                "label": "Type Submenu",
                "options": [
                    {
                      "value": "default",
                      "label": "Default"
                    },
                    {
                      "value": "full",
                      "label": "Full Width"
                    }
                  ],
                "default": "default"
              },
			  {
                "type": "select",
                "id": "bst-menu_menu_col",
                "label": "Width Block",
                "options": [
                    {
                      "value": "col-sm-1",
                      "label": "Col 1"
                    },
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-5",
                      "label": "Col 5"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
					{
                      "value": "col-sm-7",
                      "label": "Col 7"
                    },
                    {
                      "value": "col-sm-8",
                      "label": "Col 8"
                    },
                    {
                      "value": "col-sm-9",
                      "label": "Col 9"
                    },
                    {
                      "value": "col-sm-10",
                      "label": "Col 10"
                    },
                    {
                      "value": "col-sm-11",
                      "label": "Col 11"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
                "default": "col-sm-9",
				"info": "Ex: 'Col 9'. The width of the block is 75%"
              },
			  {
                "type": "select",
                "id": "bst-menu_menu_menucol",
                "label": "Width Column Block",
                "options": [
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
                "default": "col-sm-3",
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
              {
                  "type": "header",
                  "content": "Menu Products Item"
              },
              {
                  "type": "checkbox",
                  "id": "bst-menu_product_enable",
                  "label": "Enable products"
              },
			  {
                  "type": "checkbox",
                  "id": "bst-menu_product_enable_owl",
                  "label": "Enable Slide"
              },
			  {
                  "type": "text",
                  "id": "bst-menu_product_title",
                  "label": "Block Product Title"
              },
			  {
                "type": "select",
                "id": "bst-menu_product_col",
                "label": "Width Column Block",
                "options": [
                    {
                      "value": "col-sm-1",
                      "label": "Col 1"
                    },
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-5",
                      "label": "Col 5"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
					{
                      "value": "col-sm-7",
                      "label": "Col 7"
                    },
                    {
                      "value": "col-sm-8",
                      "label": "Col 8"
                    },
                    {
                      "value": "col-sm-9",
                      "label": "Col 9"
                    },
                    {
                      "value": "col-sm-10",
                      "label": "Col 10"
                    },
                    {
                      "value": "col-sm-11",
                      "label": "Col 11"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
                "default": "col-sm-4",
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
              {
                  "type": "collection",
                  "id": "bst-menu_product_collection",
                  "label": "Collection"
              },
			  {
                  "type": "select",
                  "id": "bst-menu_products_limit",
                  "label": "Product Limit",
                  "default": "2",
                  "options":[
                      {
                          "value": "1",
                          "label": "1"
                      },
                      {
                          "value": "2",
                          "label": "2"
                      },
                      {
                          "value": "3",
                          "label": "3"
                      },
					  {
                          "value": "4",
                          "label": "4"
                      }
                  ]
              },
			  {
                "type": "text",
                "id": "bst-menu_products_image_size",
                "label": "Image size",
                "info": "100×100"
              },
			  {
                  "type": "header",
                  "content": "Brand"
              },
              {
                  "type": "checkbox",
                  "id": "bst-menu_brand_enable",
                  "label": "Enable Brand"
              },
			  {
                "type": "select",
                "id": "bst-type_brand",
                "label": "Location",
                "options": [
					{
                      "value": "right",
                      "label": "Right"
                    },
                    {
                      "value": "bottom",
                      "label": "Bottom"
                    }
                  ],
                "default": "right"
              },
			  {
                  "type": "text",
                  "id": "bst-menu_brand_title",
                  "label": "Brand Title"
              },
		      {
                "type": "select",
                "id": "bst-menu_brand_col",
                "label": "Width Column Block",
                "default": "col-sm-3",
                "options": [
                    {
                      "value": "col-sm-1",
                      "label": "Col 1"
                    },
                    {
                      "value": "col-sm-2",
                      "label": "Col 2"
                    },
                    {
                      "value": "col-sm-3",
                      "label": "Col 3"
                    },
                    {
                      "value": "col-sm-4",
                      "label": "Col 4"
                    },
                    {
                      "value": "col-sm-5",
                      "label": "Col 5"
                    },
                    {
                      "value": "col-sm-6",
                      "label": "Col 6"
                    },
					{
                      "value": "col-sm-7",
                      "label": "Col 7"
                    },
                    {
                      "value": "col-sm-8",
                      "label": "Col 8"
                    },
                    {
                      "value": "col-sm-9",
                      "label": "Col 9"
                    },
                    {
                      "value": "col-sm-10",
                      "label": "Col 10"
                    },
                    {
                      "value": "col-sm-11",
                      "label": "Col 11"
                    },
                    {
                      "value": "col-sm-12",
                      "label": "Col 12"
                    }
                  ],
				"info": "Ex: 'Col 3'. The width of the block is 25%"
              },
			  
               {
                 "type": "image_picker",
                 "id": "bst-image_brand1",
                 "label": "Brand Image 1"
               },
			   {
                  "type": "text",
                  "id": "bst-menu_brand_link1",
                  "label": "Brand Link 1"
               },
               {
                 "type": "image_picker",
                 "id": "bst-image_brand2",
                 "label": "Brand Image 2"
               },
			   {
                  "type": "text",
                  "id": "bst-menu_brand_link2",
                  "label": "Brand Link 2"
               },{
                 "type": "image_picker",
                 "id": "bst-image_brand3",
                 "label": "Brand Image 3"
               },
			   {
                  "type": "text",
                  "id": "bst-menu_brand_link3",
                  "label": "Brand Link 3"
               },{
                 "type": "image_picker",
                 "id": "bst-image_brand4",
                 "label": "Brand Image 4"
               },
			   {
                  "type": "text",
                  "id": "bst-menu_brand_link4",
                  "label": "Brand Link 4"
               }
            ]
         }
     ],
	"presets": [
      {
        "name": "BST Vertical Menu",
        "category":"BlueskyTechco Vertical Menu"
      }
    ]
   }
{% endschema %}