{%- assign productLimit1 =  section.settings.product_limit_1 | plus:0 -%}

<div id="bst-productBanner" class="bst-filter-list-type-wrapper product-width-banner_background" style="{% if section.settings.img_bg !=blank %}background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %}
                                     {% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}">
   <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
     	{% if section.settings.titles != blank %}
          <div class="bst-title"> 
            <h2 {% if section.settings.img_background !=blank %}style="background-image: url({{ section.settings.img_background | img_url: "master" }});{% endif %}">{{section.settings.titles }}</h2>
            {% if section.settings.description !=blank %}<div class="bst-short-desc">{{section.settings.description }}</div>{% endif %}
          </div>
     	{% endif %}
     	<div class="row">
          <div class="productBanner-1 col-lg-6 col-sm-12 col-xs-12">
              <div class="bst-collections clearfix">
                  <div class="bst-product-list" >
                    {%- assign productFilter1 = section.settings.product-filter-1 -%}
                    {% for product in collections[productFilter1].products limit:productLimit1 %}
                    <div class="item"> 
                      {% include 'bluesky-product-grid' %}
                    </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

{% schema %}
{
	"name": "BST Product List",
	"class": "BlueskyTechco-section",
	"settings":[
		{
          "type": "header",
          "content": "Settings Section"
        },
        {
            "type": "checkbox",
            "id": "full_with",
            "label": "Enabel Full Width",
			"default": false
        },
		{
             "type": "image_picker",
             "id": "img_bg",
             "label": "Background Image "
		},
        {
            "type": "text",
            "id": "margin_block",
            "label": "Margin",
            "placeholder": "0px 0px"
        },
		{
          "type": "header",
          "content": "Heading"
        },
        {
            "type": "text",
            "id": "titles",
            "label": "Title",
			"default": "Fruit juice"
        },
		{
             "type": "image_picker",
             "id": "img_background",
             "label": "Background Title"
		},
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"

        },
		 {
            "type": "header",
            "content": "Product Colection"
         },
         {
            "type": "collection",
            "id": "product-filter-1",
            "label": "Filter"
         },
		{
          "type": "range",
          "id": "product_limit_1",
          "label": "Limit",
          "min": 3,
          "max": 16,
          "step": 1,
          "default": 3
      	}
	],
	"presets": [
        {
            "name": "BST Product List",
            "category": "BlueskyTechco Product"
        }
    ]
}
{% endschema %}

