{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 9 -%}
{% endif %}
{%- assign gridItem = section.settings.grid -%}
{% paginate collection.products by limit %}

<div data-collection-handle="{{collection.handle}}" id="collection-handle" class="top-category-product Products ">
  	{%- assign i = 0 -%}
  		<div  class="owl owl-carousel"	data-item-slide="5" data-desksmall="5" data-tablet="4"
                                                      data-tabletsmall="3"
                                                      data-mobile="2"
                                                      data-nav="2" 
                                                      data-dots ="false" 
                                                      data-autoplay="false"
             										  data-margin="20">
          {% for product in collection.products limit:10 %}
              {% include 'bluesky-ajax-listproduct-collections' %}
              {% assign i = i | plus: 1 %}
          {% endfor %}
        </div>
</div>
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
    {%- assign is_filter_by_available = false -%}
    {%- if section.settings.tags_enable and collection.all_tags.size > 0 -%}
      {%- assign is_filter_by_available = true -%}
    {%- endif -%}

    {%- assign is_vendor_or_type_collection = false -%}
    {%- if collection.current_type != blank or collection.current_vendor != blank -%}
      {%- assign is_vendor_or_type_collection = true -%}
    {%- endif -%}

    {% if is_filter_by_available or section.settings.sort_enable %}
      <div class="filters-toolbar-wrapper{% if is_filter_by_available %} filters-toolbar--has-filter{% endif %}">
        <div class="page-width">
          <div class="filters-toolbar">
            <div class="filters-toolbar__item filters-toolbar__item--count">
              {% assign minPage = 1 %}
              {% assign maxPage = paginate.page_size | times:paginate.current_page %}
              {% if paginate.current_page > 1 %}
                  {% assign currentPage = paginate.current_page | minus:1 %}
                  {% assign minPage = currentPage | times: paginate.page_size %}
              {% endif %}
              {% if maxPage > paginate.items %}{% assign maxPage = paginate.items %}{% endif %}
              <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: minPage:minPage, maxPage:maxPage, itemsPage:paginate.items }}</span>
            </div>            
            <div class="filters-toolbar__item-wrapper">
              <div class="collView collections_layout">
                  {% if settings.show_slidebar %}
                      <button type="button" class="layout_2 {% if gridItem == 2 %}active{% endif %}">2</button>
                      <button type="button" class="layout_3 {% if gridItem == 3 %}active{% endif %}">3</button>
                      <button type="button" class="layout_4 {% if gridItem == 4 %}active{% endif %}">4</button>
                  {% else %}
					  <button type="button" class="layout_2 {% if gridItem == 2 %}active{% endif %}">2</button>
                      <button type="button" class="layout_3 {% if gridItem == 3 %}active{% endif %}">3</button>
                      <button type="button" class="layout_4 {% if gridItem == 4 %}active{% endif %}">4</button>
                      <button type="button" class="layout_5 {% if gridItem == 5 %}active{% endif %}">5</button>
                      <button type="button" class="layout_6 {% if gridItem == 6 %}active{% endif %}">6</button>	
                  {% endif %}
                    <button type="button" class="changeView{% unless template contains 'list' %} changeViewActive{% endunless %}" data-view="grid">
                      <span class="iconChangeView">
                          <span class="biolife-icon icon-grid" aria-hidden="true"></span>
                      </span>
                  </button>
                  <button type="button" class="changeView{% if template contains 'list' %} changeViewActive{% endif %}" data-view="list">
                      <span class="iconChangeView">
                          <span class="biolife-icon icon-list" aria-hidden="true"></span>
                      </span>
                  </button>
              </div>
            </div>
             {% if section.settings.sort_enable %}
                <div class="filters-toolbar__item-child">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <label class="filters-toolbar__label select-label" for="SortBy">{{ 'collections.sorting.title' | t }}:</label>
                  <div class="filters-toolbar__input-wrapper select-group">
                    <select name="SortBy" id="SortBy" class="filters-toolbar__input hidden" aria-describedby="a11y-refresh-page-message">
                      <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                      <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                      <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                      <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                      <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                      <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                      <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                      <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                    </select>
                  </div>
                  <input id="DefaultSortBy" type="hidden" value="{{ collection.default_sort_by }}">
                </div>
              {% endif %}
            <div class="filters-mobile hidden-md hidden-lg">
               <a herf="#" class="filters-on-mobile">{{ 'collections.filters.mobile_title' | t }} <span class="icon-plus"></span></a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </header>
  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign col = 'col-xs-12 col-sm-6' -%}
    {% when 3 %}
      {%- assign col = 'col-xs-12 col-sm-4' -%}
    {% when 4 %}
      {%- assign col = 'col-xs-12 col-sm-3' -%}
    {% when 5 %}
      {%- assign col = 'col-xs-12 col-sm-3 col-sm-50' -%}
    {% when 5 %}
      {%- assign col = 'col-xs-12 col-sm-2' -%}
  {% endcase %}
  <div class="page-width" id="Collection">
    {% if template == "collection.list" %}
      <div class="proView list list-view-items">
        {% for product in collection.products %}
          <div class="list-view-item">
            {% include 'bluesky-product-list' %}
          </div>
        {% endfor %}
      </div>	
    {% else %}
      <div class="proView grid grid-view-items">
        <div class="row">
          <div class="proViewgrid">
            {% for product in collection.products %}
              <div class="grid_item {{section.id}} {{col}}">
                {% include 'bluesky-product-grid' %}
              </div>
            {% endfor %}
          </div>
      	</div>
      </div>
    {% endif %}

    
      {% include 'pagination' %}

      <div class="collection__description">
        {{ collection.description }}
      </div>
      
  </div>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Default view",
     "settings": [
	  {
      "type": "select",
      "id": "layout",
      "label": {
        "en": "Layout"
      },
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": {
            "en": "Grid"
          }
        },
        {
          "value": "list",
          "label": {
            "en": "List"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "en": "Products per row (grid only)"
      },
      "default": 3,
      "min": 2,
      "max": 6,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "en": "Rows per page (grid only)"
      },
      "default": 5,
      "min": 2,
      "max": 8,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "en": "Enable sorting"
      },
      "default": true
    }
  ]
  }
{% endschema %}

