<div class="bst-filter-list-type-wrapper product-width-two-banner" style="{% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}">
   <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
     	<div class="row">
          <div class="product-special  {% if section.settings.description_more != blank %}padding-bettwen{% endif %}">
              <div class="banner">
                  <img src="{{ section.settings.bst-banner-image | img_url: "master"}}" class="post-image" >                        
              </div>
              <div class="content {{ section.settings.text_slider_postion }}">
              	  {%- assign product = all_products[section.settings.bst-product_item] -%}
                  {% if section.settings.sub_title != blank %}
                	<p class="sub-title">{{ section.settings.sub_title }}</p>
                  {% endif %}
                  {% if section.settings.section_title != blank %}
                	<h3 class="title {% if section.settings.sub_title != blank %}on-sub-title{% endif %}"> {{ section.settings.section_title }}</h3>
                    {% endif %}
                  {% if section.settings.description != blank %}
                  	<p class="description">{{ section.settings.description }}</p>
                  {% endif %}
                  {% if section.settings.description_more != blank %}                
                	<div class="more-description">{{ section.settings.description_more }}</div>
                  {% endif %}
                <div class="product-specials">
                  <h2 class="h2 bst-productName product-name">
                    <a href="{{ product.url }}">{{ product.title }}</a>
                  </h2>
                  <span class="priceProduct {% if sale %}priceSale{% endif %}">{{ product.price | money }}</span>
                    {% if sale %}
                        <span class="priceProduct priceCompare">{{ product.compare_at_price | money }}</span>
                    {% endif %}
                  <div class="short-description">
                      {% if product.description != blank %}
                      <div class="bst-proShortDescription">
                        {{ product.description | strip_html | truncatewords: 5}}
                      </div>
                      {% endif %}
                  </div>
                  {% if product != blank %} 
                  <div class="bst-productGroup actions">
                    {% assign variantCount = product.variants | size %}
                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart add-cart">
                      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                      {% if outstock %}
                        <button class="btnAddToCart disabled add_to_cart_inline" type="submit" value="Submit" disabled>
                          <span>{{ 'products.product.outstock' | t }}</span>
                        </button>
                      {% else %}
                        {% if variantCount > 1 %}
                          <a class=" btnAddToCart add_to_cart_inline" href="{{ product.url }}" title="{{ 'products.product.select_options' | t }}">
                            <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                          </a>
                        {% else %}
                          <button class=" btnAddToCart add_to_cart_inline" type="submit" value="Submit">
                            <span>{{ 'products.product.add_to_cart' | t }}</span>
                          </button>
                        {% endif %}
                      {% endif %}
                    </form>
                  </div>
                  {% endif %}
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
{% schema %}
{
  	"name": "BST Product Special",
	"class": "BlueskyTechco-section",
	"settings":[
		{
          "type": "header",
          "content": "Settings Section"
        },
        {
            "type": "checkbox",
            "id": "full_with",
            "label": "Enabel Full Width",
			"default": false
        },
        {
            "type": "text",
            "id": "margin_block",
            "label": "Margin",
            "placeholder": "0px 0px"
        },
		{
            "type": "header",
            "content": "Product"
         },
         {
            "type": "product",
            "id": "bst-product_item",
            "label": "Product Item"
         },
		{
            "type": "header",
            "content": "Banner"
         },
         {
            "type": "image_picker",
            "id": "bst-banner-image",
            "label": "Banner"
         },
		{
    		"type": "select",
            "id": "text_slider_postion",
            "label": "Text align",
            "default": "center",
            "info": "Center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
        {
        "type": "text",
        "id": "sub_title",
        "label": "Sub title",
		"default": "Organic"
        },
        {
        "type": "text",
        "id": "section_title",
        "label": "Title",
		"default": "Special offer"
        },
        {
        "type": "text",
        "id": "description",
        "label": "Subtitle",
		"default": "Organic Heaven Made<br>Easy <strong>Healthy, Happy Life</strong>"
        },
		{
        "type": "textarea",
        "id": "description_more",
        "label": "Description",
		"default": "One thing I quickly learned about having two children is even though they may resemble one another, their personalities are night and day..."
        }
	],
	"presets": [
        {
            "name": "BST Product Special",
            "category": "BlueskyTechco Product"
        }
    ]
}
{% endschema %}
