<div class="bts-banner-sections" style="{% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
  <div class="row">
    {% if section.settings.titles != blank %}
        <div class="bst-title text-center"> 
          <h2>{{section.settings.titles }}</h2>
          {% if section.settings.description != blank %}
          	<div class="bst-short-desc">{{section.settings.description }}</div>
          {% endif %}
        </div>
  	{% endif %}
  	<div class="bts-collection-image-with-descrpiton {{section.settings.text_position}} {% if section.settings.img-collection-second != blank %}two-images{% else %}one-images{% endif %}">
      <div class="main-collection-images">
      	{% if section.settings.img-collection !=blank %} 
        	<div class="main-text">
              <img class="bts-img" alt="" src="{{ section.settings.img-collection | img_url: 'master' }}" />
              {% if section.settings.collection-sub-title != blank %}
                <p class="bts-rolated-text" style="{% if section.settings.bg-text-colors !=blank %}background-color:{{section.settings.bg-text-colors}};{% endif %}">
                  {{ section.settings.collection-sub-title | escape }}
                </p>
        	 {% endif %}
       		 </div>
      	 {% else %}
      		<img class="bts-img" alt="{{ shop.name }}" src="//placehold.it/370x450.jpg" />
        {% endif %}
      </div>
      {% if section.settings.img-collection-second != blank %}
        <div class="secondary-collection-images">
            <img class="bts-img" alt="" src="{{ section.settings.img-collection-second | img_url: 'master' }}" />
        </div>
     {% endif %}
      <div class="collection-infor">
        {% if section.settings.collection-title != blank %}
          <h2 class="bts-h6 bts-title">{{ section.settings.collection-title | escape }}</h2>
        {% endif %}
        {% if section.settings.shortdescriptions != blank %}
          <div class="bts-description">{{ section.settings.shortdescriptions }}</div>
        {% endif %}
        {% if section.settings.button_label != blank %}
          <a href="{{ section.settings.button_link }}" class="bts-btn">
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "BST Collections with text",
    "class": "BlueskyTechco-section",
    "settings": [
	  
	  {
        "type": "header",
        "content": "Settings Section"
      },
      {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?"
      },
	  {
        "type": "text",
        "id": "margin_block",
        "label": "Margin",
        "placeholder": "80px 0px",
		"default": "80px 0px"
      },
	  {
          "type": "header",
          "content": "Main picture setting"
      },
		{
        "type": "image_picker",
        "id": "img-collection",
        "label": "Main Picture"
      },
		{
        "type": "text",
        "id": "collection-sub-title",
        "label": "Text on main pictures",
        "default": "SALE UP TO 20% OFF"
      },
 		{
        "type": "color",
        "id": "bg-text-colors",
        "label": "Background text color",
        "default": "#eb2323"
      },
	  {
        "type": "image_picker",
        "id": "img-collection-second",
        "label": "Secondary pictures"
      },
	  {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "default": "left",
        "options":[
        {
        "value": "left",
        "label": "Left"
        },
        {
        "value": "right",
        "label": "Right"
        }
        ]
	  },
	  {
        "type": "text",
        "id": "collection-title",
        "label": "Title",
        "default": "Mazia Clothing Collections For Woman’s 2019"
      },
      {
        "type": "textarea",
        "id": "shortdescriptions",
        "label": "Short description",
        "default":"<p>Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem, quod mazim placerat facer possim assum.</p>"
          
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        },
		"default": "Discover Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      }
    ],
    "presets": [
      {
        "name": "BST Collections with text",
        "category":"BlueskyTechco Collecttions"
      }
    ]
  }
{% endschema %}
