<div class="bst-Testimonials" style="background-color: {{section.settings.color_bg }};{% if section.settings.img_bg !=blank %}background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %}
                                     {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
		<div class="container{% if section.settings.full_with %}-fluid{% endif %}">
      	{% if section.settings.titles != blank %}
          <div class="bst-title text-center"> 
            <h2>{{section.settings.titles }}</h2>
            {% if section.settings.description != blank %}
              <div class="bst-short-desc">{{section.settings.description }}</div>
            {% endif %}
          </div>
  		{% endif %}
        <div class="bst-Testimonials-Slider">
            <div class="bst-testimonial-container">
                <div class="owl owl-carousel"   data-item-slide="1"
        									data-desksmall="1"
        									data-tablet="1"
                     						data-tabletsmall="1"
        									data-mobile="1"
                     						data-nav="{{ section.settings.navigation }}" 
                                            data-dots ="{{ section.settings.dots }}" 
                                            data-autoplay="{{ section.settings.autoplays }}" 
                                            data-autospeed="{{ section.settings.autoplay_timeout }}" 
                                            data-speed="{{ section.settings.autoplay_speeds }}" >
                    {% for block in section.blocks %}
                  		<div class="item">
						 	<div class="bst-testimonial">
                              <div class="content-tes">
                                  <div class="image-tes">
                                    <img class="img" alt="{{ block.settings.name}}" src="{% if block.settings.img-avatar != blank  %}{{ block.settings.img-avatar | img_url: "master" }}{% else %}//labbluesky.com/shopify/theme/default/images/testi1.jpg{% endif %}" >
                                  </div>
                                  {% if block.settings.content != blank  %}
                                    <div class="content-des-tes">
                                       " {{ block.settings.content }} "
                                    </div>
                                  {% endif %}
                                  <div class="info">
                                      <p class="name">
                                          {{ block.settings.name }}{% if block.settings.job != blank  %}<span class="job"> - {{ block.settings.job }}</span>{% endif %}	
                                      </p>
                                  </div>
                              </div>
                         	</div>
						</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> 
{% schema %}
    {
        "name": "BST Testimonial",
        "class": "BlueskyTechco-section",
		"max_blocks": 8,
        "settings":[
			{
               "type": "header",
               "content": "Settings Section"
            },
            {
               "type": "checkbox",
               "id": "full_with",
               "label": "Enabel Full Width?",
			   "default": false
            },
            {
               "type": "image_picker",
               "id": "img_bg",
               "label": "Background Image"
            },
            {
               "type": "color",
               "id": "color_bg",
               "label": "Background Color",
               "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
			{
              "type": "header",
              "content": "Heading"
            },
			{
                "type": "text",
                "id": "titles",
                "label": "Title",
                "placeholder": "Title"
            },
			{
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "placeholder": "description"
            },
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "checkbox",
                "id": "navigation",
                "label": "Active Navigation",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "dots",
                "label": "Active Dots",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "autoplays",
                "label": "Auto Play",
                "default": true
            },
            {
                "type": "text",
                "id": "autoplay_timeout",
                "label": "Auto Play Timeout",
                "info": "Default: 6000(ms)",
                "default": "6000"
            },
            {
                "type": "text",
                "id": "autoplay_speeds",
                "label": "Auto Play Speed",
                "info": "Animation Speed",
                "default": "1000"
            }
        ],
		"blocks": [
			{
                "type": "item",
                "name": "Testimonial Item",
                "settings": [
					{
                        "type": "image_picker",
                        "id": "img-avatar",
                        "label": "Testimonial Avatar"
                    },
                    {
                        "type": "text",
                        "id": "name",
						"default": "John Son",
                        "label": "Testimonial Name"
                    },
					{
                        "type": "text",
                        "id": "job",
						"default": "Developer",
                        "label": "Testimonial Job"
                    },
                    {
                        "type": "textarea",
                        "id": "content",
						"default": "Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius consuetudium lectorum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident.",
                        "label": "Testimonial Content"
                    }
                ]
            }
		],
        "presets": [
            {
                "name": "BST Testimonials",
                "category": "BlueskyTechco Testimonials",
				"blocks": [
                    {
                        "type":"item"
                    },
                    {
                        "type":"item"
                    }
                ]
            }
        ]
    }
{% endschema %}
