<div class="bts-collectionsix-sections categories-list-widget {{section.settings.add_class}}" style="{% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid-width{% endif %}">
  {% if section.settings.titles != blank %}
        <div class="bst-title text-center"> 
          <h2>{{section.settings.titles }}</h2>
          {% if section.settings.description != blank %}
          	<div class="bst-short-desc">{{section.settings.description }}</div>
          {% endif %}
        </div>
  {% endif %}
  <div class="typo-block-mansonry bts-collectionsix-inner category-list categorygird-list">
      <div class="bts-collectionsix category-item left-category">
        {%- assign Collection = section.settings.collection_handle1 -%}
        <a href="{{ collections[Collection].url}}" data-toggle="collection" 
           style="{% if section.settings.collection_handle1 != blank %}background-image: url({% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %});{% else %}background-image: url(//placehold.it/645x750.jpg);{% endif %}">
          {% if section.settings.collection_handle1 != blank %}
          <div class="cat-name {% if section.settings.background-handle1 !=blank %}has-background{% endif %}">
            <h3 style="{% if section.settings.background-handle1 !=blank %}background-image: url({{section.settings.background-handle1 | img_url: "master" }});{% else %}background-image: none;{% endif %}">{{ collections[Collection].title}}</h3>
          </div>
          {% else %}
          <div class="cat-name">
            <h3>No Collection Selected</h3>
          </div>
          {% endif %}
        </a> 
      </div>
      <div class="bts-collectionsix center-category">
      	<div class="bts-collectionsix category-item">
            {%- assign Collection = section.settings.collection_handle2 -%}
            <a href="{{ collections[Collection].url}}" data-toggle="collection" 
               style="{% if section.settings.collection_handle2 != blank %}background-image: url({% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %});{% else %}background-image: url(//placehold.it/645x750.jpg);{% endif %}">
                {% if section.settings.collection_handle2 != blank %}
                    <div class="cat-name {% if section.settings.background-handle1 !=blank %}has-background{% endif %}">
                      <h3 style="{% if section.settings.background-handle2 !=blank %}background-image: url({{section.settings.background-handle2 | img_url: "master" }});{% else %}background-image: none;{% endif %}">{{ collections[Collection].title}}</h3>
                  </div>
                {% else %}
                   <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
                {% endif %}
            </a> 
         </div>
      	<div class="bts-collectionsix category-item">
            {%- assign Collection = section.settings.collection_handle3 -%}
            <a href="{{ collections[Collection].url}}" data-toggle="collection" 
               style="{% if section.settings.collection_handle3 != blank %}background-image: url({% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %});{% else %}background-image: url(//placehold.it/645x750.jpg);{% endif %}">
                {% if section.settings.collection_handle3 != blank %}
                    <div class="cat-name {% if section.settings.background-handle1 !=blank %}has-background{% endif %}">
                      <h3 style="{% if section.settings.background-handle3 !=blank %}background-image: url({{section.settings.background-handle3 | img_url: "master" }});{% else %}background-image: none;{% endif %}">{{ collections[Collection].title}}</h3>
                  </div>
                {% else %}
                   <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
                {% endif %}
            </a> 
         </div>
        <div class="bts-collectionsix category-item">
            {%- assign Collection = section.settings.collection_handle4 -%}
            <a href="{{ collections[Collection].url}}" data-toggle="collection" 
               style="{% if section.settings.collection_handle4 != blank %}background-image: url({% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %});{% else %}background-image: url(//placehold.it/645x750.jpg);{% endif %}">
                {% if section.settings.collection_handle4 != blank %}
                    <div class="cat-name {% if section.settings.background-handle1 !=blank %}has-background{% endif %}">
                      <h3 style="{% if section.settings.background-handle4 !=blank %}background-image: url({{section.settings.background-handle4 | img_url: "master" }});{% else %}background-image: none;{% endif %}">{{ collections[Collection].title}}</h3>
                  </div>
                {% else %}
                   <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
                {% endif %}
            </a> 
         </div>
        <div class="bts-collectionsix category-item">
            {%- assign Collection = section.settings.collection_handle5 -%}
            <a href="{{ collections[Collection].url}}" data-toggle="collection" 
               style="{% if section.settings.collection_handle5 != blank %}background-image: url({% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %});{% else %}background-image: url(//placehold.it/645x750.jpg);{% endif %}">
                {% if section.settings.collection_handle5 != blank %}
                    <div class="cat-name {% if section.settings.background-handle1 !=blank %}has-background{% endif %}">
                      <h3 style="{% if section.settings.background-handle5 !=blank %}background-image: url({{section.settings.background-handle5 | img_url: "master" }});{% else %}background-image: none;{% endif %}">{{ collections[Collection].title}}</h3>
                  </div>
                {% else %}
                   <div class="cat-name">
                      <h3>No Collection Selected</h3>
                 </div>
                {% endif %}
            </a> 
         </div>
      </div>
      <div class="bts-collectionsix category-item right-category">
        {%- assign Collection = section.settings.collection_handle6 -%}
        <a href="{{ collections[Collection].url}}" data-toggle="collection" 
           style="{% if section.settings.collection_handle6 != blank %}background-image: url({% if collections[Collection].image %}{{ collections[Collection].image | img_url: 'master' }}{% endif %});{% else %}background-image: url(//placehold.it/645x750.jpg);{% endif %}">
          {% if section.settings.collection_handle6 != blank %}
          <div class="cat-name {% if section.settings.background-handle1 !=blank %}has-background{% endif %}">
            <h3 style="{% if section.settings.background-handle6 !=blank %}background-image: url({{section.settings.background-handle6 | img_url: "master" }});{% else %}background-image: none;{% endif %}">{{ collections[Collection].title}}</h3>
          </div>
          {% else %}
          <div class="cat-name">
            <h3>No Collection Selected</h3>
          </div>
          {% endif %}
        </a> 
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "BST Collections Thumb(6)",
    "class": "BlueskyTechco-section",
    "settings": [
	  
	  {
        "type": "header",
        "content": "Settings Section"
      },
      {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?",
		"default": true
      },
	  {
        "type": "text",
        "id": "padding_block",
        "label": "Padding",
        "placeholder": "0px 0px"
      },
	  {
          "type": "header",
          "content": "Heading"
      },
	  {
            "type": "text",
            "id": "titles",
            "label": "Title"
      },
      {
          "type": "textarea",
          "id": "description",
          "label": "Description"
      },
	  {
            "type": "text",
            "id": "add_class",
            "label": "Add Class"
      },
	  {
        "type": "header",
        "content": "Collection 1"
      },
      {
      "type": "collection",
      "id": "collection_handle1",
      "label": "Collection"
      },
	  {
        "type": "image_picker",
        "id": "background-handle1",
        "label": "Background Category name"
      },
	  {
        "type": "header",
        "content": "Collection 2"
      },
      {
      "type": "collection",
      "id": "collection_handle2",
      "label": "Collection"
      },
	  {
        "type": "image_picker",
        "id": "background-handle2",
        "label": "Background Category name"
      },
	  {
        "type": "header",
        "content": "Collection 3"
      },
      {
      "type": "collection",
      "id": "collection_handle3",
      "label": "Collection"
      },
	  {
        "type": "image_picker",
        "id": "background-handle3",
        "label": "Background Category name"
      },
	  {
        "type": "header",
        "content": "Collection 4"
      },
      {
      "type": "collection",
      "id": "collection_handle4",
      "label": "Collection"
      },
	  {
        "type": "image_picker",
        "id": "background-handle4",
        "label": "Background Category name"
      },
	  {
        "type": "header",
        "content": "Collection 5"
      },
      {
      "type": "collection",
      "id": "collection_handle5",
      "label": "Collection"
      },
	  {
        "type": "image_picker",
        "id": "background-handle5",
        "label": "Background Category name"
      },
	  {
        "type": "header",
        "content": "Collection 6"
      },
      {
      "type": "collection",
      "id": "collection_handle6",
      "label": "Collection"
      },
	  {
        "type": "image_picker",
        "id": "background-handle6",
        "label": "Background Category name"
      }
    ],
    "presets": [
      {
        "name": "BST Collection Six",
        "category":"BlueskyTechco Collecttions"
      }
    ]
  }
{% endschema %}
