<div class="bts-WelcomeToStore" style="background-color: {{section.settings.color_bg }};{% if section.settings.img_bg !=blank %}background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %}
                                     {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
  <div class="bts-welcome-store text-center">
    <div class="bts-welcome-store-img">
    	{% if section.settings.img-welcome-store != blank %}
           <img class="bts-img" alt="" src="{{ section.settings.img-welcome-store | img_url: 'master' }}" />
        {% else %}
           <img class="bts-img" alt="{{ shop.name }}" src="//placehold.it/1920x700.jpg" />
        {% endif %}
    </div>
    <div class="bts-welcome-store-text ">
      {% if section.settings.titles != blank %}
        <h2 class="bts-h6 bts-title">{{ section.settings.titles }}</h2>
      {% endif %}
      {% if section.settings.sub-title != blank %}
        <div class="bst-short-desc">{{ section.settings.sub-title }}</div>
      {% endif %}
    </div>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "BST Welcome To Store",
    "class": "BlueskyTechco-section",
    "settings": [
		{
           "type": "header",
           "content": "Settings Section"
        },
        {
           "type": "checkbox",
           "id": "full_with",
           "label": "Enabel Full Width?",
		   "default": false
        },
        {
           "type": "image_picker",
           "id": "img_bg",
           "label": "Background Image"
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "Background Color",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "text",
            "id": "padding_block",
            "label": "Padding",
            "placeholder": "0px 0px"
        },	
		{
            "type": "header",
            "content": "Heading"
        },
		{
           "type": "image_picker",
           "id": "img-welcome-store",
           "label": "Image Logo Store"
        },
        {
          "type": "text",
          "id": "titles",
          "label": "Title",
          "default": "Welcome to Siemon & Salazar Store"
        },
        {
          "type": "textarea",
          "id": "sub-title",
          "label": "Sub Title",
		  "default": "<h2><span>Siemon & Salazar</span> Furniture Store</h2>"
        }
      
    ],
    "presets": [
      {
        "name": "BST Welcome To Store",
        "category":"BlueskyTechco Welcome Store"
      }
    ]
  }
{% endschema %}
