<div id="bst-Brand" class="bst-filter-list-type-wrapper brand" style="{% if section.settings.color_bg !=blank %}background-color:{{section.settings.color_bg}}; {% endif %}{% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}{% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
   <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
     	<div class="brand-slide">
          <div class="owl owl-carousel" data-item-slide="{{ section.settings.columnDefault }}"
               data-desksmall="{{ section.settings.columnDesksmall }}"
               data-tablet="{{ section.settings.columnTablet }}"
               data-tabletsmall="{{ section.settings.columnTabletsmall }}"
               data-mobile="{{ section.settings.columnMobile }}"
               data-margin="{{ section.settings.margin }}"
               data-nav="{{ section.settings.navigation }}" 
               data-dots ="{{ section.settings.dots }}" 
               data-autoplay="{{ section.settings.autoplays }}" 
               data-autospeed="{{ section.settings.autoplay_timeout }}" 
               data-speed="{{ section.settings.autoplay_speeds }}" >
           	{% for block in section.blocks %}
              {% if block.settings.image_item != blank %}
                <div class="item">
                  <div class="bts-banner-inner">
                    <a href="{{block.settings.link_brand}}"><img src="{{block.settings.image_item | img_url: "master" }}"/></a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "BST Brand",
    "class": "BlueskyTechco-section",
	"max_blocks": 15,
    "settings": [
	  
	  {
        "type": "header",
        "content": "Settings Section"
      },
      {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?"
      },
	  {
        "type": "text",
        "id": "margin_block",
        "label": "Margin",
        "placeholder": "0px 0px"
      },
 	  {
        "type": "text",
        "id": "padding_block",
        "label": "Padding",
        "placeholder": "0px 0px"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background Color",
        "default": "#fff"
      },
	  {
        "type": "header",
        "content": "General Settings"
      },
      {
        "type": "select",
        "id": "columnDefault",
        "label": "Default Column",
        "default": "2",
        "info": "Default Column: 3",
        "options":[
          {
          "value": "1",
          "label": "1"
          },
          {
          "value": "2",
          "label": "2"
          },
          {
          "value": "3",
          "label": "3"
          },
          {
          "value": "4",
          "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "columnDesksmall",
        "label": "Desksmall Column",
        "default": "2",
        "info": "From this breakpoint 960 to 1199 default 3",
        "options":[
          {
          "value": "1",
          "label": "1"
          },
          {
          "value": "2",
          "label": "2"
          },
          {
          "value": "3",
          "label": "3"
          },
          {
          "value": "4",
          "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "columnTablet",
        "label": "Tablet Column",
        "default": "2",
        "info": "From this breakpoint 678 to 959 default 2",
        "options":[
          {
          "value": "1",
          "label": "1"
          },
          {
          "value": "2",
          "label": "2"
          },
          {
          "value": "3",
          "label": "3"
          },
          {
          "value": "4",
          "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "columnTabletsmall",
        "label": "Tabletsmall Column",
        "default": "1",
        "info": "From this breakpoint 480 to 677 default 1",
        "options":[
          {
          "value": "1",
          "label": "1"
          },
          {
          "value": "2",
          "label": "2"
          },
          {
          "value": "3",
          "label": "3"
          },
          {
          "value": "4",
          "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "columnMobile",
        "label": "Mobile Column",
        "default": "1",
        "info": "In this configuration 1 is enabled from 0px up to 479px screen size",
        "options":[
          {
          "value": "1",
          "label": "1"
          },
          {
          "value": "2",
          "label": "2"
          },
          {
          "value": "3",
          "label": "3"
          },
          {
          "value": "4",
          "label": "4"
          }
        ]
      },
      {
        "type": "range",
        "id": "margin",
        "label": {
        "en": "Margin",
        "de": "Margin",
        "fr": "Margin"
      },
        "min": 0,
        "max": 45,
        "step": 5,
        "default": 30
      },
      {
        "type": "checkbox",
        "id": "navigation",
        "label": "Active Navigation",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "dots",
        "label": "Active Dots",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "autoplays",
        "label": "Auto Play",
        "default": false
      },
      {
        "type": "text",
        "id": "autoplay_timeout",
        "label": "Auto Play Timeout",
        "info": "Default: 6000(ms)",
        "default": "6000"
      },
      {
        "type": "text",
        "id": "autoplay_speeds",
        "label": "Auto Play Speed",
        "info": "Animation Speed",
        "default": "250"
      }
    ],
	"blocks": [
         {
            "type": "text",
            "name": "Brand Item",
            "settings": [
			  {
                  "type": "image_picker",
                  "id": "image_item",
                  "label": "Image Brand"
              },
              {
                "type": "text",
                "id": "link_brand",
                "label": "Link Brand"
              }
            ]
         }
    ],
    "presets": [
      {
        "name": "BST Brand",
        "category":"BlueskyTechco Brand"
      }
    ]
  }
{% endschema %}