<div class="bts-two-banner-sections" style="{% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}">
  <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="bts-banner-inner">
          {% if section.settings.img-banner-bg !=blank %}
              <img src="{{section.settings.img-banner-bg | img_url: "master" }}"/>
          {% else %}
              	<img src="//placehold.it/865x410.jpg" />
          {% endif %}
          <div class="bts-banner-text {{section.settings.text_position}}">
            {% if section.settings.sub-title != blank %}
              <h6 class="bts-h6 bts-subtitle">{{ section.settings.sub-title}}</h6>
            {% endif %}
            {% if section.settings.banner-title != blank %}
              <h3 class="bts-title">{{ section.settings.banner-title}}</h3>
            {% endif %}
            {% if section.settings.button_label != blank %}
              <a href="{{ section.settings.button_link }}" class="bts-btn">
                {{ section.settings.button_label }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="bts-banner-inner">
          {% if section.settings.img-banner-bg_2 !=blank %}
              <img src="{{section.settings.img-banner-bg_2 | img_url: "master" }}"/>
          {% else %}
              	<img src="//placehold.it/865x410.jpg" />
          {% endif %}
          <div class="bts-banner-text {{section.settings.text_position_2}}">
            {% if section.settings.sub-title_2 != blank %}
              <h6 class="bts-h6 bts-subtitle">{{ section.settings.sub-title_2}}</h6>
            {% endif %}
            {% if section.settings.banner-title_2 != blank %}
              <h3 class="bts-title">{{ section.settings.banner-title_2 }}</h3>
            {% endif %}
            {% if section.settings.button_label_2 != blank %}
              <a href="{{ section.settings.button_link_2 }}" class="bts-btn">
                {{ section.settings.button_label_2 }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "BST Two Banner",
    "class": "BlueskyTechco-section",
    "settings": [
	  
	  {
        "type": "header",
        "content": "Settings Section"
      },
      {
        "type": "checkbox",
        "id": "full_with",
        "label": "Enabel Full Width?"
      },
	  {
        "type": "text",
        "id": "margin_block",
        "label": "Margin",
        "placeholder": "0px 0px"
      },
	  {
        "type": "header",
        "content": "Banner 1"
      },	  
	  {
        "type": "image_picker",
        "id": "img-banner-bg",
        "label": "Banner Image"
      },
	  {
            "type": "select",
            "id": "text_position",
            "label": "Text position",
            "default": "center",
            "options":[
				{
            		"value": "top",
                    "label": "Top"
            	},
            	{
            		"value": "center",
                    "label": "Center"
            	},
            	{
            		"value": "bottom",
                    "label": "Bottom"
            	}
            ]
	  },
	  {
        "type": "text",
        "id": "sub-title",
        "label": "Sub title",
        "default": "Products Essentials"
      },
	  {
        "type": "text",
        "id": "banner-title",
        "label": "Title",
        "default": "New Sofa <br>Collection 2019"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        },
"default": "Buy now / <span>$16.99</span>"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      },
	  {
        "type": "header",
        "content": "Banner 2"
      },
	  {
        "type": "image_picker",
        "id": "img-banner-bg_2",
        "label": "Banner Image"
      },
	  {
            "type": "select",
            "id": "text_position_2",
            "label": "Text position",
            "default": "center",
            "options":[
				{
            		"value": "top",
                    "label": "Top"
            	},
            	{
            		"value": "center",
                    "label": "Center"
            	},
            	{
            		"value": "bottom",
                    "label": "Bottom"
            	}
            ]
	  },
	  {
        "type": "text",
        "id": "sub-title_2",
        "label": "Sub title",
        "default": "Best Seller Products"
      },
	  {
        "type": "text",
        "id": "banner-title_2",
        "label": "Title",
        "default": "Sale Off <br>Home Accessories"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        },
"default": "Buy now / <span>$96.98</span>"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      }
	
    ],
    "presets": [
      {
        "name": "BST Two Banner",
        "category":"BlueskyTechco Image"
      }
    ]
  }
{% endschema %}
