{% render 'page-about-blocks' %}

{% schema %}
{
  "name": "About - Blocks",
  "tag": "section",
  "class": "about-blocks",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "About - Blocks"
    }
  ],
  "blocks": [
    {
      "name": "Text Block",
      "type": "text_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "letter_image",
          "label": "Letter Image"
        },
        {
          "type": "checkbox",
          "id": "hide_first_letter",
          "label": "Hide first letter of letter text",
          "default": true
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "name": "Video Block",
      "type": "video_block",
      "settings": [
        {
          "type": "text",
          "id": "video_link",
          "label": "Link video"
        }
      ]
    }
  ]
}
{% endschema %}