{% render 'page-club-blocks' %}

{% schema %}
{
  "name": "Club - Blocks",
  "tag": "section",
  "class": "club-blocks",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Club - Blocks"
    }
  ],
  "blocks": [
    {
      "name": "Text Block",
      "type": "text_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "letter_image",
          "label": "Letter Image"
        },
        {
          "type": "checkbox",
          "id": "hide_first_letter",
          "label": "Hide first letter of letter text",
          "default": true
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "name": "Service Block",
      "type": "service_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "service_image",
          "label": "Service Image"
        },
        {
          "type": "text",
          "id": "service_title",
          "label": "Club - Service"
        },
        {
          "type": "richtext",
          "id": "service_paragraph",
          "label": "Club - Paragraph"
        }
      ]
    }
  ]
}
{% endschema %}