/*================ VARIABLES ================*/
$bodyfont:{{ settings.fontfamily-body }},sans-serif;
$headingfont:{{ settings.fontfamily-heading }} ,sans-serif;
$otherfont: {{ settings.fontfamily-other }} ,serif;
//color

$primarycolor:{{ settings.primary-color }} ;
$headingcolor:{{ settings.heading-color }} ;
$textcolor:{{ settings.body-colors }} ;

$color-social:{{ settings.footer-icon-color }};
$border-color-social:{{ settings.footer-border-color }};
$salecolor:{{ settings.sale-color }} ;
$sale-color:{{ settings.sale-color }} ;
$greycolor:{{ settings.greycolor }} ;
$pricecolor: {{ settings.product-price-color }} ;

$titlecolor: #333;
$bordercolor: #e6e6e6;
$lightcolor: #fff;
$darkcolor: #222;
$greylightcolor: #aaa;

//headercolor
$headerbg:{{ settings.header_backgrounds }} ;

//menucolor
$menucolor:{{ settings.menu-color }};
$submenucolor:{{ settings.submenu-color }};
$sub-hover-menucolor:{{ settings.submenu-hover-color }};
$menufontweight:{{ settings.font-weight-menu }};
$submenubg:{{ settings.submenu-background-color }};

//footer
$footer-newsletter-border-color: {{ settings.footer-border-color }};
$footertitlecolor: {{ settings.footer-title-color }};
$footercolor : {{ settings.footer-text-color }};
$footerbg : {{ settings.color_bg_copyright_style1 }};

//button
$background-button:{{ settings.background-button-color }};
$button-color:{{ settings.button-color }};
$button-border-color:{{ settings.button-border-color }};
$background-hover-color:{{ settings.background-hover-color }};
$button-hover-color:{{ settings.button-hover-color }};
$button-border-hover-color:{{ settings.button-border-hover-color }};

//size
$textsize:{{ settings.font-size-body }} ;

//fontweight
$headingfontweight:{{ settings.font-weight-heading }} ;
$regularfontweight: 400;
$titlefontweight: 600;


@mixin buttonMixin() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $background-button;
	box-shadow: none;
	color: $button-color;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $button-border-color;
	background-image: none;
	&:hover {
	  background-color: $background-hover-color;
	  color: $button-hover-color;
	  border-color: $button-border-hover-color;
	}
	@media screen and ( max-width: 992px ){
		padding: 13px 25px;
	}  
}
@mixin buttonMixin1() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $lightcolor;
	box-shadow: none;
	color: $titlecolor;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $bordercolor;
	background-image: none;
	&:hover {
	  background-color: $primarycolor;
	  color: $lightcolor;
	  border-color: $primarycolor;
	}
}
@mixin title(){
	font-size: 30px;
}
@mixin actionbutton(){
	display: block;
	text-align: center;
	padding: 0;
	font-size: 0;
	font-weight: normal;
	text-indent: -9999px;
	letter-spacing: 0;
	@include transition();
	text-indent: 0;
	width: 54px;
	height: 54px;
	line-height:50px; 
	text-align: center;
	border-radius: 2px;
	float: left;
	border: 2px solid $bordercolor;
	background-color: $lightcolor;	
	&:before{
		color: $headingcolor;
	}
	&:hover{
		border-color: $headingcolor;
		background-color: $lightcolor;
	}
}
@mixin transition(){
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}
@mixin flex(){
  	-js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
// Blog style made by Youngly-Bluesky
//header blog sylte
.articleHeader, .entry-header{
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 14px;
  border-bottom: 1px solid $bordercolor;
  .post-entry-data{
    margin-bottom: 20px;
  }
  .BlogTitle, .entry-title{
    margin-top: 0;
    font-size: 20px;
    padding-bottom: 0;
    color: $headingcolor;
    font-weight: $titlefontweight;
    margin-bottom: 12px;
  }			
}
.templateArticle {
	.articleItem{
      	padding-bottom: 10px;
		.articleImage{
			margin-bottom: 15px;
			text-align: center;
		}
      div[itemprop="articleBody"]{
        h3, h4, h5, h6{
            font-weight: $regularfontweight;
            line-height: 1.67;
        }
        h5{
        	font-size: 18px;
          	margin-bottom: 25px;
        }
        h6{
        	font-size: 16px;
        }
        p{
        	margin-bottom: 25px;
        }	
        blockquote{
          margin: 25px auto 30px;
          color: $titlecolor;
          p{
          	margin-bottom: 0;
          }
        }
        .author-post{
          color: #aaa;
          font-size: 13px;
          strong{
          	font-weight: $titlefontweight;
            color: $titlecolor;
            display: block;
            font-size: 16px;
          }
        }
        img{
          margin-bottom: 30px;
          @media screen and (min-width: 992px){
          	margin-bottom: 50px;
          }
        }
      }
	}
  	.blog-footer{
  	    margin: 30px 0 0;
        padding: 18px 0;
        border-top: 2px solid;
        border-bottom: 2px solid;
      	border-color: lighten($bordercolor, 3%);
        @include flex();
        justify-content: space-between;
        align-items: center;
    	flex-wrap: wrap;
        .widget-title{
            font-size: 14px;
          font-weight: $regularfontweight;
          margin-bottom: 0;
        }
        .blog-post-author{
          font-size: 15px;
          color: $headingcolor;
          font-weight: $headingfontweight;
        }
        .widget_socialsharing_widget{
			@include flex();
           justify-content: flex-end;
        	align-items: center;
        }
        @media screen and ( max-width: 479px ){
          .widget-title{
            margin-bottom: 15px;
          }
        }
        span{
            display: inline-block;
            padding-right: 25px;
            color: $headingcolor;
        }
        .socialSharing{
            display: inline-block;
            margin: 0;
            padding: 0;
          list-style: none;
          display: inline-block;
        }
  	}
	.comments-area{
		margin-top: 0;
		padding-top: 95px;
		border-top: 1px solid $bordercolor;
		.media-list{
			li{
				&:first-child{
					> article{
						border-top: 0;
					}
					.children{
						article{
							border-top: 1px solid $bordercolor;
						}
					}
				}
			}
		}
	}
	footer{
		.relpost-thumb-wrapper{
			display: none;
		}
	}
  
}
//blog page
article[id*="post-"]{
	word-wrap: break-word;
  	padding-bottom: 50px;
	@media screen and (max-width:  991px){
		padding-bottom: 50px;
	}
	.entry-header{	
      .entry-title{
        a{
          color: $titlecolor;
        }
        &:hover{
          a{
            color: $primarycolor;
          }
        }
      }
      .post-entry-data{
        list-style: none;
        padding-left: 0;
        margin-bottom: 5px;
        line-height: 12px;
        color: $greycolor;
        font-size: 14px;
        li{
          &.author{
            a, span{
              color: $headingcolor;
              text-transform: capitalize;
              font-weight: $titlefontweight;
            }
          }
          display: inline-block;
          &:last-child{
            &:before{
              content: "/";
              padding: 0 3px;
            }
          }
        }
      }
      .entry-meta{
        margin: 0 0 10px;
        a{
          color: $primarycolor;
          font-size: 12px;
          &:hover{
            text-decoration: underline;
          }
        }
        .posted-on{
          &:before{
            content: "\f073";
            font-family: FontAwesome;
            margin-right: 5px;
          }
        }
      }
    }
    .post-image{
		position: relative;
    }
    .blog-tag{          
      text-transform: capitalize;
      line-height: 1.5;
      color: $greycolor;
      font-size: 0;
      label{
      	display: inline-block;
        font-size: 16px;
        margin-right: 15px;
      }
      a{
        font-size: 14px;
        display: inline-block;
        border: 2px solid #f4f4f4;
        padding: 0 15px;
        border-radius: 30px;
        margin: 0 5px;
        color: $greycolor;
        &:hover{
        	color: $headingcolor;
        }
      }
    }
	.post-wrapper{
      	&:after, &:before{
			content: "";
			display: table;
			clear: both;
		}
		.post-thumbnail{
			overflow: hidden;
			> a{
				display: block;
				overflow: hidden;
				img{
					-webkit-animation-duration: 1s;
				    -moz-animation-duration: 1s;
				    -o-animation-duration: 1s;
				    animation-duration: 1s;
				    -webkit-animation-fill-mode: both;
				    -moz-animation-fill-mode: both;
				    -o-animation-fill-mode: both;
				    animation-fill-mode: both;
			        -webkit-transition: all 0.5s ease 0s;
				    -moz-transition: all 0.5s ease 0s;
				    -ms-transition: all 0.5s ease 0s;
				    -o-transition: all 0.5s ease 0s;
				    transition: all 0.5s ease 0s;
				}
			}

		}
		.post-info{
          .entry-header{
          	margin-top: 15px;
          }
			overflow: hidden;
          	text-align: center;
			&:after{
				clear: both;
				content: " ";
				display: table;

			}
			.entry-header{
                @media screen and (max-width:  991px){
                  margin-top: 20px;
              	}
            }
			.readmore-link{
				margin-top: 12px;
				@include buttonMixin1();
			}
			.entry-content{
				text-align: justify;
				color: $greycolor;
				h5, h6, h4{
					font-size: 22px;
					font-weight: $headingfontweight;
					margin-bottom: 20px;
				}
				p{
					a{
						color: $primarycolor;
					}
				}
				
				img{
					margin-bottom: 25px;
				}
				> ul,> ol{
					padding-left: 30px;
				}
			}
			footer.entry-meta{
				margin: 10px 0 0;
				padding: 20px 0 0;
				border-top: 1px solid $bordercolor;
				.entry-meta-category-tag{
					.cat-links{
						display: block;
						.cat-title{
							color: #000;
							&:before{
								content: '\f07c';
								font-family: 'FontAwesome';
								color: $primarycolor;
								margin-right: 7px;
							}
						}
					}
					.tags-links{
						display: block;
						.tags-title{
							color: #000;
							&:before{
								content: "\f02c";
								font-family: 'FontAwesome';
								color: $primarycolor;
								margin-right: 7px;
							}
						}
					}

				}
				.entry-counter{
					margin: 10px 0 0;
					div{
						display: inline-block;
						margin-right: 10px;
						i{
							margin-right: 5px;
							color: $primarycolor;
						}

					}
				}
			}
		}
      &:hover{
        .post-thumbnail{
          img{
          	transform: scale(1.1);
          }
        }
      }
	}
}
.blog-1-column-right, .blog-1-column-left, .blog-1-column-{
  article[id*="post-"]{
    .post-info{
      margin-top: 0;
    }
    .post-wrapper .post-info .entry-header{
    	margin-top: 20px;
    }
    .post-thumbnail{
      .blog-tag{
        display: none;
      }
      @media screen and ( min-width: 1199px ){
        margin-right: 60px;

      }
      @media screen and (min-width:  992px){
        float: left;
        max-width: 50%;
        margin-right: 30px;
        .entry-header{
          display: block;
        }
      }
    }
  }		
}
main[class*="blog-2-column-"],
main[class*="blog-3-column-"],
main[class*="blog-4-column-"]{
  @media screen and (min-width:  1199px){
    .row{
      margin: 0 -30px;
      article[id*="post-"]{
        padding-right: 30px;
        padding-left: 30px;
      }
    }
  }
}
//side bar
.widget_recent_post{
	ul{
		list-style: none;
		padding-left: 0;
		li{
			margin-bottom: 20px;
			overflow: hidden;
			.post-thumbnail{
				width: 80px;
				margin-right: 10px;
			}
          &:last-child{
          	margin-bottom: 0;
          }
		}
	}
	.post-info{
		a{
			color: $headingcolor;
			display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 18px;
          	font-size: 16px;
          	font-weight: $titlefontweight;
          &:hover{
          	color: $primarycolor;
          }
		}
		span{
			display: block;
			font-size: 12px;
			margin-top: 7px;
          	color: $greycolor;
		}
	}
}
//comment-area
.articleComment{
	clear:both;
	padding-top: 20px;
	margin: 50px 0 0;
	.CommentTitle, #reply-title, h3{
		margin-bottom: 25px;
		font-size: 30px;
		font-weight: $headingfontweight;
		color: $headingcolor;
		letter-spacing: -1px;
	}
	.media-list{
		margin-bottom: 90px;
		list-style: none;
		padding-bottom: 50px;
		border-bottom: 1px solid $bordercolor;
		li{				
			margin: 5px 0;
		}
		.children{
			li{
				&:last-child{
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
		.comment-meta img{
			border-radius: 50%;
			margin-right: 10px;
			padding-right: 0;
		}
		.comment-author{
			margin-bottom: 10px;
			.comment-metadata{
				display: inline-block;
				font-size: 12px;
				a{
				}
				&:after{
					content: "-";
					padding: 0 10px;
				}
				.edit-link a{
					color: $primarycolor;
					padding-left: 5px;
				}
			}
			cite{
				color: $headingcolor; 
				font-weight: $headingfontweight;
			}
		}
		.comment-content{
			overflow: hidden;
			position: relative;
			.comment-author{
			    font-size: 14px;
			    margin-bottom: 10px;
			    font-style: normal;
			    text-transform: capitalize;
			}
			>ul, >ol{
				padding-left: 30px;
			}
		}
		.comment-reply-link{
			padding: 0;
			text-transform: capitalize;
			background: transparent;
			font-size: 12px;
			border: 0;
		    animation: none;
		    color: $textcolor;
		    &:hover{
		    	color: $primarycolor;
		    }
			@media screen and ( min-width: 767px ){
				position: absolute;
				top: 5px;
				right: 3px;
			}
			.fa{
				display: none;
			}
		}
	}
	.info-wrapper{
		float: left;
		width: 46%;
		margin-right: 4%;
		margin-bottom: 15px;
		
	}
	.message-wrapper{
		clear: both;
	}
	.form-control{
		border-radius: 0;
	}
    .form-group{
      margin-bottom: 30px;
    }
	.btnComment{
		margin-top: 10px;
		clear: both;
	}
	.edit-link{
		a{
			color: $primarycolor;
		}
	}
}
//panigation
.templateBlog{
  #proPagination{
  	margin-top: 10px;
  }
}
.BlueskyTechco-section{
	.blog-posts {
      .blog-content-generate{
        .bst-title{
        	padding: 0 15px;
          margin-bottom: 34px;
        }
      }
      .post-wrapper{
        .post-thumb{
          position: relative;
          .su-youtube,.su-slider-centered{
            margin: 0 auto;
          }
          a{
            display: block;
            overflow: hidden;
            img{
              -webkit-animation-duration: 1s;
              -moz-animation-duration: 1s;
              -o-animation-duration: 1s;
              animation-duration: 1s;
              -webkit-animation-fill-mode: both;
              -moz-animation-fill-mode: both;
              -o-animation-fill-mode: both;
              animation-fill-mode: both;
              @include transition();
              width: 100%;
            }
          }
          .date-post{
            position: absolute;
            z-index: 3;
            background: $lightcolor;
            width: 50px;
            height: 55px;
            left: 20px;
            top: 20px;
            text-align: center;
            padding: 10px 0 4px;
            line-height: 0;
            border: 1px solid $primarycolor;
            span{
              display:block;
              width: auto;
            }
            .month{
              font-size: 12px;
              line-height:1;
              padding-bottom: 3px;
              margin-bottom: 2px;
              text-transform: uppercase;
              font-weight: bold;
              position: relative;
              border-bottom: 1px solid $primarycolor;
              display: inline-block;
            }
            .day{
              font-size: 20px;
              line-height: 1;
            }
          }
        }
        .post-info{
          overflow: hidden;
          text-align: center;
          padding-top: 7px;
          a{
            .readmore-text{
              @include buttonMixin1();
              display: none;
            }	
            .fa{
              padding-left: 5px;
            }
            &:hover{
              .readmore-text{
                border-color: $primarycolor;
                color: $lightcolor;
              }
            }
          }
          .article-tags{
            margin: 15px 0;
            ul li{
              display: inline-block;
              a{
                font-size: 12px;
                padding: 5px 14px;
                line-height: 1.5;
                background-color: #f5f5f5;
                display: inline-block;
                text-transform: capitalize;
                margin-bottom: 10px;
                margin-right: 8px;
                border-radius: 30px;
                color: $textcolor;
              }
            }
          }
          .article-meta-buttons{
            padding-left: 0;
            margin-top: 15px;
            .btn {
              background: transparent;
              border: 0;
              padding: 0;
              color: $primarycolor;
              text-transform: uppercase;
              font-weight: $headingfontweight;
              font-size: 14px;
            }
          }
        }
        .post-meta-folder{
          margin-top: 12px;
          color: $textcolor;
          text-transform: capitalize;
          font-size: 14px;
          font-style: italic;
        }
        .post-by { 
          color: $headingcolor;
          display: block;
          margin-top: 15px;
          i{
            line-height: 21px;
          }
          .author{
            text-transform: capitalize;
            padding-left: 10px;
            font-weight: $titlefontweight;
          }
        }
        .post-date{
          position: absolute;
          top: 10px;
          left: 10px;
          min-width: 53px;
          min-height: 53px;
          border-radius: 50%;
          background-color: $primarycolor;
          color: $lightcolor;
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: $headingfontweight;
          line-height: 1.1;
          text-transform: uppercase;
          .day{
            display: block;
          }
        }
        .post-title{
          margin-bottom: 22px;
          font-size: 20px;
          font-family: $headingfont;
          font-weight: $headingfontweight;
          position: relative;
          @media screen and ( min-width: 1199px ){
            max-width:80%;
            margin: auto;
          }
          a{
            color: $headingcolor;
            &:hover{
              color: $primarycolor;
            }
          }
        }
        .post-excerpt{
          margin: 9px 0 10px; 
          line-height: 24px;
          margin-bottom: 0;
        }
      }
      .style_2{
      	.post-wrapper {
          .post-info{
          	background-color: $lightcolor;
            padding: 16px 15px 39px;
            .post-title{
            	max-width: 100%;
              font-weight: $titlefontweight;
            }
            .post-by{
            	margin-top: 6px;
            }
            .post-excerpt{
            	border-top: 1px solid $bordercolor;
                padding-top: 16px;
    			margin-top: 10px;
            }
          }
        }
      }
	}
}
//search page
.list-view-item{
  .product-card{
  	    margin: 0 0 33px;
    .full-width-link{
    	display: none;
    }
    .list-view-item__image-column{
    	margin-bottom: 15px;
    }
    .list-view-item__title-column{
      .list-view-item__title{
      	font-weight: $headingfontweight;
        color: $headingcolor;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}