/*****************************************************************************
    
    CSS CUSTOM
    
    Author       : Webness s.r.l.

******************************************************************************/
@font-face {
  font-family: "Goldplay-Regular";
  src: url("Goldplay-Regular.woff2") format("woff2"),
       url("Goldplay-Regular.woff") format("woff");
} 
@font-face {
  font-family: "Goldplay-Bold";
  src: url("Goldplay-Bold.woff2") format("woff2"),
       url("Goldplay-Bold.woff") format("woff");
}
body {font-family: Goldplay-Regular,sans-serif;font-weight: 300;font-size: 15px;line-height: 24px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-family: Goldplay-Bold,sans-serif;  text-transform: uppercase;  font-weight: 100;  letter-spacing: 1.4px;}
.BlueskyTechco-section .blog-posts .post-wrapper .post-by {display:none}
a.btn.btn-secondary.btn-small {position: relative;display: inline-block;text-decoration: none;padding: 2px 0 ;color:#89A827}
a.btn.btn-secondary.btn-small::before {position: absolute;bottom:-1px;content: " ";display: block;width: 0;height: 2px;background: #89A827;   -ms-transition: width linear 0.2s; -webkit-transition: width linear 0.2s;
    -moz-transition: width linear 0.2s; transition: width linear 0.2s;}
a.btn.btn-secondary.btn-small:hover:before{width:100%;	}
.widget .product-categories .itemCategory .cateItem:hover {color:#89a827}
.widget.price-sidebar .filter-item a:hover {color:#89a827}
.green {color:#89a827;text-decoration:underline}
.green:hover {color:#89a827;text-decoration:none}
#Sidebar {padding-left: 0;}
input[type="submit"]:hover {background:#010101;border-color:#010101;color:#fff!important}
header.layout-2 .col-action .my-wishlist .count, header.layout-3 .col-action .my-wishlist .count, header.layout-4 .col-action .my-wishlist .count {bottom: 10px;left: 14px;font-size: 12px;background: #010101;}
header.sticky.layout-3 .header-container, header.sticky.layout-4 .header-container {padding-bottom: 10px;}
.defaut-header.text-center.have-background { max-width: 1200px; padding-left: 15px; padding-right: 15px;}
.menuContainer ul li.hasMenuDropdown > .menuDropdown, .menuContainer ul li.hasMenuDropdown > .sub-menu, .menuContainer ul li.menu-item-has-children > .menuDropdown, .menuContainer ul li.menu-item-has-children > .sub-menu, .verticalmenu-content ul li.hasMenuDropdown > .menuDropdown, .verticalmenu-content ul li.hasMenuDropdown > .sub-menu, .verticalmenu-content ul li.menu-item-has-children > .menuDropdown, .verticalmenu-content ul li.menu-item-has-children > .sub-menu {padding: 30px 20px !important;}
.topbar-left img {  margin-right: 8px;}
.topbar-left a:hover {color:#89a827}
.bluesky-site-header-login-links img { margin-right: 6px;}
.bluesky-site-header-login-links a:hover {color:#89a827}
.BlueskyTechco-section .blog-posts .post-wrapper .post-info .article-meta-buttons .btn {text-transform: none;font-weight: 600;font-size: 15px;line-height: 25px;letter-spacing: 0.03em;}
.menuContainer ul li ul li a, .verticalmenu-content ul li ul li a {color: #010101;font-size: 15px;}
.bst-logo a {    display: block;    max-width: 220px;}
.sezione-privacy label {    font-size: 12px;}
.sezione-privacy label { font-size: 12px;  width: 92%; margin-left:5px;line-height: 16px;}
.site-footer__newsletter .input-group { margin-bottom: 10px;}
.sezione-privacy a{text-decoration: underline;}
.product-special .banner {    width: 50%;}
.bst-slideshow-wrapper .slideshow__text-wrap .slideshow__title { font-size: 50px;}
.product-special .content.left {    width: 50%;padding-left: 6%;}
#shopify-section-1604594919d90a99ef .bst-title.text-center {  border-top: 1px solid #89a827;  padding-top: 60px;}
.product-special .product-specials .priceProduct {font-weight: 600;line-height: 1.5;font-size:24px}
.product-special .product-specials .product-name a {font-weight: 100;}
.shop-products.products .product .product-wrapper .product-label .newlabel { background: #892113;}
.slideshow__text-content {    background: rgba(137, 168, 39, 0.85);    border-radius:25px;padding: 40px !important;max-width:70%}
.bst-slideshow-wrapper .slideshow__text-wrap .slideshow__title p {  margin-bottom: 0;    color: #fff;  font-family: Goldplay-Bold,sans-serif;  text-transform: none;
    font-weight: 100;  letter-spacing: 1.4px;}
.bts-btn.btn.first-child {  background: #010101 !important;   border-color: #010101 !important;}
.bst-slideshow-wrapper .slideshow__text-wrap .bts-description {  color: #fff !important;font-family: Goldplay-Regular,sans-serif;font-weight: 300;}
.bst-slideshow-wrapper .slideshow__text-wrap .slideshow__subtitle  {  color: #fff !important;font-family: Goldplay-Regular,sans-serif;font-weight: 300;font-style: inherit;font-size: 26px;
margin-bottom: 20px;}
.bts-btn.btn:hover {color:#010101!important}
.bts-btn.btn.first-child:hover {color:#89a827!important}
.product-special .content .description {    font-size: 30px;}
.product-special .product-specials .product-name {  font-size: 24px;}
.bst-slideshow-wrapper .slideshow__text-wrap .bts-description {font-size:20px}
.bst-proShortDescription {  font-size: 20px;margin-bottom:30px;margin-top: 10px;}
.shop-products.products .product .product-wrapper h2.product-name { margin-top: 5px; margin-bottom: 5px;  font-size: 18px;  font-weight: 100;}
.price-box .priceSale {  font-size: 16px;  letter-spacing: 1.4px;}
.price-box .priceCompare {  letter-spacing: 1.4px;font-size: 16px;}
.shop-products.products .product .product-wrapper h2.product-name a {  text-transform: uppercase;}
.QuickView .quickview-product .quickview-wrapper {  padding: 35px;}
.QuickView .quickview-product .quickview-wrapper .product-price .old {  font-size: 16px;  letter-spacing: 1.4px;}
.QuickView .quickview-product .quickview-wrapper .product-price *{  font-size: 16px;  letter-spacing: 1.4px;}
div.single-product-info .widget_socialsharing_widget h3 {font-family: Goldplay-Regular,sans-serif;font-weight: 300;font-size: 15px;line-height: 24px;}
.QuickView .quickview-product .quickview-wrapper .product-title a {  color: #010101;  text-transform: uppercase;  font-size: 24px;  letter-spacing: 1.4px;  font-weight: 100;}
.BlueskyTechco-section .blog-posts .post-wrapper .post-title { font-family: Goldplay-Bold,sans-serif;  text-transform: uppercase;  font-weight: 100;  letter-spacing: 1.4px;}
button, html input[type="button"], input[type="reset"], input[type="submit"], .btn  {font-family: Goldplay-Regular,sans-serif;font-weight: 300;letter-spacing:1.4px;border-radius: 10px;}
.menuContainer > ul > li > a, .verticalmenu-content > ul > li > a {  letter-spacing: 0.5px;}
.product-special .product-specials .product-name a { font-weight: 100;}
#transport_offices a { margin-left: 5px; text-decoration: underline;}
#bst-footer .bst-footerCenter .widget_about_us .footer-phone-info h5, #bst-footer .bst-footerCenter .widget_about_us .footer-phone-info h6, #bst-footer .bst-footerCenter .widget_about_us .contact-info-block .info-item h5, #bst-footer .bst-footerCenter .widget_about_us .contact-info-block .info-item h6 {
    font-weight: 100;}
.product-special .product-specials .bst-productGroup .btnAddToCart {font-family: Goldplay-Regular,sans-serif;font-weight: 300;border-radius: 10px;}
.product-special .product-specials .bst-productGroup .btnAddToCart:hover {background:#010101;color:#fff!important;border-color:#010101}
.shop-products.products .product .product-wrapper .actions .add-cart .add_to_cart_inline:hover {background:#010101;color:#fff!important;border-color:#010101} 
.shop-products.products .product .product-wrapper .actions .add-cart .add_to_cart_inline span:hover {color:#fff!important} 
.QuickView .quickview-product .quickview-wrapper .single-product-button-group button:hover {background:#010101;color:#fff!important;border-color:#010101} 
.block-search form.minisearch .search__submit {line-height:10px}
header.layout-2 .col-action .cart-open .site-header__cart-count, header.layout-3 .col-action .cart-open .site-header__cart-count, header.layout-4 .col-action .cart-open .site-header__cart-count {letter-spacing: 1.4px;}
header .header-container .header-right h5 {font-size: 16px;font-weight: 100;}
header.layout-3 .header-container .block-search .block-content {position: absolute;left: 25%;right: 50%;width: 500px;top: 60%;}
.shop-products.products .product .product-wrapper .list-col8 .gridview .short-description .bst-proShortDescription {letter-spacing:1.4px}
#bst-footer .footer-newsletter .contact-form .input-group button {  border-radius: 0 10px 10px 0;}
#bst-footer .footer-newsletter .contact-form .input-group .newsletter__input {  border-radius: 10px 0 0 10px;}
.shop-products.products .product .product-wrapper .actions .add-cart .add_to_cart_inline {border-radius:10px}
.BlueskyTechco-section .blog-posts .post-wrapper .post-date {  background-color: #892114;}
#customer_login .action-bottom > * {margin-right:0}
#customer_register_link { background: #010101; border-radius: 10px; padding: 12px 40px; color: #fff;  text-transform: uppercase; letter-spacing: 1.4px; font-family: Goldplay-Regular,sans-serif;
    font-weight: 300; letter-spacing: 1.4px;   margin-left: 194px;}
#RecoverPassword {  margin-left: 15px;}
#customer_login, #create_customer, .reset-password {background:#f4f4f4}
.form-message--error *, .shopify-challenge__errors *, .errors * {  padding-left: 0;}
.defaut-header .entry-title {  text-transform: uppercase;}
#HideRecoverPasswordLink { background: transparent;  color: #89a827;}
#HideRecoverPasswordLink:hover { background: #010101; border-color:#010101; color: #fff!important;}
.breadcrumb { font-size: 14px; letter-spacing: 1.4px;}
.breadcrumb a { color: #89a827;}
.widget .widget-title {font-family: Goldplay-Regular,sans-serif;}
.widget.price-sidebar .filter-item a {line-height:6px;margin-bottom:10px}
.shop-products.products .product .product-wrapper .actions .add-cart .add_to_cart_inline {font-family: Goldplay-Regular,sans-serif;padding: 13px 18px;}
.top-category-product {    display: none;}
.filters-toolbar .filters-toolbar__item--count { border: none;}
.filters-toolbar .filters-toolbar__item-child .filters-toolbar__input {  border-radius: 0 !important;}
.filters-toolbar .filters-toolbar__item-child .filters-toolbar__input {  font-weight: 300;}
div.single-product-info .price.price--on-sale .price__regular .price-item {   color: #999;}
.grid__item.col-sm-3.col-action {   float: right;}
div.single-product-info div[itemprop="description"] { font-size: 15px;}
div.single-product-info .product_title {  font-size:34px;}
div.single-product-info .product_meta .proAttr { font-size: 15px;}
#relatedProducts .bst-title img {  display: none;}
.templateProduct .single-product .related_products_widget div[data-item-slide="5"] .shop-products.products .product .product-wrapper .actions .add-cart .add_to_cart_inline {padding:10px}
.quantity-updown {  border-radius: 0;}
.single-product-action .action-add-cart .wishlist { text-align: center; margin: 25px 0}
.single-payment li.item:first-child { display: inherit;}
.single-payment li.item {  display: none;}
.single-product-action .single-payment img {  max-width: 100%;}
.templateProduct .single-product .proDetailInfo .nav-tabs li a {letter-spacing: 1.4px; padding: 7px 10px; font-family: Goldplay-Bold,sans-serif;font-weight: 400;}
.shopify-payment-button__button.shopify-payment-button__button--unbranded._2ogcW-Q9I-rgsSkNbRiJzA._2EiMjnumZ6FVtlC7RViKtj._2-dUletcCZ2ZL1aaH0GXxT { display: none;}
#proPagination { border-top: none;}
.filters-toolbar {border-bottom: 1px solid #89a827;}
.templateProduct .single-product .related_products_widget, .templateProduct .single-product .upsells  {border-top: 1px solid #89a827;}
div.single-product-info .product_meta .proAttr {   display: none;}
#AddToCart-BlueskyTechco-ProductView:hover {background:#010101;color:#fff!important;border-color:#010101}
::placeholder {  font-family: Goldplay-Regular,sans-serif !important;color:#010101!important;opacity:1!important;font-size:15px} 
.list-view-items .bst-proShortDescription { font-size: 15px;}
.shop-products.list-view .product .product-wrapper .list-col8 .actions .action.towishlist {color:#89a827;text-align:center}
.bst-minicart {  letter-spacing: 1.4px;}
#bst-minicart .bst-minicart-checkout a {font-family: Goldplay-Regular,sans-serif;border-radius:10px;padding: 13px 10px;font-size: 12px;letter-spacing: 1px;}
#bst-minicart .bst-minicart-checkout a.checkout:hover {  background-color: #010101;  color: #fff;  border-color: #010101;}
#bst-footer { letter-spacing: 1.4px;  font-size: 13px;}
.widget .product-categories .itemCategory .cateItem { font-size: 15px;}
.widget .check-box a { font-weight: 300;}
.single-product-action .widget_socialsharing_widget ul li a i {width: 33px;height: 33px;line-height: 29px;background-color: transparent;border: 2px solid #f4f4f4;
border-radius: 50%;margin-right: 9px;font-size: 15px;}
.single-product-action .widget_socialsharing_widget ul li {   margin: 0;}
.bst-footerCopyRight .col-sm-12.col-md-6 {  max-width: 40%;  flex: 0 0 40%;}
.bst-footerCopyRight .col-sm-12.col-md-6.copyright-col {    max-width: 60%;    flex: 0 0 60%;}
.quickview-wrapper .widget_socialsharing_widget.clearfix label {  font-size: 15px !important;}
.quick-modal .product-tag {  display: none;}
.quick-modal .product-vender { display: none;}
.quick-modal .widget_socialsharing_widget ul li a i { font-size: 15px;}
.quick-modal .product-availability {margin:20px 0}
#Subscribe {   padding: 13px 28px;}
#bst-footer .footer-newsletter .contact-form .input-group {width:90%}
.templatePage .pages-banner {  background-image: none !important;height:120px!important}
.templatePage .defaut-header.have-background .entry-title {color:#010101}
.outsite-banner #Breadcrumbs .breadcrumb { padding-left: 0;}
.templateProduct  .outsite-banner #Breadcrumbs .breadcrumb { padding-left: 15px;}
.cc-link {   line-height: 18px;}
#RecoverPasswordForm .breadcrumbs {    display: none;}
.form-vertical.reset-password {  margin-top: 30px;}
.table-cart.col-sm-9 {  padding-left: 0;letter-spacing: 1.4px;}
.btn.btn--secondary.small--hide.cart__submit-control.update:hover {color:#010101!important}
.btn.btn--small-wide.cart__submit.cart__submit-control:hover {  background-color: #010101;  color: #fff!important;  border-color: #010101;}
form.cart .cart__footer .cart-total .cart__shipping { font-style: normal;  font-size: 12px;  letter-spacing: 1.4px;  line-height: 18px;}

.contact-form.form-vertical.container {    padding: 0;}
.contact-form #contact_form {  background: #f4f4f4;  padding: 40px 20px;margin-top:-119px}
.contact-us .bst-short-des {   letter-spacing: 1.4px;}
.contact-form.form-vertical.container ul {  letter-spacing: 1.4px;}
.contact-us .contact-info ul li .label::after {  content: ":";}
.contact-us .contact-info ul li:first-child .label::after {  content:none;}
.templateCustomersRegister #create_customer .sezione-privacy label {  display: inline !important;  text-transform: none;  font-size: 12px;  letter-spacing: 0;   font-weight: 500;    line-height: 22px;}
#contact_form .sezione-privacy label { display: inline-block !important;text-transform: none;font-size: 12px;letter-spacing: 0;font-weight: 500;line-height: 20px;width: 92%;}
#create_customer .text-center.action-bottom {  margin-top: 20px;}
.articleComment .CommentTitle, .articleComment #reply-title, .articleComment h3 {  font-weight: 100;}

.templateArticle .blog-footer {border-bottom: none;border-top: 1px solid;border-color: #89a827;padding: 40px 0 0;}
.ProductSharing.widget_socialsharing_widget.clearfix h3 {  text-transform: none;  font-size: 18px;  font-weight: 100;}
.articleComment .CommentTitle, .articleComment #reply-title, .articleComment h3 {  font-weight: 100;  font-family: Goldplay-Regular,sans-serif; text-transform: none;}
article[id*="post-"] .post-wrapper .post-info {  text-align: left;}
article[id*="post-"] .post-wrapper .post-info .readmore-link {font-family: Goldplay-Regular,sans-serif;font-weight: 300;border-radius:10px}
.articleComment {  display: none;}
.widget_socialsharing_widget ul li a i {  font-size: 15px;}
.articleHeader .BlogTitle, .articleHeader .entry-title, .entry-header .BlogTitle, .entry-header .entry-title { font-size: 24px;}
.filter-clear span {display:none}
.action.clear.filter-clear:after {content:"Rimuovi Filtro"}
.action.clear.filter-clear {  color: red;  margin-bottom: 20px;  display: block;}
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, .form-control, select {font-family: Goldplay-Regular,sans-serif;font-size:14px;letter-spacing:1.4px}
label { letter-spacing: 1.4px;}
.templateProduct .single-product .proDetailInfo .nav-tabs {height:35px}
form.cart .cart__footer .cart-total .subtotal { letter-spacing: 1.4px;}
form.cart .cart__footer .cart-note .cart-note__label {  font-size: 13px;}
.display-table .logged-in-customer-information__avatar-wrapper {  background: #fff;}
form.cart .cart__footer .grid { padding: 27px 15px 30px; background: #f4f4f4;}
form.cart .cart__footer .cart-note textarea {  background: #fff;}
.templateProduct .single-product .related_products_widget .widget-title, .templateProduct .single-product .upsells .widget-title { font-size: 40px;}
header.layout-3 .col-action .cart-open .site-header__cart-count .cart-count {bottom: 8px;left: 14px;font-size: 12px;background: #010101;}
.footer-phone-info.mode-03 img { margin-right: 10px;}
#bst-footer .bst-footerCenter .widget_about_us .footer-phone-info .r-info { font-size: 16px}
.menu-item img { height: 100%;  margin-right: 10px;}
.spr-summary-actions-newreview { color: #89a827;  text-decoration: underline;}
.spr-review-reportreview {  letter-spacing: 0.05em;}
.shop-products.products .product .product-wrapper h2.product-name a {display: inherit;min-height: 65px;font-size:16px}
.form-vertical .action-bottom { margin-bottom: 40px;}
.tab-content #proTabs1 strong { letter-spacing: 0.05em; font-family: Goldplay-Bold,sans-serif;}
.spr-review-reply-shop {float: left!important;}
#bst-minicart #bst-minicart-content .bst-minicart-name a { font-size: 13px; line-height: 20px; margin-bottom: 10px;}
#bst-minicart #bst-minicart-content .bst-minicart-name .bst-minicart-total { font-size: 14px;}
#bst-minicart #bst-minicart-content .bst-minicart-name {  padding-right: 15px;padding-bottom: 5px;}
form.cart .cart__row td .info-item .list-view-item__title a { font-size: 16px; color: #010101; font-weight: 400; font-family: Goldplay-Bold,sans-serif;}
#AddressProvinceContainer_5607752794284 { margin-bottom: 20px;}
#address_form_new h2 { font-size: 30px;}
#AddressCompanyNew { margin-bottom: 20px;}
#AddressAddress1New { margin-bottom: 20px;}
#AddressProvinceContainerNew { margin-bottom: 20px;}
#AddressZipNew { margin-bottom: 20px;}
#AddressPhoneNew { margin-bottom: 20px;}
.text-link.address-new-toggle  { margin-top: 20px;}
#address_default_address_new {   display: inherit;}
.quick-modal .product-availability label { display: none;}
.footer-phone-info.mode-03 img {    width: 38px;height:38px}
#shopify-section-1605873257dd2e9c1d {  margin-top: 60px;}
.widget.widget_tag a {   padding: 5px 15px; }
.templateCollection  .spr-badge-starrating .spr-icon {color: #ffbc53;font-size: 12px;}
.templateCollection  .spr-badge-caption { margin-left: 10px;  font-size: 13px;}  
.templateCollection .bst-productPrice.price-box { margin-top: 8px !important;}
.proReviews i::before { font-family: "font-awesome-stars";  content: '\e800';}
.proReviews i {color: #ffbc53;}
.spr-badge-starrating .spr-icon {  color: #ffbc53;font-size:12px}
#relatedProducts  .spr-badge-caption { margin-left: 5px;  font-size: 13px;} 
#relatedProducts  .bst-productPrice.price-box { margin-top: 8px !important;}
.spr-icon.spr-icon-star-empty::before { font-family: Fontawesome;  content: "\f006";}
#relatedProducts .spr-icon.spr-icon-star-empty {  color: #010101;font-size: 12px!important}
.bst-collections-productgird .spr-icon.spr-icon-star-empty { color: #010101; font-size: 12px !important;}
.bst-collections-productgird .spr-badge-caption {   font-size: 13px;margin-left: 10px;}
.bst-collections-productgird .spr-badge-starrating .spr-icon { font-size: 12px !important;}
.bst-collections-productgird .bst-productPrice.price-box { margin-top: 8px !important;}
.templateCollection .spr-badge-starrating .spr-icon.spr-icon-star-empty { color: #010101; }
.single-product-action .widget_socialsharing_widget ul {  text-align: center;}
.action.towishlist.action--wishlist.tile-actions--btn.flex.wishlist-btn.is-active img {  margin-right: 4px;  }
.bst-productPrice.price-box {  letter-spacing: 0.05em;}
.shop-products.list-view .product .product-wrapper .list-col8 .listview {min-width:400px}
.shop-products.list-view .product .product-wrapper .list-col8 .actions .product-available li::before {  display: inline;}
.shop-products.list-view .product .bst-product-description .bst-productGroup.actions {display:initial}

@media (max-width: 1679px) {
#shopify-section-1605873257dd2e9c1d .bst-slideshow-wrapper .bst-slideshow .bst-Image img { padding: 60px 0;}
}

@media (max-width: 767px) {
header.layout-3 .header-container, header.layout-4 .header-container { padding-bottom: 0;}
header.layout-3 .header-container .header-top .col-menu, header.layout-4 .header-container .header-top .col-menu {  bottom: 0!important;}
header.layout-3 .header-container .header-top .col-action, header.layout-4 .header-container .header-top .col-action {    bottom: 30px!important;    right: 38px!important;}
  header.layout-3 .header-container .block-search .block-content {top:18px!important}
.bst-logo a { max-width: 160px;}
header.layout-3 .col-action .cart-open .site-header__cart-count .cart-count {min-width: 14px;  height: 14px; font-size: 10px; }
header.layout-3 .header-container .header-top .col-action .cart-open, header.layout-4 .header-container .header-top .col-action .cart-open { padding-right: 5px;}
header.layout-3 .header-container .header-top .col-menu, header.layout-4 .header-container .header-top .col-menu {bottom: 0;  left: 20px;}
header.layout-3 .header-container .header-top .col-action, header.layout-4 .header-container .header-top .col-action { bottom: 50px;right: 35px; }
header.layout-3 .header-container .block-search .block-content { position: inherit; left: inherit; right: 70px; width: auto; top: 0;}
header.layout-3 .header-container .block-search, header.layout-4 .header-container .block-search { bottom: 75px; right: 0;}
header.layout-3 .header-container .block-search form.minisearch, header.layout-4 .header-container .block-search form.minisearch { min-width: 250px;}
.mobile-nav-wrapper .mobile-menu > li > a { font-size: 16px; color: #010101;}  
.mobile-nav-wrapper .mobile-menu a { color: #010101;}
.breadcrumbs.outsite-banner { padding: 0 15px;}  
.my-account-link img {    margin-right: 5px;}
.wishlist-link img {    margin-right: 5px;}
.cart-open .bst-minicart-image img {   width: auto;}
  #bst-minicart #bst-minicart-content .bst-minicart-name .bst-minicart-total { font-size: 15px;}
.mobile-nav-wrapper .mobile-menu {  border-bottom: 1px solid #89a827;}
.mobile-nav-wrapper .mobile-menu > li:last-child {   border-bottom: none;}
.bst-footerCopyRight .col-sm-12.col-md-6.copyright-col { max-width: 100%;  flex: 0 0 100%;}  
.bst-footerCopyRight .col-sm-12.col-md-6 { max-width: 100%;  flex: 0 0 100%;}  
  header.layout-3 .col-action .cart-open .site-header__cart-count .cart-count {bottom: 7px;left: 10px;} 
.slideshow__text-content { border-radius: 8px; padding: 10px 10px !important; max-width: 60%;}
.bst-slideshow-wrapper .slideshow__text-wrap .slideshow__title {  font-size: 16px;}  
button, html input[type="button"], input[type="reset"], input[type="submit"], .btn { border-radius: 8px;}
  .product-special .banner {   width: 100%;    opacity: 1; position: inherit;padding-top: 30px;}
.bst-slideshow-wrapper .slideshow__text-wrap {  text-align: left;}  
.bst-slideshow-wrapper .slideshow__text-wrap .btn.first-child {  margin-bottom: 5px;}  
.product-special .content.left {  width: 100%;padding: 0 15px;}  
.product-special { -js-display: initial; display: initial;  display: initial;}
.product-special .content .title { font-size: 36px; line-height: 1;}  
.product-special .content .description { font-size: 22px;  line-height: 1.2;} 
.product-special .product-specials {  margin-top: 30px;} 
.BlueskyTechco-section .bst-title h2 {padding:0 30px}  
.shop-products .ProductGird.product-wrapper .list-col8 .actions .laberQuickview a i, .shop-products .ProductGird.product-wrapper .list-col8 .actions .wishlist a i {
  font-size: 20px;}  
.shop-products.products .product .product-wrapper .product-label .newlabel, .shop-products.products .product .product-wrapper .product-label .onsale { font-size: 13px;  }
 #homess-main-wrapper .secondary_image {    display: none;} 
.shop-products.products .product .product-wrapper .actions .add-cart {  margin-top: 18px;}  
.BlueskyTechco-section .blog-posts .post-wrapper .post-info {   padding-top: 20px;}  
 #bst-footer .footer-newsletter .flex-layout-left { margin-bottom: 0;border-top: 1px solid #89a827;  padding-top: 30px;} 
#Subscribe {    padding: 13px 15px;}  
  #contact_form .sezione-privacy label {    font-size: 11px;  }
#bst-footer .footer-newsletter.style2 {  border-bottom: 1px solid #89a827;    padding-bottom: 30px;}  
#bst-footer .widget-title {  margin-top: 0;}  
 #bst-footer .col-sm-6.col-md-6 {    padding-top: 30px;}
  #bst-footer .footer-top-v2 {   padding-bottom: 35px;  }
#shopify-section-1605873257dd2e9c1d .bst-Image { background: url(//cdn.shopify.com/s/files/1/0507/1342/8140/files/22_68878bf9-4954-4d9c-aa58-755ad2f7c4f2_1920x960.jpg?v=1605873547);
background-position-x: 0%; background-position-y: 0%;  background-size: auto; background-size: cover;  height: 400px;  background-position: center;}  
#shopify-section-1605873257dd2e9c1d .bst-slideshow-wrapper .bst-slideshow .bst-Image img {  display: none;} 
#shopify-section-1605873257dd2e9c1d .bst-slideshow-wrapper .slideshow__text-wrap .slideshow__title {  font-size: 36px;margin-bottom: 20px;}   
#shopify-section-1605873257dd2e9c1d  .slideshow__text-content { padding: 20px 20px !important;   max-width: 80%; }
#shopify-section-1605873257dd2e9c1d   .bst-slideshow-wrapper .slideshow__text-wrap .btn {   padding: 10px 10px;}
  .filters-toolbar .filters-toolbar__item-child {    -js-display: initial;    display: initial;    display: initial;}
  .filters-toolbar .filters-mobile a.filters-on-mobile {  padding: 5px 15px;  }
div.single-product-info .product_title {    font-size: 26px;}  
 .templateProduct .single-product .related_products_widget div[data-item-slide="5"] .shop-products.products .product .product-wrapper .actions .add-cart .add_to_cart_inline, .templateProduct .single-product .upsells div[data-item-slide="5"] .shop-products.products .product .product-wrapper .actions .add-cart .add_to_cart_inline {
    font-size: 14px;} 
  .defaut-header .entry-title {padding: 0 30px;font-size: 30px;}
  .cart-open img {width:18px}  
  .table-cart.col-sm-9 {   padding-left: 15px;  }
form.cart .cart__row td { border: 1px solid #e6e6e6;  border-top: none;}  
form.cart .cart__row td .info-item .remove-cart {  left: 8px;}  
form.cart .cart__row td .info-item .list-view-item__title a {  font-size: 15px;  }
form.cart .cart__row td.cart__price-wrapper { font-size: 15px;}  
.table-cart .btn { margin-bottom:20px} 
  form.cart .action-cart .cart-action-left .update { float: left;  }
.grid__item.medium-up--five-sixths.medium-up--push-one-twelfth .breadcrumbs.outsite-banner {    padding: 0;}
.contact-form #contact_form {  margin-top: 30px;}
.bst-product-grid .col-products {padding: 0 10px;}
.product .wishlist a.is-active {background: url(https://cdn.shopify.com/s/files/1/0507/1342/8140/files/wishlist.png?v=1607513812); background-size: 18px; background-repeat: no-repeat; background-position: center;}
/*.product .wishlist .fa.fa-heart {  display: none;}*/
#customer_login .action-bottom {display: inline-grid;}
#RecoverPassword { margin: 20px 0;  display: block;}
#customer_register_link {margin: 20px 0;display: block;}
.templatePage .pages-banner { background-image: none !important; height: 80px !important; margin-bottom: 10px !important;}
#shopify-section-BlueskyTechco-CartTemplate h1 {font-size:30px;margin-bottom: 20px;}
#Sidebar { padding-left: 30px;z-index: 1000000;}
.shop-products.products .product .product-wrapper h2.product-name a { min-height: auto;}
.shop-products.list-view .product .product-wrapper .list-col8 .actions .action.towishlist { text-align: left; margin-bottom: 23px;}
#Breadcrumbs li { font-size: 12px !important;}
div.single-product-info .price { margin: 25px 0 20px;}
.templateProduct .single-product .tab-content ul { margin-top: 20px;}
.templateProduct .single-product .related_products_widget .widget-title, .templateProduct .single-product .upsells .widget-title {font-size: 30px;}
#shopify-product-reviews .spr-header-title { text-align: left;font-size: 20px;}
form.cart .cart__row td .info-item .list-view-item__title a { font-weight: 400; font-family: Goldplay-Bold,sans-serif;  margin:10px 10px 10px 15px;  float: left; line-height: 20px;}
.cart .medium-up--hide {  font-family: Goldplay-Regular,sans-serif;  display: block;margin-top: 10px;}
.cart .medium-up--hide .visually-hidden {  margin-right: 6px;}
form.cart .cart__row td .info-item { padding-left: 25px;}
.collection-template-customer-logged-in table {  font-size: 14px;  line-height: 20px;}
 #shopify-section-1605873257dd2e9c1d {    margin-top: 0;}
  .shop-products.list-view .product .product-wrapper .list-col8 .listview {    min-width: 100%;}
  .templateCustomersAddresses .action-bottom-address .button-address {display: inherit;}
  .templateCustomersAddresses .action-bottom-address .button-address div {margin-bottom:30px}
  .templateCustomersAddresses .action-bottom-address label {  display: inline;  margin-left: 5px;   font-size: 13px;}
  
}

@media (max-width: 576px) {
  header.layout-3 .header-container .header-top .col-menu, header.layout-4 .header-container .header-top .col-menu {
    bottom: 35px!important;  left: 20px;
  }
  header.layout-3 .header-container .block-search .block-content {
    right: 0;
  }
}

/* smartphone Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    header.layout-3 .header-container .header-top .col-logo {max-width:30%;padding-left: 0;}
header.layout-3 .header-container .block-search, header.layout-4 .header-container .block-search {  bottom: 75px;  right: 23%;}
    header.layout-3 .header-container .header-top .col-menu, header.layout-4 .header-container .header-top .col-menu { bottom: 0!important;  left: 150px;  right: 0;}
    .about__text-block .grid__item--text { max-width: 65%;}
    .about__text-block .grid__item--image { max-width: 30%;}
    
}
/* Landscape iPhone 6/7/8 Plus */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
        header.layout-3 .header-container .header-top .col-logo {max-width:30%;padding-left: 0;}
header.layout-3 .header-container .block-search, header.layout-4 .header-container .block-search {  bottom: 75px;  right: 16%;}
    header.layout-3 .header-container .header-top .col-menu, header.layout-4 .header-container .header-top .col-menu { bottom: 0!important;  left: 170px;  right: 0;}
.about__text-block .grid__item--text { max-width: 65%;}
    .about__text-block .grid__item--image { max-width: 30%;}
}

  
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /* iPad 9.7 */
.shop-products.products .product .product-wrapper .product-image .secondary_image {  display: none;}
header .topbar {    font-size: 12px;}
.nav-mobile {  margin: 40px 0 0 30px;}  
.fa-bars::before { font-size: 30px;}  
header.layout-3 .header-container .block-search .block-content {width:340px}  
header .header-container .header-right p {font-size: 12px;} 
header.layout-2 .col-action .cart-open, header.layout-3 .col-action .cart-open, header.layout-4 .col-action .cart-open { padding-right: 20px;}  
.mobile-nav-wrapper .my-account-link img { width: 24px;  margin-right: 8px;}  
.mobile-nav-wrapper .wishlist-link img { width: 24px;  margin-right: 8px;}
.mobile-nav-wrapper .mobile-menu > li > a { color: #010101;}  
.mobile-nav-wrapper .mobile-menu a { color: #010101;}  
.templateCollection  #Breadcrumbs { padding: 0 15px;}    
.bst-slideshow-wrapper .slideshow__text-wrap .slideshow__title {  font-size: 30px;}  
.bst-slideshow-wrapper .slideshow__text-wrap .slideshow__subtitle {display: none;}  
.btn {  padding: 13px 15px;font-size: 12px;}  
.bst-slideshow-wrapper .slideshow__text-wrap .bts-description { font-size: 16px; margin-bottom: 15px;}  
.slideshow__text-content { padding: 30px !important;}  
.product-special .content .title { font-size: 34px;}  
.product-special .content .description { font-size: 20px;}  
.bst-proShortDescription {  font-size: 16px;}  
.product-special {  padding-top: 40px;}  
.product-special .banner {position: inherit;opacity:1}  
.product-special .product-specials {  margin-top: 30px;}  
.BlueskyTechco-section .bst-title h2, .BlueskyTechco-section .bst-title .widget-title { font-size: 34px;  }
.shop-products.products .product .product-wrapper h2.product-name { min-height: 80px;}  
.BlueskyTechco-section .blog-posts .post-wrapper .post-info {  padding-top: 15px;}  
footer .col-sm-6.col-md-6 { border-left: 1px solid #ddd;  padding-left: 30px;}  
.contact-us #contact_form .field { flex-basis: 100%;}  
.filters-toolbar {  font-size: 12px;}  
.filters-toolbar .filters-mobile a.filters-on-mobile { font-size: 14px;background: #89a827; color: #fff; letter-spacing: 0.08em; margin-left: 20px; border: 2px solid #89a827; padding: 5px 15px;
    border-radius: 8px !important;}  
.filters-toolbar .filters-toolbar__item-child .filters-toolbar__input { width: 200px !important;font-size: 11px;padding: 0 5px;}  
.filters-toolbar__product-count { font-size: 12px;  letter-spacing: 0.05em;}  
 .shop-products.list-view .product .product-wrapper .list-col8 .actions .action.towishlist {   text-align: left;margin: 20px 0 30px;} 
.shop-products.list-view h2.product-name {   min-height: auto!important;}
.shop-products.list-view h2.product-name a {   min-height: auto!important;}
.defaut-header .entry-title {  font-size: 34px;}
.templateProduct    #Breadcrumbs { padding: 0 15px;}    
  .single-product-action .widget_socialsharing_widget ul li a i {  margin-right: 2px;  }
.templateCart #Breadcrumbs { padding: 0 15px;}    
  .table-cart.col-sm-9 { padding-left: 15px;}
form.cart .cart__row td .info-item .list-view-item__title a {font-size: 15px; line-height: 16px; display: block;}  
.templateCustomersAccount   #Breadcrumbs { padding: 0 15px;}    
#Sidebar {  padding-left: 30px;}  
.templateSearch  #Breadcrumbs { padding: 0 15px;}  
.templateSearch  h1.entry-title .visually-hidden {  display: block;}
  .widget.widget_tag a { padding: 5px 15px;}
 #shopify-section-1605873257dd2e9c1d {    margin-top: 0;}  
.templateCustomersLogin #Breadcrumbs { padding: 0 15px;}  
.templateCustomersRegister #Breadcrumbs { padding: 0 15px;}  
 #customer_register_link { padding: 12px 20px; margin-left: 80px;   display: block;} 
.templatePage  #Breadcrumbs { padding: 0 15px;}  
 .templatePage  .shop-products.products .product .product-wrapper .actions .add-cart {    padding: 2px;}
  header .topbar .topbar-right .bst-social .bst-social-icons li a {    padding: 0 6px;}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {/* iPad 9.7 landscape */
 #Sidebar .hidden-md {  display: inline-block!important;}
header.layout-3 .header-container .block-search form.minisearch, header.layout-4 .header-container .block-search form.minisearch { min-width: 470px;}
header.layout-3 .header-container .block-search .block-content { width: 490px;}
}


@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {/*iPad Pro 10.5" portrait*/
.shop-products.products .product .product-wrapper .product-image .secondary_image {  display: none;}
header.layout-3 .header-container .block-search .block-content {  width: 360px;}
.fa-bars::before {  font-size: 30px;}
.nav-mobile { margin: 40px 0 0 30px;}
header.layout-3 .header-container .header-top .col-action {margin-right:30px}
header .header-container .header-right p {  font-size: 13px;}
.slideshow__text-content { padding: 30px !important;}
.bst-slideshow-wrapper .slideshow__text-wrap .slideshow__title {  font-size: 34px;line-height: 34px;}
.bst-slideshow-wrapper .slideshow__text-wrap .bts-description { margin-bottom: 20px;  padding-left: 0;}
.bst-slideshow-wrapper .slideshow__text-wrap .slideshow__subtitle { font-size: 20px;}
.bts-btn.btn.first-child {  font-size: 13px;}
.bst-slideshow-wrapper .slideshow__text-wrap .bts-description {  font-size: 18px;}
.bst-slideshow-wrapper .slideshow__text-wrap .first-child {  margin-right: 10px;}
.mega-subtitle.slideshow__subtitle.hidden-xs {  display: none;}
.product-special .content .title {  font-size: 34px; }
.product-special .content .description {  font-size: 20px;}
.product-special .product-specials {  margin-top: 30px;}
.product-special {  padding-top: 40px;}
.product-special .banner { position: inherit; opacity: 1;}
.mobile-nav-wrapper .my-account-link img { width: 24px;  margin-right: 8px;}
.mobile-nav-wrapper .wishlist-link img { width: 24px;  margin-right: 8px;}
.bst-proShortDescription { font-size: 16px;  }
.shop-products.products .product .product-wrapper h2.product-name { min-height: 80px;}
.BlueskyTechco-section .bst-title h2, .BlueskyTechco-section .bst-title .widget-title { font-size: 36px;  }
.BlueskyTechco-section .blog-posts .post-wrapper .post-info { padding-top: 15px;}  
#bst-footer { margin-top: 40px;}  
footer .col-sm-6.col-md-6 { border-left: 1px solid #ddd;  padding-left: 30px;} 
#bst-footer .transport_offices { margin-bottom: 30px;}  
.bst-copyRight { line-height: 18px;}  
.templateCustomersLogin #Breadcrumbs { padding: 0 15px;}  
 #Breadcrumbs { padding: 0 15px;}
.templatePage  #Breadcrumbs { padding: 0 }
.mobile-nav-wrapper .mobile-menu > li > a { color: #010101;}  
  .mobile-nav-wrapper .mobile-menu a { color: #010101;}
#RecoverPassword {width: 100%;  display: block;}  
#customer_register_link { margin-left: 104px; display: block;  }
.contact-us .bst-title { margin-bottom: 23px;}  
.contact-form #contact_form {  margin-top: -100px;} 
.contact-us #contact_form .field {  flex-basis: 100%;}  
.filters-toolbar .filters-toolbar__item--count, .filters-toolbar .filters-toolbar__item-child .filters-toolbar__input {font-size:13px}
.filters-toolbar .filters-toolbar__item-child label { font-size: 13px;}  
.filters-toolbar .filters-mobile a.filters-on-mobile {background: #89a827;color: #fff;letter-spacing: 0.08em;margin-left: 20px;border: 2px solid #89a827;padding: 5px 15px;
border-radius: 8px !important;}  
#Sidebar {  padding-left: 30px;}  
.widget.widget_tag a {padding: 5px 15px;}  
.templateProduct .single-product .related_products_widget .widget-title, .templateProduct .single-product .upsells .widget-title {font-size: 34px;}  
.single-product-action .widget_socialsharing_widget ul li a i {margin-right:7px}  
.templateCart .cart.row {  margin: 0 2px;}  
form.cart .cart__footer {padding:0;margin-top: 50px;}
.templateSearch  h1.entry-title .visually-hidden {  display: block;}
.shop-products.list-view .product .product-wrapper .list-col8 .actions .action.towishlist {  text-align: left;margin: 20px 0 30px;}  
.shop-products.list-view  h2.product-name {   min-height: auto!important;}
.shop-products.list-view h2.product-name a {   min-height: auto!important;}
 #shopify-section-1605873257dd2e9c1d {    margin-top: 0;}
.templatePage  #Breadcrumbs { padding: 0 15px;} 
.filters-toolbar .filters-toolbar__item--count, .filters-toolbar .filters-toolbar__item-child .filters-toolbar__input {  font-size: 11px;}
}

@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {/*iPad Pro 10.5" landscape*/
.templateCollection  #Breadcrumbs { padding: 0 15px;}  
.templateCollection  #Sidebar {  padding-left: 15px;}
 .widget.widget_tag a {padding:5px 15px}
.templateProduct  #Breadcrumbs { padding: 0 15px;}    
 .single-product-action .widget_socialsharing_widget ul li a i {margin-right:5px}    
.templateCart   #Breadcrumbs { padding: 0 15px;} 
.templateCart  .table-cart.col-sm-9 {  padding-left: 15px;}
.templateCustomersLogin   #Breadcrumbs { padding: 0 15px;} 
#customer_register_link {  margin-left: 124px;}    
.templateCustomersRegister   #Breadcrumbs { padding: 0 15px;}    
.templateCustomersAccount #Breadcrumbs { padding: 0 15px;}    
 #shopify-section-1605873257dd2e9c1d {    margin-top: 0;}    
.templatePage  #Breadcrumbs { padding: 0 15px;} 
}

@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait)	{/* iPad Pro  12.9 */
header.layout-3 .header-container .block-search .block-content {  width: 450px;}
.shop-products.products .product .product-wrapper .product-image .secondary_image {  display: none;}
 #shopify-section-1605873257dd2e9c1d {    margin-top: 0;}
.widget.widget_tag a {padding: 5px 15px;}
 #Sidebar .hidden-md {  display: inline-block!important;}
}


