/*================ VARIABLES ================*/
$bodyfont:{{ settings.fontfamily-body }},sans-serif;
$headingfont:{{ settings.fontfamily-heading }} ,sans-serif;
$otherfont: {{ settings.fontfamily-other }} ,serif;
//color

$primarycolor:{{ settings.primary-color }} ;
$headingcolor:{{ settings.heading-color }} ;
$textcolor:{{ settings.body-colors }} ;

$color-social:{{ settings.footer-icon-color }};
$border-color-social:{{ settings.footer-border-color }};
$salecolor:{{ settings.sale-color }} ;
$sale-color:{{ settings.sale-color }} ;
$greycolor:{{ settings.greycolor }} ;
$pricecolor: {{ settings.product-price-color }} ;

$titlecolor: #333;
$bordercolor: #e6e6e6;
$lightcolor: #fff;
$darkcolor: #222;
$greylightcolor: #a6a6a6;

//headercolor
$headerbg:{{ settings.header_backgrounds }} ;

//menucolor
$menucolor:{{ settings.menu-color }};
$submenucolor:{{ settings.submenu-color }};
$sub-hover-menucolor:{{ settings.submenu-hover-color }};
$menufontweight:{{ settings.font-weight-menu }};
$submenubg:{{ settings.submenu-background-color }};

//footer
$footer-newsletter-border-color: {{ settings.footer-border-color }};
$footertitlecolor: {{ settings.footer-title-color }};
$footercolor : {{ settings.footer-text-color }};
$footerbg : {{ settings.color_bg_copyright_style1 }};

//button
$background-button:{{ settings.background-button-color }};
$button-color:{{ settings.button-color }};
$button-border-color:{{ settings.button-border-color }};
$background-hover-color:{{ settings.background-hover-color }};
$button-hover-color:{{ settings.button-hover-color }};
$button-border-hover-color:{{ settings.button-border-hover-color }};

//size
$textsize:{{ settings.font-size-body }} ;

//fontweight
$headingfontweight:{{ settings.font-weight-heading }} ;
$regularfontweight: 400;
$titlefontweight: 600;

//page banner
$pagebannerheight: {{settings.banner_height}};
$mobile_banner_height: {{settings.mobile_banner_height}};


@mixin buttonMixin() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $background-button;
	box-shadow: none;
	color: $button-color;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $button-border-color;
	background-image: none;
	&:hover {
	  background-color: $background-hover-color;
	  color: $button-hover-color;
	  border-color: $button-border-hover-color;
	}
	@media screen and ( max-width: 992px ){
		padding: 13px 25px;
	}
}
@mixin buttonMixin1() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $lightcolor;
	box-shadow: none;
	color: $titlecolor;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $bordercolor;
	background-image: none;
	&:hover {
	  background-color: $primarycolor;
	  color: $lightcolor;
	  border-color: $primarycolor;
	}
}
@mixin title(){
	font-size: 30px;
}
@mixin actionbutton(){
	display: block;
	text-align: center;
	padding: 0;
	font-size: 0;
	font-weight: normal;
	text-indent: -9999px;
	letter-spacing: 0;
	@include transition();
	text-indent: 0;
	width: 54px;
	height: 54px;
	line-height:50px; 
	text-align: center;
	border-radius: 2px;
	float: left;
	border: 2px solid $bordercolor;
	background-color: $lightcolor;	
	&:before{
		color: $headingcolor;
	}
	&:hover{
		border-color: $headingcolor;
		background-color: $lightcolor;
	}
}
@mixin transition(){
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}
@mixin flex(){
  	-js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
@mixin heading(){
	font-size: 22px;
	color: $headingcolor;
	font-weight: $headingfontweight;
	text-transform: capitalize;
	font-family: $headingfont;
	padding-bottom: 25px;
	position: relative;
}
.flex-layout{
	@include flex();
  	justify-content: space-between;
  	align-items: center;
}

// Style made by Youngly-Bluesky
//Reset defaut bootstrap style
//tool tip
.form-message--success{
	color: #3c763d;
}
.form-message--error, .shopify-challenge__errors, .errors{
      color: #a94442;
  *{
  	    color: #a94442;
  }
}
.tooltip{
	color: $lightcolor;
    font-size: 12px;
    z-index: 2;
    top: -100% !important;
  	line-height: 1;
  	background: $darkcolor;
  	    border-radius: 2px;
    padding: 4px 8px;
  	left: 50%;
  	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  &:after{
   	content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #222;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,100%);
    -webkit-transform: translate(-50%,100%);
    -o-transform: translate(-50%,100%);
    -ms-transform: translate(-50%,100%);
  }
}
.breadcrumb{
	background: transparent;
    justify-content: flex-start;
  	text-transform: capitalize;
    margin: 0;
    padding: 35px 0;
    margin-right: -15px !important;
    margin-left: -15px !important;
    padding-left: 15px;

    li{
      &:after{
      	content: "/";
        padding: 0 7px 0 5px;
        display: inline-block;
      }
      &:last-child{
        &:after{
        display: none;
        }
      }
      a{
        &:hover {
          color: $primarycolor;
        }
        &:first-child{
          padding-left: 0;
        }
      }
      &.active{
      	 *{
        	color: $headingcolor;
           font-weight: $titlefontweight;
        }
      }
    }
}
.section-header {
    padding-bottom: 70px;
    padding-top: 15px;
    h1 {
      font-size: 60px;
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: -1.5px;
      margin-bottom: 20px;
      line-height: 1;
  	}
}
.bst-title{
 	margin-bottom: 20px; 
}
.custom-heading p,
.short_desc, .bst-short-desc{
	text-align: center;
    line-height: 1.71;
    color: $textcolor;
  	font-family: $otherfont;
  	font-style: italic;
  	margin: 5px 0 4px;
  p{
  	margin-bottom: 0;
  }
}

// MAIN SLIDER

@media (max-width: 576px) {
  .bst-slideshow-wrapper .owl-carousel .owl-stage {
    height: 240px;
    display: flex;
  }
  .bst-slideshow-wrapper .owl-carousel .owl-item .bst-slideshow{
    height: calc(1080 / 1920 * 100%);
    .bst-Image {
      height: 100%;
      position: relative;
      overflow: hidden;
      width: 200%;
      padding-top: calc(1080 / 1920 * 100%);
      margin: 0 auto;
      img {
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, 0);
        height: 100%;
      }
    }
  }
}

.bst-slideshow-wrapper .owl-carousel .owl-item img {
  width: 100%;
  height: auto;
}

//custom owl
.owl-carousel{
  position: relative;
  .owl-dots{
  	text-align: center;
    &.disabled{
    	display: none;
    }
  }
	&:hover{
        > .owl-nav{
           opacity: 1;
            button{
                @include transition();
            }
            .owl-next{
            }
            .owl-prev{             
            }
        }
	}
	.owl-dot{
	    display: inline-block;
	    height: 7px;
	    margin-bottom: 0;
	    width: 7px;
	    margin-right: 10px;
	    position: relative;
        background-color: $greycolor;
      	border: 0;
      	border-radius: 50%;
      	padding: 0;
		&:hover,
		&.active{
          	background-color: $headingcolor;
           animation: none;
			span{
				opacity: 0;
				visibility: hidden;
			}
			span{
				background: $primarycolor;
				line-height: 10px;
			}
		}
	}
	.owl-nav{
		@media screen and ( max-width: 1024px ){
			display: none;
		}
      	opacity: 0;
		button{
			width: 44px;
			height:44px;
			line-height: 44px;
			@include transition();
			border: 0;
			background-color: transparent;
			border-radius: 50%;
          	padding: 0;
          	text-align: center;
          	position: absolute;
          	z-index: 22;
            top: 50%;
          	transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
			&:hover{
              border-color: $primarycolor;
				span:before{
					color: $primarycolor !important;
				}
              	animation: none;
			}
			span{
				font-size: 0;
				line-height: 46px;
				color: #dfdfdf;
              &:before{
                font-family: 'biolife', sans-serif !important;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-size: 44px;
                line-height: 44px;
                font-weight: 300;
                color: rgba(102,102,102,0.2);
              }
			}
          &.owl-prev{
            left: 10px;
            span:before{
              content: "\e910";
              color: $primarycolor !important;
            }
          }
          &.owl-next{
            right: 10px;
            span:before{
              content: "\e900";
              color: $primarycolor !important;
            }
          }
          &.disabled{
          	opacity: 0.8;
          }
		}
       &.disabled{
          display: none;
      }
	}
}
//pagination
#proPagination{
  	margin-top: 60px;
	padding-top: 30px;
	border-top: 1px solid $bordercolor;
	.pagination{
      justify-content: center;
      margin-bottom: 0;
		li{
			margin-right: 10px;
			span, a{
				font-size: 14px;
				color: $greycolor;
				font-weight: 400;
				line-height: 33px;
         		width: 40px;
                height: 33px;
                border: 1px solid $bordercolor;
                text-align: center;
                border-radius: 20px;
              	display: block;
			}
          &.pagiNext{
            a{
            width: 54px;
              border-width: 2px;
            }
          }
            i{
            	font-size: 18px;
              	line-height: 31px;
              	color: $titlecolor;
            }
			&.active, &:hover{
              span, a{
              	background-color: $primarycolor;
                border-color: $primarycolor;
              }
				
              *{
              	color: $lightcolor;
              }
			}
          &.disabled{
          	display: none;
          }
			.action{
				margin-left: 0;
				border: 0;
				&:before{
					font-size: 34px;
					margin: 0;
					line-height: 36px;
				}
			}
		}
	}
}
.templateCollection{
  #proPagination{
  	margin-top: 30px;
  }
}
//about us page
//about us page
.primarycolor{
	color: $primarycolor;
}
.welcome-us-block{
  .title{
  	font-size: 40px;
    margin-bottom: 25px;
  }
  .text-wraper{
	align-items: center;
  }
  .text-infor{
    .primarycolor{
    	font-style: italic;
      	margin-top: 25px;
      	padding-left: 15px;
    }
  }
}
.why-choose-us-block,
.welcome-us-block,
.testimonial-block{
  h4{
  	font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    span{
    	padding: 0 15px 0 10px;
      vertical-align: baseline;
    }
    i{
    	font-size: 20px;
      color: #fcc01e;
      font-style: normal;
      font-weight: 100;
      letter-spacing: 5px;
      vertical-align: baseline;
      @media screen and (max-width: 567px){
      	display: none;
      }
    }
  }
  ul{
  	padding-left: 0;
  }
}
.why-choose-us-block{
  background: #fafafa;
  padding-top: 50px;
  margin-bottom: 70px;
  position: relative;
  .box-title{
  	margin-bottom: 0;
    line-height: 1;
  }
  .showcase{
  	@include flex();
    @media screen and (max-width: 567px){
    	flex-direction: column;
    }
    .sc-right-position, 
    .sc-left-position{    
      @media screen and (min-width: 768px){
      	max-width: 270px;
      }
    }
    .sc-right-position{
      padding-left: 10px;
    }
    .sc-left-position{
      padding-right: 10px;
    }      
  }
  .sc-element{
  	@include flex();
    text-align: left;
    margin-bottom: 42px;
    .biolife-icon{
      font-size: 46px;
      line-height: 1;
      padding: 0;
      margin: 9px 0 0;
      vertical-align: top;
      min-width: 60px;
    }
    .number{
    	font-size: 50px;
      line-height: 1;
      font-weight: $headingfontweight;
      display: block;
    }
    b.title{
    	font-size: 19px;
      font-style: italic;
      font-family: $otherfont;
      font-weight: $regularfontweight;
      display: block;
    }
    &.color-02{
      .biolife-icon{
      	font-size: 37px;
      }
    }
  }
  .sc-right-position{
    .sc-element{
       @media screen and (min-width: 768px){
        flex-direction: row-reverse;
        text-align: right;
       }
    }
  }
  @media screen and (max-width: 767px){
    .sc-center-position{
    	position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        opacity: 0.2;
    }
  }
}
.testimonial-list{
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(100, 31%);
  overflow: auto;
  text-align: center;
  margin-top: 70px;
  @media screen and (max-width: 567px){
  	grid-template-columns: repeat(5, 100%);
  }
  .name{
  	display: block;
    color: $headingcolor;
  }
  .desc{
  	display: block;
    margin: 55px 0 23px;
    position: relative;
    color: #444;
    &:before{
   	  content: '';
      background-image: url(double-quotes.png);
      width: 20px;
      height: 16px;
      font-size: 0;
      line-height: 0;
      display: block;
      position: absolute;
      top: -40px;
      left: 50%;
      margin-left: -10px;
    }
  }
  .title{
  	text-transform: uppercase;
    font-weight: 600;
    color: #444;
    margin-top: 2px;
    margin-bottom: 15px;
  }
  i{
  	font-style: normal;
    color: #fcc01e;
    letter-spacing: 3px;
  }
}
//contact us page
.contact-us {
  	padding-bottom: 10px;
  iframe{
    margin-bottom: 25px;
  }
  .bst-title{
    margin-bottom: 43px;
    h3{
    	font-size: 30px;
    }
  }
  .bst-short-des{
  	margin-bottom: 50px;
    line-height: 1.4;
  }
  .contact-info{
    @media screen and ( min-width: 768px ){
    	padding-right: 10%;
    }
    ul{
      margin-top: 35px;
      li{
        margin-bottom: 12px;
        .label{
          font-size: 15px;
        }
      }
    }
  }
	#contact_form {
        .input-group{
            justify-content: space-between;
        }
		#comment {
			min-height: 80px;
		}
		.field{
			margin-bottom: 20px;
          	flex-basis: 31.5%;
            @media screen and ( max-width: 767px ){
              flex-basis: 100%;
            }
			input{
				width: 100%;
				
			}
          	textarea{
				min-height: 200px;
              	padding: 15px;
             	width: 100%;
			}
		}
		label{
			width: 100%;
			margin-bottom: 15px;
			font-weight: normal;
			span{
				&:after{
					content: '*';
			    color: #e02b27;
			    font-size: 1.2rem;
			    margin: 0 0 0 5px;
                  line-height: 1;
				}
				
			}
		}
	}
  	.actions-toolbar{
  		margin-top: 20px;
  	}
    .shipping_support{
      margin-top: 50px;
      padding-bottom: 0;
      border-bottom: 0;
      .content-has-border{
      	text-align: left;
        border: 1px solid $bordercolor;
        padding: 42px 30px 22px;
        position: relative;
        h4{
        	text-transform: uppercase;
          	font-size: 14px;
          	letter-spacing: 0;
          	margin-bottom: 15px;
        }
        img{
        	display: block;
          	margin-bottom: 30px;
        }
       
        &:after, &:before{
        	content: "";
          	position: absolute;
          	top: -1px;
          	left: -1px;
          	right: -1px;
          	bottom: -1px;
          	border: 1px solid $primarycolor;
          	@include transition();
        }
        &:before{
        	transform: scale(0,1);
            -webkit-transform: scale(0,1);
            -o-transform: scale(0,1);
            -ms-transform: scale(0,1);
             border-left: 0;
			 border-right: 0;          	
        }
        &:after{
        	transform: scale(1,0);
            -webkit-transform: scale(1,0);
            -o-transform: scale(1,0);
            -ms-transform: scale(1,0);
             border-top: 0;
			 border-bottom: 0;          	
        }
        &:hover{
          &:after, &:before{
              transform: scale(1,1);
              -webkit-transform: scale(1,1);
              -o-transform: scale(1,1);
              -ms-transform: scale(1,1);
          }
        }
      }
      &:hover{
        h4{
        	animation: none;
        }

      }
    }
}
.bst-social{
    .bst-social-icons{
      text-align: left;
      padding-left: 0;
      li{
        display: inline-block;
        text-align: center;
        margin-right:10px;
        width: 34px;
        height: 34px;
        border-radius: 34px;
        line-height: 34px;
       	background: transparent;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        .bst-social-icons-link{
            display: block;
            font-size: 18px;
            color: $footercolor;
          	line-height: 34px;
          span, i{
          	line-height: 34px;
          }
          &:hover *{
            color: $lightcolor !important;
            &:before{
            	color: $lightcolor !important;
            }
          }
        }
        &:hover{
        	background-color: $primarycolor;
          *{
          	color: $lightcolor !important;
          }
        }
        &:last-child{
            margin-right:0;
        }
      }
    }	
}
//sidebar
body{
  .row{
    @media screen and ( min-width: 1025px ){
      &.has-sidebar{
        flex-wrap: initial;
		justify-content: space-between;
      }
      .Sidebar{
        flex: 0 0 25%;
        #shopify-section-BlueskyTechco-Slidebar{
        	max-width: 330px;
        }
      }
      #proListCollection{
      	flex: 0 0 75%;
    	max-width: 75%;
      }
      .col-blog-contents, .content-area{
          order: 2;
      }
    }
    @media screen and ( max-width: 1024px ){
      .Sidebar{
          flex: 70%;
          max-width: 390px;
          position: fixed;
          top: 0;
          right: -150%;
          bottom: 0;
          overflow: auto;
          background: $lightcolor;
          padding: 40px 30px 40px;
          box-shadow: 0px 0px 10px 0px rgba(35,31,32,.1);
          -webkit-box-shadow: 0px 0px 10px 0px rgba(35,31,32,.1);
          -o-box-shadow: 0px 0px 10px 0px rgba(35,31,32,.1);
          -ms-box-shadow: 0px 0px 10px 0px rgba(35,31,32,.1);
          z-index: 22;
      	  @include transition();
        .close-filter-mobile{
        	text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            color: $headingcolor;
          	margin-bottom: 40px;
          	display: block;
          span{
          	font-size: 18px;
            padding-right: 5px;
            vertical-align: sub;
          }
          &:hover{
          	color: $primarycolor;
          }
        }
      }
      #proListCollection{
          flex: 100%;
          max-width: 100%;
      }
      .filters-mobile{
          display: block !important;
      }      
    }
  }
  &.filter-mobile-on{
    .row{
      @media screen and ( max-width: 1024px ){
        .Sidebar{
        	right: 0;
        }
      }
    }
  }
}
.widget{
	margin: 0 0 40px;
	clear: both;
	word-wrap: break-word;
  	padding-bottom: 30px;
  	border-bottom: 1px solid $bordercolor;
  &.color-sidebar{
  	padding-bottom: 25px;
  }
  div *, ul *{
  	color: #444;
  }
  ul{
  	margin-bottom: 0 !important;
  }
  p, li{
  	margin-bottom: 5px;
  }
  &:last-child{
    margin: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  *{
  	color: #444;
    a{
    	&:hover{
        	color: $headingcolor;
        }
    }
  }
  > ul{
  	padding-left: 0;
  }
  .check-box{
    a{
      position: relative;
      font-weight: $titlefontweight;
      text-transform: capitalize;
      &:before{
      	content: '';
        display: inline-flex;
        width: 15px;
        height: 15px;
        border: 2px solid $bordercolor;
        border-radius: 2px;
        margin-right: 15px;
      }
      &:after{
      	font-family: 'FontAwesome';
        content: "\f00c";
        position: absolute;
        left: 4px;
        top: 4px;
        color: $primarycolor;
        font-size: 9px;
        opacity: 0;
        visibility: hidden;
      }
      &.active{
        &:after{
        	opacity: 1;
          	visibility: visible;
        }
      }
    }
  }
  .widget-title{
    margin-bottom: 20px;
    color: $headingcolor;
    font-weight: $titlefontweight;
    text-transform: capitalize;
    font-family: $headingfont;
    font-size: 17px;
  }
  &.widget_tag{
    ul{
      li{
        display: inline-block;
        margin: 0 !important;
      }
    }
    a{
      font-size: 14px !important;
      display: inline-block;
      padding: 5px 14px;
      line-height: 1.5;
      border: 2px solid #f4f4f4;
      padding: 0 15px;
      border-radius: 30px;
      margin: 0 5px 8px;

      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      &:hover, &.active{
        background: $primarycolor;
        border-color: $primarycolor;
        color: $lightcolor;
      }
    }
  }
  .product-categories{

      .itemCategory{
          color: $textcolor;
          font-weight: $regularfontweight;
          text-transform: capitalize;
          padding-bottom: 0;
          p{
          margin-bottom: 9px;
          }
        > p, > i{
          color: $textcolor;
          font-weight: inherit;
          line-height: 1.8;
        }

        .cateItem{
            display: block;
          	font-size: 14px;
          &.hasSubCategory{

            &:after{
                    content: '\f068';
                  font: normal normal normal 14px/1 FontAwesome;
              font-size: 10px;
              display: inline-block;
              padding-top: 4px;
              float: right;
              opacity: 0.8;
            }
            &.collapsed{
               &:after{
                content: "\f067";
               }
            }
          }
        }
        .listSidebar {
            padding-left: 15px;
          li{
            margin-bottom: 10px;
          }
        }
      }
     }
  &.price-sidebar{
    .filter-item{
      a{
      	display: block;
        margin-bottom: 6px;
        &.active{
        	color: $primarycolor;
        }
      }
    }
  }
  
}
.filter-clear span{
  	display: block;
    color: red;
    margin-bottom: 10px;
     font-weight: $headingfontweight;
  }
//page banner and default header
.defaut-header{
 .entry-title{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 5px;
 }
  .container-fluid{
  	padding: 0;
  }
  .breadcrumbs{ 
    .breadcrumb{
      padding-top: 0;
    }
  }
  &.text-center {
  	 .breadcrumbs{
       .breadcrumb{
          justify-content: center; 
          padding-top: 0;
         }
	  }
  }
  &.have-background{
     .entry-title{
        color: black;
     }
  	 .breadcrumbs{
       .breadcrumb{
        padding: 0;
       }
       *{
        color: $lightcolor;
       }
       li{
         a{
            color: $lightcolor;
         }
         &.active{
           span{
            color: $lightcolor;
           }
         }
       }
     }
  }
}
.outsite-banner{
  margin-top: -7px;
  #Breadcrumbs{ 
    .breadcrumb{
      padding-top: 0;
    }
  }
}
.pages-banner{
	position: relative;
  	height: $pagebannerheight;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  @media screen and (max-width:  479px){
  	height: $mobile_banner_height;
  }
  .defaut-header{
  	position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
  }
}
//my account
#customer_login, #create_customer, .reset-password{
  @media screen and (min-width: 768px){
  	width: 70%;
    margin: auto;
    padding: 30px;
  }
  padding: 15px;
  border: 1px solid $bordercolor;
  label{
  	display: block;
    margin-bottom: 10px;
  }
  .field{
    margin-bottom: 30px;
    input{
    	width: 100%;
    }
  }
  .action-bottom{
  	@include flex();
    p{
    	margin-bottom: 0;
    }
    align-items: center;
    > *{
    	margin-right: 20px;
    }
  }
}
.reset-password{
  .action-bottom{
        justify-content: space-between;
  }
}
//back to top
#back-top{ 
    height: 50px;
    margin: 0 auto;
    opacity: 1;
    position: fixed;
    bottom: 150px;
    right: 50px;
    text-align: center;
    width: 50px;  
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 1;
     transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    visibility: visible;
    i{
    	-webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        display: block;
      font-size: 50px;
	    -webkit-transition: all 300ms ease;
	    -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	    -o-transition: all 300ms ease;
	    transition: all 300ms ease;
	  	
    }
    &.show{
      transform: scale(1,1);
      -webkit-transform: scale(1,1);
      -moz-transform: scale(1,1);
      -ms-transform: scale(1,1);
    }
    &:hover{
    	i{
    		cursor: pointer;
          color: $primarycolor;
    	}
    }
}
//menu
.col-menu{
	position: relative;
}
.menuContainer, .verticalmenu-content{
  .menuTitle{
    font-weight: $headingfontweight;
    line-height: 1;
    padding-left: 5px;
    text-transform: capitalize;
    padding-bottom: 2px;
    margin: 0 0 5px;
    font-size: 16px;
    color: $primarycolor;
    a{
      font-size: 16px;
      color: $primarycolor;
      padding: 0;
      &:before{
        display: none;
      }
    }
  }  
  > ul{
    > li{
      position: relative;
      > a{
        &:before{
          content: "";
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -10px;
            left: 0;
            border-bottom: 2px solid transparent;
            @include transition();
          }
      }
      &.hasMegaMenu{
      	position: static !important;
        .megaMenu{
          @media screen and (max-width: 1199px){
          	max-width: 600px !important;
          }
        }
      }
      &.hasMenuDropdown, &.menu-item-has-children{
        > a{
          &:after{
                color: $menucolor;
                content: "\f0d7";
                font-size: 12px;
                border: 0;
                font-family: FontAwesome;
            	padding-left: 3px;
            }
        }
      }
     > a{
        padding-right: 30px;
        font-size: 17px;
        text-transform: capitalize;
        color: $menucolor;
        font-weight: $menufontweight;
       	line-height: 60px;
       	    position: relative;
         .cat-label{
          position: absolute;
          text-transform: uppercase;
          font: inherit;
          font-size: 9px;
          padding: 3px;
          border-radius: 2px;
          line-height: 1.2;
          min-width: 35px;
          text-align: center;
          top: -20px;
    		left: 15px;
         }
      }
      &:last-child{
        a{
        	padding-right: 0;
        }
      }
      &.active, &:hover{
        > a{
         color: $primarycolor;
          &:after{
          	 color: $primarycolor;
          }
        }
      }      
    }
  }
  ul{
    li{    
      .col-menu-item, .col-banner{
      	padding: 0;
      }
      .col-banner{
      	padding-right: 15px;
        img{
        	float: right;
        }
      }
      ul{
        li{
          a{
            padding: 6px 10px;
            color: $submenucolor;
            font-size: 14px;
            line-height: 24px;
            display: block;
            text-transform: capitalize;
            padding-left: 5px;
            overflow: hidden;
            @include transition();
          }
          &:hover{
            a{
              color: $sub-hover-menucolor;
            }
          }
        }
      }
      .bst-MenuListCollection{
         margin: 0 15px 0 -15px;
        &:before, &:after{
          content: "";
          display: table;
          clear: both;
         
        }
        .collTitle{
          a{
          	padding: 0;
            &:before{
            	display: none;
            }
          }
        }
        .collections-name{
        	font-weight: $menufontweight;
            margin-top: 20px;
    		display: block;
        }
      }

      &.hasMenuDropdown, &.menu-item-has-children{
        position: relative;
        > .menuDropdown, > .sub-menu{
          	opacity: 0;
          	left: 0;
          	margin: 0;
         	padding: 0;
         	position: absolute;
          	min-width: 230px;
    		max-height: 85vh;
            -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
            -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
            -webkit-transform: translate(0,20px);
            transform: translate(0,20px);
            -webkit-transition: opacity .3s,-webkit-transform .3s;
            transition: opacity .3s,-webkit-transform .3s;
            transition: transform .3s,opacity .3s;
            transition: transform .3s,opacity .3s,-webkit-transform .3s;
            box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
            z-index: 1000;
            pointer-events: none;
            max-width: 1127px;
            padding: 30px !important;
          	background: $lightcolor;
          .menuDropdown{
          	left: 100%;
            top: 0;
          }
          li:hover{
            > *{
            	color: $primarycolor;
            }
          }
          .bst-MenuProducts{
            .listProduct{
              margin-top: 15px;
              .blockProMenu{
                margin-bottom: 20px;
                .proImage{
                	margin-right: 15px;
                  	max-width: 90px;
                }
                .proMeta{
                  .proName{
                  	margin-bottom: 10px;
                    font-size: 16px;
                    a{
                    	color: $headingcolor;
                    }
                  }
                  .boxProPrice{
                  	font-weight: 600;
                  }
                }
              }
              .owl-stage-outer{
                .blockProMenu{
                	margin-bottom: 0;
                  	display: block;
                  .proImage{
                  	float: none !important;
                    margin-right: 0;
                    margin-bottom: 12px;
                    max-width: 100%;
                    .proName{
                    	font-size: 16px;
                    }
                  }
                  .proMeta{
                    text-align: center;
                  }                  
                  .boxProPrice{
                    @include flex();
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                    .curPrice{
                      font-weight: $headingfontweight;
                      font-size: 18px;
                      margin-right: 6px;
                      color: $headingcolor;
                    }
                    .oldPrice{
                      color: $greycolor;
                    }
                  }                  
                }
              }
            }
          }
          .brand{
            padding-left: 0;
            .vertical{
              	padding-left: 30px;
            	border-left: 2px solid $bordercolor;
              	padding-bottom: 30px;
            }
            &.bottom{
              width: 100%;
              padding-top: 20px;
              margin-top: 25px;
              border-top: 1px solid $bordercolor;
              .vertical{
              	padding-left: 0;
                border: 0;
                padding-bottom: 0;
                ul{
                  @include flex();
                  justify-content: space-between;
                  align-items: center;
                  li{
                  	display: inline-block;
                    margin: 0;
                  }
                }
              }
            }
            ul{
              padding-left: 0;
              li{
              	margin: 17px 0;
              }
            }
          }
        }
        > .sub-menu{
        	padding: 0 0 0 20px !important;
          > li{
          	padding-right: 20px;
            >a{
              line-height: 1.8;
              font-weight: $regularfontweight;
              font-size: 14px;
              padding: 10px 0;
              display: block;
              border-bottom: 1px dashed $bordercolor;
              i, img{
                  margin-right: 10px;
              }
            }
            &:last-child a{ 
              border-bottom: 0;
            }
          }
        }
        &:hover{
          > .menuDropdown, > .sub-menu{
            opacity: 1;
            -webkit-transform: translate(0,0);
            transform: translate(0,0);
            pointer-events: initial;
          }
          .sub-menu{
          	left: 100%;
            top: 0;
          }
        }
      }
    }
  }
  
}
//vertical menu
.vertical-menu,
.vertical-menu-mobile{
  position: relative;
  .block-title{
  	padding: 13px 15px;
    cursor: pointer;
    color: $lightcolor;
    position: relative;
    font-weight: $headingfontweight;
    background: $primarycolor;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @media screen and ( max-width: 767px ){
    	font-size: 14px;
      	padding: 8px 10px;
    }
    &:after{
    	content: "\f0d7";
        font-size: 18px;
        border: 0;
        font-family: FontAwesome;
      	float: right;
      	@include transition();
       @media screen and ( max-width: 767px ){
    	font-size: 16px;
    	}
    }
    .menu-title{
    	padding-right: 8px;
    }
    &.active{
      &:after{
        transform: rotate(180deg);
      	-webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
    }
    .menu-icon{
    	display: inline-block;
        font-size: 0;
        line-height: 0;
        padding-top: 5px;
        vertical-align: top;
      	margin-right: 20px;
      @media screen and ( max-width: 991px){
      		margin-right: 5px;
      }
      @media screen and ( max-width: 767px){
      		margin-right: 2px;
      }
      span{
      	background-color: $lightcolor;
        width: 17px;
        height: 2px;
        border: 0;
        display: inline-block;
        float: left;
        clear: left;
        margin: 0 3px 3px 9px;
        &:before{
        	content: '';
            display: inline-block;
            width: 3px;
            height: 2px;
            margin-left: -6px;
            background-color: $lightcolor;
        }
      }
    }
  }
  .block-content{
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 160px;
    background-color: $lightcolor;
    z-index: 100;
    padding: 0 0 20px 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 2px $bordercolor;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    .verticalmenu{
      padding-left: 0;
        >li{
          padding-right: 20px;
          >a{
          	line-height: 1.8;
            font-weight: $regularfontweight;
            font-size: 14px;
            padding: 10px 0;
            display: block;
            border-bottom: 1px dashed $bordercolor;
            i, img{
            	margin-right: 10px;
            }
          }
          .toggle-submenu{
          	position: absolute;
            right: 11px;
            top: 17px;
            min-width: 25px;
            text-align: center;
            z-index: 22;
            border: 0;
            padding: 0;
            i{
            	font-size: 10px;
              	color: #777;
            }
          }
          &:last-child{
          	border-bottom: 0;
          }
          &:first-child{
          	padding-top: 10px;
            .toggle-submenu{
            	top: 27px;
            }
          }
          .sub-menu{
          	padding-left: 8px;
            li{
            	border-bottom: 1px dashed $bordercolor;
              .toggle-submenu{
              	top: 14px;
                right: 0;
              }
            }
          }
        }
      .menu-item-has-children{
        >a{
          &:after{
          	font-family: 'FontAwesome', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: '\f105';
            display: inline-block;
            font-size: 14px;
			float: right;	
          }
        }
      }
    }
  }
  &.has-open{
  	.block-content{
		opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    }
  }
  .verticalmenu-content{
    .verticalmenu{
      li.menu-item-has-children, li.hasMenuDropdown{
        .menuDropdown, .sub-menu{
          top: 0;
          left: 100%;
          transform: translate(10px, 0);
        }
         .wrap-verticalmenu.menuDropdown{
            width: 75vw;
          	max-width: 900px;
        }
        &:hover{
          .menuDropdown, .sub-menu{
          	transform: translate(0, 0);
          }
        }
      }
    }
  }
}
//mobile menu
@media screen and (max-width: 991px){

}
@media screen and (max-width: 1024px){
  #bst-Megamenu,
  #shopify-section-BlueskyTechco-Verticalmenu{
  	display: none;
  }
  #bst-Vegamenu, .vertical-menu, #bst-vertical-mobi{
  	display: block !important;
  }
  .mobile-search-product{
    margin-top: 50px;
  }
  .nav-menus{ 
    .nav-menu{
      min-height: 1;
    }
  }
  .mobile-menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9990;
    cursor: pointer;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    @include transition();
  }
  header .header-container.layout1 .header .action >div{
    padding-right: 0;
  }
  .mobile-nav-on{
    .mobile-nav-wrapper{
      left: 0;
    }
    .mobile-menu-overlay{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 9990;
      cursor: pointer;
      background-color: rgba(0,0,0,.5);
      opacity: 1;
      visibility: visible;
    }
  }	
  .mobile-nav-wrapper{
    left: -475px;
    top: 0;
    margin: 0;
    position: fixed;
    width: 475px;
    height: 100%;
    padding: 30px;
    overflow: auto;
    z-index: 9999;
    overflow-y: auto;
    background-color: $submenubg;
    @include transition();
    #close-menu-moblie{
      text-align: right;
      margin-bottom: 0;
    }
    .search-container.popup-type .search-content-popup .field-container .icon-search{
      color: $headingcolor; 
    }
    .top-search{
      .dropdown{
        .dropdown-toggle{
          display: none;
        }
      }
      .search-container{
        margin-bottom: 30px;
        .widget_product_search{
          form{
            position: relative;
            input.search-field{
              width: 100%;
              border: 0;
              border-bottom: 1px solid $bordercolor;
              height: 45px;
              padding-right: 45px;
            }
            input[type=submit] {
              position: absolute;
              right: 0;
              top: 0;
              font-size: 0;
              background-color: $submenubg;
              padding: 0;
              width: 45px;
              height: 45px;
              border-right: 0;
              opacity: 0.8;
              border: 0;
              z-index: 222;
              &:active, &:focus, &:hover{
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .mobile-menu-container{
      background-color: $submenubg;
      margin-bottom: 60px;
    }
    .mobile-menu{
      padding: 0;
      > li{
        padding: 10px 0px 10px 0;
        border-bottom: 1px dashed $bordercolor;
        >a{
          font-size: 16px;
          color: $submenucolor;
        }
      }

      li, ul{
        display: block;
        text-align: left;
        list-style: none;
      }
      li.dropdown{
        position: relative;
        ul{
          display: none;
        }
        .toggle-submenu{
          position: absolute;
          top: 10px;
          right: 5px;
          height: 36px;
          width: 36px;
          line-height: 36px;
          text-align: center;
          cursor: pointer;
          z-index: 10;
          color: $textcolor;
          font-size: 18px;
          i{
          	line-height: 36px;
            font-size: 12px;
          }
        }
        .sub-menu{
          margin-left: 0;
          padding-top: 10px;
          padding-bottom: 10px;
          .toggle-submenu{
            top: 0;
          }
        }
      }
      a{
        color: $submenucolor;
        display: block;
        text-align: left;
        line-height: 35px;
        text-transform: capitaliz
      }
      li.current-menu-item > a, li:hover > a{
        color: $headingcolor;
      }
    }
    .my-account-link, .wishlist-link{
      padding: 10px 0;
      border-bottom: 1px dashed $bordercolor;
      a{
        font-size: 16px;
        color: $submenucolor;
        line-height: 35px;
        i{
          float: right;
          font-size: 18px;
          color: $headingcolor;
          line-height: 35px;
          width: 36px;
          text-align: center;
          margin-right: 5px;
        }
      }
      &:hover, &:focus, &:active{
        a{
          color: $headingcolor;
          i{
            color: $headingcolor;
          }
        }
      }
    }
    .my-account-link{
      a{
        vertical-align: middle;
        &#customer_logout_link{
          float: right;
          &:before{     
            display: none;
          }
        }
      }
      i{
        vertical-align: middle;
      }
    }
  }
  .col-search{
    position: relative;
  }
  .nav-mobile{
    @media (max-width: 1024px){
      display: block !important;
    }
    line-height: 1;
    .toggle-menu{
      line-height: 1;
      color: $menucolor;
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .header-container{
    .mobile-search-product{
      .widget_product_search .woocommerce-product-search{
        margin: 15px 10px;
        input[type=search]{
          width: 100%;
        }
      }
    }
  }
  .mobile-navigation .nav-menu li.dropdown .sub-menu .toggle-submenu{
    top: 0;
  }
}
@media screen and (min-width: 783px){
	.mobile-nav-on{
		.sticky{
			.mobile-nav-wrapper{		
				top: 0;
			}
		}
	}
}
@media screen and (max-width: 600px){
	.mobile-nav-wrappern{
		width: 90%;
		left: -90%;
	}
}
@media screen and (max-width: 600px){
	.mobile-nav-wrapper{
		width: 100%;
		left: -100%;
	}
}


#myModal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	z-index: 10000;
	display: none;
  	padding-right: 0 !important;
	.popup-container{
		position: relative;
      	height: 100%;
      background-size: cover;
	}
	.overlay-bg-popup{
 		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
	} 
	.popup-content-wrapper{
		max-width: 770px;
		width: 70%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		height: 397px;
		text-align: center;
		overflow: hidden;
        max-height: 85vh;
      	transform: none;
      	-webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
      background-size: cover;
      @media screen and (max-width: 992px){
        width: 90%;
      }
      @media screen and (max-width: 767px){
      	width: 90%;
        height: 60vh;
        max-height: 60vh;
      }
		.row{
			margin-left: 0;
			margin-right: 0;
          	height: 100%;
		}
		.col-content{
			display: flex;
		    -ms-flex-flow: row wrap;
		    flex-flow: row wrap;
		    -ms-flex-align: center;
		    align-items: center;
		    justify-content: flex-start;
		    flex: 1 1 0;
		    padding-left: 35px;
		    padding-right: 35px;
          	max-height: 85vh;
          
          .pup-up-center{
            width: 100%;
            @media screen and (min-width: 992px){
              width: 60%;
              max-width: 360px;
            }
          }
          @media screen and (max-width: 767px){
          	  height: 65vh;
      	  		max-height: 65vh;
            	max-width: 100%;
            padding-top: 20px;
          }
            @media screen and (max-width: 479px){
				padding: 25px;
              align-items: center;
            }
		    a{
		    	color: $primarycolor;
		    }
		}
		.popup-content-text{
			padding-bottom: 5px;
			text-align: left;
			max-width: 100%;
			text-align: center;
          .sub-title{
          	font-size: 20px;
            font-weight: $titlefontweight;
            text-transform: uppercase;
            margin-bottom: 0;
            line-height: 1;
          }
          .titile{
            line-height: 1;
            font-size: 80px;
            margin-bottom: 15px;
            text-transform: uppercase;
            @media screen and (max-width: 767px){
            	font-size: 45px;
            }
          }
			
		}
		.not-again{
			margin-bottom: 0;
			margin-top: 0;
			font-weight: $regularfontweight;
            border-bottom: 1px solid #afaeae;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.3;
			input{
				margin-right: 5px;
              vertical-align: center;
			}
		}
		.close-popup{
			border: none;
		    cursor: pointer;
		    display: block;
		    height: 30px;
		    line-height: 30x;
		    position: absolute;
		    right: 10px;
		    text-align: center;
		    top: 10px;
		    border-radius: 50%;
		    width: 30px;
		    z-index: 2;
		    -webkit-transition: all .3s ease;
		    transition: all .3s ease;
          @media screen and (max-width: 767px){
          	top: 5px;
            right: 5px;
          }
		    i{
		    	font-size: 17px;
		    	color: $headingcolor;
		    }
			&:hover{
              animation: none;
                  background: transparent;
				i{
					color: $primarycolor;
				}
			}
		}
		
	}
	.col-content{
		@media screen and (max-width: 768px){
			max-height: 400px;
			overflow: auto;			
		}
	}
	.newletter-form .form-group{
		input[type ="email"]{
          text-align: center;
          margin-bottom: 11px;
          width: 100%;
          max-width: 360px;
          margin: auto;
          border-radius: 30px;
          border: 1px solid $bordercolor;
		}
		button {				
          display: block;
          margin: auto;
          margin-top: 11px;
          width: 100%;
          max-width: 360px;
          padding: 17px 38px;
		}
	} 
} 
.CommentsList{
	margin-bottom: 50px;
  .comment{
  	margin-bottom: 30px;
  }
  .comment__meta{
    .comment__meta-item{
      font-weight: $headingfontweight;
      color: $headingcolor;
      &:first-child{
        &:after{
        	content: "-";
          	display: inline-block;
          padding: 0 0 0 5px;
        }
      }
    }
  }
}
.modal-content{
	border-radius: 0;
  border: 0;
  outline: none;
}
//fake order
.purchase-order {
  	background-color: $lightcolor;
    position: fixed;
    -webkit-box-shadow: -1px 1px 6px rgba(30,32,40,.3);
    -moz-box-shadow: -1px 1px 6px rgba(30,32,40,.3);
    box-shadow: -1px 1px 6px rgba(30,32,40,.3);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    left: 20px;
    bottom: 80px;
    width: 320px;
    z-index: 999;
  border-radius: 3px;
  padding: 10px;
	.purchase-close{
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 18px;
    }
  .btnProductQuickview{
  	font-size: 13px;
    color: $headingcolor;
    text-transform: capitalize;
  }
}
.product-purchase{
  &:before, &:after{
  	content: "";
    display: table;
    clear: both;
  }
  .purchase-image{
    height: 100%;
    float: left;
        border-radius: 3px;
    img{
    	width: 124px;
    }
  }
  .dib, .minutes-ago{
    display: block;
  	font-size: 12px;
     margin-bottom: 5px;
  }
  .price-box{
  	font-size: 13px;
    color: $primarycolor;
  }
  .purchase-info{
  	padding: 6px 8px;
    overflow: hidden;
  }
    .title{
        letter-spacing: .3px;
        text-decoration: none;
        display: block;
        font-size: 14.5px;
        line-height: 1.5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      a{
      	color: $headingcolor;
      }
    }
}