/*================ VARIABLES ================*/
$bodyfont:{{ settings.fontfamily-body }},sans-serif;
$headingfont:{{ settings.fontfamily-heading }} ,sans-serif;
$otherfont: {{ settings.fontfamily-other }} ,serif;
//color
$topbarcolor: {{ settings.topbar-color }} ;
$primarycolor:{{ settings.primary-color }} ;
$headingcolor:{{ settings.heading-color }} ;
$textcolor:{{ settings.body-colors }} ;
$copyrightcolor: {{ settings.copyright_color }} ;
$color-social:{{ settings.footer-icon-color }};
$border-color-social:{{ settings.footer-border-color }};
$salecolor:{{ settings.sale-color }} ;
$sale-color:{{ settings.sale-color }} ;
$greycolor:{{ settings.greycolor }} ;
$pricecolor: {{ settings.product-price-color }} ;

$titlecolor: #333;
$bordercolor: #e6e6e6;
$lightcolor: #fff;
$darkcolor: #222;
$greylightcolor: #a6a6a6;

//headercolor
$headerbg:{{ settings.header_backgrounds }} ; 
$headercolor: {{ settings.header-color }} ;

//menucolor
$menucolor:{{ settings.menu-color }};
$submenucolor:{{ settings.submenu-color }};
$sub-hover-menucolor:{{ settings.submenu-hover-color }};
$menufontweight:{{ settings.font-weight-menu }};
$submenubg:{{ settings.submenu-background-color }};

//footer
$footer-newsletter-border-color: {{ settings.footer-border-color }};
$footertitlecolor: {{ settings.footer-title-color }};
$footercolor : {{ settings.footer-text-color }};
$footerbg : {{ settings.color_bg_copyright_style1 }};

//button
$background-button:{{ settings.background-button-color }};
$button-color:{{ settings.button-color }};
$button-border-color:{{ settings.button-border-color }};
$background-hover-color:{{ settings.background-hover-color }};
$button-hover-color:{{ settings.button-hover-color }};
$button-border-hover-color:{{ settings.button-border-hover-color }};

//size
$textsize:{{ settings.font-size-body }} ;

//fontweight
$headingfontweight:{{ settings.font-weight-heading }} ;
$regularfontweight: 400;
$titlefontweight: 600;

@mixin buttonMixin() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $background-button;
	box-shadow: none;
	color: $button-color;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $button-border-color;
	background-image: none;
	&:hover {
	  background-color: $background-hover-color;
	  color: $button-hover-color;
	  border-color: $button-border-hover-color;
	}
	@media screen and ( max-width: 992px ){
		padding: 13px 25px;
	}
}
@mixin buttonMixin1() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $lightcolor;
	box-shadow: none;
	color: $titlecolor;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $bordercolor;
	background-image: none;
	&:hover {
	  background-color: $primarycolor;
	  color: $lightcolor;
	  border-color: $primarycolor;
	}
}
@mixin title(){
	font-size: 30px;
}
@mixin actionbutton(){
	display: block;
	text-align: center;
	padding: 0;
	font-size: 0;
	font-weight: normal;
	text-indent: -9999px;
	letter-spacing: 0;
	@include transition();
	text-indent: 0;
	width: 56px;
	height: 56px;
	line-height:52px; 
	text-align: center;
	border-radius: 2px;
	float: left;
	border: 2px solid $bordercolor;
	background-color: $lightcolor;	
	&:before{
		color: $headingcolor;
	}
	&:hover{
		border-color: $headingcolor;
		background-color: $lightcolor;
	}
}
@mixin transition(){
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}
@mixin flex(){
  	-js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

/* Reset ================================================================================= */

@media (min-width: 992px){
  .container-fluid {
	max-width: 95%;
  }
}
@media (max-width: 991px){
  .container, .container-fluid {
     	max-width: 100%;
  }	
}
@media (min-width: 991px){
  .container {
      max-width: 1200px;
  }
}
@media (min-width: 1440px){
  .container-fluid {
      max-width: 1810px;
  }
}
.bts-collectionseven{
  	margin-bottom:20px;
}
.collectionseven:after {
  content: '';
  display: block;
  clear: both;
}
.row-isotope{
	margin-right: -15px;
    margin-left: -15px;
}
.row-isotopes{
	margin-right: -10px;
    margin-left: -10px;
}
.common-home header{
  	&.absolute_header,
  	.absolute_header{
      position: absolute;
      z-index: 222;
      width: 100%;
      top: 0;
      left: 0;
      background: transparent;
      @media screen and (max-width: 1024px){
          position: static;
          background: $headerbg;
      }
    }
    &.sticky{
    	.header-container{
          background: $headerbg;
        }
    }
  &.layout-2{
    .absolute_header{
       @media screen and (min-width: 1025px){
    	background-color: rgba(255,255,255,.1);
      }
    }
  }
  &.layout-3, &.layout-4{
    .header-container{
    	padding-bottom: 10px;
    }
  }
}
.bst-logo{
  a{
  	display: block;
    max-width: 120px;
  }
}
.for-full-width-menu{
    @include flex();
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  #shopify-section-BlueskyTechco-Verticalmenu{
  	flex-basis: 23%;
  }
    .col-menu{
      flex: 1;
      @media (max-width: 991px){    
      	order: 1;
        max-width: 100%;
      }
    }
    .col-logo{
      margin: 0 15px;
      
      @media (max-width: 991px){    
      	order: 2;
        .bst-logo{
          a{
          	margin: auto;
          }
        }
      }
    }
  .site-header__icon{
  	position: relative;
    display: block;
    .site-header__cart-count{
      color: $headercolor;
    }
  }
}
header{
  .topbar, .header-top{
  	@include flex();
    align-items: center;
    justify-content: space-between;  	
  }
  .topbar{
    font-size: 14px;
    *{
    	color: $topbarcolor;
    }
    .topbar-left{
      margin-bottom: 0;
      padding-left: 0;
      li{
      	display: inline-flex;
        align-items: center;
        padding: 7px 10px;
        margin-right: 35px;
        &:last-child{
        	margin-right: 0;
        }
        &:first-child{
        	padding-left: 0;
        }
      }
    }
     i{
       margin-right: 7px;
       font-size: 15px;
     }
    .bluesky-site-header-login-links{
      i{
      	font-size: 18px;
      }
    }
  	.topbar-right{
        @include flex();
        align-items: center;
        .bst-social .bst-social-icons {
          margin-bottom: 0;
          li {
              width: auto;
              height: auto;
              line-height: 1;
              border-radius: 0;
              vertical-align: baseline;
              margin: 0;
            a{
              padding: 0 12px;
            }
            &:hover{
              background-color: transparent;
               *, *:before{
                  color: $primarycolor !important;
              }
            }
            .bst-social-icons-link{
                font-size: 15px;
                  line-height: 1;
              i, span{
                  line-height: 1;
              }
            }
          }
        }
        .block-search{
          .top-search{
            &:before{
              content:"";
              display: inline-block;
              width: 1px;
              height: 18px;
              border-left: 1px solid $bordercolor;
              padding-left: 18px;
              position: relative;
              top: 3px;
              margin-left: 5px;
            }
            i{
              font-size: 21px;
              margin-right: 0;
              vertical-align: sub;
            }
          }
          form.minisearch{
           z-index: 2222;
            right: 0;
            top: calc(100% + 8px);
          }
        }
      }    
  }
  .header-container{
    .header-right{
    	@include flex();
      @media screen and (max-width: 991px){
      	align-items: center;
      }
      .icon{
      	font-size: 26px;
        padding-right: 7px;
        *{
        	color: $primarycolor;
        }
      }
      *{
      	margin-bottom: 0;
      }
      h5{
      	font-size: 20px;
      }
      p{
      	font-size: 14px;
      }
    }
  }
  .col-action{
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 0;
    @media (max-width: 991px){    
      order: 3;
      .dropdown-toggles .top-search, .cart-open .site-header__icon{
        line-height: 1;
      }
    }
    @media (max-width: 767px){    
      flex: unset;
      padding-left: 30px;
    }
    > div{
      padding: 0 15px;
      a, div {
        i{
          color: $headercolor;
          font-size: 18px;
        }
        .icon-users{
          padding-right: 3px;
        }
      }
      &:last-child{
        padding-right: 0;
      }
      .bluesky-site-header-login-links{
        color: $headercolor;
        a{
          display: inline-block;
          line-height: 1;
          color: $headercolor;
          &#customer_logout_link{
            margin-left: 5px;
            &:before{
              display: none;

            }
          }
        }
      }
    }
  }  
  form.search input[type="search"]{
  	width: 100%;
    border-radius: 30px;
  }
  &.sticky{
    @media screen and ( min-width: 568px ){
    .header-container{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      -webkit-animation-name: fadeInDown;
      -webkit-animation-duration: 5s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: normal;
      -webkit-animation-play-state: running;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: anim_titles;
      -moz-animation-duration: 5s;
      -moz-animation-timing-function: linear;
      -moz-animation-iteration-count: infinite;
      -moz-animation-direction: normal;
      -moz-animation-play-state: running;
      -moz-animation-fill-mode: forwards;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-iteration-count: 1;
      -webkit-animation-duration: .7s;
      -moz-animation-duration: .7s;
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
      -webkit-animation-timing-function: ease-out;
      -moz-animation-timing-function: ease-out;
      padding: 0;
      padding: 10px 0;
      background: $headerbg !important;
      z-index: 20;
      -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 9px 0 rgba(0,0,0,.2);
      @media screen and ( max-width: 992px ){
        padding: 15px 0;
      }
      &.absolute_header{
     	top: 0 !important; 
     }
    }
    &.layout-1{
      .header-container{
      	position: fixed !important;
        .for-full-width-menu{
          max-width: 1200px;
          margin: auto;
          padding: 0 15px;
        }
      }
       .topbar, .header-top{
         display: none;
       }
    }	
      &.layout-2{
        .header-container{
          background: $headerbg !important;
          border: 0;
        }
      }
      &.layout-3, &.layout-4{
         .header-container{
           position: fixed !important;
           .header-top{
           		max-width: 1200px;
              margin: auto;
              padding: 5px 15px;
           }
           .for-full-width-menu{
           	display: none;
           }
         }
      }
    }
  }
  &.layout-1{
    .header-top{
    	padding: 27px 0 22px;
      @media (max-width: 1024px){   
      	padding: 10px 0;
      }
       @media (max-width: 767px){   
      	justify-content: center;
        padding: 0 0 15px;
      }
    }
    .col-action{
      @media screen and (min-width: 1024px){
      	flex: unset;
      }
    }
    .col-logo{
       @media screen and (min-width: 768px){
    	flex-basis: 23%;
       }
    }
    .col-menu, .block-search{
    	padding: 0 2.55%;
    }
    @media (max-width: 767px){ 
      .col-menu{
        .nav-mobile{
        	text-align: right;
        }
      }
    }
    .header-container{
      position: relative;
      .cart-open {
        .site-header__icon {
          @include flex();
          align-items: center;
    	  justify-content: center;
          @media screen and (min-width: 768px){
            border: 2px solid $primarycolor;
            border-right: 0;
            border-radius: 25px;
          }
          .icon-cart-mini{
            color: $primarycolor;
            font-size: 21px;
            margin-right: 6px;
            line-height: 40px;
          }
          .border-cart{
          	@include flex();
            min-height: 45px;
            @media screen and (min-width: 768px){
              padding-right: 10px;
              padding-left: 20px;
            }
          }
          .action-click{
          	min-height: 45px;
            line-height: 45px;
            padding: 0 22px;
            background-color: $primarycolor;
            border-radius: 0 25px 25px 0;
            color: $lightcolor;
            margin-left: 10px;
            font-size: 22px;
            @media screen and (max-width: 767px){
            	display: none;
            }
          }
          .site-header__cart-count{
            position: static;
            transform: none;
            @include flex();
            align-items: center;
            font-size: 14px;
			color: $textcolor;
            font-weight: $titlefontweight;
             @media screen and (max-width: 767px){
            	font-size: 0;
               .cart-count{
               	font-size: 14px;
               }
            }
            .cart-count{
               @media screen and (min-width: 767px){
            	padding-right: 3px;
               }
            }
            .cart-total{
              &:before{
              	content: "-";
                padding: 0 3px;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
  &.layout-2{
    position: relative;
    .topbar{
    	padding: 3px 0;
      .topbar-left{
        li{
        	margin-right: 0;
          &:first-child{
            &:after{
            	content: "";
              	display: inline-block;
              	width: 1px;
              	height: 18px;
              	border-right: 1px solid $bordercolor;
              	position: relative;
              	top: 1px;
              	padding-left: 20px;
            }
          }
        }
      }
      .topbar-right{
        @include flex();
        align-items: center;
        .bst-social .bst-social-icons {
          margin-bottom: 0;
          li {
              width: auto;
              height: auto;
              line-height: 1;
              border-radius: 0;
              vertical-align: baseline;
              margin: 0;
            a{
              padding: 0 12px;
            }
            &:hover{
              background-color: transparent;
               *, *:before{
                  color: $primarycolor !important;
              }
            }
            .bst-social-icons-link{
                font-size: 15px;
                  line-height: 1;
              i, span{
                  line-height: 1;
              }
            }
          }
        }
        .block-search{
          .top-search{
            &:before{
              content:"";
              display: inline-block;
              width: 1px;
              height: 18px;
              border-left: 1px solid $bordercolor;
              padding-left: 18px;
              position: relative;
              top: 3px;
              margin-left: 5px;
            }
            i{
              font-size: 21px;
              margin-right: 0;
              vertical-align: sub;
            }
          }
          form.minisearch{
           z-index: 2222;
            right: 0;
            top: calc(100% + 8px);
          }
        }
      }
     }    
    .header-container{	
      &.absolute_header{
      	top: 100%;
        left: 0;
        right: 0;
      }
      background-color: $headerbg;
      padding: 10px 0;
      @media (min-width: 992px){    
      	padding: 14px 0;
      }
      @media (max-width: 992px){   
        .col-logo{
        	margin: 0 7px;
        }      
      }
      .menuContainer>ul>li>a{
      	text-transform: uppercase;
        font-size: 15px;
        &:hover, &.active{
        	color: $menucolor;
          &:after{
          	color: $menucolor;
          }
        }
      }
      .menuContainer>ul>li.active{
        >a{
        	color: $menucolor;
           &:after{
          	color: $menucolor;
          }
        }
      }
      .col-action{
      	.bluesky-site-header-login-links,
        .site-header__cart{
          text-transform: uppercase;
          a{
          	vertical-align: middle;
            font-size: 14px;
          }
        }
      }
    }
  }
  &.layout-3, &.layout-4{
    .top-bar{
    	padding: 3px 0;
      .topbar-left{
        li{
        	margin-right: 0;
          &:first-child{
            position: relative;
            padding-right: 20px;
             margin-right: 5px;
            &:after{
              content: '';
              width: 1px;
              height: 42px;
              border-right: 1px solid $topbarcolor;
              opacity: 0.5;
              position: absolute;
              top: -3px;
              right: 0;
            }
          }
        }
      }
      .topbar-right{
        .bluesky-login-page{
         	position: relative;
            padding-left: 20px;
             margin-left: 10px;
            &:after{
              content: '';
              width: 1px;
              height: 42px;
              border-right: 1px solid $topbarcolor;
              opacity: 0.5;
              position: absolute;
              top: -10px;
              left: 0;
            }
        }
      }
    }
    .header-container{
      padding-bottom: 30px;
      position: relative;
      .header-top{
        padding: 17px 0;
        .col-logo{
        	flex: 1;
          max-width: 26%;
        }
      }
      .block-search .block-content{
      	max-width: 500px;
        padding: 0 10px;
      }
    }
    @media screen and (max-width: 1024px){
      .header-container {
        .header-top{
          .col-logo{
              order: 2;
            .bst-logo a {
              margin: auto;
            }
          }
          .col-menu{
              order: 1;
          }
          .col-action{
              order: 3;
            flex: unset;
          }
        }
        .block-search form.minisearch{
          min-width: 180px;
        }
      }
    }
    @media only screen and (max-width: 767px) and (min-width: 568px) {
      .header-container{
         padding-bottom: 0 !important;
        .header-top{
          .col-logo{
            order: 1;
            max-width: 100%;
			padding-left: 12%;
          }
        }
        .vertical-menu{
          position: absolute;
          top: 17px;
          left: 0;
        }  
        .block-search{
        	bottom: 16px;
    		right: 62px;
        }
      }
    }
    @media screen and (max-width: 567px){
     .header-container .header-top{
       .col-logo{
         order: 1;
         max-width: 100%;
       }
        .col-menu{
          position: absolute;
          bottom: 17px;
          right: 40px;
          z-index: 222;
        }
        .col-action{
          position: absolute;
          bottom: 13px;
          right: 0;
          z-index: 222;
          .cart-open{
          	padding-right: 0;
          }
        }
      }
      .header-container .block-search{
          bottom: 12px;
          right: 60px;
      }      
    }
  }    
  &.layout-1, &.layout-3{
    .block-search{
    	flex: 1;
      .block-content{
      	max-width: 440px;
        margin: auto;
      }
      @media (max-width: 767px){   
      	position: absolute;
        bottom: 9px;
        right: 51px;
        z-index: 222;
        .top-search{
          a{
            i{
            	line-height: 26px;
            }
          }
        }
      }
      @media screen and (min-width: 768px){
        .top-search{
          display: none;
        }
        form.minisearch{
          display: block !important;
          height: 100% !important;
          position: static;
          input[type="search"]{
            height: 48px;
            border-radius: 25px;
            border: 2px solid $bordercolor;
            font-size: 14px;
            background-color: $lightcolor;
            width: 100%;
          }
        }
      }
    }    
  }
  &.layout-2, &.layout-3, &.layout-4{
    .col-action{
      .site-header__cart{
        font-size: 14px;
        font-weight: $titlefontweight;
        a{
          vertical-align: baseline;
        }
      }
      i{
        font-size: 20px;
        &.icon-login{
          margin-right: 5px;
          vertical-align: sub;
          font-size: 21px;
        }
      }
      .my-wishlist{
        position: relative;
        margin-right: 5px;
        .count{
          position: absolute;
          min-width: 18px;
          height: 18px;
          border-radius: 50%;
          background: $primarycolor;
          text-align: center;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          bottom: 2px;
          right: -9px;
          font-size: 14px;
          color: $lightcolor;
        }
      }
      .cart-open{
        padding-right: 0;
        .border-cart{
          position: relative;
        }        
        .site-header__cart-count{
          margin-left: 10px;
          display: inline-flex;
          padding-top: 2px;
          @media (max-width: 1024px){    
            font-size: 0;
            margin-left: 0;
          }
          .cart-count{
            position: absolute;
            min-width: 18px;
            height: 18px;
            border-radius: 50%;
            background: $primarycolor;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            bottom: -2px;
            left: 7px;
            font-size: 14px;
            color: $lightcolor;
          }
          .cart-total{
            font-weight: $headingfontweight;
            &:before{
              content: "-";
              padding: 0 3px;
            }
          }
        }
        .action-click{
          display: none;
        }
        @media (max-width: 767px){    
          padding-right: 0;
        }
      }
      @media (max-width: 1024px){    
        .bluesky-site-header-login-links,.wishlist{
          display: none;
        }
      }
      @media (max-width: 767px){    
        flex: 1;
        padding-left: 0;
        .visible-mobile{
          display: block !important;
        }
      }
    }  
  }
  &.layout-4{
    .header-container{
    	padding-bottom: 0 !important;
      .col-action>div{
      	padding: 0 10px;
      }
      @media screen and (max-width: 1024px){
        .header-top{
        .col-logo{
              max-width: 100%;
            padding: 0 3%;
          }
          .col-menu{
              order: 3 !important;
          }
        }
      }
      @media only screen and (max-width: 767px){
        .header-top .vertical-menu{
        	position: static;
        }
      }
      @media only screen and (max-width: 567px){
      	.header-top{
          flex-direction: column;
          align-items: flex-start;
          .col-logo{
          	width: 100%;
            margin-bottom: 15px;
          }
          .vertical-menu{
          	order: 2;
          }
          .col-menu{
          	right: 0;
          }
          .col-action{
            z-index: 22;
            bottom: 17px;
            padding-right: 30px;
            >div{
              padding: 0 5px;
            }
          }
        }
      }
    }
  }  
}
#shopify-section-header header{
	background: $headerbg;
}
// Footer
#bst-footer{
  margin-top: 80px;
   .bst-grid-social{
    margin: 10px 0;
  }
  .footer-top-v2{
  	padding-bottom: 55px;
    border-bottom: 1px solid $bordercolor;
    .inforstore{
      @media screen and ( max-width: 991px ){
      	margin-bottom: 40px;
      }
    }
  }
  .bst-footerCenter{
    color: $footercolor;
    text-align: left;
    *{
       color: $footercolor;
    }
    a{
      &:hover{
        span{
          color: $primarycolor !important;
        }
      	color: $primarycolor !important;
        border-color:  $primarycolor !important;
      }
    }
    .bst-logo{
    	margin-bottom: 37px;
    }
    .widget_about_us{
      .footer-phone-info,
      .contact-info-block .info-item{
      	@include flex();
        h5,h6{
        	margin-bottom: 0;
          font-weight: $titlefontweight;
        }
      }
      .footer-phone-info{
        margin-bottom: 35px;
        .biolife-icon{
        	font-size: 40px;
          	margin-right: 15px;
          	padding-top: 6px;
        }
        .r-info{
          font-size: 18px;
          line-height: 24px;
          display: inline-block;
          font-weight: $titlefontweight;
          margin: 0;
          *{
             color: $headingcolor;
          }
        }
      }
      .contact-info-block{
        h5,h6{
        	font-size: 17px;
          	margin-bottom: 15px;
           font-weight: $titlefontweight;
          color: $headingcolor;
        }
        i{
        	font-size: 24px;
          	margin-right: 10px;
          	margin-top: 5px;
        }
      }

    }
  }
  .widget-title{
    font-size: 24px;
    padding-bottom: 0;
    line-height: 1;
    color: $footertitlecolor;
    text-transform: capitalize;
    margin-bottom: 30px;
    @media screen and ( max-width: 575px ){
      margin-bottom: 15px;
      margin-top: 30px;
    }
    *{
      color: $footertitlecolor;
    }
  }
  .menu{
    padding-left: 0;
    li{
      padding-bottom: 8px;
    }
  }
  .footer-newsletter{
	border-top: 1px solid $bordercolor;
    padding-top: 20px;
    margin-top: 20px;
    .flex-layout-left{
    	@include flex();
      	align-items: center;
      	margin-right: 3.8%;
      @media screen and ( max-width: 567px ){
      	margin-right: 0;
        margin-bottom: 20px;
      }
      > span{
      	font-size: 65px;
        line-height: 1;
        display: inline-block;
        color: #c8c8c8;
        vertical-align: middle;
        margin-right: 17px;
      }
      h4{
      	color: $headingcolor;
        font-size: 20px;
        margin-bottom: 3px;
      }
      p{
      	margin-bottom: 0;
      }
    }
    .contact-form{
        @media screen and ( min-width: 1024px ){
            max-width: 85%;
            margin: auto;
        }      
    	@include flex();
      	align-items: center;
      @media screen and ( max-width: 567px ){
        flex-direction: column;
        justify-content: center;
      }
      .input-group{
        @include flex();
        flex: 1;
    	width: auto;
        .newsletter__input{
          border-radius: 30px 0 0 30px;
          flex: 1;
        }
        button {
          border-radius: 0 30px 30px 0;
          span{
        	color: $lightcolor;
          }
          &:hover{
          	background-color: lighten($primarycolor,5%);
            border-color: lighten($primarycolor,5%);
          }
        }
        
      }
    }
    &.style2{
      border-top: 0;
      padding-top: 0;
      .contact-form{
      	display: block;
        max-width: 100%;
      }
      .flex-layout-left h4{
      	margin-bottom: 16px;
      }
    }
  }
  .bst-footerCopyRight{
    padding: 28px 0;
    .copyright-col{
    	@include flex();
      	align-items: center;
    }
    .bst-copyRight{
      @media screen and ( max-width: 767px ){
      	margin-bottom: 20px;
        text-align: center;
      }
      p{
      	color: $copyrightcolor;
        margin-bottom: 0;
        a{
          font-weight: $titlefontweight;
          color: $copyrightcolor;
        }
      }
    }
    .widget_payment{
    	text-align: right;
      	margin-top: 0;
    }
    @media screen and ( max-width: 767px ){
      div{
      	text-align: center !important;
      }
    }
    .footer-bottom-v2{
    	border-top: 1px solid $bordercolor;
    }
  }
  .bst-instagram{
    .bst-instagram-wrapper{
      .bst-title {
      	padding: 0;
        .widget-title{
        	text-align: left !important;
        }
      }
      .instagram-section{
      	position: relative;
        .insta-ifo{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          min-width: 149px;
          padding-top: 24px;
          padding-bottom: 29px;
          background-color: rgba(255,255,255,0.88);
    		text-align: center;
          text-transform: uppercase;
          h6{
          	font-size: 18px;
             margin-bottom: 0;
            span{
            	color: $headingcolor;
              font-weight: $titlefontweight;
             
            }
          }
        }
      }
      .instagram-grid{
        padding-top: 6px;
      	display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 12px;
        img{
       	min-height: 90px;
       }
      }
    }
  }
  .hozital-menu{
    ul{
      text-align: center;
      li{
      	display: inline-flex;
        padding: 0;
        &:after{
          content: '';
          display: inline-flex;
          width: 1px;
          height: 14px;
          border-right: 1px solid #b7b7b7;
          padding-left: 15px;
          margin-right: 15px;
          position: relative;
          top: 5px;
        }
        &:last-child{
          &:after{
          	display: none;
          }
        }
      }
    }
  }
  .transport_offices{
    padding-left: 0;
    margin-bottom: 22px;
    li{
      @include flex();
      margin-bottom: 14px;
      line-height: 20px;
      i{
      	font-size: 22px;
        min-width: 36px;
      }
      .icon-letter{
      	font-size: 12px;
        line-height: 24px;
      }
      .icon-location{
      	margin-top: 2px;
      }
    }
  }
  .footer-bottom{
  	text-align: center;
    margin-top: 35px;
    .hozital-menu{
    	padding-top: 30px;
      border-top: 1px solid $bordercolor;
    }
    p{
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
  .payment-title{
  	font-size: 18px;
    color: $headingcolor;
    font-weight: $titlefontweight;
  }
  &.layout-2{
    .widget-title{
    	font-size: 22px;
    }
    .menu li{
    	padding-bottom: 12px;
    }
    .widget_about_us .footer-phone-info {
      margin-bottom: 25px;
      .biolife-icon{
    	font-size: 36px;
      }
      .r-info{
        .number{
        	font-size: 17px;
          font-weight: $regularfontweight;
        }
      }
    }
    .bst-footerCopyRight{
    	padding: 14px 0;
    }
  }
  &.layout-4{
    .footer-newsletter.style2{
      margin-top: 0;
      margin-bottom: 17px;
    }
    .bst-grid-social{
    	margin: 10px 0 12px;
    }
    .bst-footerCopyRight .copyright-col{
    	justify-content: center;
    }
  }
}
.slider-header{
	width: 100%;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
}
.layout-1 .slider-header{
	margin: auto;
  	max-width: 1400px;
  	padding: 38px 0 48px;
   @media screen and ( max-width: 1199px ){
  	padding: 15px 0;
  }
}
.block-search{
  form.minisearch{
  	display: none;
    position: absolute;
    top: 100%;
    right: -100%;
    min-width: 300px;
    z-index: 222;
    input{
    	width: 100%;
    	padding-right: 30px;
      
    }
    .search__submit{
      position: absolute;
      right: 10px;
      top: 0;
      padding: 0;
      height: 45px;
      line-height: 40px;
      color: $textcolor;
      background: transparent;
      border: 0;
      width: 30px;
      font-size: 16px;
      text-align: center;
      &:hover{
      	animation: none;
      }
    }
    &.opening{
    	display: block;
    }
  }
}
.cart-open{
	position: relative;
}
#bst-minicart{
  	display: none;
    position: absolute;
    top: calc(100% + 15px);
  	background: $lightcolor;
  	border: 1px solid $bordercolor;
    right: 0;
    min-width: 370px;
    z-index: 222;
  	opacity: 1 !important;
  	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  	border-top: 3px solid $primarycolor;
  @media screen and ( max-width: 991px ){
  	top: calc(100% + 10px);
     min-width: 300px;
  }
  .bst-empty{
  	text-align: center;
    padding-top: 30px;
  }
  #bst-minicart-content{
  	padding: 0 20px 30px;
    .bst-minicart-info{
    	max-height: 282px;
    	overflow: auto;
    }
    .bst-minicart-name{
      padding-left: 15px;
      a{
      	color: $headingcolor;
        display: block;
        font-size: 17px;
        font-weight: $titlefontweight;
      }
      .bst-minicart-quantity, .bst-minicart-total{
      	display: inline-block;
      }
      .bst-minicart-total{
      	font-weight: $headingfontweight;
        font-size: 18px;
        color: $headingcolor;
      }
      .bst-minicart-quantity{
      	font-size: 14px;
        color: #aaa;
      }
    }
    .bst-minicart-remove{
      a{
      	color: $headingcolor;
        font-weight: $headingfontweight;
        i{
          font-size: 16px;
          color: #999;
          vertical-align: middle;
        }
      }
    }
  }
  &.opening{
  	display: block
  }
  table{
    border: 0;
    margin-bottom: 0;
    *{
    	border: 0;
    }
    td{
    	border-bottom: 1px dashed $bordercolor;
      	padding: 20px 0;
    }
  }
  .bst-minicart-total{
    td{
    	border: 0;
      	font-weight: $headingfontweight;
      	color: $headingcolor;
      	font-size: 18px;
      &.bst-minicart-right{
      	text-align: right; 
      }
    }
  }
  .bst-minicart-checkout{
    @include flex;
    margin: 0 -7.5px;
    a{
    	@include buttonMixin();
      	display: block;
      	margin: 0 7.5px;
      width: 50%;
      &.checkout{
        background-color: #eee;
        color: $textcolor;
        border-color: #eee;
        
      }
    }
  }
}
//BLuesky Section
.BlueskyTechco-section{
  > div{
  	background-size: cover;
  }
  .bts-banner-sections{
    position: relative;
    &.has-background-images{
      background-position: center;
      background-repeat: no-repeat;
    }
    .bts-banner-inner{
      position: relative;
      .absolute-text{
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
      .bts-banner-text{
        @include flex();
        &.left{
          justify-content: flex-start;
        }
        &.right{
          justify-content: flex-end;
        }
        &.center{
          justify-content: center;
        }
      }
      .bts-h6.bts-title{
        font-size: 50px;
        margin-bottom: 25px;
        line-height: 1;
        letter-spacing: 1px;
        font-weight: $titlefontweight;
      }
      .bts-h2.bts-subtitle{
        font-size: 24px;
        margin-bottom: 6px;
        color: $primarycolor;
        font-weight: $regularfontweight;
      }
      .bts-btn{ 
        @include buttonMixin();
      }
    } 
  }
  .bts-collectionseven-sections{
    .row-isotope{
      margin: 0;
    }
  }
  .bst-title {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 34px;
    h2, .widget-title{
      font-size: 40px;
      color: $headingcolor;
      line-height: 1;
      text-align: center;
      margin-bottom: 10px;
      text-transform: capitalize;
      @media screen and (max-width: 567px){
        font-size: 34px;
      }
    }
  }
  .bst-short-desc{
    margin-top: 21px;
    font-family: $otherfont;
    margin-bottom: 0;
    .icon-at-top{
      font-size: 35px;
      display: block;
      margin-bottom: 5px;
    }
  }
  .bts-WelcomeToStore{
    .bts-welcome-store-img{
      margin-bottom: 33px;
    }
    .bts-title{
      font-size: 24px;
      font-weight: $regularfontweight;
      span{
        color: $primarycolor;
        font-weight: $headingfontweight;
      }
    }
    .bst-short-desc{
      margin-top: 31px;
    }
  }
  .product-width-banner_background{
    .bst-title {
      margin-bottom: 20px;
      h2{
    	text-align: left;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 14px 35px 25px 43px;
        background-position: center;
        display: inline-block;
        color: $lightcolor;
        margin-bottom: 0;
        @media screen and ( min-width: 1025px ){
          min-width: 314px;
          background-size: cover;
        }         
      }
    }
  }
  .bst-filter-list-type-wrapper{
    .bst-product-list{
      .bst-laberProduct-image{
      	float: left;
        margin-right: 10px;
        max-width: 130px;
      }
      .bst-product-description{
      	overflow: hidden;
      }
      .shop-products.products .product {
        @media screen and ( min-width: 1025px ){
          margin: 0 0 18px;
        }
        .product-wrapper{
          border: 0;
          &:after, &:before{
          	content: '';
            display: table;
            clear: both;
          }
          .list-col8 .gridview {
            text-align: left;
            .grid-info{
              position: relative;
              margin-top: 0;
              @media screen and ( min-width: 1025px ){
                border-bottom: 1px dashed #999999;
                padding-bottom: 8px;
                margin-bottom: 3x;
              }
              .product-name{
                  margin-bottom: 7px;
              }
              .price-box{
                position: absolute;
                top: 0;
                right: 0;
                line-height: 1;
                .priceProduct {
                  font-size: 26px;
                  font-weight: $headingfontweight;
                  color: $headingcolor;
                  &.priceCompare{
                      font-size: 16px;
                    color: $textcolor;
                    font-weight: $regularfontweight;
                  }
                }
                 @media screen and ( max-width: 1024px ){
                	position: static;
                  justify-content: flex-start;
                  .priceProduct {
                  	font-size: 16px;
                    margin-bottom: 5px;
                    &.priceCompare{
                      font-size: 14px;
                    color: $textcolor;
                    font-weight: $regularfontweight;
                  }
                  }
                }               
              }
              .proReviews{
                  display: block !important;
              }
              .category{
                  display: none;
              }
            }
            .action-bottom{
              position: static;
              padding: 0;
              transform: none;
              box-shadow: none;
              opacity: 1;
              visibility: visible;
              border: 0;
              .actions{
                @include flex();
                padding: 0;
                @media screen and ( min-width: 1025px ){
                  position: absolute;
                  top: calc( 100% + 20px);
                  z-index: 335;
                  opacity: 0;
                  transform: translateY(-10px);
                  -webkit-transform: translateY(-10px);
                  -o-transform: translateY(-10px);
                  -ms-transform: translateY(-10px);
                  transform-origin: 0 0;
                  visibility: hidden;
                  @include transition();                   
                }
                .add-cart{
                  order: 1;
                  padding: 0;
                  margin-right: 8px;
                  @media screen and ( min-width: 1025px ){
                      margin-right: 20px;
                  }
                  @media screen and ( max-width: 1024px ){
                    .add_to_cart_inline{
                    	width: auto;
                      padding: 11px 15px;
                    }
                  }
                  @media screen and ( max-width: 479px ){
                  	margin-top: 0;
                  }
                }
                .wishlist{
                  order: 2;
                }
                .laberItem{
                  order: 3;
                }
                .wishlist a i{
                  color: #888;
                }
              }
            }
          }
          @media screen and ( min-width: 1025px ){
            &:after{
              content: '';
              position: absolute;
              z-index: 333;
              bottom: -62px;
              left: 1px;
              right: 1px;
              background-color: $lightcolor;
              min-height: 65px;
              -webkit-box-shadow:  0 3px 3px 0 rgba(0,0,0,0.1);
              -moz-box-shadow:  0 3px 3px 0 rgba(0,0,0,0.1);
              box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
              opacity: 0;
              visibility: hidden;
              display: block;
            }   
          }
          &:hover{
            @media screen and ( min-width: 1025px ){
            &:after{
              opacity: 1;
                  visibility: visible;
            }
            .list-col8 .gridview {
              .action-bottom{
                .actions{
                  opacity: 1;
                  visibility: visible;
                  -webkit-transform: translateY(0);
                  -o-transform: translateY(0);
                  -ms-transform: translateY(0);
                  transform: translateY(0);
                  }
                }
             }
           }
      	}
        }
      }
  	}
  }
  .bts-three-banner-sections, .bts-two-banner-sections{
    .bts-banner-inner{
      position: relative;
      text-align: center;
      overflow: hidden;
      margin-bottom: 30px;
      img{
        @include transition();
      }
      .bts-banner-text{
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px;
        &.top{
          top: 40px;
        }
        &.center{
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
        }
        &.bottom{
          bottom: 40px;
        }

        .bts-subtitle{
          margin-bottom: 8px;
          font-weight: $regularfontweight;
        }
        .bts-btn{
          margin-top: 20px;
          border: 0;
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          color: $headingcolor;
          span{
            color: $primarycolor;
            font-size: 14px;
            vertical-align: middle;
          }
        }   
      }
      &:hover{
        img{
          -webkit-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
  .bts-three-banner-sections{
    .bts-banner-inner{
      .bts-banner-text{
        .bts-subtitle{
          font-size: 16px;
        }
        .bts-title{
          font-size: 20px;
        }
        .bts-btn{
          border-bottom: 2px solid $headingcolor;
        }   
      }
    }
    &.left-text{
      @media screen and ( max-width: 575px ){
        .bts-banner-inner{
          text-align: left;
        }
      }
      .bts-banner-text{
        text-align: left !important;
        left: 20px;
        right: auto;
        &.top{
          top: 17px;
        }
        &.bottom{
          bottom: 20px;
        }
        .bts-title{
          font-size: 18px;
        }
        .bts-btn{
          font-weight: $regularfontweight;
          font-size: 14px;
          border-bottom: 0;
          padding-bottom: 0;
          text-transform: none;
          margin-top: 17px;
        }
      }
    }
  }
  .bts-two-banner-sections{
    .container-fluid{
      padding: 0; 
    }
    .bts-banner-inner{
      text-align: left;
      .bts-banner-text{
        left: 40px;
        .bts-subtitle{
          margin-bottom: 3px;
          color: $primarycolor;
          font-size: 18px;
        }
        .bts-title{
          line-height: 1;
          font-size: 36px;
          font-weight: $regularfontweight;
          @media screen and ( max-width: 991px ){
            font-size: 26px;
          }
        }
        .bts-btn{
          font-size: 12px;
          margin-top: 30px;
          @media screen and ( max-width: 991px ){
            margin-top: 20px;
          }
          span{
            font-size: 14px;
          }
        }
      }
    }
  }
  .bst-filter-grid-type-wrapper.collection-grid{
    .container-fluid{
      max-width: 100%;
      padding: 0 10px;
      .bst-collections-productgird{
        margin: 0 -10px;
      }
    }
    .bst-product-grid{
      &.row{
        margin: 0 -10px;
      }
      > div{
        padding: 0 10px;
      }
      .shop-products {
        .product{
          margin-bottom: 20px;
        }
        .ProductGird.product-wrapper {
          position: relative;
          &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(245,245,245,0.9);
            opacity: 0;
            visibility: hidden;
            z-index: 2;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
          }
          .actions .add-to-links{
            display: none;
          }
          .list-col8{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            margin-top: 0;
            display: none;
            z-index: 3;
            width: 90%;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;           	
            .gridview {
              text-align: center;
              .grid-info{
                margin-top: 0;
                padding-right: 0;

              }
              .wishlist, .actions{
                display: none;
              }                  
            }
          }
          &:hover{
            &:before{
              opacity: 1;
              visibility: visible;
            }
            .list-col8{
              display: block;
              .gridview {
                .price-box{
                  transform: none;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
  .bts-collectionthree-sections {
      .bts-collectionthree-inner{
          margin: 0 -10px;
      }
      .bts-collectionthree{
          padding: 0 10px;
            margin-bottom: 20px;
        a{
          display: block;
          position: relative;
          &:hover{
            .bts-title{
              opacity: 1;
              h3,span{
                -o-transform: translateY(0);
                  -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
              }
              span{
                  color: $greycolor;
              }
            }
            &:after{
               opacity: 1;
            visibility: visible;
            }
          }
          &:after{
              content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(29,29,29,0.9);
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            z-index: 1;
          }
        }
        .bts-title{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
          left: 0;
          right: 0;
          text-align: center;
          opacity: 0;
          z-index: 2;
          h3{
                  margin-bottom: 3px;
            font-size: 18px;
            color: $lightcolor;
            -webkit-transform: translateY(15px);
            -ms-transform: translateY(15px);
            transform: translateY(15px);
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            &:hover{
              color: $primarycolor;
            }
          }
          span{
              -webkit-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
            transform: translateY(-15px);
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            display: block;
          }
        }
      }
    }
  .bst-instagram{
    .instagram-grid{
    	display: grid;
     	grid-template-columns: repeat(6, 1fr);
      @media screen and ( max-width: 479px ){
      	grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  .brand{
    .bts-banner-inner{
        img{
        	opacity: 0.5;
          @include transition();
        }
      &:hover{
        img{
        	opacity: 1;
        }
      }
    }
  }
  .bts-custom-heading{
    .bst-title{
    	position: relative;
      margin-top: 0;
      margin-bottom: 0;
    }
    .bst-short-desc{
    	font-size: 60px;
      line-height: 1;
      margin-top: 0;
      color: $primarycolor;
      text-align: center;
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      z-index: 2;
      @media screen and ( min-width: 1366px ){
      	font-size: 100px;
      }
       @media screen and ( max-width: 567px ){
      	font-size: 40px;
         top: 0;
      }
       @media screen and ( max-width: 479px ){
      	font-size: 30px;
      }
    }
    h2{
       @media screen and ( min-width: 1366px ){
      	font-size: 220px;
      }
      margin-bottom: 0;
      position: relative;
      z-index: 1;
      font-size: 100px;
      color: #eee;
      opacity: 0.55;
      word-break: break-all;
       @media screen and ( max-width: 567px ){
      	font-size: 80px;
      }
       @media screen and ( max-width: 479px ){
      	font-size: 55px;
      }
    }
  }
}
.bts-countdown-banner,
.bts-countdown{
  margin: 25px 0 10px;
  > span{
    background: $lightcolor;
    border: 1px solid $bordercolor;
    border-radius: 3px;
    padding: 8px 5px;
    min-width: 58px;
    min-height: 58px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 10px;
    span{
      display: block;
      &.number{
        font-size: 20px;
        font-weight: $headingfontweight;
        color: $headingcolor;
        line-height: 1;
      }
      &.text{
        font-size: 13px;
        text-transform: uppercase;
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
.count-down-product{
  .shop-products.products {
    padding-right: 1px;
    .product{
       border: 2px solid $primarycolor;
       border-color: lighten( $primarycolor, 10%);
       padding: 18px 18px 28px;
        background-color: #fafafa;
      .product-wrapper {
        padding: 0;
       	border: 0;
        .product-image .variant-image-group{
        	background: transparent;
        }
        .list-col8 {
          .gridview {
            .action-bottom{
              position: static;
              opacity: 1;
              visibility: visible;
              transform: none;
              border: 0;
              box-shadow: none !important;
    		  background: transparent;
              padding: 0;
            }
          }
        }
        &:hover{
          box-shadow: none;
          .action-bottom{
          	box-shadow: 0 !important;
          }
        }
      }
    }
    .bts-countdown-banner{
    	margin-top: 0;
      margin-bottom: 13px;
    }
  }
}
.count-down-product,
.group-section .bst-collections-productgird{
  .owl-carousel {
    position: static;
    .owl-nav {
      opacity: 1;
      position: absolute;
      top: 7px;
      right: 0;
      button{
          position: static;
        opacity: 1;
        visilibity: visible;
        transform: none !important;
        background: $lightcolor;
        width: 30px;
        height: 30px;
        &.owl-prev{
        	margin-right: 10px;
        }
        span{
          &:before{
          	font-size: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
.group-section{
  .container{
  	width: auto;
    padding: 0;
    .row{
    	display: block;
      margin: 0;
    }
  }
  .row-group{
  	@include flex();
    margin: 0 -15px;
    @media screen and ( max-width: 767px ){
    	flex-direction: column;
    }
  }
  .bst-filter-grid-type-wrapper{
    .bst-title{
      margin-bottom: 16px;;
      h2{
      	font-size: 30px;
 		text-align: left;
      }
    }
  }
  .product-gird-section{
  	position: relative;
    .owl-carousel .owl-nav{
      top: 1px;
      right: 10px;
      button span:before {
        font-size: 33px;
        line-height: 33px;
      }
    }
    .shop-products.products .product .product-wrapper .actions .add-cart .add_to_cart_inline{
    	padding: 10px 18px;
      font-size: 13px;
    }
  }
  .bst-collections-productgird .bst-product-grid{
  	margin: 0 -5px;
  }
  .col-left{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.33333%;
    padding: 0 15px;
    .col-md-3.col-xs-12{
    	float: none;
      width: auto;
      flex: unset;
      max-width: 100%;
      padding: 0;
    }
  }
  .col-right{
    padding: 0 15px;
   -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
  }
  @media screen and ( max-width: 767px ){
    .col-left, .col-right{
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .bst-title{
  	text-align: left !important;
  }
  .title{
    font-size: 30px !important;
    margin-bottom: 34px !important;
    padding: 0 !important;
    border: 0 !important;
  }
  .count-down-product{
    .shop-products .ProductGird.product-wrapper .list-col8{
    	margin-top: 5px;
      .gridview {
        .grid-info{
          margin-top: 8px;
        }
        .bts-countdown{
          margin-top: 0;
        }
      
      }
    }
  }
}
.group-section-product{
  .row-group-product{
    @include flex();
    margin: 0 -15px;
    @media screen and ( max-width: 1024px ){
      flex-direction: column;
      .col-group{
      	margin-bottom: 30px;
      }
    }
    .col-group{
    	padding: 0 15px;
    }
    &.three{
      .col-group{
        flex: 0 0 100%;
        max-width: 100%;      	
      }
       @media screen and ( min-width: 1025px ){
        .col-group{
          flex: 0 0 33.33333%;
          max-width: 33.33333%;
        }
       }
    }
    &.two{
      .col-group{
        flex: 0 0 100%;
        max-width: 100%;      	
      }
       @media screen and ( min-width: 1025px ){
        .col-group{
          flex: 0 0 50%;
          max-width: 50%;
        }
       }
    }
    &.one{
      .col-group{
      	flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .product_row{
    .product-inner{
      &:after, &:before{
        content: "";
        clear: both; 
        display: table;
      }
      padding: 10px;
      border: 1px solid $bordercolor;
      margin-bottom: 30px;
      .product-thumb{
        float: left;
        width: 50%;
        max-width: 170px;
        margin-right: 10px;
      }
      .product-info{
        overflow: hidden;
        @media screen and ( min-width: 1025px ){
          margin-top: 15px;
        }
        .category{
          color: $greycolor;
        }
        .title-product h2{
          font-size: 17px;
          font-weight: $titlefontweight;
          margin-bottom: 5px;
          a{
            color: $headingcolor;
          }
        }
        .price-box{
          margin-bottom: 2px;
          .priceProduct {
            font-size: 18px;
            font-weight: $headingfontweight;
            color: $headingcolor;
          }
          .priceCompare{
            font-size: 14px;
            color: #aaaaaa;
            font-weight: $titlefontweight;
          }
        }
        .proReviews .spr-starrating{
          margin-right: 10px;
        }
      }
    }
  }
  .col-group{
    .title{
      font-size: 24px;
      padding-bottom: 14px;
      border-bottom: 2px solid $bordercolor;
      margin-bottom: 17px;
    }
  }
  .style_2{
    .owl-nav{
    	display: none;
    }
    .product_row {
      .product-inner {
        padding: 0 0 15px;
        margin-bottom: 15px;
        border: 0;
        border-bottom: 1px solid $bordercolor;
        .product-thumb{
          max-width: 100px;
        }
        .product-info{
          margin-top: 4px;
          .proReviews{
          	display: none;
          }
        }        
      }
      .item{
        &:last-child{
          .product-inner {
          	padding: 0;
            border: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
.newsetter-section{
	background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-form{
  &.hasborder{
  	border-bottom: 1px solid;
  }
  text-align: center;
  .flex-layout{
    > div{
      flex: 1;
    }
    @media screen and (min-width: 1025px){
    	max-width: 510px;
      margin: auto;
    }
    flex-direction: column;
    .newsletter-infor{
      margin-bottom: 21px;
    }
  }
  .newsletter-infor{
      *{
          color: $lightcolor;
          margin-bottom: 0;
      }
    }
  .contact-form{
    h4{
      font-size: 35px;
    }
    .rte{
      font-size: 16px;
      strong{
      	font-size: 20px;
        line-height: 1.2;
      }
    }
    .input-group{
      flex-wrap: nowrap;
      input{
        width: 100%;
        border-radius: 50px;
        padding: 10px 25px;
        background: $lightcolor;
        margin-right: -30px;
        padding-right: 30px;
        border-radius: 30px 0 0 30px;
      }
      .newsletter__submit{
      	min-height: 45px;
      }
    }
    .input-group__btn{
    }
  }
}
#bst-productBanner-left, #bst-productBanner-right, .bts-collectionfour-sections{
  .container-fluid{
  	padding: 0 20px;
  }
}
.bts-collectionfour-sections{
  .row{
  	margin: 0;
  }
}
// Collection Tab
.bst-Collection-Tab{
  &.style_2{
    .bst-title{
    	margin-bottom: 20px;
    }
  }
  .nav-collection-tab{
  	@include flex();
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
  }
  .bst-nav{
    display: block;
    width: 100%;
     text-align: center;
    .img-icon-tab{
    	display: block;
      opacity: 0.5;
      margin: auto;
    }
    >a{
      color: $greycolor;
      position: relative;
      display: inline-block;
      font-size: 24px;
      font-weight: $titlefontweight;
      margin: 0 2%;
      text-align: center;
      .biolife-icon{
      	font-size: 44px;
        display: block;
        margin-bottom: 4px;
        text-align: center;
      }
      span.count{
        display: none;
        position: absolute;
        margin-left: 4px;
        right: -5px;
        top: -1px;
        font-size: 12px;
        line-height: 14px;
        transform: translateX(100%);
      }
      &:last-child{
        margin-right: 0;
      }
      &:hover, &.active{
        color:$primarycolor;
        .img-icon-tab{
        	opacity: 1;
        }
      }
 	  @media screen and (max-width: 991px){
    	  font-size: 16px;
        img{
        	max-width: 60px;
        }
      }
      @media screen and (max-width: 479px){
    	margin: 0 2%;
        font-size: 14px;
        .biolife-icon{
        	font-size: 24px;
        }
        img{
        	max-width: 45px;
        }
      }
      @media screen and (max-width: 375px){
    	margin: 0 1%;
        font-size: 13px;
        .biolife-icon{
        	font-size: 20px;
        }
        img{
        	max-width: 45px;
        }
      }
    }
    &.background-title, &.style_2{
      .title-cate{
        text-transform: uppercase;
        font-size: 16px;
        min-width: 129px;
        text-align: center;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 0;
        padding: 7px 0 15px;
        display: inline-block;
        font-weight: $headingfontweight;
      }
      a{
      	margin: 0;
      }
      a.active{
        .title-cate{
          background-size: 100%;
          color: $lightcolor !important;
        }
      }
    }
    &.style_2{
    	a.active{
        .title-cate{
          color: $primarycolor;
        }
      }
    }
    .view-more-roducts{
      float: right;
      margin:0;
      a{
        padding:0;
      	color:$headingcolor;
        &:after{
          	content: "";
            height: 1px;
            width: 100%;
            bottom: 5px;
            display: block;
            position: relative;
            background: $headingcolor;
        }
      }
    }
  }
  .bst-tab-collections{
    .bst-tab-main-content{
      >.tab-pane{
      	display:none;
      }
      @media screen and (max-width: 575px) {
        .bst-product-grid{
          .productTab {
          	display: none;
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3){
            	display: block;
            }
          }
        }
        .bst-btnLoadMore{
        	display: none;
        }
      }
    }
  }
}
.btnLoadMore{
  @include buttonMixin1();
  text-transform: capitalize;
  font-weight: $regularfontweight;
  font-size: 14px;
  margin-top: 20px;
  &:visited{
    background-color: $headingcolor;
    border-color: $headingcolor;
  }
  &.disableLoadMore{
  	display: none;
  }
}
//collection with text
.bts-collection-image-with-descrpiton{
	@include flex();
  	align-items: center;
  	justify-content: space-between;
  	width: 100%;
    @media screen and ( max-width: 767px ){
		flex-direction: column-reverse;
      > div{
      	margin-bottom: 30px;
      }
    }
  .bts-rolated-text{
  	color: $lightcolor;
    font-size: 12px;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-90deg) translateY(-50%) translateX(-50%);
    -webkit-transform: rotate(-90deg) translateY(-50%) translateX(-50%);
    -o-transform: rotate(-90deg) translateY(-50%) translateX(-50%);
    -ms-transform: rotate(-90deg) translateY(-50%) translateX(-50%);
    margin: 0;
    font-size: 12px;
    padding: 4px 30px;
    letter-spacing: 7px;
    transform-origin: 0% 0%;
    text-align: center;
    text-transform: uppercase;
    @media screen and ( max-width: 992px ){
    	letter-spacing: 3px;
      	padding: 4px 10px;
    }
  }
  &.left{
  	flex-direction: row-reverse;
    @media screen and ( max-width: 767px ){
		flex-direction: column-reverse;
    }
  }
  &.right{
    .collection-infor{
    	text-align: right;
    }
  }
  &.one-images{
    .main-collection-images{
    	flex: 2;
      .main-text{ 
      	padding-left: 18px;
      }
      .bts-rolated-text{
      	left: 18px;
      }
    }
  }
  > div{
  	flex: 1;
    padding: 0 15px;
  }
  .main-text{
  	position: relative;
  }
  .secondary-collection-images{
  	text-align: center;
  }
  .bts-title{
  	font-size: 30px;
    letter-spacing: -1.5px;
    line-height: 1.07;
    margin-bottom: 28px;
  }
  .bts-description{
  	margin-bottom: 45px;
    line-height: 1.75;
  }
  .bts-btn{
    color: $primarycolor;
  	font-size: 13px;
    font-weight: $headingfontweight;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 2px solid $primarycolor;
  }
}
// Shipping & support 
.shipping_support{
    text-align: center;
  .row{
  	margin: 0;
    @media screen and ( min-width: 575px ){
      border: 2px solid $bordercolor;
      border-radius: 3px;
      padding: 19px 0 18px;
      > div{
          padding: 10px 5px 9px;
        border-right: 1px solid $bordercolor;
        &:last-child{
          border: 0;
        }
      }
    }
    @media screen and ( max-width: 574px ){
      > div{
        padding: 35px 0;
        border: 1px solid $bordercolor;
        margin-bottom: 30px;
      }
    }
  }
  .bst-services-box{
    .box-inner{
    	display: inline-block;
      position: relative;
      .number{
      	position: absolute;
        top: -1px;
        left: 0;
        display: inline-flex;
        font-size: 16px;
        color: $lightcolor;
        align-items: center;
       	justify-content: center;
        background-color: #ccc;
        width: 31px;
        height: 31px;
        border-radius: 50%;
      }
      .bst-services-img{
        .bts-icon{
        	margin-bottom: 0;
          color: $primarycolor;
          span{
         	font-size: 35px;
          }
        }
      }
      .bts-title{
      	text-transform: uppercase
      }
    }
  }
    h4, h5, h3, h6{
      font-size: 16px;
       margin-top: 9px;
      margin-bottom: 0;
    }
    p{
      margin-bottom: 0;
      line-height: 1.72;
    }
    .col-content{
      @media screen and ( max-width: 576px ){
        margin-bottom: 35px;
        &:last-child{
        	margin-bottom: 0;
        }
      }
        &:hover{
            h4,h5,h6{
                 -webkit-animation: pulse .5s ease-in-out;
                -moz-animation: pulse .5s ease-in-out;
                -ms-animation: pulse .5s ease-in-out;
                animation: pulse .5s ease-in-out;
            }
        }                
    }
}
//social icon
.social-link, .widget_socialsharing_widget{
  .widget-title{
  	margin-right: 15px;
  }
	ul {
		text-align: center;
		margin: 0;
		li {
		    list-style: none;
		    display: inline-block;
		    position: relative;
		    a {
              display: block;
		    	span, i{
				    text-align: center;
					transition: all 0.3s ease;
				    width: 33px;
				    height: 33px;
				    line-height: 29px;
				    background-color: #fff;
                  	border: 2px solid $bordercolor;
				    border-radius: 50%;
				    margin-right: 10px;    	
                  	font-size: 18px;
		    	}
              &:hover {
                span, i{
                  color: $lightcolor;
                }
                &.btnTwitter{
                  span, i{
                  	background-color: #3ACAFF;
                    border-color: #3ACAFF;
                  }
              	}
                &.btnFacebook{
                  span, i{
                  	background-color: #3B579D;
                    border-color: #3B579D;
                  }
                }
                &.btnGooglePlus{
                  span, i{
                  	background-color: #D11717;
                    border-color: #D11717;
                  }
                }
                &.btnPinterest{
                  span, i{
                  	background-color: #CB2027;
                    border-color: #CB2027;
                  }
                }
                 &.btnTumblr{
                  span, i{
                  	background-color: #304E6C;
                    border-color: #304E6C;
                  }
                }
                 &.btnLinkedin{
                  span, i{
                  	background-color: #0097BD;
                    border-color: #0097BD;
                  }
                }
              }
		   	}
		    &:last-child{
		    	a{
		    		margin-right: 0;
		    	}
		    }
		}
	}	
}
//Style moudule in home page
div{
  .section{
    &:last-child{
    	margin-bottom: 0;
    }
  }
}
.section{
	margin-bottom: 120px;
  @media screen and (max-width:  1024px){
  	margin-bottom: 100px;	
  }
  @media screen and (max-width:  479px){
  	margin-bottom: 40px;
  }
}
//Sider
.left .slideshow__text-wrap{
    justify-content: flex-start !important;
  @media screen and (min-width:  1199px){
       .slideshow__text-content{
     	padding-left: 25%;
       }
  }
}
.bst-slideshow-wrapper{
	position: relative; 
  text-align: center;
  &.left  .slideshow__text-wrap{
    	justify-content: flex-start;
  }
  &.absolute_header{
    .slideshow__text-wrap{
       @media screen and (min-width:  1199px){
       .slideshow__text-content{
     	padding-top: 5%;
       }
     }
    }
  }
  .slideshow__text-wrap{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include flex();
    align-items: center;
    justify-content: flex-end;
    text-align: left;

    @media screen and (max-width:  567px){
    	justify-content: center;
      text-align: center;
    }
    .slideshow__subtitle{
    	font-family: $otherfont;
      font-size: 30px;
      font-style: italic;
      line-height: 1.1;
      @media screen and (max-width:  991px){
      	font-size: 20px;
      }
    }
    .slideshow__title{
      font-size: 60px;
      line-height: 1.1;
       @media screen and (max-width:  991px){
      	font-size: 50px;
      }
       @media screen and (max-width:  567px){
      	font-size: 30px;
         margin-bottom: 5px;
      }
      p{
      	margin-bottom: 0;
      }
    }
    .bts-description{
    	font-size: 18px;
      margin-bottom: 30px;
      padding-left: 10px;
       @media screen and (max-width:  991px){
      	font-size: 14px;
      }
       @media screen and (max-width:  567px){
      	margin-bottom: 10px;
      }
    }
    .first-child{
    	margin-right: 20px;
    }
    .btn{
    	@media screen and (max-width:  568px){
      	font-size: 12px;
        padding: 5px 10px;
          &.first-child{
              margin-right: 5px;
          }
      }
    }
  }
  .slideshow__text-wrap{
    @media (max-width: 576px) {
      top: 50%;
    }
  }
  .right.center{
  	 text-align: left;
  }
  .left.center{
  	 text-align: left;
  }
  .bst-slideshow.center.center{
    	text-align: center;
  }  
  .bst-slideshow {
    position: relative;
    .bst-Image img{
    	width: 100%;
    }
  }
  .owl-carousel:hover .owl-nav {
    .owl-prev, .owl-next{
    	transform: none;
    }
  }
  .owl-dots{
  	position: absolute;
    bottom: 70px;
    right: 70px;
     counter-reset: dots;
    .owl-dot{
      width: auto;
      height: auto;
      background-color: transparent;
      margin: 0;
      &.active,&:hover{
         background-color: transparent;
        &:before{
        	color: $headingcolor;
        }
      }
      &:before{
        counter-increment:dots;
        content: counter(dots);
        color: $greylightcolor;
        font-size: 12px;
        font-weight: $headingfontweight;
      }
      span{
      	display: inline-block;
        width: 50px;
        height: 1px;
        background-color: $greylightcolor !important;
        margin: 0 15px;
        opacity: 1 !important;
        visibility: visible !important;
         vertical-align: middle;
      }
      &:last-child{
        span{
        	display: none;
        }
      }
    }
  }
}
//Category list and gird
.categories-list-widget{
  .bst-title{
    margin-bottom: 40px;
    .sub-title{
      text-transform: uppercase;
      font-weight: $titlefontweight;
      color: $primarycolor;
      font-size: 14px;
      margin-bottom: 3px;
    }
    .bst-short-desc{
    	margin-top: 10px;
      line-height: 1.5;
    }
  }
  .bts-collectionfour.category-item{
    a{
    	padding-bottom: 10px;
      text-align: center;
    }
     text-align: center;
    .cat-name{
      display: inline-block;
      position: relative;
      z-index: 22;
      top: auto !important;
      left: auto;
      transform: none;
      background-color: $lightcolor;
      border: 2px solid $bordercolor;
       min-width: 164px;
      padding: 11px 10px 19px;
      margin-top: -13px;
      @include transition();
      h3{
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
       
      }
      span{
      	position: absolute;
        bottom: -9px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #fff;
        padding: 0 13px;
        font-family: $otherfont;
        font-style: italic;
        min-width: 95px;
        font-size: 14px;
      }
    }
  }
  .category-item{
    position: relative;
    overflow: hidden;
    a{
      img{
        @include transition();
      }
    }
    .cat-name{
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      h3 {
        margin-bottom: 3px;
        a{
          font-size: 18px;
          font-weight: $headingfontweight;
          color: $headingcolor;
          letter-spacing: -0.5px;
        }
      }
      a{
        color: $headingcolor;
      }
    }
    &:hover{
      a{
        img{
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -moz-transform: scale(1.1);
        }
      }
    }
  }
  .categorygird-list{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -10px;
    margin-left: -10px;
    .category-item{
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 21px;
      position: relative;
      overflow: hidden;
      a{
        transition: background-size 0.3s ease;
        -webkit-transition: background-size 0.3s ease;
        -o-transition: background-size 0.3s ease;
        -ms-transition: background-size 0.3s ease;
      }
      &:hover{
        .cat-name{
          top: 50px;
        }
        // a{
        // 	background-size: 103%;
        // }
      }
      a{
        overflow: hidden;
        background-size: 100%;
      }
    } 
    .cat-name{
      top: 40px;
      left: 40px;
      transform: none;
      @include transition();
      h3{
        font-size: 18px;
      }
      span{
        color: $greycolor;
      }
    }
  }
  &.style_1{
    .category-item{
      .cat-name{
        top: 40px;
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        @include transition();
      }
      &:hover{
        .cat-name{
          top: 50px;
        }
      }
    }
  }
  &.style_2{
    @media (max-width: 479px){
      margin: 0;
    }
    .category-item{
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(29, 29, 29, 0.9);
        opacity: 0;
        visibility: hidden;
        @include transition();
      }
      &:hover{
        &:before{
          opacity: 1;
          visibility: visible;
        }
        a{
          img{
            transform: none;
          }
        }
        .cat-name{
          opacity: 1;
          visibility: visible;
          h3, a{
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);						
          }
        }
      }
      .cat-name{
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        h3{
          -webkit-transform: translateY(15px);
          -ms-transform: translateY(15px);
          transform: translateY(15px);
          @include transition();
          a{
            color: $lightcolor;
            transform: none;
          }
        }
        a{
          color: #999;
          -webkit-transform: translateY(-15px);
          -ms-transform: translateY(-15px);
          transform: translateY(-15px);
          @include transition();
          display: block;
        }
      }
    }
  }
  .categorygird-list-2col-top{
    padding-bottom: 20px;
  }
  .categorygird-list-2col-top, .categorygird-list-2col-bottom{
		> div.col-sm-12{
			padding-left: 0;
			padding-right: 0;
		}
		.row{
			margin-right: -10px;
			margin-left: -10px;
			> div{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		.category-item-2col{
			.cont-item-fixed{
				position: relative;
				overflow: hidden;
				.cat-name{
					position: absolute;
			    	top: 40px;
			    	left: 40px;
			    	transform: none;
			    	@include transition();
			    	h3{
			    		font-size: 18px;
			    	}
			    	span{
			    		color: $greycolor;
			    	}
			    }
			    a{
					img{
						@include transition();
					}
				}
				 &:hover{
			    	.cat-name{
			    		top: 50px;
			    	}
			    	a{
						img{
							transform: scale(1.1);
							-webkit-transform: scale(1.1);
							-o-transform: scale(1.1);
							-ms-transform: scale(1.1);
							-moz-transform: scale(1.1);
						}
					}
			    }
			}
		}
	}
  	
  &.bts-collectionsix-sections{
    .bts-collectionsix-inner{
      margin-right: 0;
      margin-left: 0;
      @media screen and (max-width: 479px){
        	display: block;
      }
      .left-category{
        flex-basis: 33.58%;
      }
      .center-category{
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .right-category{
        flex-basis: 24.7395833333%;
      }
      @media only screen and (max-width: 767px) and (min-width: 480px) {
        .left-category, .right-category{
       		 flex-basis: 50%;
          order: 1;
      	}
        .center-category{
        	flex-basis: 100%;
          order: 3;
          a{
          	padding-bottom: 80%;
          }
        }
      }      
      .category-item{
        padding: 0;
        margin: 0;
        a{
          display: block;
          background-size: cover;
          display: block;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          padding-bottom: 95%;
        }
      }
    }	    
    .category-item{
      &:hover{
        .cat-name{
          top: auto;
          h3{
          	border-color: $primarycolor;
            color: $primarycolor;
          }
        }
        .cat-name.has-background{
          h3{
            -webkit-animation: pulse .5s ease-in-out;
            -moz-animation: pulse .5s ease-in-out;
            -ms-animation: pulse .5s ease-in-out;
            animation: pulse .5s ease-in-out;     
            color: $lightcolor;
            display: block;
          }
        }
      }
    }
    .cat-name{
      top: auto;
      bottom: 40px;
      left: 0;
      right: 0;
      text-align: center;
      &.has-background{
         bottom: 12px;
        h3{
          background-repeat: no-repeat;
          background-size: contain;
          max-width: 95%;
          margin: auto;
          text-align: center;
          color: $lightcolor;
          padding: 21px 15px 32px;
          background-position: center;
          font-size: 28px;
          border: 0;
          display: block;
          @media screen and (max-width: 1199px){
              font-size: 20px;
          }
          @media screen and (max-width: 991px){
              padding: 10px 15px 20px;
          }
        }
      }
      h3{
      	font-size: 26px;
        display: inline-block;
        border-bottom: 1px solid $bordercolor;
        border-color: transparent;
        font-weight: $titlefontweight;
        @include transition();
      }
    }
  }
}
.product-width-two-banner{
  @media screen and (max-width: 1199px){
  	margin-top: 0 !important;
  }
}
// Special product wi
.product-special{
    @include flex();
    align-items: center;
  position: relative;
  width: 100%;
  &.padding-bettwen{
     @media screen and (min-width: 1025px){
       > div{
       	padding: 0 15px;
       }
      .banner{
          flex: 1;
      }
       .content{
         flex-basis: 0 0 41%;
         max-width: 41%;
         
       }
     }
    .product-specials{
    	margin-top: 8px;
    }
  }
  .banner{
    @media screen and (max-width: 1024px){
	position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      opacity: 0.2;
    }
  }
  .content{
    text-align: center;
    &.left{
    	text-align: left;
    }
    &.right{
    	text-align: right;
    }
    @media screen and (max-width: 1024px){
    	width: 100%;
      padding: 0 10px;
    }
    p{
    	margin-bottom: 0;
    }
    .sub-title{
      font-size: 70px;
      font-family: $otherfont;
      color: #da840f;
      font-style: italic;
      opacity: 0.07;
      line-height: 1;
    }
    .title{
    	font-size: 50px;
      margin-bottom: 10px;
      &.on-sub-title{
      	margin-top: -40px;
      }
    }
    .description{
    	font-size: 35px;
      font-weight: $titlefontweight;
      line-height: 1.1;
      strong{
      	font-size: 40px;
        line-height: 35px;
        color: $headingcolor;
        font-weight: 700;
        font-style: italic;
        font-family: $otherfont;
      }
    }
    .more-description{
    	padding-top: 21px;
    }
	.midle-info{
    
    .pr-desc{
        display: block;
        margin: 0;
        max-width: 400px;
    }
    .pr-atts{
        display: block;
        padding: 0;
        font-size: 0;
        line-height: 0;
        max-width: 372px;
        margin: 30px 0 0;
        li{
        display: inline-block;
        list-style: none;
        width: calc( 50% - 15px );
        margin-bottom: 24px;
            .bn-atts-item {
                display: inline-block;
                width: 100%;
                font-size: 0;
                line-height: 0;
                max-width: 158px;
                .title {
                    display: block;
                    font-size: 16px;
                    line-height: 1;
                    color: $headingcolor;
                    margin: 0 0 8px;
                    font-weight: $regularfontweight;
                    border-bottom: 1px dashed rgba(102,102,102,0.5);
                    text-transform: capitalize;
                    padding-bottom: 7px;
                }
                .content {
                    font-size: 14px;
                    color: $textcolor;
                    line-height: 1;
                    display: block;
                    margin: 0;
                    max-width: 100%;
                    text-align: left;
                }
            }
            &:nth-child(odd){
                margin-right: 30px;
                clear: both;
            }
        }
    }
}
    
  } 
  .product-specials{
  	margin-top: 50px;
    .product-name {
      font-size: 17px;
      margin-bottom: 4px;
      a{
        color: $headingcolor;
        font-weight: $titlefontweight;
      }
    }
    .priceProduct {
    	font-size: 30px;
      color: $headingcolor;
      font-weight: $headingfontweight;
      line-height: 1;
      margin-bottom: 3px;
    }
    .bst-productGroup{
    	margin-top: 20px;
      .btnAddToCart{
      	@include buttonMixin();
      }
    }
  }
}
//testimonial
.bst-Testimonials {
	text-align: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	.bst-testimonial{
		text-align: center;
		.image-tes {
			max-width: 65px;
			margin: auto;
			margin-bottom: 45px;
			img {
				border-radius: 100%;

			}
		}
		.info {
			p{
				display: inline-block;
			}
			.name {
			    font-size: 12px;
			    font-weight: $headingfontweight;
			    color: $primarycolor;
			    margin-top: 25px;
			    margin-bottom: 10px;
			    position: relative;
			    text-transform: uppercase;
			}
		    .job {
			    font-size: 14px;
			    text-transform: none;
              	font-weight: $regularfontweight;
              	color: $textcolor;
		    }
		}
		.content-des-tes{
		    margin-top: 30px;
          	color: $headingcolor;
		    margin-bottom: 15px;
          	line-height: 30px;
		    padding: 0 15px;
          	font-size: 18px;
    		font-style: italic;
		   }
		}
     @media (min-width: 1200px){
       .owl-carousel{
        max-width: 70%;
         margin: auto;
       }
     }
}
// Account page
.templateCustomersAccount{
  h2{
  	font-size: 30px;
    margin-bottom: 30px;
  }
  table{
    td{
      a{
      	background: none;
        border: 0;
        padding: 0;
        color: $headingcolor;
        &:hover{
        	animation: none;
          color: $primarycolor;
          background: none;
        }
      }
      &:last-child{
      	font-weight: $headingfontweight;
      }
    }
  }
  .grid__item.medium-up--one-third{
  	margin-top: 80px;
  }
}
.templateCustomersAddresses{
  .button-back{
  	color: $primarycolor;
  }
  .address{
  	padding: 2rem;
    border: 1px solid $bordercolor;
    margin: 30px 0;
    strong{
    	font-size: 20px;
      	font-weight: $headingfontweight;
      	color: $headingcolor;
        margin-bottom: 30px;
    	display: block;
    }
    button{
    	background: none;
        border: 0;
        padding: 0;
        color: $primarycolor;
      &.address-edit-toggle{
      	margin-right: 20px;
      }
        &:hover{
        	animation: none;
          color: $primarycolor;
          background: none;
        }
    }
  }
  .form-vertical{
    padding: 2rem;
    border: 1px solid $bordercolor;
    margin: 30px 0;
    label{
    	display: block;
      font-weight: $headingfontweight;
      margin-bottom: 10px;
    }
    h4{
    	margin-bottom: 30px;
    }
    .first-last{
    	@include flex();
      	justify-content: space-between;
      @media screen and ( max-width: 479px ){
      	display: block;
      }
      > div{
      	    flex-basis: 49%;
      }
    }
    .grid__item{
    	margin-bottom: 20px;
        input,select{
        	width: 100%;        
        }
    }
  }
  .action-bottom-address{
    label{
    	display: inline-block;
    }
    .button-address{
      margin-top: 30px;
    	@include flex();
      	justify-content: space-between;
    }
  }
}
//404 page
.template404{
  .page-width{
  	padding: 100px 0 60px;
  }
  h1{
  	font-size: 36px;
    margin-bottom: 30px;
  }
  .eror-text{
    @media screen and ( min-width: 1024px ){
    	width: 70%;
      	margin: auto;
    }
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .disc{
  	margin-top: 50px;
  }
}
#shopify-section-1569917635030 .product-width-two-banner{
  @media screen and ( min-width: 1024px ){
	border-bottom: 1px solid $bordercolor;
  }
}
.full-smallscreen{
   @media screen and ( max-width: 1024px ){
	flex-basis: 0 0 100%;
  	max-width: 100%;
   }
}
.templateProduct .owl-stage-outer,.bst-Collection-Tab .owl-stage-outer,
.bst-collections-productgird .owl-stage-outer{
  padding: 10px 10px 160px;
  margin: -10px -10px -160px;
  z-index: 22;
}
#bst-footer .widget-title span{
  display: inline-block;
  min-height: 24px;
}
.page-width > .grid > .grid__item{
	max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

header .language-switcher {
  background: black;
  border: 0;
  color: #89a827;
}