/*================ VARIABLES ================*/
$bodyfont:{{ settings.fontfamily-body }},sans-serif;
$headingfont:{{ settings.fontfamily-heading }} ,sans-serif;
$otherfont: '{{ settings.fontfamily-other }}' ,sans-serif;
//color

$primarycolor:{{ settings.primary-color }} ;
$headingcolor:{{ settings.heading-color }} ;
$textcolor:{{ settings.body-colors }} ;
$ratingcolor: {{ settings.rating-star-color }} ;
$color-social:{{ settings.footer-icon-color }};
$border-color-social:{{ settings.footer-border-color }};
$salecolor:{{ settings.sale-color }} ;
$sale-color:{{ settings.sale-color }} ;
$greycolor:{{ settings.greycolor }} ;
$pricecolor: {{ settings.product-price-color }} ;
$bordercolor: #e6e6e6;
$lightcolor: #fff;
$darkcolor: #222;
$greylightcolor: #aaa;
$titlecolor: #333;
//headercolor
$headerbg:{{ settings.header_backgrounds }} ;

//menucolor
$menucolor:{{ settings.menu-color }};
$submenucolor:{{ settings.submenu-color }};
$sub-hover-menucolor:{{ settings.submenu-hover-color }};
$menufontweight:{{ settings.font-weight-menu }};
$submenubg:{{ settings.submenu-background-color }};

//footer
$footer-newsletter-border-color: {{ settings.footer-border-color }};
$footertitlecolor: {{ settings.footer-title-color }};
$footercolor : {{ settings.footer-text-color }};
$footerbg : {{ settings.color_bg_copyright_style1 }};

//button
$background-button:{{ settings.background-button-color }};
$button-color:{{ settings.button-color }};
$button-border-color:{{ settings.button-border-color }};
$background-hover-color:{{ settings.background-hover-color }};
$button-hover-color:{{ settings.button-hover-color }};
$button-border-hover-color:{{ settings.button-border-hover-color }};

//size
$textsize:{{ settings.font-size-body }} ;

//fontweight
$headingfontweight:{{ settings.font-weight-heading }} ;
$regularfontweight: 400;
$titlefontweight: 600;

@mixin buttonMixin() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $background-button;
	box-shadow: none;
	color: $button-color;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $button-border-color;
	background-image: none;
	&:hover {
	  background-color: $background-hover-color;
	  color: $button-hover-color;
	  border-color: $button-border-hover-color;
	}
	@media screen and ( max-width: 992px ){
		padding: 13px 25px;
	}
}
@mixin buttonMixin1() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $lightcolor;
	box-shadow: none;
	color: $titlecolor;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $bordercolor;
	background-image: none;
	&:hover {
	  background-color: $primarycolor;
	  color: $lightcolor;
	  border-color: $primarycolor;
	}
}
.product-price{
  .old{
  	text-decoration: line-through;
    font-weight: $titlefontweight;
    color: $greylightcolor;
  }
}
@mixin title(){
	font-size: 30px;
}
@mixin actionbutton(){
	display: block;
	text-align: center;
	padding: 0;
	font-size: 0;
	font-weight: normal;
	text-indent: -9999px;
	letter-spacing: 0;
	@include transition();
	text-indent: 0;
	width: 56px;
	height: 56px;
	line-height:54px; 
	text-align: center;
	border-radius: 50%;
	float: left;
	border: 2px solid $bordercolor;
	background-color: $lightcolor;	
	&:before{
		color: $headingcolor;
	}
	&:hover{
		border-color: $headingcolor;
		background-color: $lightcolor;
	}
}
@mixin transition(){
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}
@mixin flex(){
  	-js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.price-box{
 	color: $pricecolor;
	font-weight: $regularfontweight;
  	font-size: $textsize;
  	.priceCompare{
      font-weight: $regularfontweight;
      display: inline-block;
      margin-left: 10px;
      text-decoration: line-through;
      vertical-align: middle;
      color: lighten($greycolor, 15%);
      font-size: 14px;
    }
	.priceSale{
      display: inline-block;
		color: $pricecolor;
		text-decoration: none;
		font-weight: inherit;
	}
}
.product-price{
  .old{
  	text-decoration: line-through !important;
    font-weight: $regularfontweight !important;
    color: $greycolor !important;
  }
}
.price--on-sale{
  .price__regular{
  	text-decoration: line-through !important;
    font-weight: $regularfontweight !important;
    color: $greycolor !important;
    margin-right: 5px;
  }
}
.bst-productList{
	position: relative;
  z-index: 221;
}
.Products{
  .owl-carousel .owl-stage-outer {
/*     overflow: visible; */
    .owl-item{
  	    opacity: 0;
        visibility: hidden;
/*       	transition: 0.3s;
      	-webkit-transition: 0.3s;
      	-ms-transition: 0.3s;
      	-moz-transition: 0.3s; */
        &.active{
                opacity: 1;
        visibility: visible;
        }
    }
  }
}
//Gobal products style
.proView{
  &.grid{
    &:before, &:after{
    content: "";
    display: table;
    clear: both;
    }
  }
  &.list{
  	margin-top: 60px;
  }
}
.bst-product-grid, .grid-view-items{
  .col-products, .grid_item, .productTab{
    padding: 0 5px;
  }
}
//Top slider product in category page
.hot-category-product{
  .product{
    .product-wrapper{
      .list-col8{
        .gridview{
          .action-bottom{
            .actions{
              .add-cart{
                button{
                  font-size: 0;
                  background: none;
                  border: 0;
                  padding: 0;
                  width: auto;
                  span{
                    &:before{
                      	content: "\f07a";
                        font-family: 'FontAwesome',sans-serif;
                        font-weight: 400;
                        font-size: 17px;
                        color: $textcolor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//collection page
.top-category-product{
/*     .owl-stage-outer{
      padding: 5px 0 0;
      margin: 0 -15px;
      .owl-item{
      	padding: 0 5px;
      }
    } */
  .owl-carousel{
  	margin: 0 -5px;
  }
  .owl-stage-outer{
  	padding: 0 5px;
  }
  .shop-products.products .product{
  	padding-top: 2px;
  }
  .shop-products .ProductGird.product-wrapper{
  	padding: 0;
    border: 0;
    &:hover{
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
      -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
      -ms-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
      -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);	
    }
  }
}
.templateCollection{
	.proViewgrid {
      .grid_item{
      	transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        .products{       	
        }
      }
      &.layout6{
        .grid_item{
          &:nth-of-type(6n+1){
          	clear: left;
          }
        }
      }
      &.layout5{
      	 .grid_item{
          &:nth-of-type(5n+1){
          	clear: left;
          }
        }
      }
      .col-sm-50{
      	-ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
}
// Shop toolbar
.filters-toolbar {
	margin: 0 0 30px;
	padding: 0 0 20px;
	position: relative;
	text-align: center;
  	@include flex();
 	align-items: center;
    justify-content: space-between;
  	border-bottom: 2px solid $bordercolor;
    @media screen and (max-width: 680px){
          flex-direction: column;
          align-items: center;
      	padding-bottom: 5px;
      > div{
      	margin-bottom: 15px !important;
      }
    }
  &.add-list{
    .layout_2, .layout_3, .layout_4{
    	opacity: 0;
     visibility: hidden;
    }
  }
	&.tb-bottom {
		padding: 0;
		border: 0;
		margin-bottom: 0;
	}
	.collView {
		float: right;
		position: relative;
		z-index: 2;
		button {
          	text-align: left;
			float: none;
			display: inline-block;
			font-size: 20px;
			margin-right: 3px;
			height: auto;
          	line-height: 1;
            padding: 0;
            background: transparent;
            border: 0;
            animation: none;
            span{
            	color: $headingcolor;
            }
			&:hover, &.active {
				color: $headingcolor;
			}
			&.active{
				pointer-events: none;
			}
          .iconChangeView span{
          	font-size: 20px;
            display: block;
            color: $greycolor;
            &.icon-list{
            	font-size: 17px;
            }
          }
          &.changeView{
          	width: auto !important;
            height: auto !important;
          }
          &.changeViewActive{
            .iconChangeView span{
              color: $primarycolor;
            }
          }
		}
	}
	.woocommerce-result-count {
		display: inline-block;
		padding-bottom: 10px;
		height: 35px;
		line-height: 35px;	
		&:hover{
			color: $headingcolor;
		}
	}
	.filters-toolbar__item-wrapper{
       @include flex();
      align-items: center;
      flex-flow: wrap;
      margin: 0;
      position: relative;
      border-radius:0 !important;
      .collView.collections_layout{
        &.list-active{
          button{
          	opacity: 0;
    		visibility: hidden;
            &.changeView{
            	opacity: 1;
    			visibility: visible;
            }
          }
        }
        button{
            font-size: 0;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            display: block;
          	margin-right: 18px;
          	border-radius: 0;
        }
        .layout_2{
        	background-image: url(two.png);
          &.active{
          	background-image: url(two-active.png);
          }
        }
        .layout_3{
        	background-image: url(three.png);
          &.active{
          	background-image: url(three-active.png);
          }
        }
        .layout_4{
          	width: 22px;
        	background-image: url(fourn.png);
          &.active{
          	background-image: url(four-active.png);
          }
        }
        .layout_5{
          	width: 28px;
        	background-image: url(five.png);
          &.active{
          	background-image: url(five-active.png);
          }
        }
        .layout_6{
          	width: 34px;
        	background-image: url(six.png);
          margin-right: 0;
          &.active{
          	background-image: url(six-active.png);
          }
        }
        @media (max-width: 1024px){
          .layout_4, .layout_6, .layout_6{
          	display: none;
          }
        }
      }
      > div{
      	@include flex();
        align-items: center;
        flex: 1;
      }
	}
  .filters-toolbar__item-child{
    label{
    	margin-right: 10px;
    }
       @include flex();
        align-items: center;
      .filters-toolbar__input{
         height: 35px;
         line-height: 35px;
         border: none;
         border-radius:0 !important;
         width: auto !important;
      }
    }
    .filters-toolbar__item--count{
      margin: 0;
      color: $headingcolor;
    }
  .filters-mobile  a.filters-on-mobile{
  	color: $headingcolor;
    border: 2px solid $bordercolor;
    padding: 0 15px;
    border-radius: 15px !important;
    font-weight: 600;
    height: 35px;
    line-height: 31px;
  }
  .filters-toolbar__item--count,
 .filters-toolbar__item-child .filters-toolbar__input{
    border: 2px solid $bordercolor;
    padding: 0 15px;
    border-radius: 15px !important;
    font-weight: $titlefontweight;
   	height: 35px;
   	line-height: 31px;
   	font-size: $textsize;
  }
}
.grid-view-items{
  .layout4{
    .shop-products.products .product .product-wrapper .actions .add-cart{
    	padding: 0 5px;
      .add_to_cart_inline{
      	padding: 10px 16px;
        font-size: 13px;
      }
    }
  }
}
.shop-products{
  &.products {
    .woocommerce.product{ 
      margin-bottom: 0;
    }
    .product{
      margin: 0 0 33px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      position: relative;
      &.first {
        clear: both;
      }
      .product-wrapper {
        &:hover {
          @media screen and (min-width: 1025px){
            .product-image {
              a {
                img.secondary_image {
                  opacity: 1;
                  visibility: visible;
                  transform: scale(1.06);
                  -webkit-transform: scale(1.06);
                  -moz-transform: scale(1.06);
                  -ms-transform: scale(1.06);
                  -o-transform: scale(1.06);
                }
              }
              .variant-image-group{
                opacity: 1;
                bottom: 0;
              }
              .quickviewbtn{

              }
              .actions .add-to-links{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -o-transform: translateY(0);
                -ms-transform: translateY(0);
                -moz-transform: translateY(0);
                -webkit-transition: transform 0.4s ease;
                -ms-transition: transform 0.4s ease;
                -o-transition:  transform 0.4s ease;
                transition: transform 0.4s ease;
              }
            }
            .wishlist{
              .add_to_wishlist:before{
                color: $headingcolor;
              }
            }
            .list-col8 {
              .gridview {
                .actions{
                  opacity: 1;
                  visibility: visible;	
                  bottom: 2px;							
                }
              }
            }
            .actions .add-cart .add_to_cart_inline{
              border-color:  $primarycolor;
            }
          }	
        }
        .product-image {
          display: block;
          position: relative;
          overflow: hidden;
          height: 300px;
          @media screen and (min-width: 768px) and (max-width: 992px) {
            height: 250px;
          }
          @media screen and (max-width: 767px) {
            height: auto;
          }
          img.error{
            display: none;
          }
          a {
            display: block;
            position: relative;
            img {
              box-shadow: none;
              float: none;
              margin: 0;
              width: 100%;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }
            @media screen and (min-width: 1025px){
              img.secondary_image {
                left: 0;
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                opacity: 0;
                z-index: 1;
                -webkit-transition-duration: .5s;
                transition-duration: .5s;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
              }
            }
          }
          .variant-image-group{
            position: absolute;
            background: $lightcolor;
            bottom: 0;
            padding: 20px 0;
            left: 0;
            right: 0;
            z-index: 15;
            @media (max-width: 1199px) and (min-width: 768px){
              padding: 10px 0;
            }
            @media screen and ( min-width: 1025px ){
              opacity: 0;
              bottom: -30px;
              @include transition();
            }
            @media screen and ( max-width: 1024px ){
              background: none;
              text-align: center;
              padding: 0;
              .swacth-image{
                display: inline-flex !important;
                margin: 2px !important;
                border: 1px solid $bordercolor;
              }
            }
            .owl-stage{
              margin: auto;
            }
            .owl{
              max-width: 180px;
              margin: auto;
            }
            .swacth-image{
              text-align: center;
              display: block;
              margin-right: 10px;
              a{
                img{
                  max-width: 50px;
                  border: 1px solid $lightcolor;  
                }
                &.active img{
                  border-color: #eaeaea;
                }
              }
            }
            .owl-carousel {
              .owl-nav{
                button {
                  width: 20px;
                  height: 20px;
                  line-height: 20px;
                  span:before{
                    font-size: 14px;
                    line-height: 24px;
                  }
                }
                .owl-prev{
                  left: -15px;
                  transform: translate(0, -50%);
                  -webkit-transform: translate(0, -50%);
                  -ms-transform: translate(0, -50%);
                  -o-transform: translate(0, -50%);
                  -moz-transform: translate(0, -50%);
                }
                .owl-next{
                  right: -5px;
                  transform: translate(0, -50%);
                  -webkit-transform: translate(0, -50%);
                  -ms-transform: translate(0, -50%);
                  -moz-transform: translate(0, -50%);
                }
              }
            }
          }
          .variant-color-group{
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 12;
            .swacth-color{
              display: inline-block;
              margin-right: 6px;
              width: 20px;
              height: 20px;
              text-align: center;
              box-shadow: 0.5px 0.5px 5px 1px #eee;
              -webkit-box-shadow: 0.5px 0.5px 5px 1px #eee;
              -o-box-shadow: 0.5px 0.5px 5px 1px #eee;
              -ms-box-shadow: 0.5px 0.5px 5px 1px #eee;
              border-radius: 50%;
              background: $lightcolor;
              .swacth-color-thumb{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                margin: auto;
                position: relative;
                display: block;
                &:before{
                  content: "\f00c";
                  font-family: Fontawesome;
                  font-size: 16px;
                  font-weight: 100;
                  color: $lightcolor;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  text-align: center;
                  line-height: 20px;
                  left: -2px;
                  border-radius: 50%;
                  z-index: 222;
                  opacity: 0;
                }
              }
              span[style="background-color: white;"]{
                &:before{
                  color: $primarycolor;
                }
              }
              &.active span{
                &:before{
                  opacity: 1;
                }
              }
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
        .product-label{
          display: table;
          position: absolute;
          text-align: center;
          top: 20px;
          left: 20px;
          z-index: 20;
          @media screen and ( max-width: 1024px ){
            right: 15px;
            left: auto;
          }
          .newlabel,
          .onsale {
            position: relative;
            background: $salecolor;
            color: $lightcolor;
            font-size: 12px;
            padding: 0 10px;
            height: 27px;
            line-height: 28px;
            text-align: center;
            text-transform: capitalize;
            min-width: 55px;
            border-radius: 2px;	 
            letter-spacing: 0.5px;
            font-weight: 400; 
            min-height: auto;
            border: 0;	
            display: block;
            margin-bottom: 3px;	 
            @media screen and ( max-width: 1024px ){
              min-width: 1px;
              height: 22px;
              line-height: 22px;
            }
            .sale-bg {
              display: none;
            }
            .sale-text {
              color: $lightcolor;
            }
          }
          .onsale{
            position: relative;
            top: 0;
            left: 0;
            z-index: 22 !important;
          }
          .newlabel{
            background: $headingcolor;
          }
        }
        .price-box {
          font-size: 18px;
          margin-top: 0px;
          position: relative;
          z-index: 2;
          @include flex;
          justify-content: center;
          align-items: center;
          font-weight: $headingfontweight;
          @include transition();
          del {
            display: inline-block;
            float: right;
            margin-left: 10px;
            .amount {
              color: $greycolor;
              font-weight: $regularfontweight;
              margin-right: 5px;
              text-decoration: line-through;
            }
          }
        }
        .list-col8 {
          .product-tags{
            font-size: 13px;
            color: $textcolor;
            margin-bottom: 5px;
            p{
              margin-bottom: 5px;
              a{
                color: $textcolor;
              }
            }
          }					
          .gridview {
            display: block;
            text-align: center;
            .grid-info{
              margin-top: 10px;
              .proReviews{
                display: none;
              }
              .category{
                color: $greycolor;
              }
              .price-box{
              }
              .wishlist{
                line-height: 1;
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                i{
                }
                > div{
                  margin-top: 0;
                  a{
                    display: block;
                  }
                }
                .wishlist-pro-wrapper{
                  .in_items{
                    &:before{
                      content: "\e977";
                      font-size: 18px;
                      font-family: 'icomoon' !important;
                      color: $greycolor;
                    }
                    &:hover{
                      &:before{
                        color: $primarycolor;
                      }
                    }
                  }
                }
              }

            }

            .action-bottom{
              @media screen and (min-width: 1025px){
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                z-index: 22;
                background-color: $lightcolor;
                padding: 0 10px 30px;
                border: 1px solid $bordercolor;
                border-top: 0;
                -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
                -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
                box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
                opacity: 0;
                transform: translateY(-10px);
                transform-origin: 0 0;
                visibility: hidden;
                @include transition();
              }
            }
            .short-description{
              margin-bottom: 18px;
              margin-top: 8px;
              @media screen and ( max-width: 1024px ){
                display: none;
              }
              .bst-proShortDescription{
                line-height: 1.3;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: capitalize;
                font-size: 14px;
              }
            }
          }
          .listview {
            display: none;
          }
        }
        .ratings{
          margin-bottom: 10px;
        }
        h2.product-name {
          margin-bottom: 3px; 
          font-size: 17px;
          font-weight: $titlefontweight;               	
          a{
            display: -webkit-box;
            color: $headingcolor;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;



            &:hover{
              color: $primarycolor;
            }
          }
        }
        .actions {
          .add-cart{
            margin-bottom: 0;
            flex: 1;
            padding: 0 10px;
            @media screen and ( max-width: 1024px ){
              padding-bottom: 2px;
              margin-top: 10px;
            }
            .add_to_cart_inline{
              width: 100%;
              @include buttonMixin();
              &:hover{
                animation: none;
              }
              del,ins{
                font-size: 0;
                display: none;
              }

              span{
                &.added{
                  color: $primarycolor;
                  &:before{
                    display: none;
                  }
                }
                &:hover{
                  color: $primarycolor;
                }
              }
              &.added_to_cart{
                color: $primarycolor;
                &:before{
                  color: $primarycolor;
                  content: "\e9c8";
                  padding-right: 5px;
                  font-family: 'icomoon' !important;
                }
              }
              @media screen and ( max-width: 1024px ){
                padding: 11px 5px;
                text-transform: capitalize;
                border: 1px solid $bordercolor;
                background-color: #fafafa !important;
                color: $headingcolor;
                font-weight: $titlefontweight;
              }                        
            }
          }
        }
      }
    }
  }
  .ProductGird {
    &.product-wrapper {
      padding: 10px 10px 0;
      border: 1px solid $lightcolor;
      border-bottom: 0;
      @media screen and (max-width: 1024px){
        padding: 0 5px 2px;
      }
      @media screen and (min-width: 1025px){
        &:hover{
          border-color: $bordercolor;
          -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
          -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
          box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
          .list-col8 .gridview .action-bottom{
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
          }
        }
      }
      .list-col8 {
        margin: 9px 0 0;
        overflow: hidden;
        .actions {
          z-index: 11;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          padding: 0 10px;
          @include flex;
          align-items: center;
          @media screen and ( max-width: 568px ){
            padding: 0;
          }
          .laberQuickview, .wishlist{
            line-height: 1;
            @media screen and ( max-width: 1024px ){
              position: absolute;
              top: 15px;
              background: $lightcolor;
              left: 15px;
              z-index: 12;
              border-radius: 50%;
            }
            a{
              min-width: 30px;
              height: 30px;
              text-align: center;
              display: block;
              i{
                font-size: 15px;
                line-height: 30px;
              }
            }
          }
          .laberQuickview{
            @media screen and ( max-width: 1024px ){
              display: none;
            }
          }
        }
      }
    }
  }
  &.list-view {			
    width: 100%;
    &.sidebar{
      .product .product-wrapper .list-col8 .listview .product-desc{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        p{
          overflow: hidden;
        }
      }
    }
    .product{
      padding: 0;
      margin-bottom: 40px;
      @media screen and ( min-width: 1199px ){
        .bst-product-description{
          padding-left: 5px;
          @include flex();
          .bst-productGroup.actions{
            padding-left: 20px;
            border-left: 1px solid $bordercolor;
            min-width: 210px;
          }
        }              
      }
      .product-wrapper {
        .list-col4{
          .product-image{
            .secondary_image{
              display: none;
            }
          }
        }
        .list-col8 {
          .gridview {
            display: none;
          }
          .listview {
            display: block;
            text-align: left;
            margin-top: 15px;
            .category{
              color: $greycolor;
            }
            h2.product-name {
              @media screen and ( min-width: 1199px ){
                margin-bottom: 7%;
              }
              a{
                color: $headingcolor;							
                &:hover{
                  color: $primarycolor;
                }
              }
            }
            .productAvailability {
              color: $primarycolor;
              margin-bottom: 5px;
            }
            .bst-proShortDescription{
              @media screen and ( min-width: 1199px ){
                margin-bottom: 6%;
              }
            }
            .price-box{
              margin: 2px 0 12px;
              font-size: 22px;
              justify-content: flex-start;
              .priceSale{
                display: inline-block;
              }
            }
            .ratings {
              margin-bottom: 0;
              display: inline-block;
              margin-top: 0;
              padding-left: 10px;
              border-left: 1px solid $bordercolor;
              margin-left: 10px;
              .star-rating{
                margin: 2px 0;
              }
            }

          }
          .actions{
            .proReviews{
              margin-top: 10px;
              margin-bottom: 5px;
              > *{
                &:before, &:after{
                  content: "";
                  display: table;
                  clear: both;
                }
              }
              .spr-badge-caption{
                display: none;
              }
            }                    
            .action.towishlist {
              text-transform: uppercase;
              font-size: 14px;
              display: block;
              margin-bottom: 15px;
            }
            .btnAddToCart{
              @include buttonMixin();
            }
            .product-available{
              font-size: 14px;
              @media screen and ( max-width: 1024px ){
                display: none;
              }
              li{
                &:before{
                  content: "";
                  display: inline-block;
                  width: 7px;
                  height: 7px;
                  border-radius: 50%;
                  background-color: $textcolor;
                  margin-right: 5px;
                }
                p{
                  margin-bottom: 0;
                  display: inline-block;
                }                        
              }

              *{
                color: $textcolor;
              }
            }
            ul{
              padding-left: 0;
            }
          }
        }
      }
    }
  } 
}

//single product style
.templateProduct{
  	overflow-x: hidden;
    .main-content{
      margin-bottom: 60px;
      > #Breadcrumbs{
      	display: none;
      }
    }
	.single-product{	
      .product-view{
      	margin-bottom: 50px;
        form{
          &:before, &:after{
          	content: '';
            display: table;
            clear: both;
          }
        }
        .product-single__photos{
            min-height: 1px;
          @media screen and ( min-width: 1199px ){
        	max-width: 450px;
            margin: 0 auto;          	
          }
        }
        @media screen and ( max-width: 991px ){
          .product-single__photos{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            @include flex();
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
          }
          .col-info{
          	flex: 0 0 65%;
            max-width: 65%;
            margin-bottom: 30px;
          }
          .col-action{
          	flex: 0 0 35%;
            max-width: 35%;
          }
        }
        @media screen and ( max-width: 567px ){
          .col-info{
          	flex: 0 0 100%;
            max-width: 100%;
          }
          .col-action{
          	flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
      .proDetailInfo{
      	margin: 50px 0 40px;
        @media screen and ( max-width: 992px ){
        	margin: 40px 0 40px;
        }
        .nav-tabs{
            margin-bottom: 28px;
            justify-content: flex-start;
          	border-bottom: 0;
          	width: 100%;
          	padding-bottom: 1px;
          	border-bottom: 2px solid #f1f1f1;
          li{
              margin: 0;
            margin-right: 10px;
            border: 0;
            padding-right: 30px;
            background: none;
            position: relative;
            &:last-child{
            	padding-right: 0;
            }
            a{
            	font-size: 16px;
             	color: #bbb;
    			font-weight: $headingfontweight;
				position: relative; 
              	text-transform: uppercase;
                &:before{
                  content: "";
                  width: 0;
                  height: 3px;
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  border-bottom: 3px solid transparent;
                  @include transition();
                }
                &:hover{
                  color: $headingcolor;
                }
                &.active{
                  color: $headingcolor;
                  &:before{
                    width: 100%;
                  	border-color: $primarycolor;
                  }
                }
            }
          }
        }        
        .tab-content{
        	width: 100%;
        }
      }
		@media screen and (max-width: 1199px) {
			.woocommerce-breadcrumb,
			.woocommerce-message{
				margin-right: -15px !important;
				margin-left: -15px !important;
				padding-left: 15px;
			}			
		}
		.single-product-image{
            .owl{
              position: relative;
            }
          .owl-carousel .owl-nav button span:before{
          	display: none;
          }
          .owl-carousel:hover .owl-nav button{
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
          }
        }
		.product-tags{
			font-size: 13px;
          	text-transform: capitalize;
         	 a{
           		color: $textcolor;
          	}
			p{
				margin-bottom: 0;
			}
		}
      .selector-wrapper{
      	margin-bottom: 25px;
      }
		.tab-content{
			h5{
				font-size: 16px;
				margin-bottom: 20px;
			}
			ul{
				padding-left: 0;
				li{
					margin-bottom: 5px;
                  &:before{
                  	content: "";
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    margin-right: 5px;
                    background: $textcolor;
                    display: inline-block;
                    position: relative;
    				top: -2px;
                  }
				}
			}
		}
      	#shopify-product-reviews{
        .spr-form-label,.spr-summary-caption{
          display: none;
        }
        .spr-header{
        	    display: flex;
            justify-content: space-between;
            align-items: center;
          > *{
          flex: 1
          }
        }
        .spr-review, .spr-form{
        	border: 0;
        }
        .spr-form-title{
        	margin-bottom: 20px;
        }
        .spr-form-contact{
          margin: 0 -15px;
          > div{
          		float: left;
             	 width: 50%;
            	padding: 0 15px;
            @media screen and (max-width: 479px){
            	 width: 100%;
            }
          }
        }
        .spr-form-review-rating{
        	margin: 0 0 30px; 
          	line-height: 1;
        }
      }
		.related_products_widget,.upsells{
			overflow: visible;
			text-align: left;
			margin-top: 50px;
			border-top: 1px solid $bordercolor;
			padding-top: 60px;
          	position: relative;
          	z-index: 222;
			.widget-title{
               	@include title();
				text-align: center;
				padding-bottom: 0;
				margin-bottom: 10px;
			}
			.row-products{
				margin-top: 30px;
			}
          .shop-products.products .product{
          	margin-bottom: 0;
          }
            div[data-item-slide="5"]{
              .shop-products.products .product .product-wrapper .actions .add-cart{
                  padding: 0 2px;
                .add_to_cart_inline{
                  padding: 10px 18px;
                  font-size: 12px;
                }
              }
            }
		}
		.upsells{
			.widget-title{             
				margin-bottom: 90px;
			}
		}
	}
}
div.single-product-info{
  .product_title{
    font-size: 20px;
    margin-bottom: 11px;
    font-weight: $titlefontweight;
    @media screen and ( min-width: 768px ){
      margin-top: 15px;
    }

    &:after{
      display: none;
    }
  }
  .price{
	margin: 15px 0;
    font-size: 24px;
    text-decoration: none;
    color: $pricecolor;
    font-weight: $headingfontweight;
    ins{
      text-decoration: none;
    }
    &.price--on-sale{
      .price-item{
        color: $textcolor;
      }	
      .price__sale *{
        color: $primarycolor;
      }

    }
    .price__regular{
      .amount{
        margin: 0 5px 0 0;
      }

    }
    > div{
      display: inline-block;
    }
  }
  div[itemprop="description"]{
  	font-size: 14px;
  }
  .productAvailability{
    color: $primarycolor;
    label{
      color: $textcolor;
    }
  }
  form.product-form{
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    .chose-quanlity{
      @media screen and ( max-width:991px ){
        margin-bottom: 20px;
      }
    }
    .action-add-cart, .chose-quanlity{
      @include flex;
      align-items: center;

    }
    .action-add-cart{
      @media screen and ( max-width:991px ){
        flex-direction: column;
        align-items: flex-start;
      }
    }
    button{
      text-transform: capitalize;
      font-size: 14px;
      span{
        &:before{
          content: "+";
          padding-right: 3px;
        }
      }
      @media screen and ( min-width: 1199px ){
        min-width: 250px;
      }
    }
    .wishlist{
      @include actionbutton();
      display: inline-block;
      font-size: 18px;
      float: none;
      cursor: pointer;
    }
    .quantity{
      overflow: hidden;
    }
    @media screen and ( min-width: 1199px ){
      .quantity, .product-form__cart-submit{
        margin-right: 20px;
      }
    }
    .variations{
      tr:last-child{
        td{
          &.value{
            margin-bottom: 0;
          }
        }
      }
      td{
        padding-top: 0;
        display: block;
        &.value{
          margin-bottom: 25px;
        }
      }
      .label{
        display: block;
        color: $headingcolor;
        font-size: 14px;
        padding: 0 10px 0px 0;
        text-align: left;
        text-transform: capitalize;
        font-weight: $regularfontweight;
      }
      .value{
        padding:0;
        select{
          border: 1px solid $bordercolor;
          height: 46px;
          line-height: 46px;
          padding: 0 10px;
          width: 100%;
          margin:0; 
        }
      }
      label{
        font-weight:normal;
      }
    }
    .single_variation_wrap{
      .single_variation{
        margin: 30px 0;
        .price{
          color: $primarycolor;
          font-weight: $headingfontweight;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
    .group_table{
      padding-bottom: 30px;
      td{
        vertical-align: inherit;
        padding: 10px 1px;
        border: 0;
        &.woocommerce-grouped-product-list-item__quantity{
          a.product_type_grouped{								
            padding: 19px 30px;
            // width: 55px !important;
            // height: 55px;
            // font-size: 0;
            // padding: 0;
            // &:before{
            // 	content: "\e95c";
            // 	font-family: 'icomoon' !important;
            // 	font-size: 18px;
            // 	color: @headingcolor;
            // 	line-height: 46px;
            // }
          }
        }
        &:first-child{ 
          width: 169px;
        }
      }
      .label label{
        font-size: 14px;
        font-weight: normal;
        margin: 25px 0 0;
      }
      .price{
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
  form.variations_form.cart{
    display: block;
    width: 100%;
  }
  .swatch{
  		padding: 20px 0 0;
    	border: 1px solid $bordercolor;
    	border-left: 0;
    	border-right: 0;
    	margin-bottom: 30px;
  }
  .clear{
    display: none;
  }			
  .product_meta{
    clear: both;
    margin: 4px 0 9px;
    font-size: 14px;
    .proAttr{
      margin: 0 5px 5px 0;
      label{
        text-transform: capitalize;
        color: $headingcolor;
      }
      text-transform: none;
      font-weight: normal;

    }
  }
  .widget_socialsharing_widget{
    clear: both;
    padding: 10px 0 0;
    h3{
      display: inline-block;
      font-weight: normal;
      font-size: 14px;
      margin: 0 0 5px;
      text-transform: capitalize;
      font-family: $bodyfont;
      letter-spacing: 0;
      color: $headingcolor;
      margin-top: 10px;
      margin-right: 5px;
      &:after{
        display: none;
      }

    }
    .socialSharing{
      display: inline-block;
    }
  }
  .swatch .header{
    margin-top: 5px;
    margin-right: 0;
    .labels{
      font-size: 18px;
      font-weight: 600;
      margin-right: 15px;
    }
  }
}
.single-product-action{
	background-color: #f3f3f3;
    padding: 12px 20px 19px;
  .action-add-cart{
    .chose-quanlity{
      border-bottom: 2px solid $bordercolor;
      margin-bottom: 20px;
      padding-bottom: 20px;
      .labels{
      	display: block;
        margin-bottom: 10px;
        font-weight: $titlefontweight;
      }
    }
    .product-form__item{
      button{
      	width: 100%;
      }
      .shopify-payment-button{
        .shopify-payment-button__button{
        	@include buttonMixin();
          	background-color: #e73918;
          	border-color: #e73918;
          	margin: 10px 0;
          &:hover{
          	border-color: #e73918;
            color: #e73918;
          }
        }
        .shopify-payment-button__button--hidden{
          display: none;
        }        
      }
    }
    .wishlist{
    	display: block;
      margin: 0 0 10px;
      i{
      	font-size: 10px;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;
      }
    }
    .quantity-updown{
      float: none;  
      margin: auto 0;
      background: $lightcolor;
      border: 0;
    }
  }
    .widget_socialsharing_widget{
      .widget-title{
      	display: none;
      }
      ul {
        text-align: left;
        li {
          margin: 0 15px;
          a i{
            width: auto;
            height: auto;
            background: none;
            border: 0;
            font-size: 20px;
            margin: 0;
          }
          &:first-child{
          	margin-left: 0;
          }
          &:last-child{
          	margin-right: 0;
          }
        }
      }
    }  
  .single-payment{
  	padding-left: 0;
    border-top: 1px solid $bordercolor;
    padding-top: 15px;
    margin-top: 11px;
    li{
   	  display: inline-block;
      margin-right: 12px;
      margin-bottom: 5px;
    }
  }
}
//countdown product
.countdow-product{
  margin: 10px 0;
  .product_progress_countdow{
    span{
    	font-weight: $titlefontweight;
    }
    font-size: 16px;
    margin-bottom: 30px;
    *{
     	color: $headingcolor; 	
    }
    .count{
    	color: $primarycolor;
    }
    .progressbar{
      margin-top: 20px;
		height: 10px;
      background-color: $bordercolor;
      border-radius: 20px;
      > div{
      	height: 10px;
        background-color: $primarycolor;
        display: block;
        height: 100%;
		border-radius: 10px;
        background-color: $primarycolor;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $primarycolor), color-stop(1, $primarycolor));
        background-image: -moz-linear-gradient( center bottom, $primarycolor 37%, $primarycolor 69% );
        position: relative;
        overflow: hidden;
        &:after{
        	    content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
            background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
            z-index: 1;
            -webkit-background-size: 50px 50px;
            -moz-background-size: 50px 50px;
            -webkit-animation: move 2s linear infinite;
            -webkit-border-top-right-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
            -moz-border-radius-topright: 8px;
            -moz-border-radius-bottomright: 8px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            -webkit-border-top-left-radius: 20px;
            -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
            -moz-border-radius-bottomleft: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            overflow: hidden;
        }
      }
    }
    
  }
  .countdow_page{
  	@include flex();
    .block{
      margin-right: 15px;
      border-radius: 3px;
      border: 2px solid $bordercolor;
      text-align: center;
      padding: 7px 10px 6px;
      min-width: 70px;
      @media screen and ( max-width: 479px ){
      	min-width: 60px;
      }
      .flip-top{
      	font-size: 20px;
        color: $headingcolor;
        font-weight: 500;
      }
      .label{
      	  text-transform: capitalize;
        color: $greycolor;
        font-size: 14px;
        padding-top: 5px;
        margin-top: 6px;
        border-top: 1px solid $bordercolor;
        font-weight: 400;
        display: block;
        text-align: center;
      }
    }
  }
}

// Select quanlity product
.quantity-updown{
  border: 2px solid $bordercolor;
  border-radius: 30px;
  width: fit-content;
  margin: auto;
  @include flex();
  align-items: center;
  margin-right: 10px;
  float: left;
  justify-content: space-around;
  padding: 0 10px 0 20px;
  min-width: 120px;
  .control{
    @include flex();
    flex-direction: column;
        justify-content: center;
  }
  input{ 
    padding: 0;
    height: 45px;
    width: auto;
    min-width: 35px;
    text-align: center;
    border: none;
  }
  .qty-down-fixed-onclick,.qty-up-fixed-onclick{
    display: inline-block;
    width: 30px;
    text-align: center;						
    vertical-align: top;
    background: $lightcolor;
    line-height: 14px;
    font-size: 16px;
    i{
      color: $greycolor;
    }
  }
}
//swacth style
.swatch, .color-sidebar .Content{
  @include flex();
  margin-bottom: 10px;
      flex-flow: wrap;
  .header{
      margin-right: 15px;
      text-transform: capitalize;
  }
  .swatch-element, .filter-item{
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
    &:hover{
      .tooltip{
      	opacity: 1;
      }
    }
    input[type="radio"]{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
       cursor: pointer;
    }
    label,  a span{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $bordercolor;
      color: $headingcolor;
      text-align: center;
      display: inline-block;
      background-color: $lightcolor;
      line-height: 40px;
      font-size: 12px;
    	font-weight: 500;
      cursor: pointer;
      text-transform: uppercase;
      img{
          display: none;
      }
      span{
      	display: block;
        width: 100%;
        height: 100%;
         border-radius: 50%;
      }
    }
    a{
      &.active span{
      	border-color: $primarycolor;
        
        color: $lightcolor;
      }
    }
    &.current-filter{
      a span{
      	border-color: $primarycolor;
        background-color: $primarycolor;
         color: $lightcolor;
      }
    }
    &.size{
      a{
      	background-color: $lightcolor;
      }
    }
  }
}
.color-sidebar.color .Content .filter-item{
  a{
    @include flex();
    align-items: center;
    text-transform: capitalize;
    font-size: 14px;
    span{
      display: block;
      border: 2px solid $bordercolor;
      border-radius: 50%;
      line-height: 1;
      width: 25px;
      height: 25px;
      position: relative;
      margin-right: 10px;
    }
    &:after{
      content: "\f00c";
      font-family: Fontawesome;
      font-size: 18px;
      opacity: 0;
      color: $lightcolor;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    &.active{
      &:after{
      	opacity: 1;
      }
    }
  }
  a[title="white"]{
    &.active{
      &:after{
      	color: $primarycolor;
      }
    }
  }
}
.color-sidebar.size .Content{
  .filter-item{
    a {
      display: block;
      span{
    	 background-color: $bordercolor;
        &:hover{
        	background-color: $primarycolor !important;
          color: $lightcolor;
        }
      }
       &.active span{
      	background-color: $primarycolor !important;
         &:before{
         	display: none;
         }
    }
      }
      
    &.current-filter{
      a span{
      	border-color: $primarycolor;
        background-color: $primarycolor;
         color: $lightcolor;
      }
    }
  }
}
.swatch .swatch-element input:checked + label{
	border-color: $primarycolor !important;
}

//product review
.proReviews{
  i{
    font-size: 14px !important;
    color: $ratingcolor;
    vertical-align: middle;
    top: 0;
    padding-right: 2px;
    font-family: 'icomoon' !important;
    font-style: normal;
    &.spr-icon-star-empty{
    	color: $textcolor;
    }
    &:before{
      font-family: Fontawesome;
      content: "\f006";
      font-size: 100%
    }
  }
  .spr-starrating{
    margin-right: 16px;
    float: left;
    margin-top: -1px;
  }
  .spr-badge-caption{
    color: $headingcolor;
    text-transform: capitalize;
    position: relative;
    font-size: 14px;
  }
}
.spr-icon-star:before{
	 font-family: Fontawesome;
      content: "\f006";
      font-size: 100%
}
.spr-review-content-body{
	font-size: 14px !important;
}
#shopify-product-reviews{
  .spr-summary, .spr-review-header{
    i{
    	color: #ffbc53;
        font-size: 14px;
        vertical-align: middle;
        top: 0;
    }
  }
  .spr-review-header{
    i{
    	font-size: 10px;
    }
  }
  .spr-review{
  	border-top: 1px solid $bordercolor !important;
    margin-top: 0;
  }
  .spr-form-review-rating a, .spr-form-review-rating a:hover{
  	color: #ffbc53;
  }
}


.action--wishlist{
  &.is-active i{
  	color: $primarycolor !important;
  }
}
.notification-wishlist{
	transform: translate(-50%, -50%);
    z-index: 2222;
    background: $lightcolor;
    border: 1px solid $bordercolor;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 10000;
}
.wishlist-grid{
  .shop-products.products .product .product-wrapper{
    .laberQuickview{
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 22;
    }
  }
}
//thumbnails
.thumbnails-wrapper{
 	position: relative;
  .owl-stage-outer{
    margin-top: 10px;
  }
  .flex-control-nav{
    .grid__item{
      a{
        display: block;
      	border: 1px solid $bordercolor;
        &.active-thumb{
        	border: 2px solid $primarycolor;
        }
      }
    }
  }
  .jcarousel-prev,
  .next-ctl-button-fixed{
  	display: none !important;
  }
  .owl-nav{
    button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      padding: 0;
      border: 0;
      &.owl-next{
        right: 0;
      }
      &:hover{
        animation: none;
      }
      span{
        font-size: 24px;
        color: $headingcolor;
      }
    }
    &.disabled{
      display: none;
    }
  }
}
//gallary product
.vertical-left-slider,
.vertical-right-slider{
  &:after, &:before{
  	content: "";
    display: table;
    clear: both;
  }
  .single-product-image{
    display: inline-block;
  }
  .thumbnails-wrapper{
    float: left;
    display: inline-block !important;
    padding-right: 20px;
    .flex-control-nav {
    }
    .jcarousel-clip{
       overflow: hidden;
    }
    .product-single__thumbnails-item{
    	padding: 0 ;
      	padding-bottom: 8px;
      	display: block;
      	float: none !important;
      a, img{
        display: block;
      }
      
    }
    .jcarousel-prev, .next-ctl-button-fixed{
    	position: absolute;
      	left: 50%;
      	transform: translateX(calc( -50% - 10px));
      	font-size: 0;
      &:before{
      	content: "";
        font-size: 24px;
        font-family: Fontawesome;
        color: $headingcolor;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        cursor: pointer;
        text-align: center;
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      &.jcarousel-prev-disabled, &.jcarousel-next-disabled{
      	opacity: 0.5;
      }
      
    }
    .jcarousel-prev{
      top: -10px;
      &:before{
      	content: "\f106";
      }
    }
    .next-ctl-button-fixed{
    	bottom: -10px;
      &:before{
      	content: "\f105";
      }
    }
  }
  @media screen and (max-width: 767px){
    .thumbnails-wrapper{
      
      .jcarousel-prev, .next-ctl-button-fixed{
          display: none !important;
        }
      .jcarousel-clip{
          height: calc(100% + 10px) !important;
        padding-right:10px;
      }
      .product-single__thumbnails-item{
        padding-bottom: 10px !important;
      }
    }
  }
}
.vertical-right-slider{
 	.single-product-image{
    float: left;
  }
  .thumbnails-wrapper{
  	float: right;
   
    .jcarousel-clip{
     padding-right: 0;
    padding-left: 20px;
    }
    
    .jcarousel-prev, .next-ctl-button-fixed{
    	left: auto;
      right:50%;
      transform: translateX(calc( 50% + 5px));
    }
    @media screen and (max-width: 767px){
      .jcarousel-clip{
    	 padding-left: 10px;
      }
    }
  }
}
.vertical-bottom-slider{
      li.grid__item {
        padding: 5px;
      }
	.jcarousel-prev, .next-ctl-button-fixed{
    	position: absolute;
      	top: 45%;
      	transform: translateX(-50%);
      	font-size: 0;
      &:before{
      	    content: "";
        font-size: 26px;
            font-family: Fontawesome;
        color: #333;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        cursor: pointer;
        text-align: center;
      }
      &.jcarousel-prev-disabled, &.jcarousel-next-disabled{
      	opacity: 0.5;
      }
      @media screen and (max-width: 767px){
      	display: none !important;
      }
    }
  .jcarousel-prev{
  	left: 0;
    &:before{
      	content: "\f104";
      }
  }
  .next-ctl-button-fixed{
  	right: -30px;
     &:before{
      	content: "\f105";
      }
  }
  .jcarousel-clip{
  	overflow: hidden;
    margin: 5px -5px 0 -5px; 	    
   	width: calc(100% + 10px) !important;
  }
}

//cart page
.templateCart {
  .banner-cart{
  	margin-bottom: 45px;
  }
  .cart__meta-text{
  	text-transform:  capitalize;
   
  }
}
form{
  &.cart{
    @media screen and (max-width: 991px){
      .table-cart{
      	    overflow: auto;
        max-width: 100%;
        flex: 0 0 100%;
      }
     }
    table{
    	border: 0;
    }
    .cart__row{
      tr{
        th{
        	font-weight: $headingfontweight;
          	color: $headingcolor;
          	text-align: center;
            text-transform: uppercase;
    		font-size: 14px;
          	border: 2px solid $bordercolor;
          	border-left: 0;
          &:first-child{
          	border-left: 2px solid $bordercolor;
          }
        }
      }
      td{
      	text-align: center;
        vertical-align: middle;
        border: 0;
        border-bottom: 1px solid $bordercolor;
        .info-item{
        	@include flex();
          	align-items: center;
          text-align: left;
          position: relative;
          @media screen and (max-width: 767px){
                flex-direction: column;
            padding-left: 10px;
          }
          .remove-cart{
          	position: absolute;
    		bottom: -11px;
            @media screen and (max-width: 767px){
              bottom: 46%;
              left: 0;
            }
          }
          .list-view-item__title{
            a{
            	font-size: 17px;
              color: $headingcolor;
              font-weight: $titlefontweight;
            }
          }
        }
        .cart-image-item{
        	margin-right: 15px;
          img{
          	max-width: 112px;
          }
        }
        &.total, &.cart__price-wrapper{
        	font-weight: $headingfontweight;
          color: $headingcolor;
          font-size: 18px;
        }
      }
      .quantity-updown{
      	float: none;
        margin-right: auto;
        background: #f3f3f3;
        border-color: #f3f3f3;
        min-width: 105px;
        *{
        	background: #f3f3f3;
        }
        input{
			height: 35px;        
        }
      }
      .cart__image-wrapper{
        padding-left: 0;
      }      
      @media screen and (min-width: 1199px){
        td{
        	padding: 20px 10px 30px;
        }
      }
      @media screen and (max-width: 480px){
        td.total, tr th.total{
        	display: none;
        }
        .quantity-updown{
        	padding: 0 15px;
          min-width: 1px;
          input{
          	width: 40px;
          }
        }
      }
      @media screen and (max-width: 375px){
      	 .quantity-updown{
        	padding: 0 5px;
           input{
          	width: 30px;
          }
        }
      }
    }
    .action-cart{
      margin-top: 30px;
      .cart-action-left{
        .update{
          float: right;
          background: #e2e2e2;
          color: #888888;
          border-color: #e2e2e2;
        }
      }
    }    
    .cart__footer{
      @media screen and (max-width: 991px){
      	margin-top: 30px;
        flex: 0 0 100%;
        max-width: 100%;
      }
      .grid{
    	padding: 30px 15px;
      	background: #fafafa;    
        h2{
        	font-size: 20px;
        }
      }
      .cart-note{
        margin-bottom: 25px;
        .cart-note__label{
        	display: block;
          margin-bottom: 10px;
        }
        textarea{
          width: 100%;
          background: transparent;
        }
      }
      .cart-total{
      	text-align: left;
        .subtotal{
        	@include flex();
          	justify-content: space-between;
              font-size: 18px;
    		font-weight: $headingfontweight;
          	margin-bottom: 15px;
          span{
          	color: $headingcolor;
          }
        }
        .cart__shipping{
        	font-style: italic;
        }
      }
    }
    .cart__submit-controls{
      .cart__submit-control{
      	margin-top: 30px;
        width: 100%;
      }
    }
  }
  &.search{
    input[type="search"]{
    	height: 45px;
     	border-radius: 30px 0 0 30px;
      width: 50%;
    }
    .input-group{
    	justify-content: center;
      margin-bottom: 40px;
      button{
      	border-radius: 0 30px 30px 0;
      }
    }
  }
}
.search-title{
	margin: 20px 0;
}
//pop up add cart
.overlay{	
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
.bluesky-addcart-popup{
  	position: fixed;
    top: 10vh;
    right: 5vw;
    z-index: 336;
    max-width: 315px;
  visibility: hidden;
  opacity: 0;
  @include transition();
  .mini-product-item {
    text-align: left;
    overflow: hidden;
    background: $lightcolor;
    @include flex();
    align-items: center;
    justify-content: center;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);  
    .product-added-img{
      padding-right: 10px;
      img{
      	max-width: 90px;
      }
    }
    .popup_avaiable{
      a{
      	color: $primarycolor;
      }
    }
  }
  .action_button{
    margin-top: 5px;
    ul{
    	padding-left: 0;
      margin-bottom: 0;
    }
    button{
      padding: 0;
      border: 0;
      background: transparent;
      color: $headingcolor;
      min-width: 1px;
      font-weight: 600;
    }
  }
  &.active{
    visibility: visible;
	opacity: 1;
  }
}
.loading{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    overflow: auto;
  .loading-center-fixed{
    	position: absolute;
  		top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 35px;
    	width: 35px;
        text-align: center;
        overflow: hidden;
    	padding: 5px;
    	border-radius: 3px;
    img{
    	width: 100%;
    }
  }
}

//quick view
.QuickView .quickview-product{
  	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    overflow: auto;
  	opacity: 0;
      visibility: hidden;
  	@include transition();
  .quickview-wrapper{
  	background: $lightcolor;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin: 5% auto;
    max-width: 96%;
    min-height: 300px;
    padding: 15px;
    position: relative;
    top: 0;
    z-index: 20;
    width: 870px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    @media screen and (max-width: 991px){
    	 width: 90%;
      padding: 15px;
          max-height: 90vh;
    overflow: auto;
    }
    .close-btn{
    	cursor: pointer;
        display: block;
        height: 40px;
        line-height: 43px;
        position: absolute;
        right: 15px;
        text-align: center;
        top: 15px;
        width: 40px;
        z-index: 2;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: $headingcolor;
      i{
      	font-size: 16px;
      }
    }
    .single-product-info{
    	padding-top: 0;
      @media screen and (max-width: 767px){
         .quantity-updown{
        	margin-bottom: 15px;
        }
      }
      @media screen and (max-width: 575px){
      		padding-top: 20px;
       
      }
    }
    .product-cate{
    	font-size: 13px;
      	margin-bottom: 0;
      	color: $greycolor;
    }
    .product-title{
    	font-size: 20px;
        margin-bottom: 5px;
        text-transform: capitalize;
        font-weight: $titlefontweight;
      a{
      	color: $headingcolor;
      }
    }
    .product-price {
      margin-bottom: 12px;
      *{
    	font-size: 24px;
      }
      .old{
      	font-size: 16px;
        margin-left: 5px;
    	vertical-align: super;
      }
    }
    .single-product-button-group{
      .quantity-updown{
        padding: 0;
        input{
          height: 36px;
          border: 2px solid $bordercolor;
          border-width: 0 2px 0 2px;
          border-radius: 0;
        }
      }
      button{
      	padding-top: 11px;
        padding-bottom: 11px;
        min-width: 50%;
      }
    }
    .widget_socialsharing_widget{
      h3{
      	margin-bottom: 0;
        margin-top: 10px;
        margin-right: 5px;
          @media screen and ( max-width: 767px ){
              margin-bottom: 15px;
          }
      }
    }
    .product-desc{
        margin: 0 0 35px;
    }
    .selector-wrapper{
    	display: none;
    }
    
  }
  &.active{
    background: rgba(0,0,0,0.7);
    opacity: 1;
    visibility: visible;
    .quickview-wrapper{
    	-webkit-transform: rotateX(0deg);
    	transform: rotateX(0deg);
    }
  }
}
//fix different size when upload product image.
.grid-view-items .row .proViewgrid{
	width: 100%;
}

.templateCollection .proViewgrid .grid_item.col-sm-4:nth-of-type(3n+1),
.templateCollection .proViewgrid .grid_item.col-sm-6:nth-of-type(2n+1){
	clear: both;
}
.list-view-item .shop-products.list-view .product .product-wrapper{	
  width: 100%;
}
.single-product-action .single-payment img{
	max-width: 42px;
}