/*================ VARIABLES ================*/
$bodyfont:{{ settings.fontfamily-body }},sans-serif;
$headingfont:{{ settings.fontfamily-heading }} ,sans-serif;
$otherfont: {{ settings.fontfamily-other }} ,serif;
//color

$primarycolor:{{ settings.primary-color }} ;
$headingcolor:{{ settings.heading-color }} ;
$textcolor:{{ settings.body-colors }} ;

$color-social:{{ settings.footer-icon-color }};
$border-color-social:{{ settings.footer-border-color }};
$salecolor:{{ settings.sale-color }} ;
$sale-color:{{ settings.sale-color }} ;
$greycolor:{{ settings.greycolor }} ;
$pricecolor: {{ settings.product-price-color }} ;

$titlecolor: #333;
$bordercolor: #e6e6e6;
$lightcolor: #fff;
$darkcolor: #222;
$greylightcolor: #a6a6a6;

//headercolor
$headerbg:{{ settings.header_backgrounds }} ; 

//menucolor
$menucolor:{{ settings.menu-color }};
$submenucolor:{{ settings.submenu-color }};
$sub-hover-menucolor:{{ settings.submenu-hover-color }};
$menufontweight:{{ settings.font-weight-menu }};
$submenubg:{{ settings.submenu-background-color }};

//footer
$footer-newsletter-border-color: {{ settings.footer-border-color }};
$footertitlecolor: {{ settings.footer-title-color }};
$footercolor : {{ settings.footer-text-color }};
$footerbg : {{ settings.color_bg_copyright_style1 }};

//button
$background-button:{{ settings.background-button-color }};
$button-color:{{ settings.button-color }};
$button-border-color:{{ settings.button-border-color }};
$background-hover-color:{{ settings.background-hover-color }};
$button-hover-color:{{ settings.button-hover-color }};
$button-border-hover-color:{{ settings.button-border-hover-color }};

//size
$textsize:{{ settings.font-size-body }} ;

//fontweight
$headingfontweight:{{ settings.font-weight-heading }} ;
$regularfontweight: 400;
$titlefontweight: 600;
@mixin buttonMixin() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $background-button;
	box-shadow: none;
	color: $button-color;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $button-border-color;
	background-image: none;
	&:hover {
	  background-color: $background-hover-color;
	  color: $button-hover-color !important;
	  border-color: $button-border-hover-color;
	}
	@media screen and ( max-width: 992px ){
		padding: 13px 25px;
	}
}
@mixin buttonMixin1() {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border: none;
	border: none;
	border-radius: 0px;
	background-color: $lightcolor;
	box-shadow: none;
	color: $titlecolor;
	display: inline-block;
	font-family: $headingfont;
	font-weight: $headingfontweight;
	padding: 13px 38px;
	text-align: center;
	line-height: 1;
	text-shadow: none;
	text-transform: capitalize;
	white-space: nowrap;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	border: 2px solid $bordercolor;
	background-image: none;
	&:hover {
	  background-color: $primarycolor;
	  color: $lightcolor;
	  border-color: $primarycolor;
	}
}
@mixin title(){
	font-size: 30px;
}
@mixin actionbutton(){
	display: block;
	text-align: center;
	padding: 0;
	font-size: 0;
	font-weight: normal;
	text-indent: -9999px;
	letter-spacing: 0;
	@include transition();
	text-indent: 0;
	width: 54px;
	height: 54px;
	line-height:50px; 
	text-align: center;
	border-radius: 2px;
	float: left;
	border: 2px solid $bordercolor;
	background-color: $lightcolor;	
	&:before{
		color: $headingcolor;
	}
	&:hover{
		border-color: $headingcolor;
		background-color: $lightcolor;
	}
}
@mixin transition(){
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}
@mixin flex(){
  	-js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
/* Reset ================================================================================= */
/* Reset ================================================================================= */
 html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body{
	font-family: {{ settings.fontfamily-body }}, Helvetica, Arial, sans-serif;
    font-size: {{ settings.font-size-body }} ;
    line-height: {{ settings.line-height-body }} ;
    color: {{ settings.body-colors}} ;
    background-color: {{ settings.background-color }};
    font-weight: {{ settings.font-weight-body }};
  	overflow-x: hidden;
    margin: 0 auto;
}
button{
    cursor: pointer;
}
.main-content{
	margin-bottom: 80px;
}
.common-home{
  .main-content{
  	margin-bottom: 0;
  }
}
.container-fluid{
	max-width: 1920px;
  margin: auto;
}
ol, ul, li {
    list-style: none;
    margin: 0;
}
ol, ul, li {
    list-style: none;
    margin: 0;
}
ul > li, ol > li{ margin: 0;}
blockquote, q {
    quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
img {
     max-width: 100%;
     height: auto;
     border:0;
     vertical-align:middle;
}
a:visited, 
.alink:visited {color: $textcolor;}
a.btn{
  &:visited{
  	color: $lightcolor;
  }
}

a{
  color:$textcolor;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  text-decoration:none; 
  cursor: pointer;
  &:hover{
  	color:$primarycolor;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
     cursor: pointer;
  }
  &:focus, &:active, &:visited{
  	 	outline:none; 
    	text-decoration:none; 
    	box-shadow: none;
  }
}
.action.primary:focus, .action.primary:active{
    border: 0;
}

h1{
    font-size: 4em; 
}
h2{ 
    font-size: 3em; 
    margin-bottom:0.57em;
}
h3{ 
    font-size: 2.571em; 
    margin-bottom:0.69em;
}
h4{ 
    font-size:2em;  
    margin-bottom:0.75em;
}
h5{ 
    font-size: 1.5em; 
    margin-bottom:0.83em;
}
h6{ 
    font-size: 1em;  
    margin-bottom:0.83em;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    color: $headingcolor;
    font-family: $headingfont;
    font-weight: $headingfontweight;
    line-height: 1.2;
}
h1, h2, h3,
.h1, .h2, .h3{
  &.title{	
  }
}
.bst-title{
	h1, h2, h3,
	.h1, .h2, .h3{
    }
}
blockquote {
    padding-top: 30px;
    margin: 0 0 20px;
  	background-image:  url(quote.png);
  	background-repeat: no-repeat;
  	color: $headingcolor;
  	background-position: top left;
  	font-weight: 600;
  	font-size: 17px;
  strong{
  	font-weight: $titlefontweight;
  }
}
input:not([type]),
input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"],
input[type="color"], 
textarea, .form-control, select{
    border: 1px solid $bordercolor;
    height: 45px;
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: none;
  	font-size: 14px;
  &:focus{
  	border-color: lighten($primarycolor, 30%);
    color: $textcolor;
  }
}
textarea{
	min-height: 100px;
}
button, input, select, textarea{
    margin: 0;
    max-width: 100%;
    &:focus, &:active, &:visited{
        box-shadow: none;
        outline: 0;
		border-color: $headingcolor;
    }
    
    &:focus, &:active, &:visited{
        box-shadow: none;
        outline: 0;
      	border-color: $bordercolor;
    }
  	&::-webkit-placeholder { /* Chrome */
        color: $greycolor !important;
        font-family: $bodyfont;
      	font-size: 14px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $greycolor !important;
      opacity: 1; 
      font-family: $bodyfont;
      font-size: 14px;
    }
    &::-moz-placeholder { /* Firefox 4 - 18 */
      color: $greycolor !important;
      opacity: 1;
      font-family: $bodyfont;
    }
    &::placeholder{
		 color: $greycolor !important;
      opacity: 1;
      font-family: $bodyfont;
    }
}
.btn.focus, .btn:focus, .btn:hover{
    &:focus, &:active, &:visited{
        box-shadow: none;
        outline: 0;
    }
}
p,ul{
	margin:0 0 10px;
  	padding:0;
}
p{
	margin-bottom: 20px;
}
input{
  &:focus{
    outline:none;
  }
}
img, object, video, embed{
	max-width: 100%;
	height: auto;
  	border: 0;
}	
.btn:hover, .btn:focus,button:focus{ 
    text-decoration: none;
    box-shadow: none !important;
  	outline: none;
}
ul, ol {
    padding-left: 16px;
  &.owl, &.page-width{
  	padding-left: 0;
  }
}
textarea{
    border: 1px solid $bordercolor;
}
button, html input[type=button], input[type=reset], input[type=submit], .btn{
   @include buttonMixin();
}
table {
    border-collapse: separate;
    border-color: $bordercolor;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin-bottom: 24px;
    width: 100%;  
    th, td {
        border-bottom: 1px solid $bordercolor;
        border-right: 1px solid $bordercolor;
        padding: 10px;
    }
}
caption {
    padding: 10px;
}
.fontawersome{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.switcher-dropdown{
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.label{
    font-size: 13px;
    padding: 0;
    text-align: left;
    font-weight: $headingfontweight;
  color: $headingcolor;
}
label{
	color: $headingcolor;
}
.fieldset > .field:not(.choice) > .label{
    text-align: left;
}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{
    box-shadow: none;
}
.hide{
 display: none; 
}
div.mage-error[generated]{ font-size: 0.75em;}
.message.info > *:first-child:before,
.message.success > *:first-child:before{ font-size: 24px;}
.message.info,
.page.messages{ font-size: 13px;}
.login-container .block .block-title{ font-size: 1rem; text-transform: uppercase;}
.modal-open{
	overflow: auto;
  padding-right: 0 !important;
}
@keyframes cssAnimation {
  0{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}