// --------------------------------------------------
// event wrapper

@use "sass:math";

@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}


// --------------------------------------------------
// contexts

@mixin when-inside($selector) {
  #{$selector} & {
    @content;
  }
}

// --------------------------------------------------
// font size

@function calculateRem($size) {
  $remSize: math.div($size, 16px);
  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: calculateRem($size);
}

// --------------------------------------------------
// svg background image

$image-path: '{{ asset_url }}' !default;

@mixin background-svg($name, $size: false) {
  background-image: url( #{'{{ "#{$name}.svg" | asset_url }}'} );

  @if ($size) {
    background-size: $size;
  }
}

// --------------------------------------------------
// fonts

@mixin font-file($asset-font-name) {
  src: url('{{ "#{$asset-font-name}.eot" | asset_url }}');
  src: url('{{ "#{$asset-font-name}.eot" | asset_url }}?#iefix') format("embedded-opentype"),
    url('{{ "#{$asset-font-name}.woff" | asset_url }}') format("woff"),
    url('{{ "#{$asset-font-name}.ttf" | asset_url }}') format("truetype"),
    url('{{ "#{$asset-font-name}.svg" | asset_url }}') format("svg");
}

// --------------------------------------------------
// aspect ratio
// e.g. @include aspect-ratio(16,9);
// expects child to have class of `.content` (could be replaced with a wildcard `*`)

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: math.div($height, $width) * 100%;
    width: 100%;
  }

  > .content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
