<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {
      "localConsentDomain": "{{ request.host }}",
      "lang":"{{ request.locale.iso_code }}",
      "enableCcpa":true,
      "ccpaAcknowledgeOnDisplay":true,
      "whitelabel":false,
      "siteId":2352061,
      "perPurposeConsent":true,
      "enableCMP":true,
      "googleAdditionalConsentMode":true,
      "countryDetection":true,
      "floatingPreferencesButtonDisplay":"bottom-left",
      "cookiePolicyId":55388670, 
      "banner":{ 
        "acceptButtonDisplay":true,
        "customizeButtonDisplay":true,
        "rejectButtonDisplay":true,
        "position":"bottom" 
      }
    };
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub-v2.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}
  {%- if page_description or page_description != '' -%}<meta name="description" content="{{ page_description }}" />{%- endif -%}
  {%- if template contains 'index' -%}{%- if page_title != blank and page_title != 'Welcome' -%}<title>{{ page_title }}</title>{%- else -%}<title>{{ shop.name }}</title>{%- endif -%}{%- elsif template == '404' -%}<title>Page Not Found | {{ shop.name }}</title>{%- else -%}<title>{{ page_title }} | {{ shop.name }}</title>{%- endif -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7LMQ3K0PTE');
  </script>
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {{ content_for_header }}
  {%- include 'bluesky-cart-update' -%}
  {%- include 'bluesky-head' -%}
  {%- include 'bluesky-pupupnewsletter' -%}
  
  <!-- THIS IS MY CUSTOM CSS -->
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  <!-- END NEW CODE  -->
  
</head>
<body id="homess-main-wrapper" class="{% if template == 'index' %}common-home sidebar-content-{{settings.sidebar}}{% endif %} template{{ template | split: '.' | first | camelize }}{% if template == 'page.faq' %} module-faq{% endif %}{% if template == 'collection' or template contains 'collection.' %}{% if settings.collection_grid_list == 'list' %} cat-list{% endif %}{% endif %}{{body_class}}{%- if settings.product_mobile_variant == '1' and template contains 'product' or template contains 'cart' -%}{{" has-variant-mobile"}}{%- endif -%}{%- if template contains 'cart' and cart.item_count <= 0 -%}{{" no-cart-item-body"}}{%- endif-%}{%- if settings.product_design == "scroll" -%}{{- " fastor-product-design-sticky" -}}{%- endif -%}{{- " flex-view-" | append: settings.grid_view | append: " collection-template-" | append: settings.ctemplate_type -}}{%- if settings.menu_noborder  == false -%}{{-" menu-noborder"-}}{%- endif -%}{% if customer %}customer-logged-in{% endif %}">
  <div class="main-wrapper enable_page_preloader">
    {% if settings.select_header == "bluesky-header-layout1" %}
      {% include 'bluesky-header-layout1' %}
    {% elsif settings.select_header == "bluesky-header-layout2" %}
      {% include 'bluesky-header-layout2' %}
    {% elsif settings.select_header == "bluesky-header-layout3" %}
      {% include 'bluesky-header-layout3' %}
    {% elsif settings.select_header == "bluesky-header-layout4" %}
      {% include 'bluesky-header-layout4' %}
    {% elsif settings.select_header == "bluesky-header-layout5" %}
      {% include 'bluesky-header-layout5' %}
    {% endif %}
    <main class="main-content" id="MainContent">
      {{ content_for_layout }}
      	{% if template == 'index' %}
      		{% include settings.select_layout_homepage %}
      	{% endif %}
    </main>
    {% if settings.select_footer == "bluesky-footer-layout1" %}
      {% include 'bluesky-footer-layout1' %}
    {% elsif settings.select_footer == "bluesky-footer-layout2" %}
      {% include 'bluesky-footer-layout2' %}
    {% elsif settings.select_footer == "bluesky-footer-layout3" %}
      {% include 'bluesky-footer-layout3' %}
    {% elsif settings.select_footer == "bluesky-footer-layout4" %}
      {% include 'bluesky-footer-layout4' %}
    {% endif %}
  </div>
 {%- include 'bluesky-loading-page' -%}
  {%- include 'bluesky-loading' -%}

  {% capture notification %}{% render 'translation-lab-theme-editor-notification' %}{% endcapture %}{% unless notification contains "Liquid error" %}{{ notification }}{% endunless %}
</body>
  <div class="QuickView">
    {%- include 'bluesky-quickview' -%}
    <div class="quickview-product bluesky-quickview-popup"></div>
  </div>
  <div class="notification-wishlist" style="display:none;">
    
  </div>
  {%- include 'bluesky-load-addcard' -%}
  {%- include 'bluesky-purchase-order' -%}
  {{ 'wishlist.js' | asset_url | script_tag }}
  <script>
      (function() {
        Wishlist.init();
        ajaxCart.init();
      }());
  </script>
</html>
